[2021-02-17 21:28] rudysroost commented on #1648
Does anyone know when the support will be terminated? I was just about to
buy a Ticwatch to use as a collector instead of my Pixel 5. If I have to
sideload onto the Ticwatch, I may just not bother.

Thanks,
Scott

On Wed, Feb 17, 2021 at 1:56 PM Dave Acklam <notifications@github.com>
wrote:

[2021-02-17 21:30] dcacklam commented on #1648
March 10th
https://9to5google.com/2021/02/12/wear-os-legacy-apps/

On Wed, Feb 17, 2021 at 1:29 PM rudysroost <notifications@github.com> wrote:

[2021-02-17 21:41] Diabeetuss opened #1650 "Just had to beat my BlueJay watch with a hammer to shut it off."
You know what needs an OFF button? The BlueJay watch. I finally got it working. It was hit or miss. It was starting to grow on me - right up until it was time to change G6 sensors. No way to turn off the BlueJay and all it did was cause my Tandem pump to pitch a fit about incorrect transmitter ID's. I finally became so enraged I beat the BlueJay into pieces with a hammer. It's definitely off now a

[2021-02-17 22:10] Navid200 commented on #728
@adanvdo Do you believe this is an xDrip bug that can be improved by modifying the xDrip code?

[2021-02-17 22:16] diagnoe4 commented on #791
Hi, I just tried it again and still not able to import.

Xdrip version: 344702e-2021.02.11
Meter is a AccuChek Guide. Same error message (different sequence number).

Workaround: I'm not using that flag anymore.

[2021-02-17 22:23] diagnoe4 commented on #789
@Navid200 while most comments seem to still hold, auto-calibrations still work, so not really an issue.

The calibration table never contains values for me, but that does not bother me.

[2021-02-17 22:28] Navid200 commented on #737
@edmundac I would like us to close this issue unless you believe there is still an issue with xDrip.
People use xDrip with G5 and G6 all over the world.
It happens a lot when a transmitter is shipped with a faulty battery.  When that happens, it doesn't matter if you use xDrip or the Dexcom receiver, the transmitter will fail in a few days.

The only way one can prove that xDrip causes extra batte

[2021-02-17 22:35] tankrizzo commented on #1620
I don't believe there is anything you can do about this at the moment - wearOS disconnects Bluetooth when it thinks the watch goes into "deep sleep" mode. I charge my watch overnight and have it act as main collector - charging does not put the watch into deep sleep mode.

[2021-02-17 22:51] Navid200 commented on #791
You import what to what?
This is a blood glucose meter, right?
So, I suppose you want to import a blood glucose meter reading?
You import the reading to what?  xDrip?  What for, calibration?  Is it Bluetooth?  If not, how is the data transferred?

[2021-02-17 22:58] Diabeetuss commented on #1650
Wow. It gummed up the works so bad I actually had to replace the sensor. Now it's a doubly expensive and slightly painful lesson.

[2021-02-17 23:17] #643 closed

[2021-02-17 23:32] Diabeetuss commented on #1650
The BluJay watch is pretty impressive. After being brutalized with a hammer and laying in the snow about 20 yards from my house for an hour IT STILL WORKED. Walked past the front door and it interfered with the pairing of my new sensor AGAIN. Odd that it could barely keep a connection while on my wrist but that hellspawn was unstoppable after a beating. I actually had to go out and retrieve it, dr

[2021-02-17 23:47] Navid200 commented on #789
unless the first two characters of the serial number are 80 or 81, the transmitter does not send raw values.  That may be why the calibration graph is empty.

You will get answers, in a few hours not in a few years, if you ask in the support channels:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-17 23:53] Navid200 commented on #1648
This neither seems to be a bug nor a feature request.
Please use the support channels for everything else:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-17 23:56] Navid200 commented on #1650
There are individuals who are currently using xDrip and BlueJay and t:slim.
They can give you advice and share experience.
please use the support channels for that.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

After you do that, if you don't find a solution or work-around, you can open a feature request here.  But, it has to be clear and concise.

[2021-02-17 23:56] #1650 closed

[2021-02-18 00:16] Navid200 commented on #1650
And a support channel dedicated to BlueJay:
https://gitter.im/jamorham/BlueJay

[2021-02-18 00:25] Diabeetuss commented on #1650
No thanks.

Fuck you very much,

Jim

On Wednesday, February 17, 2021 6:57 PM, Navid200
&lt;notifications@github.com&gt; wrote:

a feature request here. But, it has to be clear and concise.

outFoundation/xDrip/issues/1650#issuecomment-780933096), or
[unsubscribe](https://github.com/notifications/unsubscribe-auth/ASRRRV3STETPWX
ETJRGH5SLS7RJVJANCNFSM4XZD4FUQ).![](data:image/png;base64,iVBORw0KGgoA

[2021-02-18 00:25] Navid200 commented on #722
@kwhite18 Would you please close this issue if it has been resolved?
You can use the support channels to find if others may have the same issue or if they have any suggestions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 00:56] viq commented on #1647
Sorry for screenshot, attaching what happened when I calibrated using the `2021.02.17` version. I don't know where this "calibration beyond 4 days" is coming from. The dot from syncing with glucometer appears right there, and clicking on it is how initiate calibration

![xdrip_logs](https://user-images.githubusercontent.com/639461/108288118-575ced00-718c-11eb-9767-834b8a594d56.png)

[2021-02-18 00:59] Navid200 commented on #1647
If you tap on the top left menu button, and on calibration graph, what does it show?  Is it empty, or does it show your initial calibrations?

[2021-02-18 01:03] viq commented on #1647
It does show some calibrations. Currently it shows three from today, and one from 5 days ago.

[2021-02-18 01:06] Navid200 commented on #1647
Did you just update to the new version and calibrated?
Or, did you start the sensor after updating and then, calibrated?

[2021-02-18 01:25] Navid200 commented on #744
@svirito4ka Has this been resolved?
If yes, can we close this?

If not, can you use paragraphs to give the reader some breaks?  It's hard to read a single paragraph that is so long.  Not everyone is going to do it.

So, to get your point across, I suggest you help the reader by:

summarizing and eliminating what can be removed without leaving the important matters out;
and by grouping the content

[2021-02-18 01:28] Navid200 commented on #763
@andyrozman Would you please mention what the status is now?
Thanks

[2021-02-18 01:29] Navid200 commented on #766
Closing due to inactivity

[2021-02-18 01:29] #766 closed

[2021-02-18 01:31] Navid200 commented on #775
Closing due to inactivity

[2021-02-18 01:31] #775 closed

[2021-02-18 01:31] Navid200 commented on #776
Closing due to inactivity

[2021-02-18 01:31] #776 closed

[2021-02-18 01:32] Navid200 commented on #778
Closing due to inactivity

[2021-02-18 01:32] #778 closed

[2021-02-18 01:33] Navid200 commented on #785
Closing due to inactivity

[2021-02-18 01:33] #785 closed

[2021-02-18 01:33] Navid200 commented on #787
Closing due to inactivity

[2021-02-18 01:33] #787 closed

[2021-02-18 01:34] Navid200 commented on #792
Closing due to inactivity

[2021-02-18 01:34] #792 closed

[2021-02-18 01:50] Navid200 commented on #796
Duplicate:
https://github.com/NightscoutFoundation/xDrip/issues/686

[2021-02-18 01:50] #796 closed

[2021-02-18 01:51] Navid200 commented on #858
Closing due to inactivity

[2021-02-18 01:51] #858 closed

[2021-02-18 01:52] Navid200 commented on #807
Closing due to inactivity

[2021-02-18 01:52] #807 closed

[2021-02-18 01:55] Navid200 commented on #812
@aeonsablaze Would you please close this issue if it has been resolved?
You can consult using the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 01:58] Navid200 commented on #814
@doc77 Would you please close this if you are happy with the response?
Otherwise, would you please update?
Thanks

[2021-02-18 01:58] Navid200 commented on #816
Closing due to inactivity

[2021-02-18 01:58] #816 closed

[2021-02-18 01:59] Navid200 commented on #817
Closing due to inactivity

[2021-02-18 01:59] #817 closed

[2021-02-18 02:00] Navid200 commented on #820
Closing due to inactivity

[2021-02-18 02:00] #820 closed

[2021-02-18 02:00] Navid200 commented on #821
Closing due to inactivity

[2021-02-18 02:00] #821 closed

[2021-02-18 02:03] Navid200 commented on #831
@macinblack Would you please update your request considering that it has been almost 2 years?
Thanks

[2021-02-18 02:03] Navid200 commented on #832
Closing due to inactivity

[2021-02-18 02:03] #832 closed

[2021-02-18 02:05] Navid200 commented on #835
@17gubbar Has this issue been resolved?
Would you please update?
Thanks

[2021-02-18 02:07] Navid200 commented on #841
Closing due to inactivity

[2021-02-18 02:07] #841 closed

[2021-02-18 02:08] Navid200 commented on #842
@pazaan Can we close this issue if it has been resolved?
Thanks

[2021-02-18 02:11] Navid200 commented on #845
@ANDREAPIPPI Would you please close this if it has been resolved or if you have found a work-around?
You can also use the support channels if you need to consult.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 02:12] Navid200 commented on #846
@JoseBQ Would you please close this issue if it has been resolved?
You can also consult using the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 02:13] Navid200 commented on #847
@thevascgmdb Would you please close this issue if it has been resolved?
Otherwise, would you please update?
Thanks

[2021-02-18 02:15] Navid200 commented on #849
Closing due to inactivity

[2021-02-18 02:15] #849 closed

[2021-02-18 02:16] Navid200 commented on #853
Closing due to inactivity

[2021-02-18 02:16] #853 closed

[2021-02-18 02:18] thevascgmdb commented on #847
It is closed.. I don't know how to close it myself

On Thu, Feb 18, 2021, 1:14 PM Navid200 <notifications@github.com> wrote:

[2021-02-18 02:22] #847 closed

[2021-02-18 02:49] Navid200 commented on #859
Closing due to inactivity

[2021-02-18 02:49] #859 closed

[2021-02-18 02:50] pazaan commented on #842
Yep, looks good to me 👍🏻

[2021-02-18 02:50] #842 closed

[2021-02-18 02:51] Navid200 commented on #864
@davidmtml Would you please close this issue if you are satisfied with the answer?
Thanks

[2021-02-18 02:58] Navid200 commented on #867
@tremor Would you please close this issue if your question has been answered?
There are currently 2 support channels you can use for asking questions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
We will hopefully be able to add some documentation as well later.
Thanks

[2021-02-18 03:10] Navid200 commented on #873
@LongboatAline Do you still see a need for this?

[2021-02-18 03:12] Navid200 commented on #882
@Arakon Has this been resolved?

[2021-02-18 03:34] Navid200 commented on #886
Closing due to inactivity

[2021-02-18 03:34] #886 closed

[2021-02-18 03:41] Navid200 commented on #897
@haralha Is this still a problem?

[2021-02-18 03:42] Navid200 commented on #901
@georgesdex Do you still experience this problem?

[2021-02-18 03:46] Navid200 commented on #915
@lassondes43 Have you fond an answer to your question?
If yes, would you please close this issue/
If not, you can use the support channels to see if anyone may have any suggestions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 03:48] Navid200 commented on #921
@Ewan-O Would you please close this issue if you have found answers.
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 03:49] Navid200 commented on #926
@davidebaldini Would you please close this issue if you have got answers?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 03:51] Navid200 commented on #935
@mkitchingh Does this capability not exist now?

[2021-02-18 03:55] Navid200 commented on #954
@kwisj Sounds like you found a solution.
Can we close this issue then?

[2021-02-18 03:57] Navid200 commented on #956
@bicomm Would you please close this issue if it has been addressed?
If not, please respond to the what was suggested?
Thanks

[2021-02-18 04:00] Navid200 commented on #957
@renegadeandy Would you please close this issue if it was resolved?
Otherwise, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 04:02] Navid200 commented on #958
@ayrfield2 Would you please close this issue if it has been resolved?
Otherwise, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 04:03] viq commented on #1647
Update and (single) calibrate.

[2021-02-18 04:04] mkitchingh commented on #935
Not that I can find.

[2021-02-18 04:08] Navid200 commented on #1647
OK
Please let us know the next time you start the sensor.  Only then, will you have to provide initial calibrations again.  Only then, will you know if the issue has ben resolved or not.

[2021-02-18 04:16] davidmtml commented on #864
I no longer have this phone, but I don't have the problem with my new phone.  So, since this no longer an issue for me, and no one else has commented having the issue for 18 months, I will go ahead and close it.

[2021-02-18 04:16] #864 closed

[2021-02-18 05:53] viq commented on #1647
Sensor session should be restarted in a few hours, so we should know soon.

[2021-02-18 05:57] haralha commented on #897
@Navid200 I don't know. I have moved on to Dexcom G6 and uses the native mode with no calibration at the moment.

[2021-02-18 08:00] 1immortal commented on #831
this can be closed, as Verge is near EOL, and the global version does not support NFC nor the CN one for this purpose.

[2021-02-18 08:04] #831 closed

[2021-02-18 08:13] diagnoe4 commented on #791
I have an accu-chek guide set up as a bluetooth blood glucose meter. The meter automatically sends readings to xdrip. On the meter, I can select those "meal types" I listed above. All but the "bedtime" are imported fine into xdrip. If I select "bedtime", they do not get imported and do not show up. The error message I listed is visible in the log.

I have xdrip set up to automatically calibrate wi

[2021-02-18 08:16] diagnoe4 commented on #789
I have been using the gitter chat for immediate questions. The issues I reported were meant to be backlog items. If it were something more bothersome, I would have made myself heard.

[2021-02-18 08:56] palaslet commented on #904
@AuroraThiel and @sneps85, I'm taking the chance answering on behalf of @MachFour.
As stated above they're currently working on it. From what I can understand this task is not a simple one. Medical companies need to adhere to strict regulations regarding operational security for their devices, so there's going to be at least one (probably several) layers of encryption on that bluetooth connection.

[2021-02-18 09:06] BernhardRo commented on #677
Yes, I think we can close it!

[2021-02-18 09:33] sneps85 commented on #904
@palaslet Thanks for the update, but maybe you misunderstood my comment. I asked if I could help to decrypt the security layers, as I am a iOS/Android developer and do have experience with reading bluetooth devices (for example for snow producers).

[2021-02-18 11:23] MachFour commented on #904
@sneps85 I sent you a message on Gitter to hopefully clear things up.

[2021-02-18 12:16] Navid200 commented on #789
The horizontal axis of the calibration graph represents raw values.  The vertical axis represent what xDrip considers to be the corresponding blood glucose for each raw value defined by the line shown on the graph.
No G6 transmitter after 81XXXX sends raw values.  xDrip cannot show anything on the calibration graph because xDrip has no access to the raw values.  That's why such transmitters cannot

[2021-02-18 12:16] #789 closed

[2021-02-18 12:17] #677 closed

[2021-02-18 12:51] tolot27 commented on #789
@Navid200 your latest comment should be added to the docs.

[2021-02-18 12:55] tolot27 commented on #789
I've added it to the [[Frequently-Asked-Questions-(FAQs)]]. Maybe, a short explanation could be shown on the calibration graph explaining this.

[2021-02-18 13:47] viq commented on #1647
It seems to be working. What should I show to verify it?

[2021-02-18 14:19] Navid200 commented on #1647
Would you please show the log showing that you started a sensor followed by initial calibration that xDrip did not complain about?  You may need to post multiple screens if they don't all fit.
You can also show the calibration graph.

[2021-02-18 14:38] viq commented on #1647
Attaching screenshots:
![Screenshot_20210218-152053_xDrip+](https://user-images.githubusercontent.com/639461/108372547-3aadcd00-71ff-11eb-901b-b98937b31693.png)
![Screenshot_20210218-152445_xDrip+](https://user-images.githubusercontent.com/639461/108372558-3da8bd80-71ff-11eb-9f13-953c8882a169.png)
![20210218_152906](https://user-images.githubusercontent.com/639461/108372574-40a3ae00-71ff-11eb-8fd0

[2021-02-18 14:41] Navid200 commented on #1647
@jamorham Are those "calibration appears to have been deleted" logs expected?

[2021-02-18 15:19] #814 closed

[2021-02-18 16:43] Navid200 commented on #98
@TebbeUbben Was this resolved?

[2021-02-18 17:10] Navid200 commented on #388
@lucychiu If the issue persists even with the Dexcom app, this cannot be an xDrip issue.
Would you please close this issue?
Or, would you please update?
Thanks

[2021-02-18 17:16] Navid200 commented on #380
@carloslpa Would you please close this issue if it has been resolved already?
If not, you can use the support channels to see what solutions may exist.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 17:21] Navid200 commented on #976
@meatychunks99 Would you please close this issue if it has been resolved?
If not, you can use the support channels to get access to guides, documentation and advice.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 17:22] Navid200 commented on #970
@definitivequestion What would be the outcome for someone who uses a language different than the language supported in that app?

[2021-02-18 17:36] Navid200 commented on #966
Many people charge their phones once a day.  i wonder how often you charge your phone.
If this feature would reduce the power consumption of the phone so much that it could now survive being charged only every other day, it would be a justifiable feature.
It's highly unlikely that the xDrip power requirements are that extreme.

The fact is that reducing the frequency of readings would considerably

[2021-02-18 17:38] Navid200 commented on #961
@jroth-haj Would you please update?
Is this still a problem?
Thanks

[2021-02-18 17:40] Navid200 commented on #999
@dbnsacc Would you please update?
Is the problem still present?

[2021-02-18 17:42] Navid200 commented on #1027
@k2s Would you please update this?
Has it been resolved with more recent releases?

[2021-02-18 17:47] dbnsacc commented on #999
Hi @Navid200, yes this is still an issue through to Android 11. Without the ability to set a notification channel to high priority then it is still susceptible to being pushed off the always on display when a few other notifications from emails etc. come in.

[2021-02-18 17:55] Navid200 commented on #1006
@ANDREAPIPPI No one can predict the trend better than you.  Even if the trend is flat right now, it does not mean that this is the right time to calibrate if you have just taken insulin or carb or if you have just started physical activity.

[2021-02-18 18:02] Navid200 commented on #999
Is this something that can be fixed by xDrip?
Shouldn't the priority between different apps be set in Android?

What if we raise the priority in xDrip and so does everyone else in every other app?  How is that going to change anything?

[2021-02-18 18:04] Navid200 commented on #1009
@Webifi Would you please close this issue?
We are working on improving documentation.
There are already two support channels with some documentation provided on each.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

These issues are supposed to be used for reporting bugs and feature requests.
Would you please help us accomplish that?
Thanks

[2021-02-18 18:06] Navid200 commented on #1014
@BradleyPJ Would you please close this as it seems you solved the problem?
Thanks

[2021-02-18 18:15] #1014 closed

[2021-02-18 18:27] ANDREAPIPPI commented on #1006
Correct, but I believe that, like me, none has the time to look so frequently his xDrip+ to check if it's the right time to calibrate or not.
But for sure, if xDrip+ could give us an alert when glicemy is flat for more than 15 minutes, we'd be able to evaluate  if it's the case or not to calibrate depending on time distance from insulin or carbs.
Surely it could be far better than calibrating at s

[2021-02-18 18:32] jroth-haj commented on #961
Yes.
Ist only If I Change a value and don't usw the Check Button in the Keyboard.
If I User the Check Button, it's OK.

Navid200 <notifications@github.com> schrieb am Do., 18. Feb. 2021, 18:38:

[2021-02-18 18:36] jroth-haj commented on #962
OK, I remember now.
Instead of Change the settings for carb ratio,... it would bei nice to geht this from the Nightscout Profile, If Nightscout ist used.

[2021-02-18 18:44] Webifi commented on #1009
I'll close this issue, but documentation that require you create an account to read, as is often the case with facebook, or require you to sift through an endless thread of messages and/or create an account to be one of the many that re-ask the same questions over and over, as is the case with gitter, is a non-starter for me, and likely many others.

[2021-02-18 18:44] #1009 closed

[2021-02-18 18:45] Navid200 commented on #1017
A benefit of Nightscout, other than reporting, is to have a repository of blood glucose readings.  Whether it is Nightscout or any other form of repository, having one is a very good idea.

If you just want to create a report, you can easily generate images from the xDrip statistical pages and import them into your favorite word processor to create a rport.

[2021-02-18 18:47] Navid200 commented on #1009
That's a valid point.  Needs to be addressed.   We are aware.
Thanks

[2021-02-18 18:49] Navid200 commented on #1018
And what happens if someone rings the door bell and you cannot take the carbs at the time you thought you would?

[2021-02-18 19:06] Navid200 commented on #1006
I also don't know how long it will take to add this.  But, it's not just adding it.  It will need to be maintained.  It should also not interfere with anything else the code does.
There are so many requests.  They cannot all be implemented or else, we will just be adding and removing features.

Someone says let's move this button a little bit up because it's too close to another button and sometim

[2021-02-18 20:22] Navid200 commented on #1033
@NovaProspekt7 Would you please close this issue as it seems it was resolved?
Thanks

[2021-02-18 20:25] Navid200 commented on #1035
@thecubic Can we close this issue as it seems there is a working solution?
Thanks

[2021-02-18 20:26] Navid200 commented on #1040
@SpeedoPasanen Would you please close this issue if it has been resolved?
Thanks

[2021-02-18 20:28] Navid200 commented on #1041
@Stuggesjoerd Can we close this issue as it seems your problem was resolved?
Thanks

[2021-02-18 20:30] Navid200 commented on #1042
@ANDREAPIPPI Would you please close tis issue?
Please use the support channels for consulting with the user community.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 20:42] Navid200 commented on #1045
@AdrianLxM I hope you don't mind me asking you.
Why did this happen?
In this scenario, what can the user do with xDrip on the old phone to ensure that it will not contain any data for the period it was not being used any longer?  Would that avoid overwriting data on the new phone?

[2021-02-18 20:50] Navid200 commented on #1279
Duplicate:  https://github.com/NightscoutFoundation/xDrip/issues/1065

[2021-02-18 20:57] Navid200 commented on #1069
@BENZIN123 Would you please close this issue if your problem has been resolved?
Please note that you can consult with the user community using the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 20:59] Navid200 commented on #1070
@qOlivia0809 Would you please close this issue if the problem has been resolved?
Please note that you can consult with the user community using the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-18 21:07] #1070 closed

[2021-02-18 21:07] qOlivia0809 commented on #1070
Issue was resolved

[2021-02-18 21:16] Navid200 commented on #1082
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/1058

[2021-02-18 21:35] Navid200 commented on #1647
@jamorham Would the following advice to the user community be valid in your opinion?

If you use G5 in native mode, avoid the following releases of xDrip: February 3, 2021 to February 11, 2021 inclusive.

[2021-02-18 21:41] ANDREAPIPPI commented on #1006
Hi Navid200.
Yes, I understand your concern and arguments, although the "move the buutton..." example doesn't fit this case, because this would ultimately not be a graphic change, than can be nice for some and ugly for someone else, but a switchable option, which may or may not be chosen.
Anyway, I understand the developers issues, so I close this request.
And thank you for all your work to reduce

[2021-02-18 21:49] Navid200 commented on #1058
@WalkingMyRoad   If the questions have not been answered, please update.

[2021-02-18 21:58] SpeedoPasanen commented on #1040
Partly still a mystery but may it remain as such. Closing. 😘

[2021-02-18 21:58] #1040 closed

[2021-02-18 22:03] tolot27 commented on #804
@nsghub Would you please close this issue if your problem has been resolved?
Otherwise, please contact the user community on the following support channels for further assistance:
- https://www.facebook.com/groups/xDripG5
- https://gitter.im/jamorham/xDrip-plus

Thanks!

[2021-02-18 22:03] tolot27 commented on #805
@nsghub Would you please close this issue if your problem has been resolved?
Otherwise, please contact the user community on the following support channels for further assistance:
- https://www.facebook.com/groups/xDripG5
- https://gitter.im/jamorham/xDrip-plus

Thanks!

[2021-02-19 00:19] Navid200 commented on #1644
You can use your smartphone alarm, can't you?
What exactly do you expect xDrip to do that you cannot do with a regular clock included with Android?

[2021-02-19 00:30] Navid200 commented on #1646
@Danielvisser Have you asked  your question from the support channels?
When you opened this issue, you must have seen the suggestion.  But, here there are again:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

I will have to close this unless it is either a feature request or a bug report.  Is it?
You can close it yourself too.

[2021-02-19 00:42] Navid200 commented on #1620
@frankenmk8 Would you please close this issue if you have the answer you were looking for?
You can also use the support channels to get suggestions from other users who may have advice.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-19 00:51] Navid200 commented on #1580
Can you try this with a more recent release?  For example, January 29, 2021.

[2021-02-19 00:54] Navid200 commented on #1528
This is nice to have, not critical.  Closing

[2021-02-19 00:54] #1528 closed

[2021-02-19 01:54] Navid200 commented on #1537
@AdrianLxM
Any ideas what could cause this?

[2021-02-19 02:01] thecubic commented on #1035
I haven't used xDrip in quite a while, so I can't confirm that the issue is resolved.  Anyone that can verify that is free to close the issue

[2021-02-19 03:11] #1353 closed

[2021-02-19 03:12] PegasusUK commented on #1625
I too have been testing it on My Galaxy Note 9 (SM-N960F)
Android 10, Jan 20,
2021 Security Update.

It shows my graph, reading and when last updated.
It however cuts the final line of text in half, which is average reading and percentage.

I can live with that, and am thrilled to have this new feature.
It will save battery life because I can see my reading without having to unlock and power the w

[2021-02-19 03:18] Navid200 commented on #1328
What phone is xDrip on?
What Android version?
How much RAM does the phone have?

[2021-02-19 03:21] Navid200 commented on #1323
What do you mean by "downloaded Android 10"?
What phone is xDrip on?
Is the issue still happening?

[2021-02-19 03:31] Navid200 commented on #1329
@ipsita1917 You can ask in the support channels.
Many more frequent those and you have a better chance of finding a solution if one exists.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-19 03:33] Navid200 commented on #1333
Take a snapshot, instead of posting as picture, using the phone itself and post please.

[2021-02-19 03:35] Navid200 commented on #1334
Please post in support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
There may be other users who have experienced the same.

[2021-02-19 03:37] Navid200 commented on #1337
Please use the support channels.  There may be other users with experience.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-19 03:39] Navid200 commented on #1338
Would you please use the support channels?
There are many individuals using the same combination you can reach there.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-19 03:42] Navid200 commented on #1320
@siblues Would you please close this issue if you have got an answer?
If not, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Please identify your transmitter in addition to your phone.
Thanks

[2021-02-19 03:44] Navid200 commented on #1322
@MowgliChild Would you please close this issue if you have found answers?
If not, please use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-19 03:45] Navid200 commented on #1304
Has this been addressed?
Can we close this issue?

[2021-02-19 03:51] Navid200 commented on #1301
@defaultuser0815 Would you please close this issue if you have got an answer?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-19 03:55] Navid200 commented on #1294
@yosepito Would you please close this issue if it has been resolved?
You can use the support channels to see what others have to say.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

You say initial calibration was done before xDrip requested it.  Why?  What makes you think that's not the cause of your problem?

[2021-02-19 03:56] Navid200 commented on #1293
Have you asked this in the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-19 04:01] Navid200 commented on #1292
That is fantastic tool.
Why do you want it to be a part of the CGM app though?
The CGM app is already quite complicated.  Let's not make it any more complicated than it needs to be.
Let's just make sure it does what it needs to do well instead of spreading ourselves too thin.

[2021-02-19 04:08] ecc1 commented on #1304
Yes, it works fine now, at least in the old 2020.11.27 version I'm running.

[2021-02-19 04:08] #1304 closed

[2021-02-19 04:12] Navid200 commented on #1290
@olddiabeticskater Have you asked this in the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
You have a better chance of finding a solution there.

[2021-02-19 05:06] tolot27 commented on #1338
Currently, Tidepool is only available as upload target and not as follower service. I even don't know if Tidepool has a download API.

[2021-02-19 05:13] tolot27 commented on #1035
We should really verify if it is supported know and document it.

[2021-02-19 07:30] #1646 closed

[2021-02-19 07:59] #1093 closed

[2021-02-19 08:22] #1033 closed

[2021-02-19 10:09] jamespaulley commented on #182
Hi. So the scenario is this: Your phone is the collector. Without noticing, you leave your phone's bluetooth range. Your phone is not receiving BG data from your Dexcom, nor is it connected to your watch. After 20 minutes, could the xDrip app on the watch trigger an alarm, to alert you to the fact that you have gone out of range?

[2021-02-19 12:56] Navid200 commented on #1338
So, the objective is to see what the pump shows also on xDrip.  The user still has to carry the pump because how else can they use it if they don't carry it.
Is this right?  The purpose of this feature is to replicate the data that the user already can see on the pump attached to them on the phone as well, right?

[2021-02-19 13:01] Navid200 commented on #1035
So, someone can open an issue and then the xDrip team will take the task to find answers even if the person who opened the issue is no longer able to contribute to the investigation?
I didn't know we had the manpower.  All along, I was under the impression I was closing issues because we had too many open issues and not enough resources and manpower to act on every single one of them.

[2021-02-19 13:28] Navid200 commented on #1638
First report on facebook that updating to February 11, 2021 has stopped the pop-ups.

[2021-02-19 13:30] tolot27 commented on #1338
Yes, that's right. Many users wear the pump under their clothes and hence cannot see the data on the pump, at least not always.

[2021-02-19 13:56] Navid200 commented on #184
What is the status of this issue?
Can we close it?

[2021-02-19 13:58] Navid200 commented on #231
@tim2000s What is the status of this issue?

[2021-02-19 14:09] jamespaulley commented on #1239
Has this been addressed?

[2021-02-19 14:10] jamespaulley commented on #1188
Has any progress been made on this? I see it as being quite important personally.

[2021-02-19 14:16] jamespaulley opened #1651 "G6 sensory expiry alerts built in to xDrip"
### Is your feature request related to a problem? Please describe.
Can we get an alert built in to xDrip for G6 sensor expiry, similar to the official G6 app.

### Describe the solution you'd like
So maybe at 24 hours we get a "sensor expiring in 24 hours" alert and at 9 hours we get another? I think there should be an option to NOT override Do Not Disturb mode for these alerts, as they are not ur

[2021-02-19 14:45] tolot27 commented on #1651
Duplicate of #1467.

[2021-02-19 14:45] #1651 closed

[2021-02-19 18:19] Navid200 commented on #1537
@nickb24

[2021-02-19 18:34] Navid200 commented on #1045
@nickb24

[2021-02-19 18:58] yosepito commented on #1334
@Navid200
Sorry but that was not me. I don't have facebook. This is was solved somehow. Don't know how, but after activating the NFC in the smartphone I had to select the "wallet". In options of NFC I had 2 possibilities, HCE and the SIM card. I selected HCE and then it worked. I can't remember whether a restart was needed, but in such case I recommend doing it.
I'm not a user of G5, so I don't kn

[2021-02-19 18:58] #1334 closed

[2021-02-19 19:36] Navid200 commented on #918
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/565

[2021-02-19 20:29] tolot27 commented on #1045
The current procedure is a complete restore of a backup database. This means, the data gets completely overwritten as it is typical for restore procedures. I suggest copying the data from the old phone to the new phone as soon as possible and prior adding treatments or calibrations at the new phone.
The menu item is incorrectly named "Import database". Instead, it should be named "Restore database

[2021-02-19 21:05] Navid200 commented on #1045
This is the message that comes up.
![Screenshot_20210219-155739](https://user-images.githubusercontent.com/51497406/108561314-048a4f00-72cc-11eb-97a5-96a52c80d7da.png)

Do we need to turn this into a bug and request there to be a more clear message explaining that the existing database will be overwritten?
Or, is the existing message is good enough and we can close this issue?

[2021-02-19 21:12] tolot27 commented on #1045
I would turn it into an FR and change the title, accordingly.

[2021-02-19 21:36] Navid200 commented on #1045
I don't have edit privilege on the title.

[2021-02-19 23:51] Navid200 commented on #1647
Considering this is a new firmware, hopefully, we will be able to hard reset it.

[2021-02-20 00:45] nickb24 commented on #1537
Possibly related to https://github.com/NightscoutFoundation/xDrip/issues/1612

[2021-02-20 00:54] nickb24 commented on #1537
Possibly need to enable debug logs for 'BgGraphBuilder' to get more information to diagnose. If someone with the issue can do that and then post a screenshot of the logs that might help.

[2021-02-20 00:55] Navid200 commented on #1647
@jamorham Is this a new firmware too?

1.0.4.14

Should it be added to the code?

![152023351_800007287256778_1308029528575491858_o](https://user-images.githubusercontent.com/51497406/108576647-5cd14900-72ec-11eb-8ed1-3f2a483af37d.jpg)

[2021-02-20 01:01] Navid200 commented on #1537
That's what I thought.  Is it possible for the FUZZER to be applied only to some of the points but not the rest?  It looks like it is being applied to every other point.

[2021-02-20 01:07] nickb24 commented on #1537
It's definitely impossible to tell with only 1 screenshot and not much other information. Also it's unclear if restarting the phone fixes the problem, if that's the case then that's something to look into as a starting point

[2021-02-20 03:20] Navid200 commented on #244
@Elvin6669 Was this done?  Can we close the issue?
Thanks

[2021-02-20 03:26] Navid200 commented on #301
Closing due to inactivity

[2021-02-20 03:26] #301 closed

[2021-02-20 03:28] Navid200 commented on #251
Is this still an issue, or can we close it?
Thanks

[2021-02-20 03:31] Navid200 commented on #293
Closing due to inactivity

[2021-02-20 03:31] #293 closed

[2021-02-20 04:04] Navid200 commented on #905
Would it be possible to add the flexibility to pick two different alarm sounds, based on the time of day, for the forecast low and persistent high alarms?

Another flexibility that has been requested for a very long time is to be able to pick 2 more thresholds for BG falling and BG rising alarms.  For those two alarms, would it be possible to increase the number of existing thresholds from 2 to 4?

[2021-02-20 10:05] #538 closed

[2021-02-20 10:06] jweismann commented on #538
closed

[2021-02-20 13:49] Navid200 commented on #1495
I see cases on facebook where this setting is set for a device that is not Samsung.  And they experience connectivity issues.
I ask them to uncheck it and the problem is resolved.

I would like the title to reflect that.  Currently, this is set by default.  Considering that statistically speaking, there are less Samsung devices than every other brand phone, the default should be unset rather than

[2021-02-20 15:58] Navid200 commented on #403
@psonnera

[2021-02-20 17:21] Navid200 commented on #1061
@nshtg Can we close this issue?
Since the November 27, 2020 release, we have had success with the recommended settings in the facbook group:
https://www.facebook.com/groups/xDripG5

Not everyone likes to use facebook.
We are working on that.

But, keeping this issue open suggests that there is no solution.  The fact is that there is.

[2021-02-20 17:41] psonnera commented on #403
I believe the menu item "Download data" should be renamed "Download treatments" or xDrip+ should accept incoming BG as it is and not bloodtest.

[2021-02-20 18:39] Navid200 opened #1653 "Can we rename "HbA1c est" to "GMI", and update the formula?"
A Hemoglobin A1C blood test result represents the average blood glucose over the past 3 months.
A daily A1C makes no sense.  Your A1C test today represents your average blood glucose over the past 90 days.  Your A1C yesterday represented your average blood glucose over the period starting 91 days ago and ending yesterday.  Your day to day A1C variation is minimal.

A paper was published, in 2008,

[2021-02-20 21:20] paula0312 commented on #906
Hi I found this post and I have the same problem. All settings for 3g/4g are ok but when the finowatch Q1 where XDrip  is collecting info is not connected to a wifi network it does not sync with Nightscout. Anyone who has solved this issue? Thanks a lot!

[2021-02-20 21:26] Navid200 commented on #906
@paula0312 Can you post a screenshot of the following page on master?  But, please blackout the URL on it.

Settings -> Cloud Upload -> Nightscout Sync (REST-API)

[2021-02-20 21:27] MasterPlexus commented on #1653
I understand what you mean, and what your fears here are. I could just say that I never Missunterstand the value. For me it tolds if I select one week, that the hba1c will be this value if I will have the same sugar arrangement in the next 3 month which I had in the last week. So a prospective view.
As far as I know, other systems donut the same way, also Libre view calculates the hba1c if only va

[2021-02-20 21:35] Navid200 commented on #129
@zjedr Is this working?  Have you been able to test it?

[2021-02-20 21:49] Navid200 commented on #406
Closing due to inactivity

[2021-02-20 21:49] #406 closed

[2021-02-20 22:05] Navid200 commented on #320
Closing due to inactivity

[2021-02-20 22:05] #320 closed

[2021-02-20 22:06] Navid200 commented on #322
Closing due to inactivity

[2021-02-20 22:06] #322 closed

[2021-02-20 23:23] Navid200 commented on #324
Closing due to inactivity

[2021-02-20 23:23] #324 closed

[2021-02-20 23:37] Navid200 commented on #328
@lee-b

a) It would require complicating the code to present a menu that varies depending on your other choices.  Instead, xDrip shows both units and you can choose to look at the one that is right for you.

b) See my answer to a) above.

c) These are slopes.  They represent how fast the blood glucose is changing.  So, the units that you have specified would be wrong too because they would be miss

[2021-02-20 23:40] Navid200 commented on #329
@tolot27 I'm not sure if we can close this considering a developer has self-assigned it.

[2021-02-20 23:55] Navid200 commented on #404
Closing due to inactivity

[2021-02-20 23:55] #404 closed

[2021-02-20 23:56] Navid200 commented on #407
Closing due to inactivity

[2021-02-20 23:56] #407 closed

[2021-02-21 00:47] Navid200 commented on #535
Closing due to inactivity

[2021-02-21 00:47] #535 closed

[2021-02-21 00:48] Navid200 commented on #453
Closing due to inactivity

[2021-02-21 00:48] #453 closed

[2021-02-21 00:50] Navid200 commented on #455
Closing due to inactivity

[2021-02-21 00:50] #455 closed

[2021-02-21 01:08] Navid200 commented on #614
Closing due to inactivity

[2021-02-21 01:08] #614 closed

[2021-02-21 01:10] Navid200 commented on #669
Closing due to inactivity

[2021-02-21 01:12] Navid200 commented on #674
Please consult with other users as well for questions about how to use xDrip.
Currently, the following options exist.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-21 01:12] #674 closed

[2021-02-21 01:13] #669 closed

[2021-02-21 01:15] Navid200 commented on #702
Closing due to inactivity

[2021-02-21 01:16] Navid200 commented on #704
Closing due to inactivity

[2021-02-21 01:16] #704 closed

[2021-02-21 01:17] Navid200 commented on #709
Closing due to inactivity

[2021-02-21 01:17] #709 closed

[2021-02-21 01:18] Navid200 commented on #713
Support channels:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

Closing due to inactivity

[2021-02-21 01:18] #713 closed

[2021-02-21 01:25] Navid200 commented on #720
It's possible that it is not meant to be easy.
If it is made too easy, then, there will be a request to make it possible to undo a delete because people keep deleting calibrations unintentionally.

[2021-02-21 01:29] Navid200 commented on #738
Closing due to inactivity

[2021-02-21 01:29] #738 closed

[2021-02-21 01:30] Navid200 commented on #741
Closing due to inactivity

[2021-02-21 01:30] #741 closed

[2021-02-21 01:34] Navid200 commented on #749
@NStrakhov Did you find a solution?

[2021-02-21 01:36] Navid200 commented on #767
Closing due to inactivity

[2021-02-21 01:36] #767 closed

[2021-02-21 01:37] Navid200 commented on #782
Closing due to inactivity

[2021-02-21 01:37] #782 closed

[2021-02-21 01:42] Navid200 commented on #822
@HenBrenn Would you please close this issue if it has been resolved?
To find recommended settings, please use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-21 01:43] Navid200 commented on #824
Closing due to inactivity

[2021-02-21 01:43] #824 closed

[2021-02-21 01:46] Navid200 commented on #870
Closing due to inactivity

[2021-02-21 01:46] #870 closed

[2021-02-21 01:49] Navid200 commented on #873
Can you explain when someone would benefit from this feature if added?
Can you see this as something that many would benefit from?

[2021-02-21 01:57] Navid200 commented on #879
@karelinoleg What is the status of this?

[2021-02-21 02:15] Navid200 commented on #890
You can connect to the other channel.  If you have a Dexcom receiver, it will use the other slot.  If you have a t:slim pump x2, it will use the other slot also.  That's why you can either use a Dexcom receiver or the t:slim pump.

[2021-02-21 02:17] Navid200 commented on #891
Thanks for the info.  Can we close this as an issue?  The information can still be accessed even if the issue is closed.
But, leaving it as an open issue suggests that action needs to be taken by the support team.

[2021-02-21 02:20] #891 closed

[2021-02-21 02:20] Navid200 commented on #894
Please share your comments in the duplicate issue: https://github.com/NightscoutFoundation/xDrip/issues/805 .  I close this one then.

[2021-02-21 02:20] #894 closed

[2021-02-21 02:22] zjedr commented on #129
@Navid200, yes, this is working.

[2021-02-21 02:22] #129 closed

[2021-02-21 02:23] zjedr commented on #129
@Navid200, yes this is working

[2021-02-21 02:24] Navid200 commented on #899
Closing due to inactivity

[2021-02-21 02:24] #899 closed

[2021-02-21 02:29] Navid200 commented on #908
Closing due to inactivity

[2021-02-21 02:29] #908 closed

[2021-02-21 02:29] Navid200 commented on #909
Closing due to inactivity

[2021-02-21 02:29] #909 closed

[2021-02-21 02:30] Navid200 commented on #910
Closing due to inactivity

[2021-02-21 02:30] #910 closed

[2021-02-21 02:37] Navid200 commented on #939
Closing due to inactivity

[2021-02-21 02:37] #939 closed

[2021-02-21 02:38] Navid200 commented on #952
What is the status of this?

[2021-02-21 02:44] Navid200 commented on #963
We are restarting G6 sensors on current G6 transmitter (8Q).  Instructions are available in the facebook group.
https://www.facebook.com/groups/xDripG5/permalink/4521043737969086
You can also ask in the Gitter room:  https://gitter.im/jamorham/xDrip-plus
I would like to close this issue.
Please respond if you have any questions or concerns with that.

[2021-02-21 02:48] Navid200 commented on #980
Instructions for restarting a G6 sensor are available in the facebook group.
https://www.facebook.com/groups/xDripG5/permalink/4521043737969086
It goes over the different behaviors of the different versions of G6.
You can also ask in the Gitter room,   https://gitter.im/jamorham/xDrip-plus

I would like to close this issue.
Please respond if you have any questions or concerns about this.

[2021-02-21 02:49] Navid200 commented on #989
@tolot27, I'm not sure how to label this.

[2021-02-21 03:01] Navid200 commented on #1067
Since the November 27, 2020 release, the recommended settings have been working reliably for almost all devices.
The recommended settings can be found here:
https://www.facebook.com/groups/xDripG5/permalink/4603084736431652

If you don't want to use facebook, you can ask in the Gitter room.

I would like to close this issue.
Please let me know if there are any reasons not to.

[2021-02-21 03:05] Navid200 commented on #1068
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/620
https://github.com/NightscoutFoundation/xDrip/issues/813

[2021-02-21 03:07] Navid200 commented on #620
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/813

[2021-02-21 03:15] Navid200 commented on #1084
Since the November 27, 2020 xDrip release was issued, we have had success with all different handsets.  Instructions can be found here:
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365

If you don't like to use facebook, you can ask in the Gitter room.

I like to close this issue.
Please respond if there is a reason not to.

[2021-02-21 03:19] Navid200 commented on #1092
@oih09001 Would you please close this issue if the problem has been resolved?
You can find instructions for starting a G6 here:  https://www.facebook.com/groups/xDripG5/permalink/4838757582864365
If you don't like to use facebook, you can post in the Gitter room asking for help also.

Thanks

[2021-02-21 03:21] adanvdo commented on #1084
Can you clarify what you have had success with? I would think that if you are required to remove the transmitter in order to restart the sensor than there is still an issue here. restarting at 10 days has not worked in a long time and the option for auto restarting was disabled due to the firmware not being compatible. I have not seen any commits with changes to address this.

The issue is with tr

[2021-02-21 03:24] BENZIN123 commented on #1092
Hi this is not my username. Thank you 👍.

Sent from Yahoo Mail on Android

  On Sat, Feb 20, 2021 at 7:19 PM, Navid200<notifications@github.com> wrote:

@oih09001 Would you please close this issue if the problem has been resolved?
You can find instructions for starting a G6 here: https://www.facebook.com/groups/xDripG5/permalink/4838757582864365
If you don't like to use facebook, you can post in t

[2021-02-21 03:30] Navid200 commented on #1104
You can access information about how to use different versions of G6 in the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

Closing due to inactivity

[2021-02-21 03:30] #1104 closed

[2021-02-21 03:34] Navid200 commented on #1118
The capability now exists for clearing the Dexcom transmitter que:

Tap on the treatment menu (syringe symbol on the main screen).
Long press on the microphone symbol at the bottom right corner.
In the form that opens, enter the following without the quotes.
"clear transmitter queue"

[2021-02-21 03:34] #1118 closed

[2021-02-21 03:45] Navid200 commented on #1130
Can we close this issue?

[2021-02-21 03:46] Jieseldeep commented on #407
Thanks, I was trying to get logged back in but had forgotten my password.

On Sat, Feb 20, 2021, 1:56 PM Navid200 <notifications@github.com> wrote:

[2021-02-21 03:54] Navid200 commented on #1148
@LaNiSa2016 Are you still having this problem?

[2021-02-21 04:22] Navid200 commented on #1161
@Diabeticliberty Would you please close this issue if your problem has been resolved?
If not, please use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-21 04:27] Navid200 commented on #1167
@Dainem21 It looks like you have concluded that it was not xDrip that drained the battery.
Can we then close this issue please?
Thanks

[2021-02-21 04:28] Navid200 commented on #1168
Duplicate:  https://github.com/NightscoutFoundation/xDrip/issues/874

[2021-02-21 04:28] #1168 closed

[2021-02-21 04:35] Navid200 commented on #1214
Seems your question was answered.

[2021-02-21 04:35] #1214 closed

[2021-02-21 07:10] dhermanns commented on #1118
Great thx! Pretty hard to get aware of this for other users. Maybe you could make this easier notable for users in the future?

[2021-02-21 08:10] karelinoleg commented on #879
It may be closed I think.
Because https://github.com/NightscoutFoundation/xDrip/pull/1101 was been merged. And that was an sufficient solution to my problem

[2021-02-21 08:10] #879 closed

[2021-02-21 08:50] xannasavin commented on #1084
I have since quite some time a stable connection to the Transmitter. For me changing the smartphone did the Job. Neither my old Huawei P20 Pro nor an even older Samsung Galaxy S7 Edge worked. The P30 Pro works. No clue, if it's due to Android Version or any other software/hardware spec.

[2021-02-21 11:05] #822 closed

[2021-02-21 12:23] Navid200 commented on #1118
We are working on documentation.  It's not there yet.  But, we plan to improve it.

[2021-02-21 13:22] viq commented on #1647
FYI, `2021.02.17` just restarted my G5 sensor at 9 days, after previously restarting it at 6 days.

[2021-02-21 17:15] paula0312 commented on #906
Sure, texts are in English and Spanish I hope you’ll recognize the settings. I cut out the url already.
Thanks for your help!!!

![3337FB95-8537-44D1-8DBB-1ECF794B9F29](https://user-images.githubusercontent.com/79022108/108632689-f7499d80-744e-11eb-8994-b0df286a2546.jpeg)
![3EF556FD-682A-4E4E-A69B-D09380628F0E](https://user-images.githubusercontent.com/79022108/108632691-f87aca80-744e-11eb-897d-2e

[2021-02-21 20:10] gruoner commented on #1645
Hi ARkaine2

do u use actrapid as a basal profile? We are using it as bolus for the morning.... Do we have more insulin products with "multiple" usages?
When we want do include or exclude profiles from prediction we might define a switch for each of them.

[2021-02-21 20:17] Navid200 commented on #906
but when the finowatch Q1 where XDrip is collecting info is not connected to a wifi network it does not sync with Nightscout

Can you write that differently?
Can you use more than one sentence?  Can you explain what finowatch is?
Can you explain how you can tell that you have data coverage but xDrip does not upload?

[2021-02-21 20:21] Navid200 commented on #1647
Correct me if I'm wrong.  You never started a fresh session after upgrading to 2021.012.17.
You just upgraded and kept using the session that was in progress.
I think xDrip never recognized your transmitter as a valid G5 when you started the current session.
xDrip was updated so that it is.
  You need to start a fresh session (not a restart).

[2021-02-21 20:23] viq commented on #1647
Then why did it restart the session at 6 days?

[2021-02-21 20:26] #680 closed

[2021-02-21 20:29] Navid200 commented on #1647
The restart on day 9 is the behavior of xDrip when dealing with a G6.
It seems to me you never gave a chance to the new code to do its job by performing a fresh start.  But, if you like to argue to differ, you are entitled of course.
I leave you to it.

[2021-02-21 20:55] Navid200 commented on #1574
@ben098765 Do you have facebook account?
If yes, would you please post in the following group, and I will work with you to sort it out?
https://www.facebook.com/groups/xDripG5

If no, you can ask in the Gitter room:   https://gitter.im/jamorham/xDrip-plus

[2021-02-21 21:10] Navid200 commented on #1375
@PetarSambolic Would you please close this issue if it has been resolved?
If not, would you please respond to the suggestion made to you by one of the developers?
As mentioned, you can have working followers with no need to Google play services if you use Nightscout.
Please update.
Thanks

[2021-02-21 21:16] Navid200 commented on #1386
@johnpc87 Would you please close this issue if it has been resolved?
If not, would you please use the support channels to find out how others may be addressing the same issues?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-21 21:18] viq commented on #1647
Yeah, I accept that it restarted at 9 days because it thinks it's a G6. I'm just surprised it **also** restarted at day 6, which implies it **also** thinks it's a G5. So it kind of thinks it's both??
Do you think I should stop this sensor and start it anew, or just wait a few more days for it to die and see how a new one will behave?

[2021-02-21 21:23] Navid200 commented on #1647
That's up to you.
I guess there are pros and cons with either one of those choices.
If you stop now and start again, you will lose all your calibrations and will have to start calibrating again.
If you wait for the sensor to die and try then and we discover that the problem still exists, our report to the developers will be delayed by a few days.

As it only affects you directly, I'd say it's your

[2021-02-21 21:25] #1386 closed

[2021-02-21 21:25] Navid200 commented on #1363
@kimbersdiabetic Would you please use the support channels for asking questions about how to use xDrip?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Your questions are very important.  It is just that a lot more will see them on those.
Thanks

[2021-02-21 21:28] Navid200 commented on #1362
Closing due to inactivity

[2021-02-21 21:28] #1362 closed

[2021-02-21 21:34] Navid200 commented on #1360
@fezulin Would you please close this issue if it has been resolved?
If not, would you please show the behavior with the latest nightly release 2021.02.17?
Thanks

[2021-02-21 21:49] fezulin commented on #1360
![Screenshot_20210221-224408](https://user-images.githubusercontent.com/16593716/108639818-c8efb080-7496-11eb-9f97-62bf252cffb7.png)
I downloaded and installed the current nightly (20210217). The problem still exists.
Rest of the setup has not been changed.

[2021-02-21 21:56] Navid200 commented on #1358
You can use any G5 in non-native mode.  You can use a G5 in non-native mode as long as it has battery regardless of the number of days.

The last day you can start a sensor in native mode on a G5 is day 105.
You can hard reset any G5 to day 0.

You can only use a G6 in non-native mode if the first two characters of the serial number are 80 or 81.
If you use a G6 in non-native mode, you can use it

[2021-02-21 21:56] #1358 closed

[2021-02-21 21:58] Navid200 commented on #1354
Closing due to inactivity

[2021-02-21 21:58] #1354 closed

[2021-02-21 22:02] Navid200 commented on #1342
@JerryEnt Would you please close this issue if you have already found an answer?
You can ask questions using the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-21 22:05] Navid200 commented on #1333
If this is a serious issue and you need help, please respond.  We can always re-open.
I'm sorry if I'm wrong.  But, it looks like you are playing a joke.  Diabetes is a serious disease.  It's no joke.
If I am wrong and you are serious, please respond.

[2021-02-21 22:09] Navid200 commented on #1360
Would you please tell me what's wrong with it?
I'm not being sarcastic.  I am not sure what is wrong there.  I would like to understand the problem.  Please help me.  Thanks

[2021-02-21 22:20] Navid200 commented on #1328
@AdrianLxM, would you please help if you can?
Thanks

[2021-02-21 22:27] Navid200 commented on #1318
@dinizmauricio Would you please close the issue if it has been resolved?
You can use the support channels to see if there are any known solutions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-21 22:29] Navid200 commented on #1316
@davmartes Would you please close this issue if you have got an answer to your question?
Otherwise, would you please respond to the suggestion made one of the developers?
Thanks

[2021-02-21 22:33] Navid200 commented on #1300
@siblues Would you please close this issue if it has been resolved?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-21 22:43] sadafarahman commented on #1333
Hello,

Its ok to close if there is no fix. Yes I had this issue for weeks and months but managed to resolve it by going back a few versions of xdrip to install on my device, since I had no replies to this issue. And i have managed to maintain connectivity by not upgrading to latest versions.

Unsure if I’ll have the same if I did upgrade though.

Thanks

[2021-02-21 22:47] #1318 closed

[2021-02-21 22:54] Navid200 commented on #1333
There is no way to fix something we cannot experience or ask questions about.
Are you willing to recreate the problem, by updating to the release that caused this and then post a snapshot created from the phone itself instead of taking a picture of the phone?

[2021-02-21 23:04] Navid200 commented on #1296
@vicked-art Would you please close this issue if it has already been resolved?
If not, have you disabled battery optimization of xDrip by Android?

[2021-02-21 23:07] Navid200 commented on #1288
@sstolero1 Would you please close this issue if it has been resolved?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-21 23:10] Navid200 commented on #1281
@LavineDavid Would you please close this issue if it has been resolved?
Otherwise, ,would you please update?
Thanks

[2021-02-21 23:13] paula0312 commented on #906
Thanks for asking the right questions! Based on the last one I checked the
watch coverage and I found out there was a “APN” setting that was not
correct. Our 7 year old daughter’s watch will be letting us know her
glucose levels now everywhere!

El El dom, 21 feb. 2021 a la(s) 17:18, Navid200 <notifications@github.com>
escribió:

[2021-02-21 23:21] sadafarahman commented on #1333
I will try and see if I am able to. This is for a Type1 child’s phone so I try and maintain status quo where possible to ensure continuity of service.

I will check the versions and see if I can re-create the bug/issue and let you know.

Thanks for responding.

Regards

[2021-02-21 23:33] Navid200 commented on #906
@paula0312 After correcting the APN setting, is the problem solved?

[2021-02-21 23:39] Navid200 commented on #1272
@ThoR294 Would you please close this issue if you are satisfied with the validity of the answers?
You can also use the support channels for similar questions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-21 23:42] ThoR294 commented on #1272
Sure!  Is there any development regarding auto restarting on the newer transmitters?

[2021-02-21 23:42] #1272 closed

[2021-02-21 23:44] adanvdo commented on #1272
I don't think this should be closed if the native restart method is broken

[2021-02-21 23:45] Navid200 commented on #1272
I have seen claims that individuals are  working on it for quite some time now.  But, I have no knowledge of the details.
Thanks

[2021-02-21 23:49] adanvdo commented on #1272
do you think those claims are worth closing this case without confirmation of it being fixed? restarts for me have not worked since 8G. I'm now on 8K and still can't restart and removing the transmitter often results in the sensor breaking and doesn't mean this feature is fixed.

[2021-02-21 23:50] Navid200 commented on #1272
@adanvdo Please define "native restart".

[2021-02-21 23:54] adanvdo commented on #1272
the feature to restart a g6 sensor natively in the app without depending on any external interactions

[2021-02-22 00:02] Navid200 commented on #1272
We were able to hard reset a G6 transmitter.  But, Dexcom changed the firmware.  We cannot do that with transmitters that have the new firmware (Firefly).  It would be pointless to open an issue here for that because it is not xDrip that does not allow hard reset.

The same thing is true about pre-emptive restart.  We cannot perform pre-emptive restart on a Firefly because Dexcom changed the firmw

[2021-02-22 00:08] adanvdo commented on #1272
I appreciate that you guys are going through the cases. Thank you all for the work you are doing. Your link is to a private Facebook group though, and it would be a lot better if you could provide the instructions here in the readme or something. I do not want to create a Facebook account just to read the doc. anything that you can do about that would be appreciated.
again, thanks for all your wor

[2021-02-22 00:14] Navid200 commented on #1272
Discussions, above my pay level (that's not literal as we are all volunteers), are ongoing about documentation.  At this point, I have no permission to add any documentation here.  I would love to.  I will as soon as I am allowed.

[2021-02-22 00:34] Navid200 commented on #1323
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/1269

[2021-02-22 00:35] #1323 closed

[2021-02-22 00:36] Navid200 commented on #1269
Is this still happening?

[2021-02-22 00:38] Navid200 commented on #1268
@kimbersdiabetic1 Would you please close this issue if you have got an answer already?
If not, would you please post in the Gitter room?
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-22 00:49] JonathanM32 commented on #1269
@Navid200 not on Android 11

[2021-02-22 00:50] Navid200 commented on #1269
How about @cwpeterson ?

[2021-02-22 00:57] Navid200 commented on #1260
@fpvvargi Would you please close this issue if it has been resolved?
You can also ask for and share experience and knowledge using the support channels
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-22 00:58] paula0312 commented on #906
Yes, problem solved!

El dom, 21 feb 2021 a las 20:34, Navid200 (<notifications@github.com>)
escribió:

[2021-02-22 01:03] Navid200 commented on #906
Closing due to inactivity of the person opening the issue.
There doesn't seem to be a reason for this to be a bug.  It seems to be related to using xDrip.  Contacting the user community is the best course of action as a first step.  Links provide above.

[2021-02-22 01:03] #906 closed

[2021-02-22 01:04] Navid200 commented on #1258
@LavineDavid A lot has changed since Android 10 was first released.  If the problem is resolved, would you please close this issue?
Please use the support channels to see what other users are doing in similar cases in the future.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-22 01:05] Navid200 commented on #1256
Closing due to inactivity

[2021-02-22 01:05] #1256 closed

[2021-02-22 01:08] Navid200 commented on #1253
Can we close this issue?

[2021-02-22 01:19] Navid200 commented on #1247
@PedanticAvenger Can we close this issue?

[2021-02-22 01:25] Navid200 commented on #1246
@PedanticAvenger Were you able to try the release jamorham mentioned?
Can we close this issue?
Thanks

[2021-02-22 01:31] Navid200 commented on #1239
You are correct that it always show the initial calibration option even after you have done calibrations already.
Yes, the calibrations are sent to the transmitter.

[2021-02-22 01:33] Navid200 commented on #1238
@GerritRega Would you please update?

[2021-02-22 01:36] Navid200 commented on #1235
@jamorham I use "Initial calibration" for calibrating.  I have been doing that on 8J and 8Q.
I have disabled double calibration.  So, it doesn't ask for two calibrations.

Is there anything wrong with calibrating like that using "Initial Calibration"?

[2021-02-22 01:48] PedanticAvenger commented on #1247
I was unable to reproduce the issue reliably and after multiple updates has not shown up again.

[2021-02-22 01:48] #1247 closed

[2021-02-22 01:50] PedanticAvenger commented on #1246
Referenced version addressed the issue.

[2021-02-22 01:50] #1246 closed

[2021-02-22 02:51] cwpeterson commented on #1269
It was resolved in Android 11. Thanks.

[2021-02-22 06:12] tolot27 commented on #1333
@sadafarahman Please post details about phone and android version. Please also try the latest nightly. Is 05052020 the latest working version?

[2021-02-22 12:46] PeritoC commented on #1253
Yes, this issue can be closed.

Liebe Grüße
Stephan

[2021-02-22 12:57] Navid200 commented on #1253
Thanks

[2021-02-22 12:57] #1253 closed

[2021-02-22 13:08] Navid200 commented on #69
@CaroGo If I understand you correctly, you like a new setting to be added to xDrip.
When set, enabling vehicle mode would automatically enable "speak readings".
When not set, enabling vehicle mode would not automatically enable speak readings.
Is that right?

[2021-02-22 13:09] Navid200 commented on #74
@rpzigler Has this been addressed already?
Thanks

[2021-02-22 13:11] Navid200 commented on #76
@TecMunky Hi,
Has this been addressed already?
Thanks

[2021-02-22 13:15] Navid200 commented on #84
@tzachi-dar What is the status of this?
Thanks

[2021-02-22 13:18] Navid200 commented on #97
You can open this if you like.  But, I suggest you add some detail to help the reader better understand what you are asking for.

[2021-02-22 13:18] #97 closed

[2021-02-22 13:24] Navid200 commented on #833
Please choose one of the two threads to keep active and close the other.
If you disagree with that action, please explain why.
If I don't hear back, I will make a link from this one to the old one and close the old one.

[2021-02-22 13:26] Navid200 commented on #112
@ahaverty Since you mentioned in this issue that you had no time to work on it, I would like to close this issue and let the other newer issue stay at least as long as it is active.  Please let me know if you feel this issue should stay open.

[2021-02-22 13:35] Navid200 commented on #134
Is this still an issue?
I have never deleted any xDrip data from my current phone and I even imported the database from my previous phone when I go this one.  So, it now has my readings from the past 3 years or more.
But, I don't see any issues.
Looking in Android settings, I see 118MB user data, and 426kM Cache.

If this is not an issue any longer, can we close it?

[2021-02-22 13:37] Navid200 commented on #152
@danielharrelson What is the status of this issue?
Has it been addressed?

[2021-02-22 13:40] Navid200 commented on #153
Can we close this issue?

[2021-02-22 13:42] Navid200 commented on #155
Closing due to inactivity

[2021-02-22 13:42] #155 closed

[2021-02-22 13:43] Navid200 commented on #160
Closing due to inactivity

[2021-02-22 13:43] #160 closed

[2021-02-22 13:45] danielharrelson commented on #152
@Navid200 I'm not sure.

I have different use case for NightScout now than I did previously. You can close this if you wish.

[2021-02-22 13:52] xannasavin commented on #833
Which other thread are you refering to? If #1098 then I would not agree, since that one goes in a different direction of adding notes through the dialogue, wheras this thread (see my last comment) is about adding new and enhanced features to the treatment dialogue + improving the UI

[2021-02-22 13:54] xannasavin commented on #833
if you refer to #112 or #152 - this thread here combines (at least from my point of view) the best of those and adds some new stuff...

[2021-02-22 13:59] xannasavin commented on #1618
sorry if this is a bit OT but: if you say huge battery life, what does it mean?
I just got the Ticwatch Pro 2020 since it offered a huge battery life. I turned off nearly everything on that watch besides the real core stuff like notification (for two apps and the calendar plus calls) and also disbled most sensors etc. and I barely get 2 days out of the battery from the promised 5days. Using it as

[2021-02-22 14:04] xannasavin commented on #1623
sounds interesting, but maybe this would rather be a nice feature for the Nighscout reports, where you could review several days at once in retrospective rather then just the last day or even last meal.
However, if you review several days in Nighscout, you will get a better overview on whats happening and where the carb/insulin ration might be wrong.
That "one time" thing you see in xDrip with the

[2021-02-22 14:32] Navid200 commented on #833
It's this:  https://github.com/NightscoutFoundation/xDrip/issues/112

I would like to close that one if this one covers everything.  If that one has something that this issue does not address, then, there is a reason to have both issues open.

There is no reason to have redundant issues open.  So, I am just asking for clarification.

[2021-02-22 14:37] Navid200 commented on #833
The rule I have to follow is to close duplicates and ask people to post in the original.
However, there is a difference this time.  The person who opened #112 stated multiple times that he had no time to work on the issue any longer.  And this started.  So, I understand if the person starting this one would like to carry on with this one.

[2021-02-22 15:00] Navid200 commented on #1653
Thanks for that.  I agree it would be perfect if there could be a note added.

Can we have a note emphasizing that for HbA1c only, the value shown is what it will be and not what it is?

[2021-02-22 15:01] Webifi commented on #1061
@Navid200  How about that solution in your facebook group get posted here where is can be useful to those of us that don't do facebook?

[2021-02-22 15:12] tolot27 commented on #134
This feature is already implemented as "Glucose Retention" in the "Less Common Settings".

You likely mean transmitter instead of sensor. Anyway, in such case simply set it to the theoretical maximum time (e.g. 110 days for G6).

[2021-02-22 15:12] #134 closed

[2021-02-22 15:20] Navid200 commented on #1061
My current documentation on facebook is hierarchical.  That has allowed me to maintain the documentation, as different sections have evolved, without spending unnecessary extra time.

If/when I am authorized to contribute to the Wiki here, I will start moving my documentation to the Wiki.  I may then spend some time maintaining both until it is confirmed that this the the right place for the docum

[2021-02-22 15:44] hardaker commented on #1061
@Navid200 -- IMHO, this ticket must still be open against the main project until the main project incorperates a solution or documentation about the solution.  At the minimum a link to the facebook documentation would be needed, but I personally would prefer the documentation is housed in github along with everything else for the project.  A separate place for documentation is challenging for long

[2021-02-22 15:53] ramboozer commented on #1235
I never found any solution to this myself. after dumping about 300$ in sensors. In my experience or from what I tried. there was 0 work around. I attempted todo the standard Dexcom solutions when fail calibrations occur: waiting 2 hours & retry. No luck at all. No longer can use xDrip because of its flaws with the G6 I encountered

[2021-02-22 16:35] Navid200 commented on #1235
I have been using G6 for more than a year now.  My first two transmitter were 81XXXX.  The next two were 8JXXXX and 8QXXXX.
I have never needed to calibrate on a new sensor.
I do calibrate every time I restart.  I have never used a single G6 sensor for just 10 days.
I have provided detail instructions for doing all that in the facebook group:
https://www.facebook.com/groups/xDripG5

I always use i

[2021-02-22 16:40] charding99 commented on #1067
I am no longer experiencing this issue. From my standpoint, it can be closed.

[2021-02-22 16:52] Navid200 commented on #1061
Starting a new Dexcom G6 sensor (or transmitter)
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365

[2021-02-22 17:01] xannasavin commented on #833
I appreciate your housecleaning :)
So from what I see the old #112 already had something "in the pipeline" which was abandoned 2 or 3 years ago.
Not sure if that code base is even worth anymore to be continued or if it should be done from scratch with the latest code base and maybe the points I added in this ticket.
From this point of view, I'd rather close the old thread.

I'm going to copy over

[2021-02-22 17:04] Navid200 commented on #222
Closing due to inactivity

[2021-02-22 17:04] #222 closed

[2021-02-22 17:41] Navid200 commented on #459
Closing due to inactivity

[2021-02-22 17:41] #459 closed

[2021-02-22 17:48] TecMunky commented on #129
Is there any information about when and why the message finally disappears?

[2021-02-22 18:00] ahaverty commented on #112
Hi @Navid200, I believe this addition was/is blocked until the main contributors/owners give some indication or answers to how people can add improvements/alternatives to the input dialogs. My suggestion in one of the threads was to allow passing data from third party apps via intents so that people could roll their own input dialogue apps and widgets without needing to merge everything into xDrip

[2021-02-22 18:00] #112 closed

[2021-02-22 18:09] TecMunky commented on #76
Yes - this has been addressed to my satisfaction.  I am closing the issue now.
Others may still have comments.

[2021-02-22 18:09] #76 closed

[2021-02-22 18:59] Navid200 commented on #329
Closing due to inactivity

[2021-02-22 18:59] #329 closed

[2021-02-22 19:03] Navid200 commented on #346
@Klaus3d3 Would you please close this issue if it has been resolved?
Otherwise, would you please clearly specify what the requested feature is?  I suggest making the description as short as possible.
Thanks

[2021-02-22 19:16] Navid200 commented on #365
I have read the three posts in this thread.  I still don't understand what the request is.

Let's say the request is implemented and you enable it.
How will your CGM now behave differently than it did before?

[2021-02-22 19:40] Navid200 commented on #398
@tzachi-dar What is the status of this issue?  Would you please update?
Thanks

[2021-02-22 19:46] Navid200 commented on #424
@Webifi After you open the Android notification, can you not just swipe right to snooze it?

[2021-02-22 20:33] PedanticAvenger commented on #365
It won't behave any differently, however for developers of things like fitbit watchfaces which use the web server API to get the CGM data they can use the information to display configured target levels on said watchface without requiring additional configuration in the watchface and will reflect any changes a person may make.

[2021-02-22 20:37] stackenblochen commented on #1410
Is there any news on when the official xDrip app will support this awesome feature? I am using latest nightly build 2021.02.17 and although it has a miband entry under Smart watches section, there is no auth setting in there and I can't make xDrip connect to my miband 5. I do not want to switch to an "unofficial" build, so i hope the miband 5 auth support will be merged into official xdrip soon.

[2021-02-22 20:55] Webifi commented on #424
Looks like this has been resolved.  Just had a high alert, and selecting the android notification opens xdrip, and opens xdrip's snooze high alert dialog.

[2021-02-22 20:55] #424 closed

[2021-02-22 21:19] Navid200 commented on #697
Is there any update to this?

[2021-02-22 21:20] Navid200 commented on #703
Closing due to inactivity

[2021-02-22 21:20] #703 closed

[2021-02-22 21:21] Navid200 commented on #612
@tzachi-dar Has this been addressed?
Thanks

[2021-02-22 21:35] Navid200 commented on #618
@Fohlenpower Would you please update?

[2021-02-22 21:37] Navid200 commented on #642
@alexmoir1 Can we close this?
If you are still experiencing this, would you like to try Nightscout sync as an alternative?
Thanks

[2021-02-22 21:39] Navid200 commented on #645
@AdrianLxM Has this been addressed, or is it still the same?
Thanks

[2021-02-22 21:40] #645 closed

[2021-02-22 21:43] Navid200 commented on #654
@osodebailar Have you found a solution?

[2021-02-22 21:56] #1281 closed

[2021-02-22 21:56] LavineDavid commented on #1281
Resolved

[2021-02-22 22:22] Webifi commented on #1061
@Navid200 Since that's a private link, it's useless to me.

[2021-02-22 22:28] Navid200 commented on #1061
Anyone can join that group.  They ask if you have diabetes or a friend or family member.  You say yes, and they approve.

[2021-02-22 22:32] Webifi commented on #1061
And if I don't want to join Facebook?

There should be nothing secretive about this information.  Until a public wiki or the like is available,  please post and keep it updated publicly here, where it has relevance, and anyone can view it with or without an account of any type.

[2021-02-22 22:33] Navid200 commented on #1061
@Webifi I already explained why it is not a good idea to copy and paste here.  It's pointless to ask the same question.  I am not going to repeat the answer.

[2021-02-22 22:35] Webifi commented on #1061
Then please stop asking to close issues like this that rely on proper documentation until there is proper, public, documentation.

[2021-02-22 23:16] Navid200 commented on #1328
@getut Are you still experiencing this problem?

[2021-02-22 23:30] Navid200 commented on #740
@renegadeandy I use xDrip to control Dexcom.  I have never experienced this.
What happens if you, as an experiment, disable data and WiFi without going to airplane more?  Do you still experience this connectivity issue?

[2021-02-23 00:39] Navid200 commented on #1580
Are you sure calibrations are submitted to the transmitter.  Do you see the log saying calibration was accepted by the transmitter?

[2021-02-23 01:02] Navid200 commented on #1347
Closing due to inactivity

[2021-02-23 01:02] #1347 closed

[2021-02-23 01:05] Navid200 commented on #1327
Have you also asked in the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-23 08:53] #346 closed

[2021-02-23 08:53] Klaus3d3 commented on #346
Closed

[2021-02-23 09:43] Fohlenpower commented on #618
Erledigt

[2021-02-23 09:54] philou78 commented on #1653
The International Diabetes Center names this calculated value as follows:
"GMI (glucose management indicator): Calculated from average glucose; estimates your future lab A1c"
(http://www.agpreport.org/agp/agpreports#SMBG_AGP)

This is very important to get this value for each selected period. It helps people who need to improve their A1C even though it really estimates A1C only for the 90D period

[2021-02-23 10:03] alexmoir1 commented on #642
I had it again on a follower recently. I had to Clear Data & set up again.
What's Nightscout Sync?

[2021-02-23 11:43] #618 closed

[2021-02-23 13:14] Navid200 commented on #1653
@philou78  Thanks for that link.

This is a paper that describes GMI:
https://care.diabetesjournals.org/content/diacare/41/11/2275.full.pdf

"This Perspective will address why a new name
for eA1C was needed, why GMI was selected as the new name, how GMI is
calculated, and how to understand and explain GMI if one chooses to use GMI as a
tool in diabetes education or management".

Should we then cha

[2021-02-23 13:41] NStrakhov commented on #749
No. I have given up. I use a telephone.

[2021-02-23 13:42] Navid200 commented on #749
I'm sorry about that.

[2021-02-23 14:20] Navid200 commented on #1061
This was a bug that was addressed with Android workarounds.  After the early November 2020 Android patch, Android workaround resulted in frequent pair requests.  So, we had a new issue triggered by the Android update.  The developer used a different method to address this that did not cause the frequent pair requests.  He released it on November 27, 2020.  Since then, both issues have been address

[2021-02-23 16:21] zip9 commented on #1176
Thanks tolot27 for picking this issue up. Using xDrip as a Dexcom follower. Google fit steps adds activity. Looking forward to having multiple daily injection shows on the graphs without manual logging. Hopefully glucose and onboard insulin from InPen may be added to xDrip graph as well. All these elements, graphed on a mobile app, will improve many diabetics lives.

[2021-02-23 17:17] gfornax commented on #1580
I just tried with the latest nightly build. It still happens, I can answer both questions with a definite yes.
Despite answering "no" and despite xdrip showing the _Sensor data fails sanity test - Cannot Calibrate! raw:-0.1..._ message.
The calibration is shown right after the next sync in the dexcom transmitter.

[2021-02-23 17:23] Navid200 commented on #1580
Would you mind posting a screenshot that shows the receiver showing the result of the calibration?

[2021-02-23 17:35] gfornax commented on #1580
Sure, here you are. Oh and it is already up now, no worries.

![IMG_20210223_183010](https://user-images.githubusercontent.com/5310025/108883291-8ef0ec80-7605-11eb-9b49-fe699ca55414.jpg)
![Screenshot_2021-02-23-18-30-20-899_com eveningoutpost dexdrip](https://user-images.githubusercontent.com/5310025/108883334-9c0ddb80-7605-11eb-9ba0-0505358d62dc.jpg)

[2021-02-23 17:38] Navid200 commented on #1580
I thought your readings show a jump, which you concluded was caused by the calibration.  But, you are showing some logs.
Would you please explain how you conclude from the log from the receiver, you are showing, that the transmitter has received a calibration?

[2021-02-23 17:39] Navid200 commented on #1580
Would you also please show (or tell us) the firmware version of your transmitter?

[2021-02-23 17:44] gfornax commented on #1580
I attached the log as well so you can see what happend in xdrip where I entered the BG reading..

Let me just translate what you see in the first picture with the dexcom receiver (where I did NOT enter a calibration):
[code]
So by the last two lines, you can see the Dexcom receiver shows the BG reading I entered in xdrip, but chose to be discarded.
Dexcom Receiver FW is 5.1.2.0.26, Transmitter FW

[2021-02-23 17:48] Navid200 commented on #1580
Thanks.  Have no idea why the calibration is sent even though when you have disabled automatic calibration.
Let's wait for someone who knows to respond.

[2021-02-23 18:02] Navid200 commented on #1580
We may indeed have a bug.  But, instead of focusing on fixing the bug, I'd rather focus on making sure no more calibrations are sent to your transmitter unless you intend to do that.
My suggestion is the following:

Uncheck the following
Settings -> Less common settings -> Advanced Calibration -> Automatic Calibration

On the same page, tap on "Use Treatment BG Values".
Check "Automatic mode".

[2021-02-23 18:18] dubidrubi commented on #1645
Agree with @gruoner... We also use Actrapid as a bolus one before meals... Never heard about using it as a basal one

[2021-02-23 18:21] gfornax commented on #1580
No worries, since I know about it my workaround is to not enter BG values in xdrip and use the dexcom device for calibration.
What makes this bug dangerous is that it can really take a while until you realize what actually happens.
If there are things I can try to provide more details for looking into it just let me know, I'll be happy to help.

[2021-02-23 18:28] Navid200 commented on #1580
I am not a developer.  There aren't many.  They can ask you for detail in order to solve this.

What I know is that every time you send an unintended calibration to an 8H transmitter, you are rolling the dice!  If the transmitter has a fit, and believe me it can, you will have no readings possibly for hours.
What I suggested should stop your BG treatment values to be sent as calibrations.

Your fi

[2021-02-23 18:40] gfornax commented on #1580
Agree, I'll give it a shot next time it is necessary.
I updated the initial post as I have used the Feb 17 2021 release today for the confirmation.

[2021-02-23 19:22] Navid200 commented on #275
@merberaza What do you mean by disconnection alarm?  Do you mean "Missed reading alert"?

[2021-02-23 19:46] Navid200 commented on #287
Closing due to inactivity

[2021-02-23 19:46] #287 closed

[2021-02-23 19:51] Navid200 commented on #292
If you ever like to re-open this, I suggest that you clearly specify what we have now and what you would like to have instead.
The more clear and shorter and simpler you make it, the more likely it is that someone may decide to implement it.

[2021-02-23 19:54] Navid200 commented on #294
These are the general recommended settings for G5/G6:
https://www.facebook.com/groups/xDripG5/permalink/4603084736431652
If you don't have a facebook account, you can post in the Gitter room and ask.
But, the symptoms you describe are the symptoms of having incorrect xDrip and/or Android settings.

[2021-02-23 19:54] #294 closed

[2021-02-23 20:02] Navid200 commented on #296
What exactly happens if you say yes when you say it doesn't think it's an initial calibration?

What CGM do you use?

[2021-02-23 20:04] Navid200 commented on #297
If you like to re-open this, I suggest including what CGM (Hardware Data Source) you are using.

[2021-02-23 20:04] #297 closed

[2021-02-23 20:07] Navid200 commented on #1062
@inventor96 Is this still the case?

[2021-02-23 20:09] Navid200 commented on #323
Closing this due to inactivity.
Please re-open if you like to update.

[2021-02-23 20:09] #323 closed

[2021-02-23 20:11] WanaGo commented on #296
If you say yes, it just puts a square BG value on the unpopulated graph (as you have no data on there yet), it does not go into the initial calibration screen. The Square point never turns into a calibration as you have no data around it to validate it as being a valid calibration value for the Auto Calibration.

Dexcom G5.

[2021-02-23 20:12] Navid200 commented on #357
@jwoglom What is the status of this issue please?

[2021-02-23 20:15] Navid200 commented on #296
Do you use native or non-native mode?  These may be irrelevant to the bug.  But, others may ask the same question.

[2021-02-23 20:24] Navid200 commented on #365
If the only person who has the knowledge to understand what you need is not looking at this, you will never get what you need.
I would like to label this.  But, I have no idea what this is.
Can you explain this to someone who doesn't know anything?

As an example, you can say I would like two additional parameters to be uploaded to Nightscout.  Those two parameters are BG_Target_High and BG_Target

[2021-02-23 20:33] merberaza commented on #275
Yes, i mean the missing reading alert.When you are using your personal mobile, if you have the sound on, many times the phone sounds with each notification. During the night i would like to put the silent mode on, but i can't because the missing readings alert qoult not sound.

Enviado desde Yahoo Mail con Android

  El mar., feb. 23, 2021 a 20:23, Navid200<notifications@github.com> escribió:

@me

[2021-02-23 20:51] Navid200 commented on #463
Closing due to inactivity

[2021-02-23 20:51] #463 closed

[2021-02-23 20:53] WanaGo commented on #296
Non-native, standard xdrip mode etc.
Its not just limited to the Contour Next One meter either, other BT meters do the same thing, its about how xDrip handles BT readings coming in while its on the initial calibration screen.

[2021-02-23 20:58] Navid200 commented on #275
Would you please add your comments to this issue then, which is a duplicate.
https://www.facebook.com/groups/xDripG5/permalink/4603084736431652
I close this one.  We can always re-open it if you disagree.

[2021-02-23 20:58] #275 closed

[2021-02-23 21:05] Navid200 commented on #487
@parapenT1sta Was this implemented?  Can we close this issue?
Thanks

[2021-02-23 21:11] MasterPlexus commented on #1653
@navid200 for me this looks feasible and logical. I will get that, and try to made a pull request. It will need some time of course, but it will bring me back into the code which I missed ;)

If an other one will get this point faster just state it here, not to do it double.

[2021-02-23 21:17] Navid200 commented on #1653
OMG, it was just a suggestion.  Thanks a lot.
Please let's make sure Adrian (@AdrianLxM) will be OK with this.  Please don't make a change unless he approves.

[2021-02-23 21:21] AdrianLxM commented on #1653
I would _not_ like to have a value showing another timeframe than selected.

[2021-02-23 21:28] Navid200 commented on #1653
@AdrianLxM The only suggestion is to change the name from A1C to GMI.
And I haven't read the paper fully yet.  I think they have made a slight modification to the formulae by combining the results of 4 different studies.
The value will always be based on the selected range as is now.

[2021-02-23 21:36] MasterPlexus commented on #1653
May we could change the Titel to gmi, if the time slot is different than 90 days. And let 90days then for 1ac.
Anyway, I'll check then also the formula's , but I feel the established ones as sufficient at the moment. Not sure if a change of 0.1 of the value at the end will bring a big help, knowing the Situation that also the measurements could have some diffs.

[2021-02-23 22:46] Navid200 commented on #527
@ANDREAPIPPI Hi,
May I ask what the status of this issue is?
Thanks

[2021-02-23 22:50] Navid200 commented on #718
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/531

[2021-02-23 22:51] Navid200 commented on #706
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/531

[2021-02-23 22:55] Navid200 commented on #706
Please don't open duplicate issues.
We need to organize the issues so that they can be prioritized.   Redundant issues don't help that.
I am going to close this.  If you have anything here that you believe you cannot post in the original post, please let me know and we can re-open this.

[2021-02-23 22:55] #706 closed

[2021-02-23 23:52] parapenT1sta commented on #487
@Navid200 Yes. It was. :) Closing the ticket.

[2021-02-23 23:52] #487 closed

[2021-02-24 02:45] Navid200 commented on #1653
Not what I expected.  The two look quite different.
Will do more research.
Please let me know if anyone has any explanation.

![Screenshot 2021-02-23 214330](https://user-images.githubusercontent.com/51497406/108939776-3bd86300-7620-11eb-9225-1e2c2dd80e8f.png)

[2021-02-24 11:02] maartenbrakkee opened #1654 "Wahoo Elemnt Bolt Libre2 support"
### Is your feature request related to a problem? Please describe.
No.

### Describe the solution you'd like
With a patched LibreLink app, sensor data is sent to xDrip and xDrip communicates it towards the Wahoo Elemnt Bolt. Because the phone is already connected to the Wahoo Elemnt Bolt, setting the device as a collection device would not be necessary (and both the phone and the original reader c

[2021-02-24 13:08] tolot27 commented on #1654
What is your feature request, exactly? With Libre2 it is impossible to configure more than one device as a collector.

[2021-02-24 13:24] Navid200 opened #1655 "Please add a note to the following two xDrip releases"
When we had the frequent pairing request fiasco in early November of 2020, the developers worked tirelessly to come up with a solution, test it, and release it (November 27, 2020 release).  And it took a very short time to successfully solve the problem for the community.
Many thanks for your great work.

In the process, two new versions were released that were work-in-progress.  Those are Novembe

[2021-02-24 14:19] tolot27 commented on #1655
I've added "Connectivity issues for Dexcom transmitters have been reported. Do not install this build if you are using Dexcom hardware source" to the description. But how does it help in general? Nobody will read this information if nightly updates are installed.

[2021-02-24 14:25] Navid200 commented on #1655
Thanks so much for adding those notes.
I think if the note stops one person from installing, it is still a step forward.

I understand your concern.
Can we not remove those two releases from the list?

[2021-02-24 14:27] smeisner commented on #1410
Me too!

I cannot get the Mi band working at all. Using a Google Pixel 3 and a Dexcom G6 (in case that matters).

I purchased a Mi Band 5, installed the official Mi app from the play store. Got my account and band working. I then uninstalled it so I could install the modified Mi app version. I got the auth code populated in the internal storage folder (**Internal Storage -> freemyband -> miband<ma

[2021-02-24 14:35] Navid200 commented on #1655
_Nobody will read this information if nightly updates are installed._

If someone is using the nightly channel in their automatic update now, they will never get those releases.  They will get the latest nightly.

If they were on the nightly channel and right after having got one of those two releases, they changed their channel to the beta channel, they will still be on those releases.  Not much

[2021-02-24 14:35] Navid200 commented on #1655
Thanks a lot

[2021-02-24 14:35] #1655 closed

[2021-02-24 15:29] PedanticAvenger commented on #365
The best summary is "I want status.json on XDrip+ to more closely match status.json on nightscout in what it presents."  status.json on xdrip+ was created to replicate the functionality available on nightscout but locally to the phone.  However it is incomplete (as it must be of course) but more incomplete than it should be in the data that it presents to other applications on the phone accessing

[2021-02-24 15:34] Navid200 commented on #1574
There are some messages you get from xDrip, if you are using a new G6, that can be confusing.  There are already open issues for that and they will be cleaned up hopefully soon.

There are some user behaviors that were fine with G5 but not with a new G6 that one should be aware of.  One example is frequent calibrations.  You shouldn't need to calibrate a G6 at all.  There is nothing wrong with tes

[2021-02-24 15:39] Navid200 commented on #1459
If you need help restarting a sensor, or if you still get the timestamp error, please either post in the facebook group or in the Gitter room.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-24 15:39] #1459 closed

[2021-02-24 15:41] Navid200 commented on #1451
If you have any problems using a G6 with xDrip, please post either in the facebook group or in the Gitter room.  Feel free to tag me.  I will work with you to resolve the issue.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-24 15:41] #1451 closed

[2021-02-24 15:46] Navid200 commented on #1433
@verityjane Would you please close this issue if it has been resolved?
For questions about how to use xDrip, please use the support channels first to ensure your settings are correct.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-24 15:49] Navid200 commented on #1418
@neirfeno Would you please ask in the support channels if you are still experiencing this?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
If this was a bug, we would have heard about it from many others.
After you do that, if you find out that others are also facing the same issue, would you please update us here?
Thanks

[2021-02-24 16:03] Navid200 commented on #1415
I would like the xDrip messages to be cleaned out with respect to new G6.  I am not sure when that is going to happen.  There are already several open issues talking about the symptoms.  This is an example.
In my opinion, we need to present the issue as the messages rather than focusing on the behavior.

Look at the title of this issue.  It starts by talking about initial calibration on 8K.  That

[2021-02-24 16:06] Navid200 commented on #1392
@joshbohmer Would you please update?
Do you still feel this is something that the community will benefit from?
Will you please specify what pump you use?

[2021-02-24 16:32] Navid200 commented on #1382
There is a FUZZER figure (2.5 minutes) that is how much all readings are moved forward in time only for plotting on the graph intentionally.  It is possible that calibrations are not going through the FUZZER.  This could be a bug.

@AdrianLxM, Could that be the case?  Shouldn't the calibrations also experience the FUZZER?

[2021-02-24 17:42] Navid200 commented on #1374
If anyone is still experiencing this, would you please update to the November 27, 2020 release or after and let us know if you still experience it?
There was considerable improvement to consistent connectivity with that release.
Thanks

[2021-02-24 17:58] ARkaine2 opened #1656 "FR: Additional (secondary) horizontal (BG) lines."
Hi,

I need (very much!!!) intermediate horizontal (BG) lines in main xDrip's view/screen.
(probably it should be realized like an option [with opacity %] for those, who doesn't need it)

<details><summary>Something like:</summary>
<p>

![109043769-596a0300-76da-11eb-987a-d102c599e552](https://user-images.githubusercontent.com/31447095/109145062-a4cbf200-776a-11eb-9022-15d86d4d9b3a.jpg)

</p>
</de

[2021-02-24 18:19] Navid200 commented on #128
@tolot27 What are the required actions we have to take in order to close this issue?
Thanks

[2021-02-24 18:32] Navid200 commented on #228
If you experience the same, please report and I will re-open.

[2021-02-24 18:32] #228 closed

[2021-02-24 18:40] Navid200 commented on #231
Android and xDrip both have changed dramatically since this issue was opened.
If you have issues similar issues, please post in the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-24 18:40] #231 closed

[2021-02-24 18:50] smeisner commented on #1410
Found my problem. It is working fine as I described, except when I replaced xDrip with the version for Mi Band, the new version was not in fact running. I checked the version number I cited above and discovered it was wrong. So I force stopped xDrip, uninstalled, installed xDrip+ and everything works!

But still, I am really looking forward to bringing support for Mi Band into the regular xDrip.

[2021-02-24 19:04] Navid200 commented on #229
@tolot27 Can xDrip upload to Clarity (the title)?  I don't think so.
Shouldn't we close this request because it currently is not possible due to the limitation imposed by Dexcom?
There is nothing we can do to xDrip to resolve this, is there?

[2021-02-24 20:39] emp-00 commented on #1656
Please specify, what exactly do you mean: really MORE lines than we already have?
Can you edit the picture and show how your proposal should look like?
![image](https://user-images.githubusercontent.com/60714349/109062535-5aa22c80-76e8-11eb-8ade-257e170aa7c6.png)

[2021-02-24 20:51] PedanticAvenger commented on #1415
"One is not supposed to perform initial calibration" is highly misleading statement.  Even dexcom doesn't take so strong a position but rather say "Most users will not need calibrations."  that is not the case for me and several others, generally calibrate at least once every couple days or I end up with growing drift in values.
I'm ok with this being gathered under a single ticket, there are mess

[2021-02-24 21:00] Navid200 commented on #267
There is a lot of useful info here.  Thanks.
Can we close the issue though?  The info can still be accessed even after it is closed.
I think we should have an issue open if it means some work is required to be done to close it.

[2021-02-24 21:35] Navid200 commented on #1415
The only time you will need to perform initial calibration with a G6 is if you run it in no-code mode.  This is based on Dexcom directions, not mine.

You can run in no-code mode if you like.  But, that would disable factory calibration, the main advantage of G6 over G5.

I hope I haven't been misleading.  Please let me know if I am wrong.  I don't mean to mislead you or anyone else.

[2021-02-24 21:48] #292 closed

[2021-02-24 22:21] tolot27 commented on #229
This is a valid feature request and should not be closed until someone made a final decision.

[2021-02-24 22:22] Navid200 commented on #352
@cybernissart You are saying that you have enabled it to show and your images show the trend above 400.
So, you can already see the values.  What is missing then?

[2021-02-24 22:24] tolot27 commented on #128
@Navid200 Either an implementation of this feature or a decision against it.

[2021-02-24 22:32] tolot27 commented on #1644
@ARkaine2 We don't have the time to reinvent the wheel. Instead, we like to focus on the existing bugs and features. xDrip has a lot of features and settings, already and it is hard do support it. We are a very small dev team.
Contributions and PRs are always welcome.

[2021-02-24 22:32] #1644 closed

[2021-02-24 22:37] tolot27 commented on #1656
What should these lines represent? Currently, I don't see any reason why we should add additional lines. We already have the lower and upper bound lines which are really helpful for therapy.

[2021-02-24 22:42] tolot27 commented on #365
@PedanticAvenger Can you create a PR to address this FR?

[2021-02-24 23:34] TecMunky commented on #128
I am closing this issue (as the author).

I had some difficulty with the authors of the Diabetes:M app.  Their app will not display any data points closer than 15 minutes apart.  I asked them to fix this issue, as it is unacceptable for CGM data.  They basically told me to shove off.  This is why I abandoned efforts to implement the issue.

[2021-02-24 23:34] #128 closed

[2021-02-24 23:56] tolot27 commented on #229
Because no public API is available, we are closing this issue for now.

[2021-02-24 23:56] #229 closed

[2021-02-25 00:38] Navid200 commented on #509
@Hornedar Would you please close this issue if your problem has been resolved?
You can use the support channels to find out what other users do in a similar situation.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
If you have done and this problem persists, please update.
Thanks

[2021-02-25 01:05] Navid200 commented on #546
He can just enable it when he arrives home from school, and he can disable it when he leaves home on his way to school, right?

[2021-02-25 01:14] Navid200 commented on #547
@dave1812 If this problem persists, have you asked from other users?  You can use the support channels for that.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-25 01:21] Navid200 commented on #668
@opalex84 Please use the support channels to see how others use xDrip and what the recommended settings are.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Would you please close this issue if your problem has been resolved?
Thanks

[2021-02-25 01:49] Navid200 commented on #686
@Mr-Enigma Can you provide a link to the product?
Is it still in production?
What are the benefits compared to the devices xDrip currently supports?
Thanks

[2021-02-25 01:53] Navid200 commented on #705
@Mikeyatrum If you need help with G6 connectivity, please use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
We can always re-open this if it is really an xDrip bug.

[2021-02-25 01:53] #705 closed

[2021-02-25 01:56] #737 closed

[2021-02-25 01:56] Navid200 commented on #737
Closed due to inactivity

[2021-02-25 02:07] Navid200 commented on #857
@notlistening Would you please close this issue if it has ben resolved?
If not, would you please provide more detail like what CGM you are using, and what phone xDrip is on?
Thanks

[2021-02-25 02:10] Navid200 commented on #869
@tzachi-dar Can we close this issue?
If not, would you please explain what the requirements are for completing the task, and who the task is assigned to, so that it can be closed?

[2021-02-25 02:22] Navid200 commented on #871
@lee-b How would you enter the settings for each?
For example, Bluetooth Settings.  That settings page may contain a setting that needs to be checked for G6 but unchecked for Libre.

How will you handle the timing?  xDrip wakes up and searches for the next reading once every 5 minutes.  But, having two different transmitter to deal with, it will have to have two different times.  What happens if t

[2021-02-25 02:22] #871 closed

[2021-02-25 02:23] Navid200 commented on #872
Closing due to inactivity

[2021-02-25 02:23] #872 closed

[2021-02-25 02:26] Navid200 commented on #890
Closing due to inactivity

[2021-02-25 02:26] #890 closed

[2021-02-25 02:30] Navid200 commented on #929
@Kaivish Are you still experiencing this problem?
If not, can we close the issue?
Thanks

[2021-02-25 02:36] Navid200 commented on #953
Perhaps you meant preemptive restart.
We cannot do that any longer with the G6 products that re in the market.  There are some old G6 devices that people are still using.  But, that will benefit only a small portion of the community.
We can always re-open this if needed.  I am closing it now as I am not sure what you need.

[2021-02-25 02:36] #953 closed

[2021-02-25 02:52] Navid200 commented on #979
Closing due to inactivity

[2021-02-25 02:52] #979 closed

[2021-02-25 02:58] Navid200 commented on #990
@AJIH Would you please ask your questions using the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-25 03:01] Navid200 commented on #995
Closing due to inactivity

[2021-02-25 03:01] #995 closed

[2021-02-25 03:07] Navid200 commented on #996
@btdkomplex Would you please close this issue if your problem has been resolved?
Otherwise, you can use the support channels to consult with users to ensure you are aware of any possible solutions or work-arounds.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-25 03:08] Navid200 commented on #997
Closing due to inactivity

[2021-02-25 03:08] #997 closed

[2021-02-25 03:30] Navid200 commented on #1050
Closing due to inactivity

[2021-02-25 03:30] #1050 closed

[2021-02-25 03:32] Navid200 commented on #1051
Closing due to inactivity

[2021-02-25 03:32] #1051 closed

[2021-02-25 03:34] Navid200 commented on #1053
@ANDREAPIPPI Would you please close this issue if it has been resolved?
You can use the support channels to find out what other users with the same device are doing.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-25 03:37] Navid200 commented on #1058
You can post in the Gitter room.  The developers see the posts.
https://gitter.im/jamorham/xDrip-plus

[2021-02-25 03:43] Navid200 commented on #1279
I don't see these logs any more on February 17, 2021.
Can anyone else confirm please?

[2021-02-25 03:46] Navid200 commented on #1065
Those logs are expected.  They will not show up any longer if you update to February 17, 2021.

[2021-02-25 03:46] #1065 closed

[2021-02-25 03:58] PedanticAvenger commented on #365
I had started looking at it but got lost in where the variables for those values were stored.
I haven't been in the code enough to understand the standards being used yet and I'm not the strongest in this language. ;)

[2021-02-25 04:01] Navid200 commented on #1087
Closing due to inactivity

[2021-02-25 04:01] #1087 closed

[2021-02-25 04:05] Navid200 commented on #1068
Please post in the original existing issue.  https://github.com/NightscoutFoundation/xDrip/issues/813

Creating redundant issues could actually reduce the visibility of the real number of users affected.

[2021-02-25 04:05] #1068 closed

[2021-02-25 06:09] Hornedar commented on #509
This issue has not been solved. After changing to the Libre 2 sensor I'm not using the MioaMioa reader any more. Therefor this issue will be closed.

[2021-02-25 06:09] #509 closed

[2021-02-25 06:18] utzaki opened #1657 "Wrong German translation in "Werte vorlesen" menue"
The German translation in the "Werte vorlesen" menue seems not to be correct. It is supposed to be "..zur Sprachausgabe von ..." instead "..zur Spracheingabe von...". Small difference, but totally different meaning.

xDrip version 2021.02.03
![image](https://user-images.githubusercontent.com/53113714/109111509-55210280-7739-11eb-96a7-6f7fd9bcb76b.png)

[2021-02-25 07:32] maartenbrakkee commented on #1654
Thank you for your reply. I assumed Libre2 worked like Libre1 (first start the sensor with the original libre reader, after you can also add your phone).

Given that you've only linked your Libre2 to your phone (with patched Librelink connected to xDrip), it would be nice to see my levels on the Wahoo Elemnt Bolt. Displaying the levels in the same way as when the Wahoo is being used as a collector

[2021-02-25 08:01] tolot27 commented on #1657
Thanks to bringing this to our attention. Please suggest further translation changes at https://crowdin.com/project/xdrip

[2021-02-25 08:01] #1657 closed

[2021-02-25 08:05] tolot27 commented on #1279
I sti see these messages in the log, but much less frequent. The authentication was not enhanced, only the logging has been changed to not show the errors in most cases.

[2021-02-25 11:05] ARkaine2 commented on #1656
**tolot27** ,
ATM lines represent only even numbers (in mmol/l) (and we also can specify lower/higher range and target glucose).
I talk about predictions (prediction simulation):
We can see/compare how insulin will low/affect BG per each hour.
But there are no "intermediate" values (for odd numbers) to see these changes in more details.

**emp-00** ,
`Can you edit the picture and show how your pro

[2021-02-25 11:15] tolot27 commented on #1656
@ARkaine2 I did not get it. You just draw a horizontal line at about 128 mg/dl. But I don't see any benefit of this line.

[2021-02-25 11:27] ARkaine2 commented on #1656
**tolot27**
Benefit is that with "intermediate" lines we can know BG change more precisely per each period of time.

<details><summary>Something like:</summary>
<p>

![photo_2021-02-25_13-19-15 ссс](https://user-images.githubusercontent.com/31447095/109146920-17d66800-776d-11eb-8557-cde6c8080ebd.jpg)

</p>
</details>

Without these lines we have to rely on the eye; эut with these lines we can even

[2021-02-25 11:46] dirceusemighini commented on #1007
Where you able to post the graph to your watch? I just got my gtr2 mini.

[2021-02-25 12:35] Navid200 commented on #1279
Do you mind showing a screenshot, or quantifying how often you see the log.  I don't see a single one.

If the issue was not the logs, should we change the title of the issue?

What is the symptom of the failure in authentication?  The transmitter works for 110 days, as it should.

[2021-02-25 13:24] Navid200 commented on #1503
@dbnsacc The three screenshots in your first post are all screenshots of Android settings, no?
What can we do from xDrip to change any of that?

Would you please explain what you expect xDrip to do?

[2021-02-25 13:29] nickb24 commented on #1503
The problem being described can be seen here: https://developer.android.com/training/notify-user/channels

I've taken a look a little bit into the xDrip code but haven't figured out why xDrip doesn't register as a proper notification channel with Android.

[2021-02-25 14:05] Navid200 opened #1658 "Don't delay ascending volume alerts by 3 minutes"
There have already been complaints about not being able to control the alarm volume:
https://github.com/NightscoutFoundation/xDrip/issues/813

In response to "please add a low profile as well", the suggested solution has been to use the ascending volume profile.
But, that profile starts the volume at "silent".  So, if you want to get an alarm when your glucose crosses a threshold, you will have to

[2021-02-25 14:53] Navid200 commented on #234
Closing due to inactivity

[2021-02-25 14:53] #234 closed

[2021-02-25 14:54] #152 closed

[2021-02-25 14:56] Navid200 commented on #192
@dballard8 Can you use the suggested work-around by gregorybel?

[2021-02-25 14:57] Navid200 commented on #207
Closing due to inactivity

[2021-02-25 14:57] #207 closed

[2021-02-25 14:58] Navid200 commented on #236
Would you please update?
Is this still the case?
Are there any work-arounds?

[2021-02-25 15:00] Navid200 commented on #337
Closing due to inactivity

[2021-02-25 15:00] #337 closed

[2021-02-25 15:01] Navid200 commented on #263
@dimis28 Have you found a solution or work-around?

[2021-02-25 15:02] Navid200 commented on #245
@tzachi-dar Would you please explain what the requirement is for closing this issue?

[2021-02-25 15:06] Navid200 commented on #304
@zackallan Would you please close this issue if it has been resolved?
Thanks

[2021-02-25 16:54] Navid200 commented on #341
Closing due to inactivity

[2021-02-25 16:54] #341 closed

[2021-02-25 16:55] Navid200 commented on #352
Closing due to inactivity
If you like to re-open, please explain exactly what is missing first.   Your snapshots show the raw readings already.

[2021-02-25 16:55] #352 closed

[2021-02-25 16:57] Navid200 commented on #361
Closing due to inactivity

[2021-02-25 16:57] #361 closed

[2021-02-25 17:02] Navid200 commented on #374
@avr248
_yesss!!! it work!!
thank you very much!!_

Sounds like your request was addressed.
Can we close this issue then?
Thanks

[2021-02-25 17:03] Navid200 commented on #384
Closing due to inactivity

[2021-02-25 17:03] #384 closed

[2021-02-25 17:04] Navid200 commented on #388
Closing due to inactivity

[2021-02-25 17:04] #388 closed

[2021-02-25 17:04] Navid200 commented on #393
Closing due to inactivity

[2021-02-25 17:04] #393 closed

[2021-02-25 17:06] Navid200 commented on #429
@parapenT1sta Are you planning to add this capability?
Or, have you already?
Would you please update the status of this issue?
Thanks a lot

[2021-02-25 17:11] Navid200 commented on #440
There are people who use MiaoMiao on Samsung.
This must have a solution now.
Can we close this issue?

[2021-02-25 17:13] Diaolou commented on #440
@Navid200 For me personally, this is resolved via a phone upgrade. I'm not sure if the same is true for others. Thanks for coming back to this.

[2021-02-25 17:19] Navid200 commented on #469
If you disable automatic calibrations, the readings from the Bluetooth meter should still show in the graph but not be used for calibration.

[2021-02-25 17:25] Navid200 commented on #440
@Diaolou We still have more than 500 open issues.
xDrip can do too much and people are still asking for new features!  The only way we can be efficient is if we can prioritize the issues.
I am going to close this now since your issue was resolved.
We can always reopen an issue if it has been incorrectly closed.
Thanks

[2021-02-25 17:25] #440 closed

[2021-02-25 17:31] Navid200 commented on #495
@AdrianLxM Do you still think this would be a good feature?
There are loops that don't go through Nightscout, like t:slim.  So, even if implemented, it will not benefit all loop systems.

What do you think?
I would like to either label this or close it.
Thanks

[2021-02-25 17:39] Navid200 commented on #514
@sosdiab Would you please close this issue if it has been resolved?
If not, would you please respond to the suggestion by tzachi-dar?
Thanks

[2021-02-25 17:46] #867 closed

[2021-02-25 17:47] #757 closed

[2021-02-25 17:51] Navid200 commented on #515
Most of what you are looking for, if not all, can be found at the following.
Settings -> xDrip+ Display Settings -> xDrip+ Color Settings

Would you please have a look.  Please let me know if any particular item is missing.
We can always reopen this if needed.

[2021-02-25 17:51] #515 closed

[2021-02-25 18:01] Navid200 commented on #499
The work-around for this is to use a Nightscout follower, which will not rely on Google play services.

Since a work-around exists, I am going to close this.  We can always reopen it.  But, keeping issues open (when the developer has clearly stated what the cause of the problem is being out of his hands) will take attention from issues that have no work-around.  So, I hope you wouldn't re-open it.

[2021-02-25 18:01] #499 closed

[2021-02-25 18:28] JimmyFoks commented on #1488
I have the same problem, it is repeated once a day. Is there a solution?

[2021-02-25 18:32] parapenT1sta commented on #429
@Navid200 I am not a developer :( I am closing this ticket.

[2021-02-25 18:32] #429 closed

[2021-02-25 18:37] Navid200 commented on #429
I saw "contributor" and made the assumption.  Sorry about that.
In that case, you don't have to close.  Do you know if this capability exists now or still not?

[2021-02-25 18:43] parapenT1sta commented on #429
@Navid200 I only collaborate with translations.

Now we have for Basal Insulin but still no option for Multi Wave but should be useless since Nightscout doesn't support it.

[2021-02-25 18:46] Navid200 commented on #429
Many thanks for your contributions.  Please fell free to reopen.

[2021-02-25 18:49] parapenT1sta commented on #429
I don't think it's needed. I even had forgot that I had this request. :)

[2021-02-25 19:57] PedanticAvenger commented on #365
I do know it is in xDrip/app/src/main/java/com/eveningoutpost/dexdrip/webservices/WebServiceStatus.java and the change starts at line 34.  The comment even mentions the whole response I want but the code only puts two of the four together and outputs them.

[2021-02-25 20:12] Navid200 commented on #461
@gitanO0 Do you believe this is still a good thing to have?
If yes, would you please address the post made by the developer on August 5, 2018?

Do you believe that he has misunderstood your request?  Then, please explain that clearly.  Clarifying what your request is.

If you believe that he has understood your request; but, you have an alternative suggestion for implementing it, which will avoid

[2021-02-25 20:17] Navid200 commented on #536
@exceter Is this still the case now?
Thanks

[2021-02-25 20:34] emp-00 commented on #1656
Sorry, I also don't understand what exactly you are proposing: Your screenshot shows a prediction down to a severe Hypo => this information should trigger you eating something to avoid the Hypo. For me this is more than enough information. What's the benefit of extra lines or boxes?

[2021-02-25 20:34] Navid200 commented on #563
Can you clarify what you are asking for?
Can you include what xDrip does now including an example and what you want it to do in case of your example?

And I ask you to please close this issue if you can accomplish your objective using a work-around?
The xDrip code will become more and more complicated, and harder to maintain, if we keep adding capabilities to it.

[2021-02-25 20:48] gitanO0 commented on #461
Yes, I would still like this implemented as described in my OP.   I use the local pebble web service to populate my fitbit versa watchface. I'm not sure why the implementation would be too too expensive.  My watch only retrieves data via the local web service every 5 minutes.  The xdrip+ app itself shows the IOB on the main graph interface so having that shuttled off to the web service doesn't see

[2021-02-25 21:14] Navid200 commented on #642
Nightscout is a (free) online repository many of us upload out blood glucose readings to directly from xDrip.
If you look under hardware data source on your follower where you currently have selected xDrip+ Sync Follower, you will see another option called Nightscout Follower.
If you have Nightscout set up, and have set up the master to upload to it, you can select that on the follower.  The follo

[2021-02-25 22:15] tolot27 commented on #1656
@ARkaine2 It looks like you like to do some more sophisticated analyses. Maybe it is easier for you if you import the xDrip database in your statistics program of choice and do the stuff there?

[2021-02-25 22:34] Navid200 commented on #642
These are instructions for setting up Nightscout.
http://nightscout.github.io/nightscout/new_user/?fbclid=IwAR3oa0QOlDnwCYr7VCm8Sv8SNZLDHdVRqUNZp9HbRl7WxSgHKQq_-68JsOE

They may look intimidating.  Believe me, it is worth it.  Do it when you can give it 20 minutes of time.  Don't expect to complete it in 2 minutes.

[2021-02-26 01:53] Navid200 commented on #1647
@viq Any update?
Have you still not started a new sensor?

[2021-02-26 01:55] Navid200 commented on #1656
@ARkaine2 Do you just want a horizontal line that you can position (move up or down) on the screen?

[2021-02-26 04:44] Navid200 commented on #1643
You can just enter the reading from your meter manually into xDrip, right?

[2021-02-26 04:49] Navid200 commented on #1624
What would be the benefit of having the sensor code in Nightscout?
How about the transmitter ID?
You use a new transmitter once every 3 months, no?  Isn't it easier to just enter the ID manually once every 3 months into Nightscout if for some reason it needs to be there?

[2021-02-26 05:08] Navid200 commented on #1612
Closing due to inactivity

[2021-02-26 05:08] #1612 closed

[2021-02-26 05:10] Navid200 commented on #1541
Closing due to inactivity

[2021-02-26 05:10] #1541 closed

[2021-02-26 05:11] Navid200 commented on #1531
Closing due to inactivity

[2021-02-26 05:11] #1531 closed

[2021-02-26 05:37] tolot27 commented on #1624
Some explanation can be found here: https://github.com/nightscout/cgm-remote-monitor/pull/5442#issuecomment-573455457

[2021-02-26 05:45] tolot27 commented on #1643
That's not the question. xDrip supports receiving data from only one paired glucometer. @checkatillo asks if more than one glucometer can be paired and used as bg input.

[2021-02-26 06:57] radugreta commented on #1510
Hello  I use p20 huawei and TicWatch S2 Glacier.   I am just a follower in xdrip. and the master have a A40 Samsung.
The watch connected to my phone and also to the masters phone, the battery was emply in less than 1 day.
We used e14bae1-2020.07.13.
Now I moved to 39e880d-2021.02.17 and it seems to be a much better battery life.
I put a screenshot with 2 screenshots from before and 1 after.

![Scr

[2021-02-26 07:51] michalterbert commented on #184
My dashboard (json file).
[dashboard.txt](https://github.com/NightscoutFoundation/xDrip/files/6048146/dashboard.txt)

Please close issue.

[2021-02-26 08:10] agniabakush commented on #1007
What graph you mean?

[2021-02-26 08:55] inventor96 commented on #1624
The link from @tolot27 is definitely applicable. For a specific use case, I restart my G6 sensor sessions for as long as the readings are clean enough, which means I need to re-enter the sensor code. Right now, my current method is to keep the respective part of the sensor insertion kit for later reference. It would be helpful to have a consistent location to store the sensor code without having t

[2021-02-26 09:01] alexmoir1 commented on #642
We're already set up as a Nightscout follower on Xdrip.

[2021-02-26 09:03] inventor96 commented on #1062
Yes, this is still a current issue.

![Screenshot_20210226-020034](https://user-images.githubusercontent.com/7132744/109279243-bea31e80-77d6-11eb-8c06-d988a3e33c54.png)

[2021-02-26 09:48] stackenblochen commented on #1410
Happy to hear it worked for you. I think it is important to actually uninstall the regular xDrip app from your phone before installing the miband one (this was the scary part for me). But I also went down that path and installed the mi band version of xDrip, and it worked quite flawless. All my settings etc were imported, and miband 5 was connecting immediately. I read somewhere in @bigdigital blo

[2021-02-26 11:29] jk1993 commented on #1618
@xannasavin I've got the Ticwatch Pro 2020 as well and get just over a day battery life (owned about 6 months), so essentially need to charge every day as I wear it for sleep tracking. The Ticwatch Pro 3 is the successor to our device, and features the snapdragon wear 4100 with huge efficiency improvements and **_actual_** 3 day battery life in full smart mode

[2021-02-26 12:08] xannasavin commented on #1618
thanks a lot for your answer. That is truely impressive! Maybe should have saved the money and get the more expensive one :(
I switched to using my pebble for sleep tracking to get at least 1-2 days of battery life for the Ticwatch 🙈

But I'm wondering: since the Pro 3 has WearOS according to Amazon, shouldn't it already be capable of working as collector with the xDrip smartwatch app? I never tri

[2021-02-26 12:45] nexero commented on #1410
Here's his PR: #1659

[2021-02-26 12:57] Navid200 commented on #1624
Thanks for answering my questions.
So, it is a matter of convenience, not necessity.  That's really what I wanted to confirm.

May I ask you to please have a look at this open issue?
https://github.com/NightscoutFoundation/xDrip/issues/813

This guy is waking up his wife every night.  And we have told him to put up with it.  We have not made the modification to xDrip to address his issue.

Compari

[2021-02-26 13:01] Navid200 commented on #1643
I understand the question.
Is there a point in making the code more complicated just to accomplish something that is not necessary?

Where do we draw the line?
When do we say, yes this can be done, but, please let's wait for a few more developers to join the very small group before we continue to make the xDrip code more and more complicated?

[2021-02-26 13:15] Navid200 commented on #1467
Closing this as it is a nice-to-have and not a necessity.

[2021-02-26 13:16] Navid200 commented on #1416
Closing this as it is a nice-to-have, not a necessity.

[2021-02-26 13:20] #184 closed

[2021-02-26 13:24] Navid200 commented on #642
@alexmoir1  If your followers are using the Nightscout follower option, you can disable the xDrip sync on the master, which will stop getting the max sync queue size exceeded error.

On the master, go to the following page:
Settings -> xDrip+ Sync Settings, and deselect "Be master for followers".

[2021-02-26 13:25] tolot27 commented on #1062
The reason and possible solutions are documented here: https://stackoverflow.com/a/36798830

[2021-02-26 13:32] tolot27 commented on #1643
This is a nice-to-have feature with low user impact. We postpone it until we have more developers.

[2021-02-26 13:32] #1643 closed

[2021-02-26 13:44] Navid200 commented on #905
There are different open issues about alarms.  They are not identical requests.  But, we can categorize all of them as requests for alarm customization.

The alarms are not identical in how they are set in xDrip.  It is as if someone created a few alarms.  Later, someone else added a few more alarms but did not bother using the same template used by the first developer.
Later, another person added

[2021-02-26 13:54] tolot27 commented on #905
Maybe the original request can be solved with Tasker. xDrip has implemented the Tasker API and with Tasker you can have different profiles based on different parameters, i. e. location.

[2021-02-26 13:56] Navid200 commented on #905
Thanks.  I will have to read up about the tasker.

But, do you think there is no reward if we make all the alarms use the same template?  Wouldn't that make it easier to maintain them?

[2021-02-26 14:14] Navid200 commented on #1484
Even though the title of the setting is "Battery optimization prompt", but if you set it, it will actually disable prompting you!
So, the default, being disabled, is what it should be.  That's why I closed this issue.

However, it would be good to rename the title to "No Bat opt Prompt" or something like that to represent what the setting does when set.  Right now, the title shows what happens whe

[2021-02-26 14:20] Navid200 commented on #1624
Just in case you haven't considered the option, you can see both the transmitter ID and the sensor code on the G5/G6 status page.  You can take a snapshot.  Every time, you place a new sensor, you can take another snapshot and replace the old one with it.

[2021-02-26 14:24] Navid200 commented on #1624
You can also find your calibration code in the event logs.  After you open the logs, if you search for "calibration code", you will see it.

[2021-02-26 16:40] Navid200 commented on #185
Closing this for now due to inactivity.
If the issue still persists and you have found no work-around, would you please update?

[2021-02-26 16:40] #185 closed

[2021-02-26 16:44] Navid200 commented on #328
If you like to reopen, would you please state if you are willing to make the required edits yourself?
Also, would you please explain the level of hardship if this is not implemented?
Thanks

[2021-02-26 16:44] #328 closed

[2021-02-26 16:46] Navid200 commented on #266
Closing due to inactivity

[2021-02-26 16:47] Navid200 commented on #267
Closing due to inactivity

[2021-02-26 16:47] #267 closed

[2021-02-26 17:01] Navid200 commented on #472
Closing due to inactivity

[2021-02-26 17:01] #472 closed

[2021-02-26 17:02] Navid200 commented on #490
Closing due to inactivity

[2021-02-26 17:02] #490 closed

[2021-02-26 17:03] Navid200 commented on #510
Closing due to inactivity

[2021-02-26 17:03] #510 closed

[2021-02-26 17:05] Navid200 commented on #516
@Mr-Enigma Would you please close this issue if your question has been answered already?
If not, would you please use the support channels for asking questioons?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-26 17:05] #516 closed

[2021-02-26 17:11] Navid200 commented on #534
Closing due to inactivity

[2021-02-26 17:11] #534 closed

[2021-02-26 17:13] Navid200 commented on #543
Closing due to inactivity

[2021-02-26 17:13] #543 closed

[2021-02-26 17:17] Navid200 commented on #546
Closing due to inactivity

[2021-02-26 17:17] #546 closed

[2021-02-26 17:18] Navid200 commented on #549
Closing due to inactivity

[2021-02-26 17:18] #549 closed

[2021-02-26 17:18] Navid200 commented on #557
Closing due to inactivity

[2021-02-26 17:18] #557 closed

[2021-02-26 17:23] Navid200 commented on #571
Closing due to inactivity

[2021-02-26 17:23] #571 closed

[2021-02-26 17:23] Navid200 commented on #575
Closing due to inactivity

[2021-02-26 17:23] #575 closed

[2021-02-26 17:24] Navid200 commented on #576
Closing due to inactivity

[2021-02-26 17:24] #576 closed

[2021-02-26 17:50] Navid200 commented on #609
Closing due to inactivity

[2021-02-26 17:50] #609 closed

[2021-02-26 17:51] Navid200 commented on #611
Closing due to inactivity

[2021-02-26 17:51] #611 closed

[2021-02-26 17:53] Navid200 commented on #621
Thanks, closing

[2021-02-26 17:53] #621 closed

[2021-02-26 18:02] Navid200 commented on #623
@Mr-Enigma Would you please ask using the support channels to see if this capability, or a work-around, already exists and please update this issue?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-26 18:02] dirceusemighini commented on #1007
By graph I mean if you were able to display the BG curve, and other infos like, arrow, how many it's going up/down, as a watchface.

[2021-02-26 18:08] Navid200 commented on #628
@Denksi Would you please close this issue if it has been resolved?
If not, would you please use the support channels to find out what the recommended settings are?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-26 18:09] Navid200 commented on #636
Closing due to inactivity

[2021-02-26 18:09] #636 closed

[2021-02-26 18:16] Navid200 commented on #719
@mistermintsgh what is the current status?
If you have not found a working solution, I wonder if you are willing to ask using the support channels and update here.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-26 18:18] Navid200 commented on #720
I am closing this issue not because it should not be implemented.  But, because it should be put on hold for now.  And I label it accordingly.

[2021-02-26 18:20] Navid200 commented on #690
Closing due to inactivity

[2021-02-26 18:20] #690 closed

[2021-02-26 18:26] Navid200 commented on #693
This thread contains lots of useful info.  We can still access it, and even add more comments to it, even when closed.
So, I hope no one minds my closing it.

[2021-02-26 18:26] #693 closed

[2021-02-26 18:29] Navid200 commented on #696
Unless anyone can propose a change to the xDrip code that can address this, I would like to close this issue.
We can still add comments to it if a work-around is ever found.
And we can also reopen it if it turns out that we can resolve it by an edit to the code.
Please update accordingly when needed.

[2021-02-26 18:30] Navid200 commented on #711
Closing due to inactivity

[2021-02-26 18:30] #711 closed

[2021-02-26 18:31] Navid200 commented on #712
Closing due to inactivity

[2021-02-26 18:31] #712 closed

[2021-02-26 18:34] Navid200 commented on #723
@dimis28 Would you please ask your questions using the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
If you have done your research and you are sure there is no work-around, and if you feel it is a critical feature that would benefit many users, you can open an issue as a feature request.
Thanks

[2021-02-26 18:35] Navid200 commented on #724
Would you please update the current status?

[2021-02-26 18:40] Navid200 commented on #728
Closing due to inactivity

[2021-02-26 18:40] #728 closed

[2021-02-26 18:41] Navid200 commented on #730
@tzachi-dar What is the status of this issue?

[2021-02-26 18:41] Navid200 commented on #731
Closing due to inactivity

[2021-02-26 18:41] #731 closed

[2021-02-26 18:43] Navid200 commented on #740
Closing due to inactivity

[2021-02-26 18:43] #740 closed

[2021-02-26 19:52] Navid200 commented on #742
Closing due to inactivity

[2021-02-26 19:52] #742 closed

[2021-02-26 19:53] Navid200 commented on #744
Closing due to inactivity

[2021-02-26 19:53] #744 closed

[2021-02-26 19:56] Navid200 commented on #747
@dave1812 Do you still need this?

[2021-02-26 19:57] #749 closed

[2021-02-26 20:01] Navid200 commented on #751
@Liknus Would you please close this issue if the original issue has been resolved?
Thanks

[2021-02-26 20:02] Navid200 commented on #756
Closing due to inactivity

[2021-02-26 20:02] #756 closed

[2021-02-26 20:04] Navid200 commented on #759
Closing due to inactivity

[2021-02-26 20:04] #759 closed

[2021-02-26 20:06] Navid200 commented on #762
If you like to reopen, please update what the possible work-around are and why they are unacceptable.

[2021-02-26 20:06] #762 closed

[2021-02-26 20:08] Navid200 commented on #763
If you like to reopen this issue, please update your current settings.

[2021-02-26 20:08] #763 closed

[2021-02-26 20:12] Navid200 commented on #794
@balconywood Would you please ask using  the support channels to hopefully find out what other users in similar situations may be doing?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Would you please update?
Thanks

[2021-02-26 20:13] Navid200 commented on #873
If you need to reopen this issue, would you please update?

[2021-02-26 20:13] #873 closed

[2021-02-26 20:15] Navid200 commented on #812
Closing due to inactivity

[2021-02-26 20:15] #812 closed

[2021-02-26 20:16] Navid200 commented on #835
Closing due to inactivity

[2021-02-26 20:16] #835 closed

[2021-02-26 20:18] Navid200 commented on #836
@ahaverty Can we close this considering you are not interested in it any longer?
It can still be seen even when closed.
Thanks

[2021-02-26 20:19] Navid200 commented on #845
Closing due to inactivity

[2021-02-26 20:19] #845 closed

[2021-02-26 20:20] Navid200 commented on #846
Closing due to inactivity

[2021-02-26 20:20] #846 closed

[2021-02-26 20:22] Navid200 commented on #855
Closing due to inactivity

[2021-02-26 20:22] #855 closed

[2021-02-26 20:24] Navid200 commented on #862
@haralha Would you please update considering what new options may have become available?
Thanks

[2021-02-26 20:26] Navid200 commented on #882
If you like to reopen this issue, would you please consult with other users to see what options or work-arounds may already be available and update this issue accordingly?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-26 20:26] #882 closed

[2021-02-26 20:29] Navid200 commented on #885
@jamespaulley Is this still the case?
Would you please consult with other users to see what options may be available?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-26 20:32] Navid200 commented on #888
Please reopen the issue when you figure out how to recreate the problem.
Thanks

[2021-02-26 20:32] #888 closed

[2021-02-26 20:35] Navid200 commented on #889
@haralha Can we close this issue?
If not, would you please provide a link to the other issue you opened, and explain why this one still needs to remain open?

[2021-02-26 20:36] Navid200 commented on #897
So, I close this issue.
If anyone experiences this problem, please provide details and we can reopen it.

[2021-02-26 20:36] #897 closed

[2021-02-26 20:38] Navid200 commented on #898
@haralha Would you please close this issue if it has been resolved, or if you are not experiencing it any longer?
Thanks

[2021-02-26 20:39] Navid200 commented on #901
Closing due to inactivity

[2021-02-26 20:39] #901 closed

[2021-02-26 20:46] Navid200 commented on #911
@pmarguelles Would you please close this issue if it has been resolved?
If not, would you please ask using the support channels to see what others may suggest?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-26 20:47] Navid200 commented on #912
@tzachi-dar What is the current status of this issue?
Thanks

[2021-02-26 20:49] Navid200 commented on #914
@MarkusSacramento Developers have made suggestions to help you.  I hope your problem is resolved.  If not, and you would like to reopen, please respond to the suggestions first.
Thanks

[2021-02-26 20:49] #914 closed

[2021-02-26 20:50] Navid200 commented on #915
If you like to reopen, please update the current status and what work-arounds exist.
Thanks

[2021-02-26 20:50] #915 closed

[2021-02-26 20:51] Navid200 commented on #921
Closing due to inactivity

[2021-02-26 20:51] #921 closed

[2021-02-26 20:52] Navid200 commented on #926
Closing due to inactivity

[2021-02-26 20:52] #926 closed

[2021-02-26 20:54] #836 closed

[2021-02-26 20:58] Navid200 commented on #963
If you need help restarting a G6, please access the instructions in the facebook group, or post in the Gitter room.

[2021-02-26 20:58] #963 closed

[2021-02-26 20:59] Navid200 commented on #956
Closing due to inactivity

[2021-02-26 20:59] #956 closed

[2021-02-26 21:01] Navid200 commented on #957
Closing due to inactivity

[2021-02-26 21:01] #957 closed

[2021-02-26 21:02] Navid200 commented on #958
Closing due to inactivity

[2021-02-26 21:02] #958 closed

[2021-02-26 21:05] Navid200 commented on #962
@jroth-haj Would you please explain what you are proposing clearly.  If needed, please update the title as well.
Please make it as easy as possible for a developer to understand what you are proposing.

[2021-02-26 21:05] Navid200 commented on #966
If you like to reopen this, please respond to the questions.

[2021-02-26 21:05] #966 closed

[2021-02-26 21:16] teleriddler commented on #1250
I am experiencing the same issue with a slightly different message.

Version: Nightly Feb 17th 2021

Issue:  View Logs and hit "upload", when screen loads to input email address the error below is shown "Could not package up all logs, using most recent.   Same thing when using "Send Feedback to a develop" as I am guessing the underlying function is related that packages and send the logs files.

E

[2021-02-26 21:19] teleriddler commented on #1250
Another user I was assisting with the same Feb 17th nightly version had the exact same issue running on Samsung M51.  I experienced it on my Samsung S7 Edge.

[2021-02-26 21:22] jroth-haj commented on #962
@Navid200
In xDrip predictive Simulation settings are the Profile values Insulin
sensotivity and carb ratio. xDrip Schuld able to get this settings from the
Nightscout Profile and also reread this settings If the Nightscout Profile
hast changed.

Navid200 <notifications@github.com> schrieb am Fr., 26. Feb. 2021, 22:05:

[2021-02-26 21:25] Navid200 commented on #962
Would you please explain how those parameters would get to Nightscout in the first place?

[2021-02-26 21:27] jroth-haj commented on #962
If a User has a Nightscout sync enabled, this values can bei read from Nightscout by enabling an new option "read Profile from Nightscout".
Only a one way sync from Nightscout to xDrip.

[2021-02-26 21:29] Navid200 commented on #962
Let me ask my question differently.
Before you can read those values from Nightscout, those values need to be loaded into Nightscout.
How are you doing to enter those parameters into Nightscout?

[2021-02-26 21:31] jroth-haj commented on #962
If the User wants to sync from Nightscout, he ist putting the values directly in his in Nightscout Profile.

[2021-02-26 21:33] Navid200 commented on #980
We currently can only hard reset, and perform preemptive restarts on, G6 if the firmware version is 1.6.5.25.  This includes all 80XXXX and some 81XXXX transmitters.

Only G6 transmitters with serial numbers starting with 80 and 81 transmit raw values.  Therefore, we can only use the non-native mode on those.

Restarting any G6 transmitter whose serial number does not start with 80 or 81 requires

[2021-02-26 21:33] #980 closed

[2021-02-26 21:39] tolot27 commented on #693
@IzzySoft Crashlytics was removed in one of the January nightly builds.

[2021-02-26 21:46] tolot27 commented on #719
This is a nice-to-have feature with no treatment impact. We postpone it until we have more developers.

[2021-02-26 21:46] #719 closed

[2021-02-26 21:51] tolot27 commented on #692
@nsghub Is the problem resolved, meanwhile? If not, please ask for help at the the support channels https://www.facebook.com/groups/xDripG5 or https://gitter.im/jamorham/xDrip-plus.

[2021-02-26 21:59] Navid200 commented on #962
I think I understand now.
The user has to enter the parameters into Nightscout.  And the user can enter the parameters into xDrip as well.  However, it would be convenient if the user could enter the information only once.  I suppose that's what you have been doing.
Please correct me if that is not correct.

I would like to point out that the xDrip code has become very complicated.  We are trying

[2021-02-26 22:02] Navid200 commented on #976
If you experience the issues described in the first comment in this issue, please update xDrip at least to the November 27, 2020 release.
And, please consult with the community to find out how everyone else is using xDrip.

[2021-02-26 22:02] #976 closed

[2021-02-26 22:38] Navid200 commented on #998
@definitivequestion When you go to the system status page, you are in xDrip.  There is no other component there.  You may have other apps running at the same time on your phone.  But, not inside xDrip.

We can always reopen this issue if needed.  But, I am going to close it now and hope that xDrip serves you well.

[2021-02-26 22:38] #998 closed

[2021-02-26 22:42] Navid200 commented on #1503
@nickb24 is this issue a duplicate of the following?
https://github.com/NightscoutFoundation/xDrip/issues/999

[2021-02-26 22:48] IzzySoft commented on #693
Confirmed that's gone, but my library scanner reports a.o.

* Google Maps API (`/com/google/android/gms/maps`): NonFreeDep,NonFreeNet
* Android Wear APIs (`/com/google/android/gms/wearable`): NonFreeDep
* Google Mobile Services (`/com/google/android/gms`): NonFreeDep
* Firebase (`/com/google/firebase`): NonFreeNet,NonFreeDep
* New Relic (`/com/newrelic/agent`): Tracking
* Locale (`/com/twofortyfou

[2021-02-26 22:59] Navid200 commented on #962
I would like to bring to your attention a different issue:
https://github.com/NightscoutFoundation/xDrip/issues/813

It's basically someone stating that when the alarm goes off, he has no control over the volume.  He finds even the lowest level, being medium, too loud.  he is asking for a lower volume.
He has no work-around.  I guess he can stop using xDrip.  But, that's not a work-around.
Your is

[2021-02-26 23:13] Navid200 commented on #1008
Ideally, you will give factory calibration a chance after moving from G5 to G6.
I didn't at first.  But, eventually, I did and have never looked back.
I occasionally test my blood glucose to confirm the accuracy of G6.  But, I never find a reason to calibrate (with a new sensor).

After a restart, it's a different story.
I then need to calibrate, and do and have no problem doing that.

I use "Init

[2021-02-26 23:13] #1008 closed

[2021-02-26 23:14] Navid200 commented on #1036
Closing due to inactivity

[2021-02-26 23:14] #1036 closed

[2021-02-26 23:18] Navid200 commented on #1063
@t12lo Would you please close this issue if it has been resolved?
If not, would you please ask using the support channels to see what others are doing?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-26 23:21] Navid200 commented on #1064
@Mr-Enigma Would you please close this issue if it has been resolved?
You can get a lot of info from the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
You may find out how others are using the same devices you are considering.
Thanks

[2021-02-26 23:37] tolot27 commented on #693
This issue was about Google Play Store availability. For F-Droid, please read and continue at #902.

[2021-02-26 23:39] tolot27 commented on #999
Duplicate of #1503.

[2021-02-26 23:39] #999 closed

[2021-02-26 23:52] Navid200 commented on #999
Shouldn't we close the newer issue and maintain the older one to encourage people to not open duplicate issues?
It may also serve the community better to show the developers that the issue in fact has been waiting a longer time.
If we close the older issue, we remove part of the history.

[2021-02-26 23:54] IzzySoft commented on #693
It was you who pinged me about it here :wink: Apart from that, my comment was unrelated to the distribution channel. But no worries, I won't prolong that here (actually I already had unsubscribed from this issue, just your explicit ping brought me in again; so I'll unsubscribe again now to not be tempted :see_no_evil:)

[2021-02-26 23:58] viq commented on #1647
I did a stop and start on the same one, since it's still working fine as far as I can tell. Though I'm not sure it'll continue doing so long enough to get conclusive results within it's lifetime.

[2021-02-27 00:01] Navid200 commented on #1647
So, after you did initial calibration, the next time looking at the top left menu, you had add calibration instead of the same initial calibration, right?

[2021-02-27 00:02] viq commented on #1647
Yes.

[2021-02-27 00:13] Navid200 commented on #1647
Great.
If it ever performs a restart on day9, please post here and we will reopen.  I don't think that will happen.

For now, I close this.

[2021-02-27 00:19] #1084 closed

[2021-02-27 00:20] Navid200 commented on #1091
Closing due to inactivity

[2021-02-27 00:20] #1091 closed

[2021-02-27 00:22] jroth-haj commented on #962
I'm glad that you are checking all open issues.
If the number of open issues ist reduced, you can concertrate to it and you can create a roadmap for nee features or for a compleate redesign of the code.
That will be good for the future.
Yes, I accept your decision.
Thank you all for the great work!

[2021-02-27 01:11] Navid200 commented on #1095
@edjen54 Would you please close this issue if it has been resolved?

[2021-02-27 01:12] agniabakush commented on #1007
No, I'm not

[2021-02-27 01:20] Navid200 commented on #1098
@steve8x8 Would you please add your suggestions to https://github.com/NightscoutFoundation/xDrip/issues/833

[2021-02-27 01:20] #1098 closed

[2021-02-27 01:23] Navid200 commented on #1099
This looks like a duplicate:
https://github.com/NightscoutFoundation/xDrip/issues/429
Please let me know if you think it is not.
If it is, please add your comments there.

[2021-02-27 01:23] #1099 closed

[2021-02-27 01:26] Navid200 commented on #1105
I am going to close this because the unfortunate incident has moved you to look for alternatives.
We can always reopen this if needed.

[2021-02-27 01:26] #1105 closed

[2021-02-27 01:28] Navid200 commented on #1112
@arturusdent Would you please close this issue if it has been resolved?
If not, please update.
Thanks

[2021-02-27 01:31] Navid200 commented on #1113
@chrismcgt1d Would you please close this issue if your questions have been answered?
If not, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-27 01:41] #1112 closed

[2021-02-27 01:53] Navid200 commented on #1120
@Seithx What do you currently use for this?
When you ask for a new feature, it is very helpful to help the developers appreciate the before and after.
Without it, there is no way to feel what hardship they are trying to resolve.

We need to prioritize the requests.

But, it is not clear to me what you are asking
For example "App will run all defined functions using a predefined setting" is too vag

[2021-02-27 01:54] Navid200 commented on #1123
Closing due to inactivity

[2021-02-27 01:54] #1123 closed

[2021-02-27 01:56] Navid200 commented on #1127
Closing issue as it has been resolved the next day.
Please kindly close the issue you open if you don't need support any longer.

[2021-02-27 01:56] #1127 closed

[2021-02-27 02:00] Navid200 commented on #1133
Closing due to inactivity

[2021-02-27 02:00] #1133 closed

[2021-02-27 02:02] Navid200 commented on #1134
@wjz615 Would you please close this issue if it has been resolved?
Otherwise, please update.
Thanks

[2021-02-27 02:04] Navid200 commented on #1137
@felixsanz Would you please close this issue if your question has been answered.
If not, you can sue the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-27 02:15] Navid200 commented on #1143
Closing due to inactivity

[2021-02-27 02:15] #1143 closed

[2021-02-27 02:19] Navid200 commented on #1146
@yangkyunghwan Would you please close this issue if it has been resolved?
Otherwise, you can use the support channels for guides and finding out what other users do in similar situations.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-27 02:27] Navid200 commented on #1287
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/1147

[2021-02-27 04:18] Navid200 commented on #1483
Also, not everyone uses mg/dL.

This is a snapshot of the code that creates the grid.

![Screenshot 2021-02-26 231108](https://user-images.githubusercontent.com/51497406/109375084-f74f0080-7887-11eb-89c0-9a943447071a.png)

You can see that if you use mg/dL, the grid is 50.
That translates to a grid size of 50 / 18 = 2.777 mmol/L.  That obviously is not as clean as 50.
The result is : 2.8, 5.5, 8.3

[2021-02-27 09:19] felixsanz commented on #1137
Did you even read anything here? Obviously it has not been answered. I tried to contributed and no one gave any help, i just felt ignored. So no, it's not answered and i'm not going to close it. Close it unanswered if you want.

[2021-02-27 09:56] #1113 closed

[2021-02-27 13:34] nickb24 commented on #1503
I think it's related but not a duplicate.

[2021-02-27 14:03] Navid200 commented on #1137
It could have been answered somewhere else.  I have no idea if you have asked the same questions somewhere else or not.  Hence, the question.

No one is paid here to answer your questions or anyone else's.

What do you mean by "It's so bright that i can't even sleep with that flashlight lol"?
Can't you lower the brightness level of your phone?

[2021-02-27 14:12] Navid200 commented on #1287
This is an issue I would like resolved because it affects many.  It doesn't help opening multiple issues because it may imply that a smaller group are impacted.   Instead, I suggest adding your voices to the existing issue.
Also having redundant issues open takes attention away from other open issues that also need to be addressed.
So, I am closing this issue.  If you like to add your voice, pleas

[2021-02-27 14:12] #1287 closed

[2021-02-27 14:14] Navid200 commented on #1157
If you have a similar issue, please first consult with the user community.  Links provided above. Please only open an issue if you are sure there is no solution with xDrip as is.
Please open an issue only to report a bug or to submit a feature request with no work-around.
Please don't open an issue just to ask a question.
Thanks

[2021-02-27 14:14] #1157 closed

[2021-02-27 14:16] Navid200 commented on #1159
Interesting.
May I ask if this is still the case with more recent releases?

[2021-02-27 14:19] Navid200 commented on #1162
Is this still the case?
What xDrip release have you tried?   What phone and what Android release?
Thanks

[2021-02-27 14:21] Navid200 commented on #1163
@kalleelmer Have you asked from the user community?
You can do that using the following.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-27 14:27] Navid200 commented on #681
Would you mind adding your voice to the issue that had been opened before this one?
https://github.com/NightscoutFoundation/xDrip/issues/414
I am identifying duplicate or similar issues and asking people to consolidate.
Thanks

[2021-02-27 14:28] Navid200 commented on #1165
Please add your voice to the existing issues.
https://github.com/NightscoutFoundation/xDrip/issues/414

[2021-02-27 14:28] #1165 closed

[2021-02-27 14:29] Navid200 commented on #1167
Closing due to inactivity

[2021-02-27 14:29] #1167 closed

[2021-02-27 14:31] Navid200 commented on #1170
If you find this thread because you have a similar issue, please ask the user community before opening an issue.
Currently, we have the following two channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

Only open an issue if you have confirmed there is a bug or if you want to ask for a feature that has no work-around.
Thanks

[2021-02-27 14:31] #1170 closed

[2021-02-27 14:34] Navid200 commented on #1171
Please consult with the user community.  Currently, we have the following two channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Please open an issue only if you have confirmed there is a bug and you are sure there isn't one already filed.  Or, if you want o submit a feature request that has no work-around and there is no existing issue already for it.
Thanks

[2021-02-27 14:34] #1171 closed

[2021-02-27 14:35] Navid200 commented on #1178
Closing due to inactivity

[2021-02-27 14:35] #1178 closed

[2021-02-27 16:05] Navid200 commented on #1180
Closing due to inactivity

[2021-02-27 16:05] #1180 closed

[2021-02-27 16:08] Navid200 commented on #1183
@phrogg Would you please consult with the user community first before opening an issue here?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-27 16:12] Navid200 commented on #1186
@hannahshone Would you please close this issue if it has been resolved?
If not, would you please consult with the user community first?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

Please only open an issue here if you have already confirmed that there is a bug or you are requesting a feature that has no work-around and there isn't already an open issue about it.

[2021-02-27 16:15] phrogg commented on #1183
@Navid200 I will have a look in gitter since I don't use fb. But thanks though. I close this as I don't use blucon anymore since I could not get it to work. @felixsanz

Thanks though.

[2021-02-27 16:15] #1183 closed

[2021-02-27 16:18] Navid200 commented on #1183
Thanks,
You can always reopen this if it turns out that indeed there is an issue with xDrip and there is no work-around.
We currently have too many requests.  We are going through all the open issues hoping to prioritize and help developers having a limited number of issues.
We currently have so many duplicate issues and issues that are just questions.

Thanks a lot for your cooperation

[2021-02-27 16:21] Navid200 commented on #1187
Would you please provide more detail?

What would be the benefit of hiding the password from the person who already has the phone unlocked?

If someone has entered the password and has made a mistake, they will have to re-enter the entire password again if they cannot see it all.   But, how are they going to be sure that it is the password that is wrong if they cannot see it?

[2021-02-27 16:23] Navid200 commented on #1193
Closing as it seems you found a solution.
Thanks

[2021-02-27 16:23] #1193 closed

[2021-02-27 16:24] Navid200 commented on #1197
Closing due to inactivity

[2021-02-27 16:24] #1197 closed

[2021-02-27 16:24] Navid200 commented on #1198
Closing due to inactivity

[2021-02-27 16:24] #1198 closed

[2021-02-27 16:33] Navid200 commented on #1199
This is a summary of what can or cannot be done with respect to G6 restart today.

You can only perform preemptive restart if the firmware version (shown on system status page) is 1.6.5.25.  That include all 81XXXX and some of 81XXXX.

If the serial number does not start with 80 or 81, the only way to restart requires temporary removal of the transmitter from the sensor.
One place you can see deta

[2021-02-27 16:33] #1199 closed

[2021-02-27 16:38] Navid200 commented on #1200
What is the status of this issue please?
Thanks

[2021-02-27 16:39] Navid200 commented on #1203
Closing due to inactivity

[2021-02-27 16:39] #1203 closed

[2021-02-27 16:42] Navid200 commented on #1215
@opticyclic Would you please ask your questions from the user community?
https://www.facebook.com/groups/cgminthecloud
https://gitter.im/jamorham/xDrip-plus
After you do that, please only open an issue here if you are certain that you have identified a bug or if you have a feature request that has no work-around.
Thanks

[2021-02-27 16:47] Navid200 commented on #1221
@FreThor Would you please use the support channels, to consult with the user community, before opening an issue?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

I am closing the issue.  If you like to reopen it, would you please respond to tolo27?

Thanks

[2021-02-27 16:47] #1221 closed

[2021-02-27 16:49] Navid200 commented on #1222
Closing due to inactivity

[2021-02-27 16:49] #1222 closed

[2021-02-27 16:53] Navid200 commented on #1232
@nhatier I'm sorry that we cannot implement every feature request.
If I understand you correctly, you can just ignore the values that are too high as a work-around.  Please correct me if you believe that statement is incorrect.

[2021-02-27 16:54] felixsanz commented on #1137
brightness of my phone? did you read the title of the issue?

[2021-02-27 17:06] Navid200 commented on #1137
Please use the support channels to find out if the user community may have any suggestions.
What do others who use the same device do?
Many of the developers frequent those also.

If all the users are facing the same issue, please reopen the issue.

Thanks

[2021-02-27 17:06] #1137 closed

[2021-02-27 17:09] Navid200 commented on #1234
I have successfully used an 8QXXXX transmitter in no-code mode with xDrip by entering 0000 as the calibration code.
Of course, doing that disables factory calibration.  I tried it once after a restart and indeed there was no error after the 2-hour warm-up.
However, I prefer using the 4-digit code even after a restart and putting up with the two required calibrations after to correct the error.

[2021-02-27 17:09] #1234 closed

[2021-02-27 17:14] Navid200 commented on #1235
Never calibrate when the trend is not flat or at least very close to flat.
https://youtu.be/o6bEJ3wko4g

Disable double calibration.
Use initial calibration to calibrate.  After a restart, you need to wait about 15 minutes for the initial calibration option to appear.  You will get error log messages about the incorrect slope.  But, you will also see a log stating the calibration has been accepted

[2021-02-27 17:14] #1235 closed

[2021-02-27 17:24] Navid200 commented on #1229
Isn't the plugin a calibration plug-in?
I'm just wondering if I labeled it correctly.  Please let me know if not.
Thanks

[2021-02-27 17:26] Navid200 commented on #1230
@dools55 Would you please close the issue if your question has been answered?
Thanks

[2021-02-27 17:27] Seithx commented on #1120
Hello,

Let me try and demonstrate what I want.

![IMG-20210227-WA0002](https://user-images.githubusercontent.com/46000455/109394757-4735d200-7931-11eb-99f9-ab2f965165ad.jpg)
![IMG-20210227-WA0001](https://user-images.githubusercontent.com/46000455/109394758-4866ff00-7931-11eb-9796-1d57d29fb3fb.jpg)
![IMG-20210227-WA0000](https://user-images.githubusercontent.com/46000455/109394760-48ff9580-7931-1

[2021-02-27 17:30] Navid200 commented on #1236
@Feromrk Thanks for your contribution.
We would like to improve documentation.  I hope we can benefit from your expertise.
We are organizing the open issues.

You have done excellent work.  But, this is not an issue.  I ask you to please close this issue.
You can use the support channels to communicate with the user community.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDri

[2021-02-27 17:30] #1230 closed

[2021-02-27 17:31] Navid200 commented on #1238
You can use the support channels to consult with the user community.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-27 17:53] Navid200 commented on #1120
I am so puzzled!
Are you saying all you wanted is what the  following single line describes?

Please add a third option to the threshold of the falling fast and rising fast alarms equal to 0.1mgdl?

Unless I am still not understanding.

[2021-02-27 17:56] Navid200 commented on #1242
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/1016

[2021-02-27 17:56] #1242 closed

[2021-02-27 17:59] Navid200 commented on #1249
@4510003 Would you please close the issue if it has been resolved?
Otherwise, would you please use the support channels to find out what others are doing, and update?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-27 18:01] Navid200 commented on #1271
@siblues Would you please close this issue if it has been resolved?
Otherwise, would you please use the support channels to find out what the user community suggests?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Then, please update.
Thanks

[2021-02-27 18:16] Navid200 commented on #1273
This is a very good idea.  Would you please add your voice to the existing issue?
https://gitter.im/jamorham/xDrip-plus
I am going to close this.  But, if you believe this should have a different issue, you can always reopen.

[2021-02-27 18:16] #1273 closed

[2021-02-27 18:21] Navid200 commented on #1279
I don't see either one of the two logs for a few days now.
If anyone still sees them, please ensure you are using a recent release (Feb. 11, 2021).  And, please post a screenshot of the logs.

[2021-02-27 18:21] #1279 closed

[2021-02-27 18:35] emp-00 commented on #650
+1 --- enhancement highly appreciated ---
I also posted this in #1273 (was closed due to duplicate with this issue)

[2021-02-27 18:37] felixsanz commented on #1137
don't worry i left the contribute idea more than a year ago. not worth here.

[2021-02-27 18:38] Seithx commented on #1120
Oh, Im sorry, thought this was the thread about the threshold thing!

If you could refer my last comment to that, would be better, to avoid confusion.

App will run all defined functions using a predefined setting, say = screen on all the time every shabbath at time X, disable all unrelated operations (say, wifi, 4g) besides required functionality for Xdrip....

All functions required are mentione

[2021-02-27 18:38] felixsanz commented on #1137
closing issues just for the sake of closing is not solving anything. but if you're happy with it.... i guess that's your work now, clean issues and hide them since no one care :)

[2021-02-27 18:52] Navid200 commented on #1280
Thanks.
I hope you don't mind my closing the issue then.
You can reopen it of course.

For info, the "Sensor Status" on the G5/G6 status page comes from the transmitter.
While "Sensor Start" on the classic status page comes from xDrip itself.
If you establish connectivity to a session in progress, using xDrip, you will have a discrepancy between those two until the next sensor start (or restart).

[2021-02-27 19:04] Navid200 commented on #1137
There is absolutely no way I personally can answer your question.

There are only a few developers.  They are very busy.  They are volunteers.  We are closing many issues that have been opened just for asking questions.
We are asking people to cooperate with us to coordinate the issues so that we can prioritize.

We ask people to consult with other users before opening an issue.

Many of us have b

[2021-02-27 20:47] Navid200 commented on #1328
The first post states that lots of settings have been changed.
That's always the first step, correct the settings.
Ask for the recommended settings using the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-27 20:48] Navid200 commented on #1333
Please reopen the issue when you have the details.

[2021-02-27 20:48] #1333 closed

[2021-02-27 21:03] Navid200 commented on #1310
I can successfully calibrate a G6, currently using an 8QXXXX.  But, I have done it on 8J and 81 as well.

There are event logs that suggest xDrip is rejecting the calibration.  Nevertheless, the transmitter accepts them, which is all that matters in native mode.

When I need to calibrate, which is limited to when I restart a G6 sensor, I use "Initial calibration" from the top left menu.
I have dis

[2021-02-27 21:13] Navid200 commented on #1359
There have been changes to Android and xDrip since you opened this issue.
The first thing to do is to update to an xDrip release of November 27, 2020 or after.

Then, you need to get the correct xDrip settings.  For that, you can go to the support channels.
For example, here:  https://www.facebook.com/groups/xDripG5/permalink/4838757582864365

You can always re-open this issue.  But, please try th

[2021-02-27 21:13] #1359 closed

[2021-02-27 21:15] Navid200 commented on #1360
Would you please write down what you mean by the behavior you are questioning?
And also please explain the behavior you expect.

[2021-02-27 21:22] Navid200 commented on #1379
If you have no Sync followers, you don't need the sync feature.
You can also use Nightscout follower scheme with no need to Google.

You can reopen the issue if you like.  But, I don't think we are going to remove the Google dependency right now as one of the available synch mechanisms (xDrip+ Sync Follower) depends on it.  The user doesn't have to use that mechanism.
It may eventually be removed.

[2021-02-27 21:22] #1379 closed

[2021-02-27 21:27] Navid200 commented on #1384
@Cindy65 Would you please ask the user community first?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-27 21:28] Navid200 commented on #1387
Closing due to inactivity

[2021-02-27 21:28] #1387 closed

[2021-02-27 21:38] Navid200 commented on #1398
We are asking people to use these issues to either report a bug, after having consulted with the user community, or to request a new feature, only if there is no work-around.

Unless I misunderstand, this issue is neither (please let me know if I have misunderstood) and rather is about your work to gather data about G6 failure.  That is a very useful effort.  Thanks for doing it.  After we improve

[2021-02-27 21:40] Navid200 commented on #1399
@blockrockin Would you please ask questions from the user community first?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
If you have done that already, please update with your findings.
Thanks

[2021-02-27 21:43] Navid200 commented on #1404
@0xBABA Would you please close this issue if it has been resolved?
If not, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-27 21:45] tolot27 commented on #999
Indeed, but this is only relevant for newly created issues and not such an old issue which was not addressed, unfortunately.

[2021-02-27 21:46] tolot27 commented on #1503
Please can you elaborate this in more detail?

[2021-02-27 21:52] Navid200 commented on #999
I had completely overlooked that both issues had been opened by the same person.  Thanks for pointing that out.

[2021-02-27 21:55] Navid200 commented on #1407
So, I suggest we close this issue.
We don't have the bandwidth to address all the issues that we can experience and test.  Let alone those that the person who has discovered them is not using xDrip any longer.
We cam always reopen it.

[2021-02-27 21:58] #374 closed

[2021-02-27 22:06] tolot27 commented on #1137
Navid does not close issues just for the sake of closing, even if it appears at the first look. He screens most of the issues and try to understand what the questions, problems and ideas are. If he find out it is a support question, he redirects the user to the support channels. If he decide it is a feature, he suggest to discuss this at the support channels because there are much more people join

[2021-02-27 22:13] Navid200 commented on #1461
@Gonzmdv This is fascinating!
I know that G6 has two slots.
I know that the Dexcom receiver and the t:slim pump use one slot; and xDrip (phone) and the Dexcom app use the mobile slot.

What you are describing, I had never heard before.  It may suggest that your watch also requires the second (receiver) slot.

By any chance, have you had any other observations you can share?

[2021-02-27 22:27] tolot27 commented on #1120
@Seithx Maybe the Always On Display (#1625) is an option for you. You can also try Tasker to configure your requirements. Some infos can be found in issue #122.
The few developers actively working on xDrip don't have time to implement every feature, especially not, if workarounds (may) exist.

[2021-02-27 22:27] #1120 closed

[2021-02-27 22:31] tolot27 commented on #1186
@leoussis Bluejay will never support Libre because this is not possible.

[2021-02-27 22:36] tolot27 commented on #1182
@master3395 I assume your problem is solved, meanwhile and the most recent nightly builds should not be affected anymore.

If you still have the problem, please reopen this issue.

[2021-02-27 22:36] #1182 closed

[2021-02-27 22:45] fezulin commented on #1360
![xDrip](https://user-images.githubusercontent.com/16593716/109402315-34cd8f80-7955-11eb-8867-1bc6a5db19d9.png)
Here two screenshots to explain the behaviour. The left screenshot was taken from xDrip version before 02/2020. Right screenshot was taken from current nightly (20210217).
For each screenshot I did the same: Comming from mainscreen of my mobile, I swipe down once from the very top of the

[2021-02-27 22:56] tolot27 commented on #1360
Thanks for the detailed description. That helps alot. Please also add information about screen size.

[2021-02-27 22:57] Navid200 commented on #1360
This is mine, which is February 17, 2021.
![Screenshot_20210227-174859](https://user-images.githubusercontent.com/51497406/109402611-29fb0680-7925-11eb-83d0-f292c00f606f.png)

Does it have the problem?

[2021-02-27 23:16] fezulin commented on #1360
@Navid200 : No, your screen looks the way I would like mine to look. :o)
@tolot27 : HTC U11, Android 9, QHD with 1.440 x 2.560 Pixel.

[2021-02-28 00:05] Navid200 commented on #1463
Are you saying if you don't have access to WiFi for a while, you will have to restart the phone or else, upload to Nightscout stops indefinitely?

Would you please show a snapshot of your screen after this happens showing WiFi symbol in the notification area and showing the xDrip event logs stating that the upload is still failing?

If your reference is the Uploaders status page, you can ignore th

[2021-02-28 00:24] nickb24 commented on #1503
Essentially if you look at the developer documents here: https://developer.android.com/training/notify-user/channels you can see that when a notification group is created the user is supposed to have the ability to click on the group and then get additional settings. You can see that with any other app that I have on my phone (Pixel 2, Android 11).

I think the two issues are related because they

[2021-02-28 01:24] blockrockin commented on #1399
thanks i did.. from what i could find out it is only possible to collect every 10 min with the tic watch pro as of now ,

[2021-02-28 01:25] Navid200 commented on #1399
Do you think anything can be done from the xDrip side to change that?

[2021-02-28 01:29] Navid200 commented on #813
@zshh It is dangerous to lower the volume too much.  What if doesn't wake you up?

Can we focus on the ascending volume issue?
Can you explain what the issue is?  I have noticed that it could skip the entire alarm clip depending on what the clip is.  But, I have never spent time on it to try to figure out why.
But, I have chosen files that it plays and I have no problem with it.

Do you mind givin

[2021-02-28 01:35] blockrockin commented on #1399
yes i believe their might be  a way to make it happen.  if  someone wanted   to spend time working on that with the xdrip code.? ..   i would love it.   i would like a more updated watch..  but i keep going back to using the sony sw3 because they work so well every 5 min.. .   im keeping my fingers crossed someone might be able to make it happen some day. that would be great !

[2021-02-28 09:15] 0xBABA commented on #1404
Hi @Navid200. For me this hasn't been resolved, I just keep using the Xdrip watch face instead of anything else.
I already tried the Facebook group on this issue in the past and received no response there, so if there's no point in this issue remaining open I can close it.

[2021-02-28 12:09] jamespaulley commented on #885
Sorry I'm not sure if this has been fixed, I'm not using the xDrip watch face atm, started using AAPS face instead.

[2021-02-28 17:06] wbrettw commented on #1394
Version 2.3.0 -UK is available here:
https://apkfab.com/freestyle-librelink-uk/com.freestylelibre.app.gb
I'm compiling info on how to patch the UK version and get it to bypass license authentification and upload to LL-UP etc.
I will post it on the AndroidAPS Facebook group.

[2021-02-28 18:17] gruoner opened #1661 "FR: upload and download xdrip config from / to central server"
after outage of my mobile i needed to restore the whole xdrip config (data collector, uploads, alarms....) and that was really a lot of work. So i want to store (and restore if needed) the whole xdrip config (and maybe the whole database) on a central config server.

Whenever a preferences change occurs an upload should be triggered to send the actual config after x minutes without preference-chan

[2021-02-28 20:20] Navid200 commented on #1661
The best way to keep my blood glucose readings safe is Nightscout.   For example, if I lose my phone, all my glucose history, that is on the phone, will not be lost.

If I backup my database, I will not be able to impost it.  If I do, it will overwrite what I have.  So, unless I import it into a phone that I have never used, it's useless.  And if I import a database I saved 2 days ago, obviously,

[2021-02-28 20:53] gruoner commented on #1661
backing up database is just for users not using any cloud-upload-option - for all the others its useless; i agree
but i see your point with device-specific config; as i'm always using samsung i couldn't see any differences while copying a really old backup to the new phone (newer version of xdrip...).
The use case a had last weeks was quite simple: my phone broke up and i didn't have an actual bac

[2021-02-28 21:25] Navid200 commented on #1661
I wish we could simplify the xDrip code instead of making it even more complicated than it already is.
You are right, there are too many settings.
If we keep approving feature requests, it is only going to get worse.

Your solution is to make it easier to backup the settings so that having too many settings is not a problem any longer.
I have to disagree.  I don't disagree that it will make backin

[2021-02-28 22:02] Navid200 commented on #380
Closing due to inactivity

[2021-02-28 22:02] #380 closed

[2021-02-28 22:08] Navid200 commented on #642
@alexmoir1 Can we close this issue?
Do you have any questions about what I suggested?

[2021-02-28 22:09] Navid200 commented on #647
Please ask the user community to see what options may exist.

[2021-02-28 22:09] #647 closed

[2021-02-28 22:10] Navid200 commented on #654
Closing due to inactivity

[2021-02-28 22:10] #654 closed

[2021-02-28 22:12] Navid200 commented on #722
Closing due to inactivity

[2021-02-28 22:12] #722 closed

[2021-02-28 22:14] gruoner commented on #1661
i see your point but have to totally disagree - after rising my PR for multi insulin i had have a discussion with jamorham whether we want to start a new release train with a dedicated feature set for "more sophisticated users". his vote was really clear - no new train.
This flood of feature switches is a direct consequence and we are getting lots of more features and switches - at least i'm runni

[2021-02-28 22:14] alexmoir1 commented on #642
Hi, the master is Diabox. I'm just running xdrip as follower. Clearing data fixes the issue, but it's not very elegant. Feel free to close the issue.

[2021-02-28 22:20] Navid200 commented on #642
So, you get this pop-up on the follower?

Can I ask what hardware data source you have selected for the follower on Settings -> Hardware Data Source?

[2021-02-28 23:01] Navid200 commented on #1661
I am hoping that I can fix 193 myself.  But, I have to learn a little bit first.  That's not a problem.  But, it may take me a while.
That was just an example I was using to point out that we have open issues and I would like to close them even if I myself am not affected.
jamorham could have just compiled the code and used it for himself.  But, he chose to offer it to everyone.
xDrip serves a lar

[2021-02-28 23:13] alexmoir1 commented on #642
Nightscout Follower

[2021-02-28 23:58] Navid200 commented on #642
What do you see on the follower on the following page?

Settings -> xDrip+ Sync Settings

[2021-03-01 00:04] Navid200 commented on #968
@gibbandrew Would you please use the support channels, instead of opening an issue, for asking questions?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Would you please close this issue?
Thanks

[2021-03-01 00:04] Navid200 commented on #970
Closing due to inactivity

[2021-03-01 00:04] #970 closed

[2021-03-01 00:09] Navid200 commented on #990
There is also Wiki
https://github.com/NightscoutFoundation/xDrip/wiki
We are hoping to improve the documentation.

[2021-03-01 00:30] Navid200 commented on #1017
Closing due to inactivity

[2021-03-01 00:30] #1017 closed

[2021-03-01 00:35] Navid200 commented on #1018
Closing due to inactivity

[2021-03-01 00:35] #1018 closed

[2021-03-01 00:36] Navid200 commented on #1019
@diybetes Would you please use the support channels for asking questions instead of opening an issue?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Would you please close this issue?
Thanks

[2021-03-01 00:39] Navid200 commented on #1020
@ph1l-l Would you please close this issue if it has been resolved?
If not, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-01 00:41] #1020 closed

[2021-03-01 00:44] Navid200 commented on #1027
We are asking people to use xDrip as is if they can.
We are asking people to use work-arounds instead of asking for nice-to-have features.
If you like to reopen this, you can.  But, I suggest you provide a good reason why this is necessary.

[2021-03-01 00:44] #1027 closed

[2021-03-01 00:45] Navid200 commented on #1032
Closing due to inactivity

[2021-03-01 00:45] #1032 closed

[2021-03-01 00:45] Navid200 commented on #1041
Closing due to inactivity

[2021-03-01 00:45] #1041 closed

[2021-03-01 00:46] Navid200 commented on #1042
Closing due to inactivity

[2021-03-01 00:46] #1042 closed

[2021-03-01 00:49] Navid200 commented on #1055
@kalleelmer Are you still experiencing this?
If yes, would you please provide the xDrip release?
Thanks

[2021-03-01 00:54] Navid200 commented on #1056
It seems the problem was resolved for the individual who opened this issue.
If anyone else has issues, would you please use the support channels to ask instead of opening an issue?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-01 00:54] #1056 closed

[2021-03-01 00:55] Navid200 commented on #1058
Closing due to inactivity

[2021-03-01 00:55] #1058 closed

[2021-03-01 01:04] Navid200 commented on #1061
If restarting your phone causes the xDrip readings to stop, please install an xDrip release of November 27, 2020 or later.
After that, if you experience connectivity issues, you will need to disable battery optimization of xDrip by Android, enable background location access, and use the recommended xDrip settings.

If you need help, please use the support channels.
https://www.facebook.com/groups/

[2021-03-01 01:04] #1061 closed

[2021-03-01 01:05] Navid200 commented on #1069
Closing due to inactivity

[2021-03-01 01:05] #1069 closed

[2021-03-01 01:06] #1082 closed

[2021-03-01 01:07] Navid200 commented on #1092
Closing due to inactivity

[2021-03-01 01:07] #1092 closed

[2021-03-01 01:10] Navid200 commented on #1147
Duplicate:https://github.com/NightscoutFoundation/xDrip/issues/193

[2021-03-01 01:10] #1147 closed

[2021-03-01 01:39] Navid200 commented on #1154
@gfornax Thanks for your contribution.
We are going through the open issues to organize and prioritize.
We are asking members to please use the support channels for sharing with and asking questions from the user community.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
I hope you will be OK with closing this issue.
Or, let me know what you think.
Thanks

[2021-03-01 01:48] Navid200 commented on #1239
You can ignore the messages.  Not, they still show up and have not been addressed yet.

[2021-03-01 01:51] Navid200 commented on #1293
Closing due to inactivity

[2021-03-01 01:51] #1293 closed

[2021-03-01 01:52] Navid200 commented on #1294
Closing due to inactivity

[2021-03-01 01:52] #1294 closed

[2021-03-01 01:56] Navid200 commented on #1301
Closing due to inactivity

[2021-03-01 01:56] #1301 closed

[2021-03-01 01:58] Navid200 commented on #1320
Closing due to inactivity

[2021-03-01 01:58] #1320 closed

[2021-03-01 02:01] Navid200 commented on #1329
Closing due to inactivity

[2021-03-01 02:02] Navid200 commented on #1363
Closing due to inactivity

[2021-03-01 02:02] #1363 closed

[2021-03-01 06:55] sulkaharo commented on #1463
Hi! We usually have the phone running on mobile data, I just used wifi to repro the issue as it's much easier to reproduce connectivity issues when you can unplug the wifi. :)

The problem is, something in xDrip causes it to be unable to recover after connectivity issues, for at least some data interruptions. xDrip reports this as a DNS error (probably coming from some part of the REST stack?) but

[2021-03-01 07:34] JimZam commented on #1394
@wbrettw you have to use version 2.3. See my post
https://www.elmundo.es/metropoli/series/2021/03/01/603b8966fc6c83f23e8b459c.html

[2021-03-01 07:37] GoudekettingRM commented on #1394
@twinko @sumnera ended up trying to figure it out, but nothing worked. Then I put on my next sensor and the problem was gone. Must've had a crappy first Sensor haha

[2021-03-01 07:39] JimZam commented on #1394
@wbrettw By the way, tzachi-dar developed a new way to pass libre data to xdrip without the patched app,
take a look at
https://gitter.im/LibreOOPAlgorithm/Lobby#

[2021-03-01 07:45] twinko commented on #1394
can you quote him please couldn't find anything

[2021-03-01 08:09] JimZam commented on #1394
@twinko start reading from December, I think. And keep on reading, there are a lot of issues and solutions posted.
And probably there are more than one developer involved, thanks to all of them.

[2021-03-01 12:26] Navid200 commented on #1463
If there is a bug that affects everyone, we would have heard about it by now, no?

But, it is possible that there is an issue that is triggered by your phone or one of your settings.
Another possibility is that what you are experiencing is expected.

What I am hoping we can do here, and the reason for my post, is to gather as much information as possible and to understand what is going on.  Hopefu

[2021-03-01 12:51] sulkaharo commented on #1463
I'll take new screen caps the next time time this happens. What information are you looking for in the caps? We never have wifi on in the phone so it'll be off in the caps - the only reason wifi was mentioned was it the easy way to reproduce this.

FWIW I made this ticket based on discussing it in Gitter after having pestered Jon about this reoccurring randomly over the last 3-4 years on multiple

[2021-03-01 13:05] Navid200 commented on #1463
The information I am looking for in the screenshot is WiFi or data (whichever) being available, and Nightscout upload failing.
This is the first question anyone who has never experienced this will probably ask.

It is not that I don't believe you.  It is that I know what the first question is going to be I will hear as soon as I mention this to someone and ask for help.
I need us to present this c

[2021-03-01 13:36] Navid200 commented on #193
The missed readings alarm uses the same sound file as the fast rising and fast falling alerts.

There is a claim that on Android 9 and below, the override silent mode also followed the setting of fast  rising and fast falling alerts.
Can anyone confirm that?

[2021-03-01 13:41] Navid200 commented on #193
@raduiliescu Do you still experience this issue?
What is the version of Android on your phone?

[2021-03-01 18:28] gruoner commented on #1661
i agree with u: we got a (in germany we call it) "eierlegende wollmichsau" - it does everything and it does it because someone needed / demanded those features and there wasn't any "better" container to let your features base on.
BUT who will decide which feature is "good" or "valueable" enough to get merged and which one isn't?? Exactly thats the point where my 4 feature branches are starting - n

[2021-03-01 18:47] kalleelmer commented on #1055
@Navid200 I have since moved from the Bubble transmitter to Libre 2 with the patched LibreLink app. This means i calibrate rarely so I haven't experienced this problem since the switch. The issue might still be present, but I wouldn't know.

[2021-03-01 18:48] kalleelmer commented on #1163
@Navid200 I am now using another watchface from AndroidAPS, so this is not applicable to my situation anymore and I don't know if the problem persists. From my point of view, the issue could be closed.

[2021-03-01 18:48] #1163 closed

[2021-03-01 18:49] kalleelmer commented on #1162
@Navid200 Closing this since I am now using AndroidAPS with Nightscout in upload-only mode, so I can't tell if the issue persists.

[2021-03-01 18:49] #1162 closed

[2021-03-01 19:53] tolot27 commented on #1661
@gruoner Maybe, it's time for you to join us at gitter. Navid and I are screening and tagging all open issues. Afterwards, we will categorize them and assign a severity and priority and maybe create some milestones. Our goal is to get a good overview and restructure the code to fix bugs efficiently and in a timely manner.

[2021-03-01 20:04] gruoner commented on #1661
gitter? how do u organize your "work" to get bugs fixed? u can contact me directly at gruoner-github@gmx.net

[2021-03-01 20:19] Navid200 commented on #1055
Thanks for your response.
In that case, leaving the issue open will not resolve the issue.  I will close it.  If anyone finds this issue and is experiencing the same issue, please post here and we can reopen the issue.

[2021-03-01 20:20] tolot27 commented on #1181
@nsghub It looks like you have blocked @Navid200, haven't you?
He and I are screening and tagging all open issues. Afterwards, we will categorize them and assign a severity and priority and maybe create some milestones. Our goal is to get a good overview and restructure the code to fix bugs efficiently and in a timely manner. That's a really boring job and sometimes not satisfying for users. We ar

[2021-03-01 21:26] #1407 closed

[2021-03-01 21:31] gfornax commented on #1154
Can be closed, at is was merely an announcement.

[2021-03-01 21:31] #1154 closed

[2021-03-01 23:06] Navid200 commented on #629
The resistance value reported for G6 transmitters whose serial number did not start with 80 or 81 was never correct.  Neither was the temperature.  The format Dexcom used to communicate was changed.  There is a pull request to correct xDrip to read the new format correctly.  In the meantime, both resistance and temperature have been removed from the recent releases of xDrip.  Hopefully, the pull r

[2021-03-01 23:06] #629 closed

[2021-03-01 23:11] Navid200 commented on #952
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/697

[2021-03-01 23:11] #952 closed

[2021-03-01 23:15] Navid200 commented on #981
@gruoner Can we close this issue please?
If not, would you please identify what actions need to be taken for closure?
Thanks

[2021-03-01 23:21] Navid200 commented on #1239
I am closing this issue.
There is already work in progress to update xDrip to provide correct messages.
You can use xDrip as is knowing what messages you can ignore.  This is not elegant and hopefully will be addressed soon.

[2021-03-01 23:21] #1239 closed

[2021-03-01 23:23] Navid200 commented on #1238
Closing due to inactivity

[2021-03-01 23:23] #1238 closed

[2021-03-01 23:25] Navid200 commented on #1290
Closing due to inactivity

[2021-03-01 23:25] #1290 closed

[2021-03-01 23:30] Navid200 commented on #1364
@emp-00 Can we please close this issue?
There are some people who are still using 1.6.5.25.  I don't think they are having difficult calibrating with recent releases of xDrip.  Please let me know if you disagree.
Thanks

[2021-03-01 23:31] Navid200 commented on #1374
I will be closing this issue soon.  We can always reopen it.
Please let us know if you are still experiencing this issue.

[2021-03-01 23:32] Navid200 commented on #1375
Closing due to inactivity

[2021-03-01 23:32] #1375 closed

[2021-03-01 23:52] Navid200 commented on #1392
@joshbohmer Based on your experience so far, do you feel that the required offset is always the same for you from sensor to sensor?
That's one of my main worries about this.  If we add this capability, we also have to worry about the possible impact on inexperienced people.  I worry that someone may see the option and just enable it and use the default value or ask on a forum and enter what someon

[2021-03-02 00:50] Navid200 commented on #1564
@LubomirKovalcik Are you still experiencing this?
If yes, by any chance, are you using the ascending volume profile?

[2021-03-02 01:43] LubomirKovalcik commented on #1564
No system sounds works correctly (like regular notifications or alarm).

Yes I am still experiencing this, but only on Xiaomi Redmi 9 (Android 10 + MIUI 11).
I also have follower settings on Samsung A70, and main collector is Mi9 (MIUI 11) and there is no such a problem.

I am not sure about ascending volume profile. I will have to check it somehow, but not quite sure where, because I could not fi

[2021-03-02 01:53] Navid200 commented on #1564
You can choose your volume profile:
Settings -> Alarms and Alerts -> Glucose Alerts Settings -> Alert Volume Profile

[2021-03-02 01:57] Navid200 commented on #1564
If we figure out what is common between the sound files that cause this, we may be able to identify a characteristic (size, name, format, ...) that is the problem and provide guidance to users how to avoid the issue.

Thanks for your work

[2021-03-02 03:03] Navid200 commented on #1268
Closing dur to inactivity

[2021-03-02 03:03] #1268 closed

[2021-03-02 03:09] Navid200 commented on #251
Closing due to inactivity

[2021-03-02 03:09] #251 closed

[2021-03-02 03:10] Navid200 commented on #244
Closing due to inactivity

[2021-03-02 03:10] #244 closed

[2021-03-02 03:13] Navid200 commented on #274
Please ask the user community before opening an issue.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-02 03:13] #274 closed

[2021-03-02 03:15] Navid200 commented on #309
Please consult with the user community before opening an issue.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-02 03:15] #309 closed

[2021-03-02 03:16] Navid200 commented on #436
Closing due to inactivity

[2021-03-02 03:16] #436 closed

[2021-03-02 03:20] Navid200 commented on #466
Closing due to inactivity

[2021-03-02 03:20] #466 closed

[2021-03-02 03:25] Navid200 commented on #954
Closing due to inactivity

[2021-03-02 03:25] #954 closed

[2021-03-02 03:32] Navid200 commented on #1227
Closing the issue as it seems the original problem was resolved.
Please use the support channels before opening an issue.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-03-02 03:32] #1227 closed

[2021-03-02 03:33] Navid200 commented on #1237
Closing due to inactivity

[2021-03-02 03:33] #1237 closed

[2021-03-02 03:37] Navid200 commented on #1275
Please use the support channels before opening an issue.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-03-02 03:38] Navid200 commented on #1278
@LubomirKovalcik Would you please close this issue if it has been resolved?
Otherwise, please update.
Thanks

[2021-03-02 03:39] Navid200 commented on #1283
@01erster Would you please close this issue if it has been resolved?
Otherwise, please update.
Thanks

[2021-03-02 11:24] twinko commented on #1394
@JimZam even to get to december in this chat takes ages :D Isn't that documented somewhere? I mean the patched apk is working like a charm for me, i was just curiose. Would be sad if there are a different ways, but no one tells the community about. @tzachi-dar could you point me/us in the right direction?

[2021-03-02 13:17] Navid200 commented on #1661
In this case, it would be jamorham because this is his repository.

A governing body (in this case, the developer headed by jamorham) makes such decisions.  It is a thankless job because no matter what you choose to do, someone is going to complain.  Sometimes, there isn't a right and wrong decision; but, you have to make a choice regardless of knowing that a portion of user community is going to

[2021-03-02 13:55] steffen-AEI commented on #1648
A solution already seems to exist: http://feedproxy.google.com/~r/xda-developers/ShsH/~3/lLbxmCuZfV8/ - still it may become necessary to extract the wearable apk before sideloading.

[2021-03-02 14:31] mukich opened #1663 "enable the transfer of raw values ​​to followers or in Nightscout..."
Hi everyone! I use Libre Patch and xDrip+ to monitor glucose. How to enable the transfer of raw values ​​to followers or ​in Nightscout?