[2021-03-02 15:43] Navid200 commented on #1663
Would you please use the support channels to ask a question instead of opening an issue?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-02 15:43] #1663 closed

[2021-03-02 19:17] gruoner commented on #1661
yeah - what else...? i want to know which way to go - u'r right (esp. the metaphor with u'r car and lever) but my issue is real and i need (and have) an optimal solution for that. The only question i have is the way to achieve the goal.
U'r "wish" is to resign the optimization; which collides with my "wish". So it will become realized - at least in my train.
The question is: is there any other ben

[2021-03-02 19:21] Navid200 commented on #1661
Everything I have posted have been my opinion.
And thank you for the discussion.  I have learned from you.

I think jamorham is the right person to answer you.  Because I neither have the authority nor the experience to advise you in that sense.

[2021-03-02 20:00] Navid200 opened #1664 "Device is marked as bonded but we are being asked to bond so attempting to unbond first"
xDrip version: 2020.11.27

G6 8K

Moto G Power (2020)

It is Andoid 10, not 11.

All xDrip settings are the recommended settings.

### Expected behavior
After the user taps on pair in response to the pair request once, the pair request should never appear again.

### Actual behavior
This is not the frequent pair request.   xDrip has already been updated to November 27, 2020.
But, occasionally (onc

[2021-03-02 20:05] emp-00 commented on #1364
Calibration issue is fixed by changed configuration and/or bugfix in recent nightlies.

[2021-03-02 20:05] #1364 closed

[2021-03-02 20:29] Navid200 commented on #1664
I have already asked the user if she had an old phone with xDrip or Dexcom app on it.
Waiting for a response.

[2021-03-02 21:32] Navid200 commented on #1664
I hope that it is another device that is competing for attention and causing the unbonding.  I will update as soon as I hear back.
So, I am closing this.
But, we can still use it to communicate.  So, please let me know if you have any ideas.

[2021-03-03 01:02] Navid200 commented on #1664
The only other device is the Dexcom receiver.

[2021-03-03 01:04] #1232 closed

[2021-03-03 10:43] dhermanns commented on #1067
Looks like this case has already been reopened. Just as a feedback to you: I had this problem once again with the latest xDrip nightly. After reading this ticket I switched back to the above November Build. After that I was able to connect just fine from my Redmi 7a to the Dexcom G6 Sensor.

So looks to me we have a regression here?

[2021-03-03 10:55] sigbjorn88 commented on #1159
I have something similar I believe @Navid200 , might be settings though,  but it is set like shown in picure on the individual alarm.
Are there something else like in the "other alarms" menu that needs to be set to make it work?
I had the alert reraise time set to 60 seconds, which is the same time it took for my unacknowledged alarm to raise again.  However, this option is only available when I t

[2021-03-03 13:23] Navid200 commented on #1067
There are no reports of this issue any longer as long as you use an xDrip release of November 27, 2020 or after, and as long as your xDrip settings are correct.

[2021-03-03 13:23] #1067 closed

[2021-03-03 13:34] Navid200 commented on #1159
First of all, what do you mean by "... set to 60 seconds"?  Do you mean 1 minute?   Why say 60 seconds?
I know they are the same.  But, you are trying to explain something to people who have not experienced it.  Why add unnecessary causes of confusion?  Why not say "I set it to 1 minute"?

You say "this option is only available".
That suggests that you have seen a menu that varies as you change a

[2021-03-03 14:01] dhermanns commented on #1067
Now you have one ;-). But maybe you are right and I simply have wrong settings. Cu

[2021-03-03 14:11] Navid200 commented on #1067
You can ask, using the support channels, for the recommended settings.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-03-03 14:15] Navid200 commented on #1656
We can always reopen this if you make it clear what you are requesting.
There is no way a developer can develop something if it's not clear what he/she is supposed to develop.

[2021-03-03 14:15] #1656 closed

[2021-03-03 14:18] Navid200 commented on #1645
@ARkaine2 Please close this issue if it has been resolved.
If not, please respond to the questions posed to you.
Thanks

[2021-03-03 14:47] gregorybel commented on #1159
@Navid200 regarding your question if I retest with a newer version, answer is no.
Are there indications in a release notes showing this part of code has been touched ? If yes, then I can retest of course.

[2021-03-03 16:16] Navid200 commented on #1159
@gregorybel So, if you are not experiencing this issue with a recent release, I suggest we close this issue.

[2021-03-03 17:07] sigbjorn88 commented on #1159
Sorry for the confusion. From the second picture (which I thought was another option on delaying unacknowledged alarms) it said seconds in capital letters so I gave you that.
In the "other alerts" menu I have the options from the two pictures here (with and without "bad noisy values" and "reraise alerts before snooze time" toogled ON)

![Screenshot_20210303-175814_xDrip+](https://user-images.githu

[2021-03-03 19:55] gregorybel commented on #1159
@Navid200  no, I did not retest with a newer version! So no idea if issue is fixed.
I went through all the commits since one year and could not find one which may fix this issue.

[2021-03-03 22:46] tzachi-dar commented on #1159
What profile are you using? Is it asceding?

בתאריך יום ד׳, 3 במרץ 2021, 21:55, מאת Grégory Beloncle ‏<
notifications@github.com>:

[2021-03-03 23:45] Navid200 commented on #1159
@tzachi-dar Does it matter what profile he is using?

I tested it with the February 17, 2021 release of xDrip and can confirm the same thing happens.

I created a new high alarm and intentionally set the threshold low to make it go off in a few minutes.
I set the "Re-raise every x minutes if unacknowledged" to 2 minutes.

When the alarm went off.  I did not snooze it.  After 1 minute, it went off

[2021-03-04 13:23] gregorybel commented on #1159
@tzachi-dar yes I use profile ascending, is this related?

@Navid200 thanks having checked with last version, so indeed not fixed yet.

[2021-03-04 14:03] Navid200 commented on #69
I am closing this due to inactivity.
It does not seem like a feature that has no work-around.
We can always reopen if determined that this is needed by a large portion of the community and there is no work-around.

[2021-03-04 14:03] #69 closed

[2021-03-04 14:05] Navid200 commented on #74
I am closing this due to inactivity.
If this has not been addressed, please post here.

[2021-03-04 14:05] #74 closed

[2021-03-04 14:12] Navid200 commented on #98
Closing due to inactivity

[2021-03-04 14:12] #98 closed

[2021-03-04 14:13] Navid200 commented on #114
Has this been addressed, or is it still an issue?

[2021-03-04 14:14] Navid200 commented on #153
Closing due to inactivity

[2021-03-04 14:14] #153 closed

[2021-03-04 14:19] Navid200 commented on #163
I close this until someone can confirm that this is still a problem and provide detail to jamorham.
We can always reopen.

[2021-03-04 14:19] #163 closed

[2021-03-04 14:22] Navid200 commented on #84
Closing due to inactivity

[2021-03-04 14:22] #84 closed

[2021-03-04 14:26] tolot27 commented on #114
If I remember correctly, it is still an issue. I've started working on this topic as part of PR #1403.

[2021-03-04 14:28] Navid200 commented on #307
Closing due to inactivity

[2021-03-04 14:28] #307 closed

[2021-03-04 14:31] Navid200 commented on #398
Closing due to inactivity

[2021-03-04 14:31] #398 closed

[2021-03-04 14:38] Navid200 commented on #458
Closing due to inactivity

[2021-03-04 14:39] Navid200 commented on #479
Closing due to inactivity

[2021-03-04 14:39] #479 closed

[2021-03-04 15:00] Navid200 commented on #664
I am closing this due to inactivity.
If you still have this issue, please add more detail before reopening.

[2021-03-04 15:00] #664 closed

[2021-03-04 15:01] Navid200 commented on #666
Closing due to inactivity
If you still experience an issue and would like to reopen, please add more detail including what others do and have recommended.

[2021-03-04 15:01] #666 closed

[2021-03-04 15:06] Navid200 commented on #689
@parapenT1sta Is this still the case or are there any updates?

[2021-03-04 15:10] Navid200 commented on #768
@tolot27 Considering there is already a PR, shouldn't this be closed?  What if someone else sees this open issue and starts spending time on this developing a solution?  Wouldn't that be a waste of time?

[2021-03-04 15:16] Navid200 commented on #955
@Pikernot Is this still the case with recent releases of xDrip?

[2021-03-04 15:20] tolot27 commented on #768
@Navid200 Issues will be closed automatically, as soon as the linked PR gets merged. It is recommend that people should read the complete discussion at the issues and if they are willing to contribute, discuss this with the developers.

Anyway, this issue can be closed since there is a tiny HowTo at https://xdrip.github.io and there is no need for a Makefile.

[2021-03-04 15:20] #768 closed

[2021-03-04 15:22] tolot27 commented on #955
This is a duplicate of #114.

[2021-03-04 15:22] #955 closed

[2021-03-04 18:28] parapenT1sta commented on #689
@Navid200 Was fixed already. :)

[2021-03-04 18:28] #689 closed

[2021-03-04 23:25] Navid200 commented on #907
Let's say you could ask for one additional setting.  What would it be?
Now, what if you could ask for 2 more settings?  What would those be?

Would they be the same for rising and falling?

[2021-03-05 03:54] jwoglom commented on #458
Hi,

As recently as this week I've noticed that this issue still occurs. I'm running an xDrip release from 12/29/2020 -- so not entirely up to date, but from scanning through the commit history it doesn't look like there have been any changes related to this since then.

[2021-03-05 06:03] Seithx commented on #907
If your goal is to prioritize i`d go with rising.

I detailed what would suffice here: https://github.com/NightscoutFoundation/xDrip/issues/1120#issuecomment-787106483

I think thats enough.

[2021-03-05 11:13] viq commented on #1647
That sensor just got restarted on day 9.

[2021-03-05 11:15] viq commented on #1647
The logs look very confusing.

[2021-03-05 11:35] viq commented on #1647
The logs look very confusing.
![xdrip-2021-03-05-123203](https://user-images.githubusercontent.com/639461/110110536-44166800-7daf-11eb-9087-0fe3972157cc.png)

[2021-03-05 13:32] Navid200 commented on #907
take it you are happy with 0.1.  Great.
No need for diagrams.

[2021-03-05 13:34] Navid200 commented on #1647
The only solution I am aware of, until a developer addresses this, is to go back to the release of January 29, 2021.

[2021-03-05 14:34] Seithx commented on #907
Any change would be great!

Why do we need diagrams, can you elaborate?

[2021-03-05 15:40] idocalm opened #1665 "Xdrip+ ios"
Hi, I wanted to know the position in the dec process of the ios version and suggest having a xdrip+ version for ios phones. I heard of Spike but its ful of lags and bugs.
Are you planning on this option?

[2021-03-05 16:05] viq commented on #1647
I'm not necessarily looking for a solution right now, just reporting that this is something that someone may want to look at.

[2021-03-05 16:12] Navid200 commented on #907
Not sure what there is to elaborate.  I typed "no need for diagrams".
All I needed was what threshold is suggested.  You are one of several individuals who have asked for this.  I am not asking you for anything else.  And thanks for answering the question.

I hope that is clear.

[2021-03-05 16:13] Navid200 commented on #1647
So, you are OK with a restart on day 9 as well as on day 6 every time?

[2021-03-05 16:19] viq commented on #1647
Every time, for ever to come? No. But I can probably live with it for some weeks more, if it's useful to someone working on this.

[2021-03-05 16:20] Navid200 commented on #1665
Please don't open an issue just to ask a question.
You can post your questions, about xDrip, here:
https://gitter.im/jamorham/xDrip-plus
Or here:
https://www.facebook.com/groups/xDripG5
Thanks

[2021-03-05 16:20] #1665 closed

[2021-03-05 16:26] Navid200 commented on #1620
Please use the support channels to find out what other users are doing.
Only open an issue if you can confirm you have identified a bug or if you have a feature request that has no work-around.

[2021-03-05 16:26] #1620 closed

[2021-03-05 16:29] Navid200 commented on #1616
Sounds like you have identified a solution.
Thanks for the feedback.

[2021-03-05 16:29] #1616 closed

[2021-03-05 16:33] Navid200 commented on #1337
Closing due to inactivity

[2021-03-05 16:33] #1337 closed

[2021-03-05 19:52] Navid200 commented on #527
Closing due to inactivity

[2021-03-05 19:52] #527 closed

[2021-03-05 19:59] Navid200 commented on #623
I am closing this because of inactivity.
If you want to reopen this, at least, include the CGM that you have in mind.

[2021-03-05 19:59] #623 closed

[2021-03-05 20:01] Navid200 commented on #697
Closing due to inactivity

[2021-03-05 20:01] #697 closed

[2021-03-05 20:05] Navid200 commented on #990
Issues should be only used to report a bug or a feature request if there is no work-around.

[2021-03-05 20:05] #990 closed

[2021-03-05 20:09] Navid200 commented on #991
Can we close this issue?

[2021-03-05 20:12] Navid200 commented on #1134
Closing due to inactivity

[2021-03-05 20:12] #1134 closed

[2021-03-05 20:13] Navid200 commented on #1146
Closing due to inactivity

[2021-03-05 20:13] #1146 closed

[2021-03-05 20:14] Navid200 commented on #1148
Closing due to inactivity

[2021-03-05 20:14] #1148 closed

[2021-03-05 20:15] Navid200 commented on #1161
Closing due to inactivity

[2021-03-05 20:15] #1161 closed

[2021-03-05 20:19] Navid200 commented on #1258
Closing due to inactivity

[2021-03-05 20:19] #1258 closed

[2021-03-05 20:20] Navid200 commented on #1260
Closing due to inactivity
To attach an image, tap in the footer and choose the image.

[2021-03-05 20:20] #1260 closed

[2021-03-05 20:23] Navid200 commented on #1261
Please consult with the user community to see if what you want can already be done, or if there is a work-around.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Please only open an issue to report a bug or for a feature request with no work-around.

[2021-03-05 20:23] Navid200 commented on #1270
@tolot27

[2021-03-05 20:25] Navid200 commented on #1296
Closing due to inactivity

[2021-03-05 20:25] #1296 closed

[2021-03-05 20:25] Navid200 commented on #1300
Closing due to inactivity

[2021-03-05 20:25] #1300 closed

[2021-03-05 20:26] Navid200 commented on #1288
Closing due to inactivity

[2021-03-05 20:26] #1288 closed

[2021-03-05 20:28] Navid200 commented on #1315
@mikimisz Would you please close this issue if it has been resolved?
For asking questions, would you please use the support channels, instead of opening an issue?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-05 20:38] #1315 closed

[2021-03-06 04:08] Navid200 commented on #1647
I am not even using G5.  I use G6.
I opened this issue for people like you who still use G5.  I have no problem with helping.
But, when you make a statement like that, I wonder what am I missing.  If he is not looking for a solution, why am I bothering?
I have no idea why you had to make that statement.  Do you?

[2021-03-06 07:53] SilkyShark commented on #1625
Tested on Samsung M51 Android 10, One UI core 2.5
Just installed but looks good, thanks a lot!

So, yes, it works!
So far in sync.

Will run for a few days and report back if there are any issues!

[2021-03-06 10:04] sigbjorn88 commented on #1159
I changed to medium sound (not ascending) and it seems to work, @Navid200.  Assume it is not meant to be like that, but at least only a minor bug then and not some strange settings elsewhere.

[2021-03-06 13:02] tolot27 commented on #1270
Arabic language was [added](https://crowdin.com/project/xdrip/ar) to Crowdin some time ago, but only 9% is translated.

[2021-03-06 13:02] #1270 closed

[2021-03-06 17:14] Seithx commented on #907
Sorry, mis interpreted your meaning of diagrams....

[2021-03-06 17:33] viq commented on #1647
Sorry for my poor wording. What I meant is that I'm not necessarily looking for a quick workaround like downgrading the app, and I'm fine living with the issue for a while and using the version with the bug if it allows someone to get useful information to fix this.

[2021-03-06 18:32] Navid200 commented on #547
Closing due to inactivity

[2021-03-06 18:32] #547 closed

[2021-03-06 18:34] Navid200 commented on #612
Closing due to inactivity.
Please reopen if needed.  But, please specify the requirements for closure.

[2021-03-06 18:34] #612 closed

[2021-03-06 18:34] Navid200 commented on #628
Closing due to inactivity

[2021-03-06 18:34] #628 closed

[2021-03-06 18:35] Navid200 commented on #514
Closing due to inactivity

[2021-03-06 18:35] #514 closed

[2021-03-06 18:36] Navid200 commented on #668
Closing due to inactivity

[2021-03-06 18:36] #668 closed

[2021-03-06 18:37] Navid200 commented on #686
Closing due to inactivity

[2021-03-06 18:37] #686 closed

[2021-03-06 18:38] Navid200 commented on #696
Closing due to inactivity

[2021-03-06 18:38] #696 closed

[2021-03-06 18:39] Navid200 commented on #723
Closing due to inactivity

[2021-03-06 18:39] #723 closed

[2021-03-06 18:39] Navid200 commented on #724
Closing due to inactivity

[2021-03-06 18:39] #724 closed

[2021-03-06 18:40] Navid200 commented on #794
Closing due to inactivity

[2021-03-06 18:40] #794 closed

[2021-03-06 18:41] Navid200 commented on #857
Closing due to inactivity

[2021-03-06 18:41] #857 closed

[2021-03-06 18:45] Navid200 commented on #862
Closing due to inactivity

[2021-03-06 18:45] #862 closed

[2021-03-06 18:46] Navid200 commented on #869
Closing due to inactivity

[2021-03-06 18:46] #869 closed

[2021-03-06 18:48] Navid200 commented on #885
If you don't mind, I close this now.  If you or anyone else needs this feature, we can reopen.  But, with no one actively needing it, it's best to close it to give priority to the many other open issues we still have.

[2021-03-06 18:48] #885 closed

[2021-03-06 18:49] Navid200 commented on #898
Closing due to inactivity

[2021-03-06 18:49] #898 closed

[2021-03-06 18:49] Navid200 commented on #911
Closing due to inactivity

[2021-03-06 18:51] Navid200 commented on #912
Closing due to inactivity
Of course, you know you can reopen this.  It would be great to have an update.

[2021-03-06 18:51] #912 closed

[2021-03-06 18:53] Navid200 commented on #961
Great.
In that case, I hope you don't mind me closing it.
If you like to reopen, please clarify why this is required and why the work-around is unacceptable.
Thanks

[2021-03-06 18:56] Navid200 commented on #985
What is the update on this?

[2021-03-06 18:59] jroth-haj commented on #961
It's still a bug and new users will have problems with it! This dialog GUI is unusable without sny external help.

[2021-03-06 19:06] Navid200 commented on #994
Cannot recreate this issue.
Please take a picture of your phone with the screen locked, instead of creating a snapshot.

[2021-03-06 19:07] Navid200 commented on #996
Closing due to inactivity

[2021-03-06 19:07] #996 closed

[2021-03-06 19:09] Navid200 commented on #1000
@kimbersdiabetic Looks like your questions was answered.  Would you please close this issue then?
You can use the support channels for asking questions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-06 19:09] Navid200 commented on #1053
Closing due to inactivity

[2021-03-06 19:09] #1053 closed

[2021-03-06 19:10] Navid200 commented on #1063
Closing due to inactivity

[2021-03-06 19:10] #1063 closed

[2021-03-06 19:11] Navid200 commented on #1064
Closing due to inactivity

[2021-03-06 19:11] #1064 closed

[2021-03-06 19:18] Navid200 commented on #961
@jroth-haj Would you please add a snapshot where the save option is missing?
Consider there may be a developer who can fix this.  But, if they don't understand exactly what the problem is, say they never use the treatment menu, they will never fix it.

[2021-03-06 19:19] Navid200 commented on #1089
@alexmoir1 Would you please update?
Is this something that can be fixed from the xDrip side?

[2021-03-06 19:21] Navid200 commented on #1095
Closing due to inactivity

[2021-03-06 19:21] #1095 closed

[2021-03-06 19:22] Navid200 commented on #1110
@gregorybel Is this still the case?
What do others do?

[2021-03-06 19:24] Navid200 commented on #1149
@jakobsandberg Has this been resolved?

[2021-03-06 19:26] Navid200 commented on #1166
@nshtg What is the status of this?
What exactly do you mean by values <= 0.3u?  Can you provide an example?

[2021-03-06 19:28] Navid200 commented on #1179
@xkamor Would you please use the support channels for asking questions?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-06 19:28] #1179 closed

[2021-03-06 19:29] jroth-haj commented on #961
I understand this. A a Screenshot would not be helpful. It only demonstrate a UI without the button.
It's when I minimize the Keyboard instead of using the Check Button in the Keyboard.
![Screenshot_20210306-202704](https://user-images.githubusercontent.com/1705174/110218517-7cef3380-7eba-11eb-822b-e5de9a5d1292.png)

![Screenshot_20210306-202833](https://user-images.githubusercontent.com/1705174/1

[2021-03-06 19:32] Navid200 commented on #961
Thanks for that.   Please let me ask a question now.
IN the second image, after you have minimized the keyboard, what will happen if you tap in the menu right beside 18 as if you wanted to make an edit?  Would that bring up the keyboard again with the checkmark available?

[2021-03-06 19:40] nshtg commented on #1166
I don't use xdrip to display bolus / carbs anymore, only bg.

The problem back then was:

- bolus 0.2u manually
- xdrip thinks this is a SMB and displays this accordingly
- xdrip does not differentate between loop SMB and manual boluses that are very small

[2021-03-06 19:46] Navid200 commented on #1166
So, it is possible this problem does not exist any longer.
I suggest we close this issue.
If the problem still exists, and someone reports it, we can reopen this issue.

[2021-03-06 19:48] Navid200 commented on #1202
@gitanO0 Do you know if this still happens?

[2021-03-06 19:50] jroth-haj commented on #961
Using the slider or editing it again and using the blue Check Button at the Keyboard brings the save Button back.

[2021-03-06 19:51] haspden commented on #994
![IMG-20210306-WA0014](https://user-images.githubusercontent.com/4039041/110219124-49f67100-7eb5-11eb-9760-df9b51729003.jpg)

Not sure why a screenshot won't work for you, but see photo...

[2021-03-06 19:55] Navid200 commented on #994
Great.
I just don't know how you take a snapshot when the phone is locked.
Anyway, that definitely shows the problem.

I don't see that.
Would you please include your phone info and Android version?

Would you get the same thing if you use any other app as your screen saver?
I mean, how do we decide if this is an xDrip issue versus a phone issue?

[2021-03-06 20:04] Navid200 commented on #1322
Closing due to inactivity

[2021-03-06 20:04] #1322 closed

[2021-03-06 20:06] Navid200 commented on #1324
@jokellerweb Would you please close this issue if it has been resolved?
If no, would you please update?
Thanks

[2021-03-06 20:08] Navid200 commented on #1355
@anjalileah Would you please close this issue if it has been resolved?
Otherwise, would you please update?
You can get a lot of useful information from the user community.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-06 20:10] Navid200 commented on #1356
@Left-moment Would you please close this issue if it has been resolved?
Otherwise, would you please update?
You can get a lot of useful information from the user community also.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-06 20:12] Navid200 commented on #1374
Closing due to inactivity

[2021-03-06 20:12] #1374 closed

[2021-03-06 20:13] Navid200 commented on #1384
Closing due to inactivity

[2021-03-06 20:13] #1384 closed

[2021-03-06 20:14] Navid200 commented on #1398
Closing due to inactivity

[2021-03-06 20:14] #1398 closed

[2021-03-06 20:15] Navid200 commented on #1475
Closing due to inactivity

[2021-03-06 20:23] Navid200 commented on #1574
Closing due to inactivity

[2021-03-06 20:23] #1574 closed

[2021-03-06 20:33] #1324 closed

[2021-03-06 20:57] haspden commented on #994
Samsung S9+ (SMG965F)
Detailed software and UI versions screenshotted

So when I use another App I have for screensaver the BBC ambiance app the bar shows for approx 2 seconds before hiding itself and just leaving the slideshow on display.

Has existed on several versions of xDrip since originally reported however build number screenshotted too

![Screenshot_20210306-205644_Settings](https://user-

[2021-03-06 22:04] parapenT1sta commented on #1229
@Navid200 Yes it is.

[2021-03-06 23:13] #1089 closed

[2021-03-07 13:52] andrewsawesome commented on #629
This was a faulty transmitter, or at least my G6 reciever detected it as one:

 Days: 31
Voltage A: 286
Voltage B: 264
Resistance: 9759

Xdrip correctly detected the critically low battery.

[2021-03-07 15:27] nshtg commented on #1166
Sure!

[2021-03-07 20:35] gregorybel commented on #1159
Indeed it helps but ascending sound is quiet usefull, either in a meeting, it just vibrate and at night it goes really loud if one dont wake up.

[2021-03-07 20:46] Navid200 commented on #1159
@gregorybel So, are you confirming that the issue occurs only with the ascending volume profile?

[2021-03-07 20:58] gregorybel commented on #1110
@Navid200 still using my old self patched xdrip so I dont know if issue is still there. But I have provided a dirty workaround for this in another issue so maybe we could close this issue.

[2021-03-08 00:59] sjennison commented on #1624
I'm going to sound pretty bad here, so I just want to preface by saying none of this is intended to come off as insulting.

This response does not fill me with confidence in the ability to maintain and enhance this app. Responding to a (legitimate) feature request with "look at this other legitimate feature request that we're ignoring", which is how I read this reply is.. not a good look.

I under

[2021-03-08 02:37] Navid200 commented on #1624
What you are reading is not the intended message.

There are limited number of developers.   Therefore, all the requests, even if they are legitimate by all standards, cannot be implemented right away.
We are organizing the open issues and asking the user community to be reasonable.
We postpone requests that are not high priority.
That's all.

[2021-03-08 04:03] Navid200 commented on #1624
I am closing this but have tagged it as postponed.  So, we can talk about it later when we have more developers available to consider it.

[2021-03-08 04:03] #1624 closed

[2021-03-08 04:05] Navid200 commented on #192
Closing due to inactivity

[2021-03-08 04:05] #192 closed

[2021-03-08 04:06] Navid200 commented on #304
Closing due to inactivity

[2021-03-08 04:06] #304 closed

[2021-03-08 04:07] Navid200 commented on #495
We can always reopen.
Closing dur to inactivity

[2021-03-08 04:07] #495 closed

[2021-03-08 04:46] sjennison commented on #1624
Shouldn't postponed issues remain open, so they can be discussed and potentially new developers (like myself, which is why I'm even here in this issue thread) can look at them and work on them?

^ this seems to conflict with the idea of "closing" issues and marking them postponed. Should feature additions and non-critical bugs be opened as issues or not? General understanding of how Github works w

[2021-03-08 07:45] jwoglom commented on #904
Apologies for responding to an old thread, but I wanted to share more widely a [project I created](https://github.com/jwoglom/tconnectsync) which serves as a synchronization tool between the t:connect Android app and Nightscout.

It's not especially well-documented (yet), but for setup you just need to enter your tconnect credentials, pump serial number, and Nightscout details into a file named se

[2021-03-08 09:20] tzachi-dar commented on #1159
This feature is not working with ascending profile, since ascending profile means that the alert will get stronger every minute.

[2021-03-08 10:30] gregorybel commented on #1159
@tzachi-dar ok.
Would it maybe then make sence to trigger the stronger alert not every minute but every delay set under "re-raise every x minutes if unackknowledged"?

[2021-03-08 14:56] Navid200 commented on #1624
We are organizing and prioritizing issues.
We close the duplicate issues.  We ask the community to use the support channels for asking questions instead of opening issues.  And we close the issues that we postpone and we reopen them when the time comes.

We don't want the developers to have to do this, because it takes time.  We don't have many developers.  So, we are doing this to help them.

Peo

[2021-03-08 21:27] edwin-hendriks commented on #1394
I am also very interested. My patched libre app is not working stable. So having another viable (OOP) option would be great. However I am missing links/descriptions/docs and such to start with that. If you could provide those, that would be great.

[2021-03-09 16:26] Navid200 commented on #1645
Please respond to the suggestions before reopening.

[2021-03-09 16:26] #1645 closed

[2021-03-09 16:50] Navid200 commented on #1654
@maartenbrakkee Would you please close this issue if it has been resolved?
Please help us by doing a little bit of research, using the support channels, before opening an issue.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-09 16:53] Navid200 commented on #1629
Can we close this issue please?

[2021-03-09 16:54] Navid200 commented on #1615
Closing due to inactivity.
Please do research as suggested already using the support channels.

[2021-03-09 16:54] #1615 closed

[2021-03-09 17:21] maartenbrakkee commented on #1654
@Navid200 the issue is not resolved. I've searched both https://gitter.im/jamorham/xDrip-plus and https://github.com/NightscoutFoundation/xDrip/issues/ before opening this issue/feature request.

If there is anything unclear about the feature request, please let me know.

[2021-03-09 18:24] kasapis commented on #193
A friend is having the same issue, she has android 10.

[2021-03-09 20:15] Navid200 commented on #1585
So, you can get an alarm exactly at your chosen percentage.
But, that's not enough.
You want to change the color of the battery voltage on the system status page as your chosen percentage.
Is that right?

Can you explain how/why this is a requirement?

[2021-03-09 20:17] Navid200 commented on #1586
Is this not done already?
Can you please explain what this is?
Isn't every contributor's login name added to the code when their contribution is merged?

[2021-03-09 20:21] Navid200 commented on #127
@tzachi-dar Is this not possible?
Sounds like a reasonable request to me for someone whose child may not have access to either WiFi or data, but have cell coverage.

[2021-03-09 20:36] Navid200 commented on #239
@alwayssimifuzi Can we close this issue please?
Thanks

[2021-03-09 20:39] #239 closed

[2021-03-09 20:39] alwayssimifuzi commented on #239
Yep:)

[2021-03-09 20:51] Navid200 commented on #496
Closing due to inactivity

[2021-03-09 20:51] #496 closed

[2021-03-09 20:53] jjaone commented on #239
@Navid200 Has it been resolved?

[2021-03-09 20:55] defaultuser0815 commented on #239
I don't think so.

[2021-03-09 21:06] jjaone commented on #239
So, why the rush to close it then ⁉️

[2021-03-09 21:17] alwayssimifuzi commented on #239
Sorry, i‘m not using Xdrip anymore.

[2021-03-09 21:21] Navid200 commented on #239
Rush?
This issue was opened in 2017.  The requested pen support was added and tested in 2018.  It should have been closed then.

If you discover an issue or if you need a feature, please use the support channels to find out what other users are doing first.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

Please don't use the issue platform as a forum.
We are looking

[2021-03-09 21:34] Navid200 commented on #536
Please update status before reopening.

[2021-03-09 21:34] #536 closed

[2021-03-09 21:38] Navid200 commented on #541
@tolot27 With respect to documentation, can we not have a link to crowdin in Wiki?
And then, you can add any detail documentation under discussions as a post pinned to the top, no?

Can we close this issue?

[2021-03-09 21:41] Navid200 commented on #563
Closing due to inactivity

[2021-03-09 21:41] #563 closed

[2021-03-09 21:42] jjaone commented on #239
@Navid200 I asked you has it been resolved, you said nothing. Then someone else it has not been resolved, so what are you whining abou and nagging here.

It wasn't my ticket, couldn't care less what you do about, just concerned that whining and nagging is your (NS or Xdrip) -devs) attitude towards all of us and towards any of our question or issues. Why the frack are you here if you don't care abo

[2021-03-09 21:43] jjaone commented on #239
@alwayssimifuzi What has that got to do with anything said here?

[2021-03-09 22:16] Navid200 commented on #596
Closing due to inactivity

[2021-03-09 22:16] #596 closed

[2021-03-09 22:19] Navid200 commented on #615
I'm closing this due to inactivity.  We can always reopen it if there is a need and if there are developers who are interested.

[2021-03-09 22:19] #615 closed

[2021-03-09 22:24] alwayssimifuzi commented on #239
Thought you want to know things about my life,
@jjaone Like as @Navid200 said this was opened in 2017. I sent my Pendiq to jamorham, he integrated it into the app and I changed to another system so i cannot say this issue is done but i don't wanted to stay silent to the question of Navid. So from my point of 2017, this issue can be closed because the integration was working in 2018.

[2021-03-09 22:24] Navid200 commented on #716
Is there anything you can think of that you can get from Diasend that you cannot get from Nightscout?

[2021-03-09 22:31] defaultuser0815 commented on #239
It was me who "pushed" the topic in 2019 as the Pendiq got a completely new firmware with "real" parinig on Android. With this new firmware it didn't work with XDrip anymore. Since then nothing has changed on XDrip (last time I tried was many months ago).

Cheers :)

[2021-03-09 22:38] Navid200 commented on #715
This issue requests for change logs (change logs needed).
The developer clearly explained what is available.

Some may not be happy with that answer.
I see two options.
Step up and do the work and provide change logs, or we can close this issue.

Can anyone see a third option?  Demanding someone else to work for us is not a reasonable option considering we are all volunteers.

[2021-03-09 23:03] Navid200 commented on #813
If anyone finds this issue and has the same request, please post and please explain what you don't like about the ascending volume profile.

[2021-03-09 23:03] #813 closed

[2021-03-10 01:17] Navid200 commented on #239
@defaultuser0815 We are volunteers.  The developers are overloaded with work.  We are going through the issues and organizing them.  The objective is to help the developers focus on the real issues.  I'm not suggesting this is an unreal issue.

We are finding duplicate issues.  We are finding issues that are just questions.  We are finding issues that have been addressed but have never been closed

[2021-03-10 06:38] AdrianLxM commented on #1648
@Navid200 where can the wear APKs be downloaded? From today on they are needed in San unbundled way.

[2021-03-10 12:43] Navid200 commented on #1648
@AdrianLxM This is presented to anyone who opens a new issue now.
![Screenshot 2021-03-10 073712](https://user-images.githubusercontent.com/51497406/110630550-7fc87d80-8173-11eb-9a27-c8d549168fd3.png)

I know that there are questions that the user community have and they have been using the issue platform to ask them.  A decision was made to ask the user community to help by asking the questions f

[2021-03-10 12:44] AdrianLxM commented on #1648
I would tag it as bug if wearOS no longer works!

[2021-03-10 13:33] tolot27 commented on #1648
#693 comes in my mind. :open_mouth:

[2021-03-10 15:05] jamorham commented on #1495
The `Buggy Samsung Workaround` feature doesn't engage unless the phone is a samsung (or specifically listed device) and the wakeup jitter is detected to be a problem. The setting `Samsung Workarounds` allows this to happen. The only effect of changing  this setting to off would be to disable the workarounds on a samsung which is likely not a good thing to do.

You can tell if your phone wants to u

[2021-03-10 15:15] Navid200 commented on #1495
@jamorham Do I understand correctly that the "Samsung Workaround" setting should be always set for all devices?
And, there is an intelligence in the code that only kicks in, to enable Buggy Samsung Workaround, if the device needs the workaround?

But, what happens if the wake up jitter is detected and the Buggy Samsung Workaround is enabled for a non-Samsung device?  Could that never happen?

[2021-03-10 15:46] jamorham commented on #1495
The code to enable it checks against `Build.MANUFACTURER.toLowerCase().contains("samsung");` so it only does anything on a samsung device.
The only exception to this is we check against a list of other devices where it is known to work. `alwaysBuggyWakeupModels = Sets.newHashSet("Jelly-Pro", "SmartWatch 3");`

As far as I know xDrip wont do any samsung workaround unless those conditions are met an

[2021-03-10 17:29] Navid200 commented on #1495
I now understand the "Samsung Workaround" setting should always be set for all devices.  Then, can we move it to the engineering mode?
I ask the same question for any other setting that you believe should be set or unset for all devices.

I now close this issue.  Thanks for answering.
I will also change my recommended settings, on facebook, to have this set for all devices.

[2021-03-10 17:29] #1495 closed

[2021-03-10 20:46] Navid200 commented on #127
@jamorham Would this be possible?

[2021-03-10 21:12] tswire commented on #1664
Adding to this.

Samsung Galaxy S21 Ultra
Android 11
Feb 1, 2021 Security patch (most updated version)
Dexcom G6
All xdrip settings correct based on posted recommendations
Running xdrip nightly Feb 11th version (was on most recent with same problem, downgraded to Feb 11th, no change)
Happens daily but randomly.  Cannot find trigger.  Only have Galaxy Watch paired as other device.
I reinstalled xdr

[2021-03-10 21:15] Navid200 commented on #1664
Would you please try the latest xDrip release, March 8, 2021?

[2021-03-10 21:27] tolot27 commented on #127
In general, this could be possible but requires implementation. Basic functionality is already there for emergency messages.

@kostuch What do you mean by: "Or maybe push notification?"

[2021-03-10 21:30] tswire commented on #1664
will do and report back here

[2021-03-10 21:37] tolot27 commented on #1586
The latest update of the file was in January, 2018. But many people contributed the the translations, recently. If you visit the "End User License Agreement" (in Settings), you can see the rather old list of translators obtained from [credits.xml](../blob/master/app/src/main/res/values/credits.xml). Translators at Crowdin are invisible to GitHub.

[2021-03-10 21:40] tolot27 commented on #541
Better, someone creates a PR against [CONTRIBUTING.md](https://github.com/NightscoutFoundation/xDrip/blob/master/CONTRIBUTING.md). Mayb you can do this?

We close this issue as soon as it is fixed/implemented. Linking it to a PR will close it automatically, if the PR gets merged.

[2021-03-10 21:42] Navid200 commented on #1586
Why is a translator different than anyone else who is contributing to the code, like any other developer?
Aren't they all developers?

[2021-03-10 21:52] tolot27 commented on #1586
A translator is not a developer. But that is a different discussion. As translators are not seen by GitHub or because @jamorham wanted to give them credits, he created the credits.xml.
Either credits.xml gets removed or updated.

[2021-03-10 21:56] tolot27 commented on #541
Yes, you or someone else. This is a simple task which does not need developer skills. The PR should briefly describe the translation process (Crowdin account, translation, approval, automatic merging to https://github.com/jamorham/xDrip-plus/tree/l10n_master7 and final merging to xDrip by jamorham) and link to the Crowdin project and Crowdin manual.

[2021-03-10 22:05] Navid200 commented on #127
This seems like something that has no work-around and can benefit someone whose child at school has access to no WiFi or data.  I assume there are places around the world where this could happen.

How complicated would be the implementation?
Can I do it myself?

[2021-03-10 22:25] Navid200 commented on #1641
Who could have verified this before approval?  Could the person who did the translation verify this before submitting the translation?

[2021-03-10 23:05] tolot27 commented on #1641
This is a problem in other languages as well:

<img src="https://user-images.githubusercontent.com/1370732/110709996-6835d700-81fd-11eb-9d34-fa324bec3023.png" width="300"/>

[2021-03-10 23:07] Navid200 commented on #1641
Do the translators only deal with words?
They have no way of verifying this themselves, right?

[2021-03-10 23:25] Navid200 commented on #1641
No, I don't even have a Crowdin account.
I'm just trying to understand who we should ping for this.
If this happens only for some languages, could it be that when the length of the line becomes too long, the issue occurs, and that's why it doesn't happen in English?
Can I recreate this problem on my phone?

[2021-03-10 23:34] tolot27 commented on #1641
Just switch to Finnish or Russian to recreate it.

[2021-03-10 23:35] tolot27 commented on #127
You can start looking at https://github.com/NightscoutFoundation/xDrip/search?l=Java&q=SMS

[2021-03-11 00:37] AdrianLxM commented on #1648
While a release to play would have the highest convenience factor, it's unrealistic.

If the build system would add the wear.apk signed with the same key, it would be possible to side load it. It needs to be signed with the same key in order to communicate with the phone.

[2021-03-11 01:03] dcacklam commented on #1648
Since this is my post originally, a thought:

What if the XDrip+ phone app was packaged with the required scripts/executables/etc to have a 'sideload app to watch' button in the app, which would then perform similar functionality to (http://feedproxy.google.com/~r/xda-developers/ShsH/~3/lLbxmCuZfV8/) but only for the xDrip+ watch-app rather than as a general purpose solution?

A FAQ entry on allow

[2021-03-11 01:56] tswire commented on #1664
Same issue after updating to march nightly.

[2021-03-11 09:20] jamorham commented on #1664
Can you use the log upload when this has happened fairly recently and include some reference in the log upload that I can use to identify yours. Also what firmware version is reported on the G6 status page?

[2021-03-11 09:29] jamorham commented on #1648
The xDrip wear component does already have its own updater and installer built in but it requires system permissions on the wear os side. Maybe it could be adapted to use the adb trick.

Is there any mileage in simply uninstalling the play store updates on wear os to revert to a version that allows the "apps on phone" feature?

[2021-03-11 12:08] tswire commented on #1664
Many disconnects last night. How do I upload the log?

[2021-03-11 12:50] Navid200 commented on #1664
Go to event logs.
At the bottom, tap on "Upload Logs".

[2021-03-11 12:58] tswire commented on #1664
I uploaded them (twice, first one forgot to include all errors).  Let me know if you got them.
![xdrip3](https://user-images.githubusercontent.com/30097654/110790930-a05e0980-823f-11eb-97e6-8e42eb5b9b0d.jpg)

[2021-03-11 14:17] Karumble commented on #1664
Hi guys, I found this while looking for the same error. I have a new Galaxy S10+ and an old S7 with the app installed but its off and it keeps ocurring every 5min. (have to accept the bonding manually) Happy to get updates. Hope it was ok to post here.

[2021-03-11 15:33] skavan commented on #1629
Yup. Thx.

[2021-03-11 15:33] #1629 closed

[2021-03-11 16:28] Navid200 commented on #1664
@Karumble Please update xDrip at least to November 27, 2020.  That will stop the frequent pairing request.  It is not exactly what this issue is about.
You can find more detail about the issue you are experiencing here:
https://www.facebook.com/groups/xDripG5/permalink/4603084736431652

[2021-03-11 17:57] dcacklam commented on #1648
The watch-play-store-downgrade route would require the same level of user
technical skill as a command-line sideload of the wearos app to the watch.

On Thu, Mar 11, 2021, 1:29 AM JamOrHam ***@***.***> wrote:

[2021-03-11 22:18] tswire commented on #1664
Interesting to note, since middle of the night when I was woken up to pair, I have had no pairing requests all day.  I have confirmed that it's not localized to home (other bluetooth devices) since it did it around 7:30pm yesterday while out at an appointment.  I sure hope I don't have another awful sleep due to this!  lol  thanks for looking into it

[2021-03-12 01:30] Navid200 commented on #1664
@tswire You can go to Settings -> Hardware Data Source
and scroll all the way down and tap on disable collection.

Then, use xDrip on your old phone and set it up to collect.  In the morning, you can do the opposite.  To enable collection, you go back to the hardware data source page and select G5/G6 Transmitter.

You should never have both phones collect from the same transmitter at the same time

[2021-03-12 02:27] #968 closed

[2021-03-12 02:39] Navid200 commented on #1292
Closing due to inactivity

[2021-03-12 02:39] #1292 closed

[2021-03-12 02:44] Navid200 commented on #1342
Closing due to inactivity

[2021-03-12 02:44] #1342 closed

[2021-03-12 02:52] Navid200 commented on #1418
Closing due to inactivity

[2021-03-12 02:53] Navid200 commented on #1433
Please update if you want to reopen.

[2021-03-12 02:53] #1433 closed

[2021-03-12 02:56] Navid200 commented on #1461
Closing due to inactivity

[2021-03-12 02:56] #1461 closed

[2021-03-12 03:07] Navid200 commented on #1497
@Stormyfour20 You say you need this when you get an alarm in the middle of the night.
Don't you want to see what the alarm is before snoozing it?
If you unlock the phone to see what the alarm is, you can easily silence it as well.  Would you please explain the scenario?

[2021-03-12 03:10] Navid200 commented on #1502
Is this still an issue?
Can we still use mongoDB?

[2021-03-12 03:20] Navid200 commented on #1537
Closing due to inactivity.
Please update if this is still happening while using xDrip under normal conditions.
If this only happens after you forget device and then restart collection, I wouldn't think you do that on a regular basis, do you?

[2021-03-12 03:28] Navid200 commented on #1547
Closing due to inactivity.
Please update and answer questions if you like to reopen.

[2021-03-12 03:36] walkerpayne opened #1669 "Failure to acquire data over night"
### Subject of the issue
Hello all, I am running into a repeating issue where the signal is missed every night when I'm sleeping. I have read that this is potentially a bluetooth issue, where the phone is somehow altering/reducing bluetooth capabilities overnight to reduce battery drain, which causes signal loss. It is unclear to me whether this is an xDrip bug OR an Android bug, which is why I am

[2021-03-12 04:08] Navid200 commented on #1669
I responded to your post in the Gitter room.
Do you have a feacebook account.
All the settings are described there:
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365

Please only use the issues platform to report a bug after you use the support channels to confirm that you are using xDrip properly.
Please respond to my suggestions in the Gitter room.
If the two of us conclude that

[2021-03-12 04:08] #1669 closed

[2021-03-12 04:49] Navid200 commented on #1604
@tolot27 So, can we ask @ARkaine2 to post in that thread and suggest an addition to it?
Keeping two issues open knowing they have common parts could cause redundant activity by two different developers.  Since we don't have enough developers, let's do everything we can to use their limited time efficiently please.

[2021-03-12 06:39] tolot27 commented on #1537
I'm observing this issue, too but had not time digging into it. The issue is replicated to Nightscout followers as well:
<img src="https://user-images.githubusercontent.com/1370732/110902330-044b0580-8306-11eb-9e92-61bb0abda2e9.jpg" width="300"/>

[2021-03-12 07:15] sulkaharo commented on #1502
You absolutely should not use MongoDB data injection with Nightscout.

[2021-03-12 07:27] izywizy commented on #1648
I can confirm that using the solution as posted by @steffen-AEI above works very well and when setup x-drip on the watch is very easy to install or update.

Unfortunately WearOS had already updated on my Oppo watch so I unable to install 'Wear Installer' using the legacy method so used the 'Easy Fire Tools' as a method suggested to install it on the watch (a one time operation) so no need for a se

[2021-03-12 12:05] vguttmann commented on #1664
I had the same problems on a Samsung A40 with Android 10. I have now upgraded to the March nightly, and have so far not had any problems.

[2021-03-12 13:18] Navid200 commented on #1537
@tolot27 Does the data table show the same behavior?
Does the graph on Nightscout show the same, or only the followers?

[2021-03-12 13:45] Glimmerglykose commented on #1521
Any news on this? Please let me know if you need sensors, as I have a few to spare and really want to help (I am really excited for Glucomen day to maybe be supported in xdrip+ 🙏🤞)

[2021-03-12 13:57] twinko commented on #1007
Hey @Klaus3d3 did you had the chance to have a look at the GTR2?

bigdigtal already released some early work for GTR ( first GTR release https://www.patreon.com/posts/im-ready-to-gtr-47426327)and also GTR2 (https://github.com/bigdigital/py_amazfit_tools). Sadly the GTR is not the best watch to go along with xdrip. But according to bigdigtals comments the GTR2 looks more suitable:

[2021-03-12 14:09] Stormyfour20 commented on #1497
Thanks for the reply. The goal here is to not wake up my wife. By the time I can get to the "snooze alert" menu 30+ seconds has gone by and now she's awake. On the S7 I had I could silence the alert almost immediately with the power button and everyone but me stays asleep. Yes I want to know the blood sugar value, but I can see that in the kitchen when I get up to treat the low. Thanks for trying

[2021-03-12 14:17] Navid200 commented on #1497
Oh, I see, you silence the alarm right away.  But then, quietly unlock the phone to see what the alert was.  I understand now.

Just in case you don't know, there may be another option, which may be an improvement but not the perfect solution that has been disabled due to the Android 11 ...

There is an ascending volume profile.
You can enable it by going to Settings -> Alarms and Alert -> Glucose

[2021-03-12 17:01] Navid200 commented on #1502
xDrip users who like to have a repository of their blood glucose readings can use Nightscout as long as they follow the clear instructions.

Mongo is a no go and we were supposed to switch to Atlas.  And one can even set up a new Nightscout account as well, again following the clear Nightscout instructions.

If anyone likes to make changes to Nightscout, the suggestions should be made on the Night

[2021-03-12 17:01] #1502 closed

[2021-03-12 17:09] jamorham commented on #1648
@dcacklam I haven't tried this, but don't you just do `Settings` -> `Apps` -> `App Info` -> `System Apps` -> `Google Play Store` -> `Remove Upgrades` on the watch?

[2021-03-13 00:23] Navid200 commented on #245
Closing due to inactivity

[2021-03-13 00:23] #245 closed

[2021-03-13 00:38] Navid200 commented on #1309
Closing due to inactivity

[2021-03-13 00:38] #1309 closed

[2021-03-13 00:44] Navid200 commented on #715
Duplicate: https://github.com/NightscoutFoundation/xDrip/issues/434

[2021-03-13 00:44] #715 closed

[2021-03-13 09:51] vguttmann opened #1670 "[Feature Request] User-changeable Insulin profiles without a custom version"
### If you need support for xDrip, PLEASE DO NOT FILE A TICKET HERE
For support, please post a question to the xDripG5 group at Facebook (https://www.facebook.com/groups/xDripG5) or visit the Gitter room at https://gitter.im/jamorham/xDrip-plus.
Please also search the existing issues for similar ideas before opening a new feature request.

### Is your feature request related to a problem? Please d

[2021-03-13 11:23] gemmid81 commented on #504
Hi I was wondering if anyone could help me. I have just set up my son's Medtrum cgm with xdrip and it is showing as lost on his handset. Does the use of xdrip mean that the information bypasses the handset? Thank you for any information 😊

[2021-03-13 21:17] Navid200 commented on #1670
@vguttmann Would you please have a look at the following?
https://github.com/NightscoutFoundation/xDrip/issues/718
If you can add your suggestion to that existing open feature request, please do and close this issue.

Otherwise, please explain what makes this request completely different.

[2021-03-13 22:05] Navid200 commented on #718
I think the capability to add multiple insulin types already has been added to xDrip.
I am hence closing this issue.  Please let me know if you think I have overlooked anything.

[2021-03-13 22:05] #718 closed

[2021-03-13 22:07] Navid200 commented on #531
The capability to use multiple insulin types exists.
Please see
Settings -> xDrip+ Predictive Simulation -> Multiple Insulin Types

I am closing this issue.  Please let me know if you think it should remain open.

[2021-03-13 22:07] #531 closed

[2021-03-14 00:27] Navid200 commented on #545
I think any setting you change, not just insulin-related, requires that you restart the phone.  You are better off doing that always.
I agree that what I just typed should be in documentation.
But, I don't think we are going to add a note to every setting that you need to restart after an update.
I am going to add the label to document as a reminder.

[2021-03-14 00:27] #545 closed

[2021-03-14 00:31] Navid200 commented on #1054
@k2s You are now a contributor, right?
I hope you don't mind me closing this issue.  We need to organize and prioritize the issues so that you guys (developers) can look and see what needs help without having to comb through hundreds of open issues.
I'm sure you can open a chat room with other developers to get answers if you need to.
If I am misunderstanding the purpose of this issue, please go a

[2021-03-14 00:31] #1054 closed

[2021-03-14 00:38] Navid200 commented on #1153
@gruoner It seems k2s addressed your request.

We are closing the issues that have been addressed so that we end up with only open issues that are identifying bugs or feature requests that have no work-arounds.
The main objective is to reduce the number of open issues so that you guys (the developers) can look at the open issues, without having to comb through hundreds of questions, and find out r

[2021-03-14 00:40] Navid200 commented on #1192
@gruoner Can we close this issue please?
We are asking the user community to use the support channels for asking questions instead of opening issues.
I hope you are OK with that.
Thanks

[2021-03-14 00:51] Navid200 commented on #1259
@aisaila @tolot27
Would you please edit the title to reflect editing insulin type parameters?

[2021-03-14 05:12] Navid200 commented on #1491
Closing due to inactivity

[2021-03-14 05:12] #1491 closed

[2021-03-14 05:15] Navid200 commented on #1482
Closing due to inactivity

[2021-03-14 05:15] #1482 closed

[2021-03-14 05:18] Navid200 commented on #1481
@JimZam Looks like this issue has to do with AAPS and not xDrip.
Can we close this issue here then please?
Thanks

[2021-03-14 05:20] Navid200 commented on #1480
@Archibald-rgb Looks like your issue is with an app other than xDrip.
Can we close this issue please?
Thanks

[2021-03-14 05:26] Navid200 commented on #1071
Closing due to inactivity

[2021-03-14 05:26] #1071 closed

[2021-03-14 05:29] Navid200 commented on #1331
@FreDiabetics Would you please ask using the support channels to see if anyone else is experiencing the same behavior?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-14 05:30] Navid200 commented on #1328
Closing due to inactivity

[2021-03-14 05:31] Navid200 commented on #1319
@nshtg if you like to reopen this as an issue, please respond to the suggestion by bigdigital.

[2021-03-14 05:31] #1319 closed

[2021-03-14 05:34] Navid200 commented on #1310
Can we close this issue please?
Thanks

[2021-03-14 05:35] Navid200 commented on #1327
If you like to reopen, please communicate what you found out the others were doing.

[2021-03-14 05:35] #1327 closed

[2021-03-14 05:37] Navid200 commented on #1330
@FreDiabetics Please use the support channels to consult with the user community before opening an issue.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-14 05:38] #1298 closed

[2021-03-14 05:42] Navid200 commented on #1297
@Josef-A refer to the documentation for xDrip.
What do you mean by that?
There are a lot of capabilities that are not documented.  We definitely can improve that and create documentation.
But, I don't think we should have an open issue for every item that has no documentation.

Please let me know if you disagree.
Otherwise, I would like to close this issue.
Thanks

[2021-03-14 05:43] Navid200 commented on #1289
@steve8x8 Would you please use the support channels for asking questions instead of opening an issue here?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-14 05:46] Navid200 commented on #1285
@siblues Would you please post here?
https://gitter.im/jamorham/BlueJay
We are asking the user community to use the support channels to consult with other users before opening an issue.
Thanks

[2021-03-14 05:46] #1285 closed

[2021-03-14 05:50] Navid200 commented on #1265
You cannot download the BG readings from Nightscout.
Please ask in the Nightscout group for options.
https://www.facebook.com/groups/cgminthecloud
Please update accordingly and close this issue.
Thanks

[2021-03-14 05:51] Navid200 commented on #1254
Closing due to inactivity

[2021-03-14 05:51] #1254 closed

[2021-03-14 05:53] Navid200 commented on #1251
@ARkaine2 Would you please close this issue if it has been resolved?
Would you please consult with the user community for questions?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-14 05:53] Navid200 commented on #1249
Closing due to inactivity

[2021-03-14 05:53] #1249 closed

[2021-03-14 05:54] #1236 closed

[2021-03-14 05:57] Navid200 commented on #1240
@jamespaulley Would you please explain what you mean?
Do you have the phone screen locked when this happens?
What notification exactly do you mean?
Would you please show a snapshot of it here?
Thanks

[2021-03-14 09:03] #1480 closed

[2021-03-14 09:05] tolot27 commented on #1330
@Navid200 this is a valid feature request and not a question which can be answered from supporters.

[2021-03-14 09:39] Josef-A commented on #1297
This problem with other character then a-z seems hard to troubleshoot. Some people have the problem some don’t. When this thread opened it seems to be many that had the same problem. After that I haven’t heard so much about it. Maybe one user per month.

I understand that it’s natural in these kind of project that the documentation is lagging behind the features.

In the end it is a tradeoff betwe

[2021-03-14 11:39] gruoner commented on #1153
@Navid200 no you can't - its not implemented the way we disussed (i can't find any PR rised by @k2s solving this improvement request).... i'm not sure if we will implement it in future.
u can close it for cleanup reasons but then u will loose all the information tied with that and u will loose the "feature request point" for such a new kind of profile

[2021-03-14 11:44] #1192 closed

[2021-03-14 12:28] emp-00 commented on #1310
Closed, problem solved (see above)

[2021-03-14 12:28] #1310 closed

[2021-03-14 12:50] korkats commented on #1153
I would like to think that someone could resolve the issue before closing. It has been requested a number of times, without anything moving forward. With Tresiba now becoming very popular with us Diabetics, surely someone can resolve this. On 14 Mar 2021 11:40, gruoner ***@***.***> wrote:
@Navid200 no you can't - its not implemented the way we disussed (i can't find any PR rised by @k2s solving th

[2021-03-14 14:28] Navid200 commented on #1330
We are asking the user community to help us by spending some time doing their own research before opening an issue.
When the first post contains a question like "Or is it already possible to get access to it", it could be taken that the possibility may exist and the user doesn't know.

So, you know that this capability does not exist?  Would you please answer the question then?
Also, would you ple

[2021-03-14 14:46] Navid200 commented on #1153
No, I must have misunderstood.
I read the first post (I always do) and the only request in it sounded to me for a request for someone to provide an activity curve for tresiba, which the second post did already.

If a developer creates a pull request for a feature that has no open issues, do you think that the pull request cannot be found by someone searching, and we need to open an issue and keep

[2021-03-14 16:01] tolot27 commented on #1330
@FreDiabetics It looks like your are a developer and using the API. Maybe, you can provide a pull request?

[2021-03-14 16:58] Navid200 commented on #1159
@gregorybel Wouldn't that defeat the purpose of the ascending volume profile?
The idea is to start the alarm very quietly, to avoid disturbing the others.  But, rapidly raise the volume to avoid delaying the alarm for too long.  If it takes 4 volume increments for you to hear it, you are effectively experiencing a 4-minute delay.  And, this is before you hear it for the first time.  If the increme

[2021-03-14 17:08] k2s opened #1672 "don't enable `Out of process libre algorithm.` when oop2 is detected"
https://github.com/NightscoutFoundation/xDrip/blob/5d0fc93743c8809ed4bab3016a46cf6ae24ddc90/app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/CompatibleApps.java#L109

When xDrip detects that oop2 is installed it asks user to enable it as external calibration app.

![xxxx](https://matrix.org/_matrix/media/r0/download/matrix.org/2021-03-14_qeJKExMDuEphFQGa)

User knows that data will be pr

[2021-03-14 17:36] Navid200 commented on #1271
Closing due to inactivity

[2021-03-14 17:36] #1271 closed

[2021-03-14 17:37] Navid200 commented on #1261
We can always reopen this.
Please update if you want to.

[2021-03-14 17:37] #1261 closed

[2021-03-14 17:44] Navid200 commented on #1244
@shean023 Would you pleaser ask using the support channels.
Someone there may be able to answer your question.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

If there is no documentation for what you are looking for, we may have to create it.  There are other subjects that fall in that category as well.

Please update.

[2021-03-14 17:48] Navid200 commented on #1251
Why do you need to remove 20 minutes?  You don't have to use it.
What's the difference between 40 and 45 minutes?
Where should we draw the line?  I mean what if we add 45 minutes and then someone asks for 44 minutes?

[2021-03-14 17:52] Navid200 commented on #1225
@Kaivish Please update.

[2021-03-14 17:56] Navid200 commented on #1212
@jomonba1 There are a lot of guides in the support channels.  There are people who can help.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Would you please use them?

Would you please close this issue if you don't have the problem any longer?

Otherwise, would you please update?

[2021-03-14 18:14] sigbjorn88 commented on #1159
Support you, @Navid200. In my case I think the ascending was chosen to be similar to the dexcom app where the alarm volume is raised if unacknowledged. But see now the difference between them more clealy. Thanks

[2021-03-14 18:21] Navid200 commented on #1130
Closing due to inactivity

[2021-03-14 18:21] #1130 closed

[2021-03-14 18:21] rhyspeck92 commented on #1664
I am experiencing the same issue
Xdrip version 2021.02.17
Samsung s21 ultra (android 11)
G6 8M
All xdrip settings as recommended, the device will ask to pair at least twice a day, majority of the times its early hours of the morning.

[2021-03-14 18:46] Navid200 commented on #1188
@jamespaulley Thanks for reporting this.
This seems quite the same as this one: https://github.com/NightscoutFoundation/xDrip/issues/555

Unless you disagree about the similarities, it is best to post in the same thread to signify that more people have the same request as opposed to opening new issues.  The more open issues we have, the less attention each single issue receives.

I suggest that yo

[2021-03-14 18:50] tswire commented on #1664
Sounds like a samsung s21 ultra specific bluetooth stack issue. You have exact same issues as me. I don't think the failure time matters as mine was random but only a couple times per day. For what it's worth, I switched to dexcom build your own app temporarily and solid for 2 days with no disconnects. Not promoting it just saying it works and needed something to work while the devs take a look at

[2021-03-14 18:57] Navid200 commented on #1664
Solving a device-specific issue is extremely challenging, if not impossible, when the developer doesn't have access to the specific device.
So, please be patient.

[2021-03-14 18:58] tswire commented on #1664
Absolutely. 100% agree and will be patient

[2021-03-14 18:59] rhyspeck92 commented on #1664
I was orginially build your own dexcom app but wanted to switch back to xdrip as I find it better for infomation, but I was getting frequent signal loss from it like 7/8 times a day from 5 mins to over 30 mins, at first I thought it might of been the new transmitter I am using so I rang dexcom and they couldn't do anything due to me being on android 11.... I may try dexcom app again until issue is

[2021-03-14 19:07] Navid200 commented on #469
I am closing this issue for now.
Would you please update as to if you are still experiencing this with newer releases of xDrip?
Thanks

[2021-03-14 19:07] #469 closed

[2021-03-14 19:32] Navid200 commented on #302
This issue, based on its title, was about adding the ability to enter basal insulin.
That capability already exists now.  Hence, I am closing this issue.

If you like something else, please find a related open issue and add your suggestion to it.

If you like to bounce ideas, please use the support channels.  Many developers frequent those as well.
https://www.facebook.com/groups/xDripG5
https://g

[2021-03-14 19:32] #302 closed

[2021-03-14 22:03] Navid200 commented on #318
@old-square-eyes
When you calibrate, either the slope will be affected or the intercept or both.

I understand you like to have a warning when the slope is changed too much.
But, someone else may also like to get a warning when the intercept has changed too much.
I think the solution is to just check both intercept and slope after every calibration to be safe.
If you make that a habit, you will no

[2021-03-14 22:12] old-square-eyes commented on #318
Yes, I should have said slope and calibration. Though many people don't understand it so simple language is probably best. "Calibration has changed significantly, are you sure you wish to proceed", or something like that.

[2021-03-14 22:21] Navid200 commented on #318
Considering you have been a part of the community longer than me, I am just making suggestions for your consideration.
In my opinion, we diabetics need alarms to tell us that our glucose is high or low.

But, I think we can survive if we don't get an alarm when the calibration slope or intercept has changed.  That happens when we calibrate and we should always check the result of the calibration.

[2021-03-14 22:32] old-square-eyes commented on #318
Couple of things. Agree that more alarms is potentially annoying for users, and extra dev work. Seconly the number of people using raw data and calibrating on xDrip is shrinking due to the new Dexcom transmitters (not sure what other sensors this feature would service). It's a very old ticket and I use Native myself now. Though, logs and UX in xDrip does not quite gel that well with Native users -

[2021-03-14 22:35] old-square-eyes commented on #318
from a safety perspective, I personally, only calibrate once a day, even on Raw. SO a big shift undetected can result in a day of wrong readings. High or low, it's not great.

[2021-03-15 00:22] ChaseCarHG commented on #1035
This issue is confirmed resolved:
Inside xDrip+, I successfully used a custom Access Token (created from the Admin Tools menu) before the @ symbol in my REST API URL. I don't seem to have access to update the issue though.

[2021-03-15 01:27] #1035 closed

[2021-03-15 01:49] Navid200 commented on #1604
@ARkaine2  Please look at the following two open issues, which both outdate this new one.
https://github.com/NightscoutFoundation/xDrip/issues/311
https://github.com/NightscoutFoundation/xDrip/issues/907

All of these feature requests are about the fast rising and fast falling alerts.

I don't see a reason to favor this request to those two.    I suggest adding new requests to the older ones to sh

[2021-03-15 03:50] Navid200 commented on #1525
@ARkaine2 Would you please close this issue and add your request to the existing issue?
https://github.com/NightscoutFoundation/xDrip/issues/1519
Thanks

[2021-03-15 06:44] tolot27 commented on #1454
@ErickRosas Please can you close this issue if your translations got merged (the crowdin way).

[2021-03-15 07:03] tolot27 commented on #1244
@shean023 There is only the [Web Service API](https://github.com/NightscoutFoundation/xDrip/blob/master/Documentation/technical/Local_Web_Services.md) exposed.

[2021-03-15 07:03] #1244 closed

[2021-03-15 07:07] tolot27 commented on #1181
Please try the latest nightly build.

Closing this issue due to inactivity and likely resolution.

[2021-03-15 07:07] #1181 closed

[2021-03-15 07:09] tolot27 commented on #1672
@tzachi-dar Please can you have a look at this issue?

[2021-03-15 08:21] agniabakush commented on #1007
![IMG_20210315_152036](https://user-images.githubusercontent.com/33312884/111123585-1ba61f00-85a2-11eb-8b80-483b70eab24f.jpg)
It's really cool!!!

[2021-03-15 10:05] mcurly commented on #1007
@agniabakush that's brilliant!

So you were able to somehow solve this issue.

Care to share your findings?

Thank you in advance!

[2021-03-15 10:07] Stormyfour20 commented on #1497
That's a fantastic idea! I'll give it a go and set it up today.

On a side note, when I posted this a while back I was using Toujeo. I've since switched to Tresiba for long acting. Wow, what a difference. Nighttime lows are almost a thing of the past. That's another way to silence those alarms.

Thank you for trying to help out, I really appreciate it.

[2021-03-15 10:11] balrog20pl commented on #1007
Is that work on gtr v1?

[2021-03-15 10:22] mcurly commented on #1007
@balrog20pl it looks like so  GTR (v. 1)

In my case I am delving with a GTR2...

But it looks very promising!

[2021-03-15 11:14] samhedgerows commented on #1658
Personally I like that the ascending volume starts silently - with the "vibrate on alerts" option enabled it starts with vibration only before starting to make a noise. I find the vibration loud enough most of the time, but if I miss it it then starts to make a noise. So I'd definitely not want this functionality to completely disappear.

However with vibrations off the alarm doesn't make any nois

[2021-03-15 11:40] jamorham commented on #1664
@tswire Sorry the log doesn't contain enough information, can you enable ob1 debugging see here: https://github.com/NightscoutFoundation/xDrip/wiki/Enabling-Debugging-for-OB1-collector and then submit log after it happens again after that is enabled. thanks

[2021-03-15 11:46] jamorham commented on #1664
Additionally, is this only happening when syncing data from glucose meter is enabled? If so please try disabling bluetooth glucose meter integration feature and rebooting phone and see if the issue still occurs. Thanks

[2021-03-15 11:54] Navid200 commented on #1497
You're welcome.
Please update either way (if it works or not).
If you are satisfied, please close the issue or let me know to do it.

[2021-03-15 12:16] Navid200 commented on #1658
One consequence of the alarm starting silent is that is you tap on test alarm, it makes no sound!  Many think there is an error and stop giving the ascending volume a chance.

Are you saying if you have the vibration as you like to set it and also have the minimum volume, instead of silent, it will be too loud for you?  The vibration is actually much louder than minimum volume, isn't it?

I'm not

[2021-03-15 12:24] Navid200 commented on #1664
@rhyspeck92 Please use the link that jamorham has provided, and follow the instructions there, to enable OB1 debugging.  When the disconnect happens next time after having enabled OB1 debugging, go to event logs and upload.  Before submitting, add the following to the message to identify yourself:
1664_rhyspeck92

[2021-03-15 12:40] Navid200 commented on #182
I suggest you edit the title because right now it may be mistaken with the existing missed reading alert of xDrip, which is something completely different.

You can change the title to for example:
FR: Watch alert for leaving phone Bluetooth range
The title of an issue is very important.  Some people may not even open the issue if they get the wrong impression from the title.

[2021-03-15 13:02] Navid200 commented on #342
@old-square-eyes Did you ever try filtering options to reduce the impact of noise?  I'm not saying they work.  I'm just wondering if you tried them.
This is really a noise issue, that you are trying to resolve using a special alarm.

[2021-03-15 13:06] gregorybel commented on #1159
@Navid200 I don't agree, I think it would be a great feature to be able to setup at which rate volume is ascending. Then it is up to us to define a good rate depending on the alert. For example, I do alerts for several glucose level. When I am at 200, I like to be alerted, because it may go even higher and I need to check everything is normal (is the pump really attached?), but I don't need to be

[2021-03-15 13:06] #1159 closed

[2021-03-15 13:10] rhyspeck92 commented on #1664
i how now enabled the OB1 debugging via the QR code in the link, i will keep you updated to see if it has helped with the pairing requests, just to add i am not using any glucose meter, just xdrip and G6.
thankyou

[2021-03-15 14:34] agniabakush commented on #1007
Guys, it works. I have used info from msg above mine. Just follow links

[2021-03-15 15:09] Navid200 commented on #1159
It's good and bad to give too much control to the user.  This may sound wrong.  But, it is life.
We don't have a low volume option.  People have asked for it.  It has not been added.  If anyone submits a pull request to add the ability to set the volume low, I will go out of my way to stop and disapprove it.
Reason:
Imagine a construction worker who goes to bed after having changed the volume prof

[2021-03-15 15:12] Navid200 commented on #1664
@rhyspeck92 Thanks for enabling the debugging.  Please note all that does is to produce more detail logs.  That is not meant to fix the issue.
With more details in the logs, jamorham may have a better chance of figuring out what could possibly be causing the disconnect.

[2021-03-15 15:21] rhyspeck92 commented on #1664
Ahh I see :) well I will keep you posted, when it next asks for a pair
request I will screen shot the event logs and post

On Mon, 15 Mar 2021, 15:13 Navid200, ***@***.***> wrote:

[2021-03-15 15:39] rhyspeck92 commented on #1664
No problem will do 👍

On Mon, 15 Mar 2021, 15:34 Navid200, ***@***.***> wrote:

[2021-03-15 16:03] Navid200 commented on #494
I don't think Libre has a temperature sensor, does it?

[2021-03-15 16:09] Navid200 commented on #593
It doesn't exist.
You can find the existing Wiki.
https://github.com/NightscoutFoundation/xDrip/wiki
There are many subjects that currently don't have documentation.
We would like to improve documentation.

We cam reopen this issue if needed.
But, as I said there are many subjects that currently have no documentation.  it would be pointless to have an open issue for every one of them.

[2021-03-15 16:09] #593 closed

[2021-03-15 16:12] Navid200 commented on #620
Would you please try the ascending volume profile?

Settings -> Alarms and Alerts -> Glucose Alerts Settings ->Alert Volume Profile

[2021-03-15 16:38] mcurly commented on #1007
Ok. I'm "trying to trace back" your successful path, and need to check out these questions:

You just edited a custom gtr2 watch face correct?

I'm assuming you "cropped out" and "padded" that custom watch face to the needed scenario (displaying the xDrip main interface, correct)?

And finally putting that customized and repacked watch face onto the xDrip folder that is already available for that

[2021-03-15 16:39] Navid200 commented on #918
I am closing this because it represents the same bug reported in https://github.com/NightscoutFoundation/xDrip/issues/565.
If I  am mistaken, please let me know.

You can post in that existing issue if you like.

[2021-03-15 16:39] #918 closed

[2021-03-15 16:42] Navid200 commented on #989
We will be adding documentation.
There are many subjects that need documentation.

[2021-03-15 16:43] Navid200 commented on #1019
Closing due to inactivity

[2021-03-15 16:43] #1019 closed

[2021-03-15 16:49] Navid200 commented on #1085
Duplicate:  https://github.com/NightscoutFoundation/xDrip/issues/530

Would you please add your comments to the existing open issue?
We are closing duplicate, as well as partially duplicate, issues.

Please let me know if you think this is not mainly the same concept.

[2021-03-15 16:49] #1085 closed

[2021-03-15 17:07] Navid200 commented on #1255
@Diabeticliberty Would you please close this issue if it has been resolved?
If not, would you please explain why you believe this is an xDrip issue?
You can always consult with the user community using the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-15 17:09] #1255 closed

[2021-03-15 17:09] Navid200 commented on #1670
Duplicate:  https://github.com/NightscoutFoundation/xDrip/issues/1259

Closing the issue because there is another already.  You can add your comments to the existing issue.
Thanks

[2021-03-15 17:09] #1670 closed

[2021-03-15 17:53] twinko commented on #1007
Please reade more than1 post above. agniabakush is only taking abouzt gtr (V1).
If you want  a summary of the actual development for gtr2 see my post from 12th of march 2021

[2021-03-15 17:56] balrog20pl commented on #1007
It work perfectly :) thans so much
![20210315_183932](https://user-images.githubusercontent.com/46726104/111198702-28397000-85c0-11eb-8fd5-e2fd6caa8048.jpg)

[2021-03-15 17:58] Navid200 commented on #1274
@mick711 Would you please ask using the support channels if you haven't already?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Please update then.

[2021-03-15 18:00] Navid200 commented on #1275
There are so many open issues because people have been using the issue platform as if it was a forum.  The result is that, with hundreds of open issues, the developers have a hard time figuring out which issue needs their attention.
I am closing this issue.  I ask you to please use the support channels for consulting with the user community.
Thanks

[2021-03-15 18:00] #1275 closed

[2021-03-15 18:05] Navid200 commented on #1302
Closing because it is very similar to #929.  Please add any comments you may have to that issue.
Thanks

[2021-03-15 18:05] #1302 closed

[2021-03-15 18:08] Navid200 commented on #1326
Closing due to inactivity.

[2021-03-15 18:08] #1326 closed

[2021-03-15 18:11] Navid200 commented on #1355
Closing due to inactivity

[2021-03-15 18:11] #1355 closed

[2021-03-15 18:12] Navid200 commented on #1356
Closing due to inactivity

[2021-03-15 18:12] #1356 closed

[2021-03-15 18:14] Navid200 commented on #1369
@RainerTischnet Would you please close this issue if it has been resolved?
Otherwise, you can get a lot of useful information from the support channels.  You can post and ask questions and even developers frequent them and will answer questions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-15 18:29] Navid200 commented on #1421
There must have been an update.
That link goes no where now.

[2021-03-15 18:34] Navid200 commented on #1456
@cristiancgm If you post your question in the facebook group, it automatically translates your post.  People can reply in their choice of language, and you will see the responses translated to your language.
https://www.facebook.com/groups/xDripG5

Would you please tell us how you like to proceed.
I would like to close this issue unless we understand that there is really a bug.

Thanks

[2021-03-15 18:40] Navid200 commented on #905
I am closing this issue.
Using the ascending volume profile addresses this issue as well.

[2021-03-15 18:40] #905 closed

[2021-03-15 19:03] tolot27 commented on #1421
Link fixed.

[2021-03-15 19:08] tolot27 commented on #1421
With #1422 a link to CONTRIBUTING.md was added. This issue will be closed automatically after #1675 gets merged.

[2021-03-15 19:22] tolot27 commented on #989
@techbelle What should be setup on Google App Engine? xDrip is an Android application which gets build with Gradle. If you don't want to create an environment by yourself, you can try the Makefile provided in #903 or look at [.travis.yaml](https://github.com/NightscoutFoundation/xDrip/blob/master/.travis.yml).

[2021-03-15 19:22] #989 closed

[2021-03-15 19:25] tolot27 commented on #494
The Libre sensors have a temperature sensor but the values are not provided over BLE or NFC.

[2021-03-15 19:27] Navid200 commented on #494
Thanks

I had been told that the Libre CGM was sensitive to temperature because it had no temperature compensation.
If there is a sensor, I don't understand why there is no temperature compensation.

[2021-03-15 19:29] techbelle commented on #989
I don't have a question about how to set it up. This is a suggestion of, _there should have documentation on how to set this up_, in case users don't want to use Heroku. I set up Nightscout on Google App Engine a couple of years ago, there were many other users asking then how to do it.

[2021-03-15 19:31] tolot27 commented on #494
Indeed, there is a temperature compensation implemented in the firmware. But compensation likely fails for situations like warm or ice bath. xDrip cannot compensate raw values by temperature because the values are not exposed.

[2021-03-15 19:33] tolot27 commented on #989
But you cannot run xDrip at Google App Engine. Hence, there cannot be a documentation about it. Or I do not understand your question. Setting up [Nightscout CGM Monitor](https://github.com/nightscout/cgm-remote-monitor) at your own server or somewhere else is a totally different topic. In that case you have to ask the Nightscout community for support.

[2021-03-15 19:41] GoudekettingRM commented on #1355
I completely forgot to respond here, but that completely solved my problem! Thanks @Syntheist

[2021-03-15 19:56] techbelle commented on #989
ahh I see what you are saying. It did take quite a bit of effort to set up both (xDrip and Nightscout) end to end, but it's fine to keep this closed.

[2021-03-15 20:19] rhyspeck92 commented on #1664
As requested event log has been sent when pairing request was made with OB1
debugging enable

On Mon, 15 Mar 2021, 15:38 Rhys Peck, ***@***.***> wrote:

[2021-03-15 22:54] ChaseCarHG commented on #904
Wow! This rocks!
It made me curious if any of NightScout's CGM-Remote-Monitor was already in Python, but it seems not per here:
https://github.com/nightscout/cgm-remote-monitor

Q1: With that, what are the chances of having this ported into NightScout?

I got my NightScout instance running from Docker on my Synology only a few days ago, and meanwhile, would love to have this as its own container,

[2021-03-15 23:19] tolot27 commented on #494
It looks like it is possible.

[2021-03-15 23:58] Stormyfour20 commented on #1497
I tried it out today and seems like this is an excellent alternative. I'm calling this a fix and closing the issue. Another happy customer! Thanks.

[2021-03-15 23:58] #1497 closed

[2021-03-16 00:03] psit commented on #1088
I think this could easily be fixed by adding a (possibly customizable) delay to xdrips poll time.
E.g: If the last BG value has a timestamp of `00:52:23`, the next poll should be at `00:57:53`, (+5:30) not at `00:57:23`, because at that time the value is read from the sensor by the pump. It has not been processed by the uploader or NS by then.

[2021-03-16 00:43] jwoglom commented on #904
Hi @ChaseCarHG --

1. Personally, I think that the tconnect synchronization feature is best served as a separate tool that works together with Nightscout, rather than integrating it into the existing Nightscout source code. It doesn't depend on any of Nightscout's internals and just utilizes the public API. Also, like you mentioned, Nightscout is written in Javascript while the tconnectsync projec

[2021-03-16 09:42] vguttmann commented on #1623
I would support this Feature Request. I like xDrip, because it gives me a very powerful suite of tools, and I have often thought that this would be useful.

I do understand your concerns, however, there are also people who do not want their glucose values to be stored on some server.

And lastly, if we'd be making one-datapoint-decisions, we'd have passed out a few times already. Diabetes manageme

[2021-03-16 09:51] vguttmann commented on #1259
Why don't we take this a bit further and allow users to add their own insulin?

Technically, since only three types can be used at once, editing the other ones should also work. It doesn't feel as nice, but it would probably also serve the purpose.

[2021-03-16 09:59] vguttmann commented on #91
I wonder if it would be possible to train a neural network (I think a GAN is well-suited to this) to do this.

It would also eliminate the need for setting all the parameters manually, and if done correctly, all the factors can be extracted from the model. I'll go ahead and document what I eat more closely, and experiment a bit with my data.

To a point, this model will work, but the more exact we

[2021-03-16 10:20] lkraleva commented on #1007
Thank you very much guys! i'm very happy i will be able to see my daughter BG on my watch. Unfortunately i'm very newbie, i have downloaded python, pillow, and files from github. Where i can find the watchface files now? Even i can't find the xdrip folder on my phone.

[2021-03-16 11:13] twinko commented on #1007
@lkraleva

see my post from 12th of march 2021. Follow the link i posted and read the description, artem linked instructions on how to install it.
https://www.patreon.com/posts/im-ready-to-gtr-47426327

[2021-03-16 13:00] jamorham commented on #1664
@rhyspeck92 thank you for the logs. They apparently show that the phone simply is not using the bonded connection causing the transmitter to complain. This smells like a framework bug, but it may be possible to work around. Can you confirm that you have both the `Minimize Scanning` and `Avoid Scanning` options set to enabled in the advanced G5 settings?  These are the default work-arounds for Andr

[2021-03-16 13:26] rhyspeck92 commented on #1664
Thanks for getting back to me I have no enabled both minimize scanning and
avoid scanning to see if this helps

On Tue, 16 Mar 2021, 13:00 JamOrHam, ***@***.***> wrote:

[2021-03-16 14:45] Navid200 commented on #813
I am worried that some may feel that they should have the option and freedom and don't need to be forced what to do.  I would like to just explain my thinking and we can talk about it.  I'd like to use an example.

Let's say we add a Low volume profile to xDrip.
Let's say a construction worker, who has to deal with a very noisy work environment, changes the volume profile to Low before going to be

[2021-03-16 14:58] Navid200 commented on #91
@fastworks What is the status of this?
Would you please update considering it has been a while.

Should this change to a feature request?
Or, is it an xDrip bug?

[2021-03-16 15:23] lkraleva commented on #1007
Thanks, i was able to install it on my watch and works great. Followed same steps for my wife watch, which is GTR 42 glitter edition. And is failing to install the watchface (it's authenticated, but can't install it). Is this works only on 47 or?

[2021-03-16 15:28] Navid200 commented on #1581
@PhilTU Please look at the title of this issue.
That issue has been resolved, right?
Would you please close the issue?

[2021-03-16 16:25] agniabakush commented on #1007
I believe that you should create watchface for 42mm. And put it in xdrip folder

[2021-03-16 17:01] dirceusemighini commented on #1007
Does this can be applied to gts2 mini, with some changes to generate a square face? Or in this watch it's a different system?
In freemyband website it does not cite the gts2 mini, just the gts2.

[2021-03-16 19:05] JayJay265 opened #1676 "Signal lost Dexcom Reciver"
With the version from May 8th, the Dexcom receiving device only shows signal loss.

[2021-03-16 19:44] twinko commented on #1007
@lkraleva @dirceusemighini
read the comments on the linked patreon page. Moreover notice the headline, does it say "also supported: gts2, gts2 mini and GTR 42"?

[2021-03-16 20:09] Navid200 commented on #1676
@JayJay265 Please post in the facebook group or the Gitter room, describe the problem in detail.  Include the phone brand and model, the CGM and transmitter, and include the year when you specify the xDrip version.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

Please don't open an issue here as a first step.
If you are sure that there is a bug and you want to repor

[2021-03-16 20:09] #1676 closed

[2021-03-16 23:42] ChaseCarHG commented on #904
First off, you rock!

First build took overnight on a Synology, but it persevered.
My .env file is set up adjacent to the dockerfile in /volume1/docker/tconnectsync/
I am Eastern Daylight Time too.

Now, I'm so close yet so far...

[code]

[2021-03-16 23:49] jwoglom commented on #904
@ChaseCarHG let's move this to a github issue thread on the tconnectsync repo to not clog up the thread. Can you re-post this at https://github.com/jwoglom/tconnectsync/issues/new?

[2021-03-17 01:28] Navid200 commented on #1088
@Pogman Do I understand correctly that the uploader creates a discrepancy between the real upload time to Nightscout and the time value it gives it?

How can we fix this in xDrip?

xDrip can be used as a follower of Nightscout.  And it works perfectly fine for example if the uploader is another xDrip collecting from a G6 transmitter.

If we add a delay to when xDrip collects data from Nightscout,

[2021-03-17 02:21] Pogman commented on #1088
The uploader reads sg data from the pump at around 30 secs after the pump has received them from the sensor. The entry sent to NS contains the time of the sg reading i.e. a reading at 12:00:10 will contain this timestamp while it may have been sent to NS at 12:00:40 (or even later).

I don't know what xDrip is doing precisely but it looks to be using the actual timestamp of the sg reading to base

[2021-03-17 02:27] Navid200 commented on #1088
I wonder how this is done when the collector is xDrip directly from a G6.
In that case, this problem does not occur.

@tolot27 Do you know what makes the difference in behavior between the two cases?

[2021-03-17 06:15] tolot27 commented on #929
PR #1307 tries to address this.

[2021-03-17 06:15] tolot27 commented on #1088
Likely a duplicate of #929 and PR #1307 tries to address this.

[2021-03-17 07:40] psit commented on #1088
If someone can provide me an APK, I would happily test the PR. Just drop me a link.

[2021-03-17 08:25] Arakon commented on #1648
Just to add to this, Wear Installer is now available on the Play Store and can install the watch-side app directly from phone as before (using the "Apps on your phone" section of the Play Store on the watch). That should greatly simplify the installation process.

[2021-03-17 11:02] #1188 closed

[2021-03-17 11:03] jamespaulley commented on #555
When you choose a sound for Forecasted Low Alerts, the same sound is used for Missed Readings Alerts. Can we have independent sound selection for these as well, as users may rely on specific alert sounds to convey meaning.

[2021-03-17 11:06] jamespaulley commented on #1240
Basically, if the ongoing notification is set to anything other than "silent" in the Android system settings, every 5 minutes the ambient display on the phone will illuminate, showing the time and notification icons. It seems to also do this if I enable "use notification channels". Do you have a phone there you could try to recreate the behaviour on?

[2021-03-17 11:09] #1481 closed

[2021-03-17 11:20] JimZam commented on #1240
You can disable it: Look for Registry Notifications and see the channelID xdrip is using to display the glucose every 5 minutes. Now open Settings in your phone, look for xDrip app then Notifications. There look for the channelID and turn off Floating Notifications and Not show notifications in lock screen. If channelID is null, then change this in Ongoing Notifications.
I hope it works

[2021-03-17 14:11] Navid200 commented on #1088
@tolot27 Are there instructions somewhere for compiling an apk from a pull request?

[2021-03-17 14:28] tolot27 commented on #1088
Google?

I do not recommend applying #1307 because it introduces another settings variable. The underlying problem should be solved in `Anticipate.java`.

[2021-03-17 14:55] jamorham commented on #1664
@rhyspeck92 ok try this setting as a test for a work-around: Uncheck the setting `Allow OB1 unbonding` - I would like to know what this does when turned off for you. What I am hoping is that even you might get a pairing request, if you ignore it then following readings may work without intervention. Could you try that and see if it helps at all? This may not work but it is the next thing to experi

[2021-03-17 15:00] rhyspeck92 commented on #1664
Of course I will try these settings as recommended and update you

On Wed, 17 Mar 2021, 14:56 JamOrHam, ***@***.***> wrote:

[2021-03-17 16:26] Navid200 commented on #1648
@Arakon Are there pros and cons?
Can it be used easily, by beginners?
Can we suggest that everyone for example on facebook?

[2021-03-17 17:05] dcacklam commented on #1648
Bigger question: does it require root?

On Wed, Mar 17, 2021 at 9:30 AM Navid200 ***@***.***> wrote:

[2021-03-17 18:57] derboo1 commented on #1654
I`m also very interested in this feature. Would love to see this

[2021-03-18 11:23] #1212 closed

[2021-03-18 15:32] Arakon commented on #1648
No need for root, and using the Playstore version has the advantage that it can install the watch side of the app itself, without needing to use adb or similar for the first time.

[2021-03-18 15:47] Navid200 commented on #1648
Thanks Arakon

Anyone else has tried Wear Installer?

[2021-03-19 00:55] Navid200 commented on #1658
@tzachi-dar @jamorham  @AdrianLxM

Looking at the AlertPlayer.java file (from the March 8, 2021 release), I see this:
![1 (2)](https://user-images.githubusercontent.com/51497406/111714975-3b9b4400-8829-11eb-9043-8d9adcbfbb34.png)

The _if_ statement on line 530 keeps the alert (for ascending profile only) silent for 3 minutes.  Only the vibrate option will function in that period.  But, if the use

[2021-03-19 10:55] lkraleva commented on #1007
I've tried that, i have used the below software to convert the 47 whatchface to 42.
https://amazfitwatchfaces.com/forum/viewtopic.php?t=1076&start=10

But still is failing to install it. Not sure where i'm mistaken....

[2021-03-19 13:20] anirudhreddy28 opened #1677 "Support for "Libre Pro" Sensors"
### Is your feature request related to a problem? Please describe.
We notice that Xdrip currently does not support Libre pro sensors. We in India primarily use Libre Pro as our CGM and we are struck with using the Native apps like Tomato (for Miao Miao) and Link Blucon (Ambrosia Blucon). Most of them are happy with the Native apps but with the recent server issues Miao Miao had, we are interested

[2021-03-19 13:49] Navid200 commented on #1648
@AdrianLxM
Is the suggested solution (Wear Installer) acceptable?  If yes, would you please close this issue?
If not, would you please explain what is missing?
Thanks

[2021-03-19 14:03] AdrianLxM commented on #1648
@Navid200 the wear APKs are missing in the builds/releases section.

[2021-03-19 14:25] Navid200 commented on #1677
Would you please post in the existing thread?
https://github.com/NightscoutFoundation/xDrip/issues/1329

[2021-03-19 14:25] #1677 closed

[2021-03-19 14:36] Chris2001 commented on #1647
Thanks to @Navid200 I switched to the 20210129 version to tackle a problem with the original dex reader (signal lost for hours) with the current 20210308 version. OTOH I now sometimes don't have any values for 15 minutes. Using a 1.6.5.25 fw with old 80xxxx transmitter ... thanks all ...

[2021-03-19 17:43] killer25436 commented on #1166
I have can help. In xdrip, each Bolus <=0.3 units is shown as a triangle (if the corresponding) option ist activated. But each bolus >0.3 units is displayed with its value (doesn't matter if it's smb or not).
It would be great to have an option to display all smb, regardless of size, as triangles. As an alternative, the threshold of 0.3 units, which decides if there ist an triangle or not, could b

[2021-03-19 18:25] anirudhreddy28 commented on #1329
@Navid200 copying the feature request 1677 (duplicate) I had submitted.

**Is your feature request related to a problem? Please describe.**
We notice that Xdrip currently does not support Libre pro sensors. We in India primarily use Libre Pro as our CGM and we are struck with using the Native apps like Tomato (for Miao Miao) and Link Blucon (Ambrosia Blucon). Most of them are happy with the Native

[2021-03-19 19:07] Navid200 commented on #1647
@Chris2001 Would you mind showing/sharing your current settings from the following page?
Settings -> G5/G6 Debug Settings

[2021-03-19 21:47] Chris2001 commented on #1647
Thanks, but I think that was just a temporary glitch, everything seems to work fine now with the 20210129-version.

[2021-03-20 00:58] Navid200 commented on #1537
I am experiencing this for the first time.
The data table timings are perfect.  Results on Nightscout are also perfect.  It's only what xDrip shows on the screen that has the issue for some points.
So, it must have to do with the FUZZER.

The only thing I did was to reset my phone and install xDrip from scratch.  So, I have a very small number of points.  I wonder if that's the cause.

I will be m

[2021-03-20 01:37] k2s opened #1680 "bug: Setting auto configure needs to be pressed twice if Camera permission was not already enabled"
### Setting auto configure needs to be pressed twice if Camera permission was not already enabled

### Your environment
- xDrip master
- Android 10

### Expected behavior
From any place in xDrip where `AndroidBarcode.scan()` is called without Camera permission allowed, it should open the scanner after I allow Camera.

### Actual behavior
If Camera is not allowed and `AndroidBarcode.scan()` is call

[2021-03-20 12:58] Navid200 commented on #1664
@rhyspeck92 Any updates?

[2021-03-20 14:21] rhyspeck92 commented on #1664
Seems to be working alot better I've had no pairing requests so far but
I've had a couple of sensor errors and it's kicked back in around 45 mins
later

On Sat, 20 Mar 2021, 12:59 Navid200, ***@***.***> wrote:

[2021-03-20 14:30] Navid200 commented on #1664
I think sensor error is something else.  It could be caused by anything that could cause readings that seem unexpected to the transmitter.  It has nothing to do with loss of connectivity.  I'm not saying you should ignore them.  I'm saying we can talk about those somewhere else.

[2021-03-20 14:31] Navid200 commented on #1664
@tswire Have you had a chance to try the settings @jamorham suggested?  Or, are you still on the Dexcom app?

[2021-03-20 15:08] tswire commented on #1664
I am still on dexcom and just had to switch transmitters so didn't feel comfortable testing right now. Nex sensor I will. Sorry
________________________________
From: Navid200 ***@***.***>
Sent: Saturday, March 20, 2021 10:31:49 AM
To: NightscoutFoundation/xDrip ***@***.***>
Cc: tswire ***@***.***>; Mention ***@***.***>
Subject: Re: [NightscoutFoundation/xDrip] Device is marked as bonded but we ar

[2021-03-20 15:52] Navid200 commented on #1664
@jamorham

When you say default work-arounds for Android 10+, does it mean if someone installs xDrip on Android 11 and selects G5/G6, those two settings will automatically be set?

Are those two settings that anyone on Android 11 should set?

[2021-03-20 17:32] Navid200 commented on #565
Seems the problem has been resolved for units of insulin.
But, the problem remains for carbs.

[2021-03-20 17:49] Navid200 commented on #663
This issue was opened in 2018 about problems experienced after a patch was installed then.
A lot has changed since then.  Many use Samsung and xDrip today.
And every now and then, there is another problem with Samsung, and it has always been resolved.

If you have a problem today, please first post on facebook or in the Gitter room to see what others say.
If you find out that others are experienci

[2021-03-20 17:49] #663 closed

[2021-03-20 17:51] Navid200 commented on #751
Closing due to inactivity

[2021-03-20 17:51] #751 closed

[2021-03-20 18:36] melena-barbacil commented on #1521
You can try to install the app directly from this web. I had problems with my mobiles to install the oficial app and now is working in my MotoG5 plus.

https://apktada.com/app/com.agamatrix.sterling.menarini

[2021-03-20 19:19] Navid200 commented on #764
I see several comments stating that the issue (opened more than 2 years ago) has been resolved.  So, I am closing it.
If this particular issue is not resolved, you can open it.  But, please then clearly state what is not working and what you think can be done in xDrip to resolve it.

[2021-03-20 19:19] #764 closed

[2021-03-20 20:15] Navid200 commented on #981
Closing due to inactivity.
You can reopen if you think this still should be addressed.

[2021-03-20 20:15] #981 closed

[2021-03-20 20:20] Navid200 commented on #985
Please update if there is still no work-around for this and reopen.

[2021-03-20 20:21] Navid200 commented on #1000
Closing due to inactivity

[2021-03-20 20:21] #1000 closed

[2021-03-20 20:28] Navid200 commented on #991
Closing due to inactivity.
Please reopen if needed.

[2021-03-20 20:28] #991 closed

[2021-03-20 20:43] Navid200 commented on #1110
If you are the only one who needs this and you have already found a solution, I don't see the point of leaving this open.
If you like to share your solution, I guess you can open a pull request?

[2021-03-20 20:52] Navid200 commented on #1117
There have been lots of updates since this issue was opened.
Would you please update if this is still missing?

[2021-03-21 00:06] Navid200 commented on #1493
@ANDREAPIPPI Would you please close this issue if your questions has been answered already?
You can ask your questions using the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-21 01:04] #1493 closed

[2021-03-21 01:04] ANDREAPIPPI commented on #1493
Closed.

[2021-03-21 01:20] Navid200 commented on #1603
Sounds like the issue is resolved.
Thanks

[2021-03-21 01:20] #1603 closed

[2021-03-21 01:28] Navid200 commented on #1597
@jordipbou I am not a developer.
But, I am curious why you say that both raw and processed values are helpful.
Would you please explain why?

The purpose of calibration is to correct a known error.
The accuracy of calibration is paramount.  And, you can inspect the calibration graph any time you desire.
But, why would you want to see both raw and processed all the time?

[2021-03-21 01:30] Navid200 commented on #1604
Please add your feature request comments to the existing open issue.
Thanks

[2021-03-21 01:30] #1604 closed

[2021-03-21 09:56] xannasavin commented on #1648
Just got aware of this issue - is there already any tutorial in place what to do? I could not entirely wrapping my head around it reading the discussion. All I got was that I need somehow that "wear installer" app...
Especially for non-techy users this would be quite helpfull.

[2021-03-21 10:52] jamorham commented on #1664
@Navid200 yes those settings should automatically be set. If that isn't working then I need to review that code.

[2021-03-21 11:54] jordipbou commented on #1597
First of all, we are not calibrating because when started using xdrip four months ago we were looking for info and found posts commenting that Libre2 needed no calibration, so we started using it that way and have not found errors worth calibrating. So we don't know much about calibration procedure and calibration graph.

But we are using Libre2 raw data not for correcting errors but to see fast c

[2021-03-21 12:10] Navid200 commented on #1664
@jamorham Thanks

And should those also be set for Android 10?

Sorry, I am not sure Android 10+ means
a: only above 10
or
b: 10 and above.

[2021-03-21 12:20] Navid200 commented on #1597
Thanks for explaining.

Do you also use the xDrip's "Forecast Lows" alert?
If not, please give it a try.

[2021-03-21 21:08] rustymonkey commented on #1404
Looks like the same issue reported at #303 and #325.

[2021-03-22 01:14] k2s commented on #1661
First of all, @gruoner, thank you for you great contribution with multiple insulin. Your ideas and skills are great contribution to xDrip.

xDrip is nice base. The code quality is solid. xDrip is very open to extension. Functionality is overwhelming. New activities in ticket and translation management are visible and were needed. @jamorham is a rigorous, but open minded keeper of the code and I am

[2021-03-22 11:47] scammels commented on #1654
im also interested.

[2021-03-22 11:58] scammels commented on #1500
ive also tried this and get the same, 'scanning' appear, so did you close this issue because youwere able to remove the Scanning datafield from the Wahoo? or were you ever able to get it to work?

[2021-03-22 12:17] derboo1 commented on #1500
No it is not working! I still have the scanning field 🙄

[2021-03-22 15:03] Navid200 commented on #1587
@jredders Any updates on this?
Are you still experiencing this issue?

[2021-03-22 15:44] renegadeandy opened #1681 "Performance issues "xDrip+ isn't responding. Do you want to close it?""
### Subject of the issue
Many times each day, when I open xDrip+, typically by pressing on a widget on my phone's home screen, the app opens, instantly, and things are great.

Also many times each day when I open xDrip+, by pressing on a widget on my phone's home screen, the screen goes black, and I get an android OS warning saying "xDrip+ isn't responding. Do you want to close it?

Version :39e88

[2021-03-22 17:21] gfginter commented on #1664
I was having major issues with this since upgrading to my s21 Ultra. When it was asking to reconnect it was turning on my screen so my battery was draining like crazy as well. Minimize Scanning and Avoid Scanning options were set to disabled by default so after seeing this thread I enabled them this morning. Will report back after a day or two on my experience and can provide logs if need be.

[2021-03-22 18:24] Navid200 commented on #1681
Please add your comments to the existing issue and we can talk about them there.
https://github.com/NightscoutFoundation/xDrip/issues/1328

[2021-03-22 18:24] #1681 closed

[2021-03-22 18:38] tolot27 commented on #1328
@renegadeandy Did you ever reboot your phone?

[2021-03-22 19:26] renegadeandy commented on #1328
Many times each day, when I open xDrip+, typically by pressing on a widget on my phone's home screen, the app opens, instantly, and things are great.

Also many times each day when I open xDrip+, by pressing on a widget on my phone's home screen, the screen goes black, and I get an android OS warning saying "xDrip+ isn't responding. Do you want to close it?

Version :39e880d-2021.02.17
Code: 21021

[2021-03-22 19:39] gruoner commented on #1661
@k2s: glad to see that i'm not alone in this boat - same on my side: young child, non-native english speaker, 3 pens (with a more complicated therapy schema) and dexcom; but with a wife with very high demands on data gouvernance and thus a local nightscout server, VPNs and a local sophisticated reporting engine together with a self-learning neural net for BG-prediction and insulin profile adoption

[2021-03-22 19:45] Navid200 commented on #1328
How long have you been experiencing this?
Ever since you started using xDrip?
Or, ever since you started using the phone?
Or since you started using the watch?
Or, just out of the blue, it started happening?

Are you getting BG readings?
Are your xDrip settings correct?

[2021-03-22 20:04] renegadeandy commented on #1328
How long have you been experiencing this?
**Always**
Ever since you started using xDrip?
**Yes**

Are you getting BG readings?
**Yes**
Are your xDrip settings correct?
**.....which ones in particular? It's performing its job correctly bar the fact that it doesn't respond constantly.**

[2021-03-22 20:13] Navid200 commented on #1328
There are xDrip settings that are experimental.
There are different combinations of settings that give you readings.  But, just because one has readings doesn't mean their settings are optimal.

I use Dexcom, not Libre.
There is an xDrip setting, for Dexcom, called ""Force G5 to UI Thread".  If you were using Dexcom and had that setting, I would ask you to disable it.

We have recommended settings

[2021-03-22 20:59] tolot27 commented on #1328
@renegadeandy I experienced a similar behavior on a Samsung Galaxy S4 mini after it ran for more than a year. It got worse over time. Than I enabled "Save Database Daily" and set "Glucose Retention" to 90 days. This shrunks the xDrip database and the GUI got responsive again. Maybe you can try this, too.
How old is your phone?

[2021-03-22 21:30] Navid200 commented on #1537
I know that this is an unexpected behavior.
I have confirmed, at least in my case, that the values in the data table are perfectly correct.  Therefore, the values on Nightscout are correct as well, which I have also confirmed.

This must be due to the FUZZER not being applied to all the points.  It seems to me it only happens when you have only limited number of points, when you just install xDrip

[2021-03-22 21:31] gfginter commented on #1664
Well I can report back that there is no difference in behavior I am still getting bond state unpaired.

[2021-03-22 21:35] Navid200 commented on #1664
@gfginter Thanks for reporting.
Please enable detail logs:  https://github.com/NightscoutFoundation/xDrip/wiki/Enabling-Debugging-for-OB1-collector

Would you please now disable "Allow OB1 unbonding" while still leaving minimize scanning and avoid scanning settings enabled?

[2021-03-22 21:39] rhyspeck92 commented on #1664
Since I have enabled this I haven't had any pairing requests since

On Mon, 22 Mar 2021, 21:35 Navid200, ***@***.***> wrote:

[2021-03-22 21:41] Navid200 commented on #1664
@rhyspeck92 Please confirm you mean since you _disabled_ "Allow OB1 unbonding".
And thanks so much for the update.

[2021-03-22 21:46] rhyspeck92 commented on #1664
I have disabled "Allow OB1 unbonding" and have "minimize scanning" and
"allow scanning" enabled, I have been running for around a week now without
a pairing request.

On Mon, 22 Mar 2021, 21:41 Navid200, ***@***.***> wrote:

[2021-03-22 21:54] gfginter commented on #1664
I did disable AllowOB1 unbonding and it still asked to pair. I am doing it again. Should I also disable "Allow OB1 initiate bonding" ???

I have enabled the detailed logs as requested.

[2021-03-22 21:58] rhyspeck92 commented on #1664
Yes Allow OB1 initiate bonding, I have this enabled

On Mon, 22 Mar 2021, 21:55 Garrett, ***@***.***> wrote:

[2021-03-22 22:02] Navid200 commented on #1664
@gfginter No, you should not.
You should exactly follow the advice of jamorham, the developer, in this thread, and only that.

What version of xDrip are you using.  Please check on your classic status page to find out.

[2021-03-22 22:05] rhyspeck92 commented on #1664
It says to have it enabled in the docs, I was never told to turn it off

On Mon, 22 Mar 2021, 22:02 Navid200, ***@***.***> wrote:

[2021-03-22 22:07] gfginter commented on #1664
I will only follow jamorham's advice, thank you. I am on the latest nightly 17cbcf0-2021.03.08

[2021-03-22 22:11] Navid200 commented on #1664
@rhyspeck92 I fear multiple conversations are going on.  That's why some of us quote people to make it clear whom we are talking to.

I understand that you are happy because after following jamorham's work-around approach, you have not had any more pair requests.   That is great.  If a new release comes out to address the work-around, I will post here to inform everyone.

In the meantime, please d

[2021-03-22 22:14] rhyspeck92 commented on #1664
No problem, thanks again for all the help and support, if any problems
arise I will update you 🙏

On Mon, 22 Mar 2021, 22:11 Navid200, ***@***.***> wrote:

[2021-03-22 23:35] renegadeandy commented on #1328
The question then becomes what is the recommended settings for MiaoMao @Navid200 .

@tolot27 nice tips. I have also now enabled Save Database Daily (can't see how this will help, the description doesn't really suggest what it does?).

I have also changed "Glucose Retention" to 90.

Phone is 2 years old. It's a pretty powerful device https://www.gsmarena.com/honor_9-8704.php

[2021-03-22 23:44] Navid200 commented on #1328
@renegadeandy As I said, I don't use Libre.
You can ask for recommended settings in the support channels, either in the facebook group or the Gitter room.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

The number of individuals looking at these issues is much less than the number of people frequenting the support channels.

[2021-03-23 00:46] Navid200 commented on #1250
I am puzzled what has caused this.
People have sent logs successfully recently:
https://github.com/NightscoutFoundation/xDrip/issues/1664#issuecomment-799351659

[2021-03-23 07:53] parapenT1sta opened #1682 "Support for Bubble Mini"
As far I know Bubble Mini uses the same protocol of Bubble but it seems the name of Bubble Mini needs to be added to the list.

[2021-03-23 08:06] tolot27 commented on #1682
Can you create a PR for it or ask the @bubbledevteam ?

[2021-03-23 08:08] parapenT1sta commented on #1682
@tolot27 I asked them, since was only yesterday that I was able to check the Bubble Mini.

Btw, do you know when this will be merged? https://github.com/NightscoutFoundation/xDrip/pull/1662

[2021-03-23 08:52] tolot27 commented on #1682
No, I don't. The PR is ready for merging, now. Only jamorham can merge.

[2021-03-23 11:06] parapenT1sta commented on #1682
@tolot27 I left a message in Gitter group. Hopefully he can see it.

[2021-03-23 11:39] meksor commented on #1527
Could I ask you to post these somewhere else than facebook?
People without an account cannot see this...

[2021-03-23 13:09] Navid200 commented on #1527
I am bringing gradually bringing them here:
https://github.com/Navid200/xDrip/wiki

[2021-03-23 15:52] gfginter commented on #1664
I successfully made it through last night without disconnecting. Of course I will continue to monitor throughout the day and let you know if I begin to experience issues again. Thanks for all you do.

[2021-03-23 19:11] meksor commented on #1527
Awesome, thank you :heart:

[2021-03-23 21:14] viq commented on #1647
With recent nightlies G5 sensor was restarted only on day 6. No restart happened on day 9.

[2021-03-23 21:23] Navid200 commented on #1647
@Chris2001 Would you please explain the problem you experienced with the March 8, 2021 release?
Please don't use Acronyms (dex reader) as everyone may not know what you mean.  I suppose you meant Dexcom receiver?

[2021-03-23 21:26] Chris2001 commented on #1647
Yes, sorry, I meant the original Dexcom Reader. It was blocked for hours not receiving any values when I was using the current nightly. After switching back to the older version (29.01.2021) everything went to normal again (both devices, the original reader as well as my phone with Xdrip+ receiving values every 5 minutes now).

[2021-03-24 19:21] jredders commented on #1587
No I am not. Unfortunately, I have no idea why it stopped happening.

[2021-03-24 19:24] Navid200 commented on #1587
Thanks for the response.
I suggest you close this issue.  It can always be reopened if it is experienced again.
And, it can be found in searches.  Closing it does not wipe everything off.

[2021-03-24 19:32] #1587 closed

[2021-03-25 06:31] BarryVerdammt opened #1683 "Hello, could there be an option to add a insulin with flexible values. For example: I use Tresibia as basal but it works 2 h less than on other people."
### If you need support for xDrip, PLEASE DO NOT FILE A TICKET HERE
For support, please post a question to the xDripG5 group at Facebook (https://www.facebook.com/groups/xDripG5) or visit the Gitter room at https://gitter.im/jamorham/xDrip-plus.
Please also search the existing issues for similar ideas before opening a new feature request.

### Is your feature request related to a problem? Please d

[2021-03-25 08:34] raferg opened #1684 "Tasker support, add medtronic cgm values directly from tasker."
So with the help of one plugin to Tasker it is possible to read cgm values from the alerts. How complex is it to add in a plugin for adding these values directly to xdrip (and then upload to mongodb/heroku etc)?

[2021-03-25 09:39] raferg commented on #1684
I've got https://play.google.com/store/apps/details?id=com.balda.notificationlistener installed in Tasker and am referencing the %nltitle variable to get the value out - how to publish this to nightscout (or xdrip) is the part that I think is quite achievable.

[2021-03-26 03:08] Navid200 commented on #1683
Would you please post your comments in the existing (linked) issue?
https://github.com/NightscoutFoundation/xDrip/issues/1259

Please let me know if you think this, for some reason, is different.

Thanks

[2021-03-26 03:08] #1683 closed

[2021-03-26 04:01] IntoxRRR commented on #1537
I have years of data and occasionally see this behaviour.
Today it even happened for only two data points.

![20210326](https://user-images.githubusercontent.com/60309229/112574818-653b0900-8def-11eb-84fc-0fe25479e0ae.jpg)

When I check the BG data table and take a closer look at the seconds of the time stamps, I see a small drift. During the whole day the 5-minute-intervals stay straight and the

[2021-03-26 07:20] BarryVerdammt commented on #1683
Sorry, i didn't found it.

Navid200 ***@***.***> schrieb am Fr., 26. März 2021, 04:08:

[2021-03-26 12:27] Navid200 commented on #1683
Here:  https://github.com/NightscoutFoundation/xDrip/issues/1259

[2021-03-26 13:41] BarryVerdammt commented on #1683
I didn't found it before you sent me the mail before. I'm new to GitHub. I
got it now. Again: nice work. I appreciate.

Navid200 ***@***.***> schrieb am Fr., 26. März 2021, 13:28:

[2021-03-26 15:37] #1682 closed

[2021-03-26 19:59] nightscout-ricsi commented on #1625
I have it on a Samsung A5 (SM-A520F) Android 8.
Works as it expected.
The widget stay in sync with xDrip.
It does not overlap with the clock etc.
Sorry, I can't measure power drain. I will write a note about it after some day, if there is any.
I really like this feature, was looking for this for months! I don't think it need to be improved. I made a photo, there is the screensaver xDrip, too.
![xd

[2021-03-26 21:47] Navid200 commented on #1653
The Dexcom app is also using the updated formula:

![164204007_10225567122631653_3147251438616353955_n](https://user-images.githubusercontent.com/51497406/112695828-23e04300-8e5b-11eb-8004-fd299250f99d.jpg)

For the same average, xDrip would currently have an A1C est of 5.8.

[2021-03-26 22:32] ubersputnik commented on #1461
I have the same problem except the configuration I have is SSW3, Samsung phone, Dexcom g6 and, Dexcom receiver. The Dexcom receiver is not working since I started the SSW3. I wish I could collect the readings on Dexcom receiver as it would be the simplest way for my my endo to have it.

I am thinking about getting the tslim pump so your question caught my eye.  Unfortunately, the only way way to r

[2021-03-26 22:51] Navid200 commented on #1461
@ubersputnik So, you don't have a t:slim pump.
How could you be having the same problem then?

[2021-03-27 01:00] 00george commented on #1394
I'm fine with patching as I have a technical job but new to using the libre 2 as I'm I used to the decxom. Which patch do you need to use so you can continue to use libreview to send data to doctors? Also Is there additional setup that needs doing for this?

[2021-03-27 03:26] Navid200 commented on #357
Closing due to inactivity

[2021-03-27 03:26] #357 closed

[2021-03-27 03:32] Navid200 commented on #503
Closing due to inactivity
Please update (answer questions) before reopening.

[2021-03-27 03:32] #503 closed

[2021-03-27 03:37] Navid200 commented on #716
Please answer questions before reopening.

[2021-03-27 03:37] #716 closed

[2021-03-27 03:38] Navid200 commented on #730
Closing due to inactivity

[2021-03-27 03:38] #730 closed

[2021-03-27 03:52] Navid200 commented on #1186
Closing due to inactivity

[2021-03-27 03:52] #1186 closed

[2021-03-27 04:06] Navid200 commented on #1215
xDrip is not user friendly unfortunately.
We can work on that.
But if we were to prioritize, I would think that making xDrip as a collector user friendly is more important than making it user friendly as a master, which only matters if there is a follower.

I am going to postpone this as a feature request, which we will get to after we address some other issues.

[2021-03-27 04:06] #1215 closed

[2021-03-27 04:09] Navid200 commented on #1216
Those (min and max) are automatically adjusted based on the values present during the current 24-hour period.

[2021-03-27 04:18] Navid200 commented on #1240
@jamespaulley This is already mentioned in the description, isn't it?

![Screenshot_20210327-001416](https://user-images.githubusercontent.com/51497406/112709701-fd89ca00-8e91-11eb-9708-401edf48318c.png)

[2021-03-27 04:20] Navid200 commented on #1251
Closing due to inactivity

[2021-03-27 04:20] #1251 closed

[2021-03-27 04:21] Navid200 commented on #1265
Closing due to inactivity

[2021-03-27 04:21] #1265 closed

[2021-03-27 04:22] Navid200 commented on #1274
Closing due to inactivity

[2021-03-27 04:22] #1274 closed

[2021-03-27 04:22] dkumor commented on #1216
Yes, the max can increase based on the data, however, I have not noticed the max adjusting *down* below 250, even with no data.

[2021-03-27 04:26] Navid200 commented on #1289
I am closing this issue as there have been no answers over a year.
It's more likely to get answers from the support channels.

[2021-03-27 04:26] #1289 closed

[2021-03-27 04:34] Navid200 commented on #1308
@akadismas
Please don't open an issue if a duplicate, open or closed, exists.
Keeping all the discussion in one thread helps keep continuity and present the correct number of people affected.

Duplicate https://github.com/NightscoutFoundation/xDrip/issues/525

[2021-03-27 04:34] #1308 closed

[2021-03-27 08:54] rdaniel88 commented on #1394
@00george , Please contact me again with a personal email address.

[2021-03-27 08:58] wbrettw commented on #1394
@00george Please contact me again and let me an email address.

[2021-03-27 09:41] psonnera commented on #1672
This auto-detection feature is very nice with OOP1. As you said @k2s for OOP2 it's a killer.

[2021-03-27 11:59] Gonzmdv commented on #1461
It looks like the Sony Smart Watch 3, the t:slim X2 pump and the Dexcom receiver runs through the same G6 transmitter channel, while the mobile runs through the other. I have read somewhere that the new Dexcom G7 transmitter will be multichannel, so maybe we will have all of them working as collectors at the same time in a few months. Let's cross fingers.

[2021-03-27 12:14] 00george commented on #1394
Can contact me at george.kenny2@googlemail.com

[2021-03-27 12:33] tolot27 commented on #1394
I've deleted the e-mail address because it's not wise to post it to the public @wbrettw got it anyway.

[2021-03-27 12:34] Chris2001 commented on #1647
Ok, today I had a preemptive restart for the G6 (still using the 20210129 version) and again the G6 is now treated as a G5 from now on (as it seems). Also there were sensor errors for about 30 mins ... I guess I will revert to 20201115 next week ....

[2021-03-27 13:44] Navid200 commented on #1647
@Chris2001 Are you saying it restarted your G6 on day 6?  Or, what do you mean by G6 being treated as a G5?

And why would you use November 15, 2020?  There is a note under that release telling you "connectivity issues have been reported ...".

[2021-03-27 16:18] Chris2001 commented on #1647
No, I used preemptive restart (automatic) on day 9. Now the system will aks for calibration every 24 hours (not a big problem of course). November 15 did not show "conectivity issues" with my Pixel 4a

[2021-03-27 16:21] Navid200 commented on #1647
@Chris2001 If you don't enter the sensor code correctly, or if you enter 0000 as the code, you will be operating G6 in "no-code" mode.  In that mode, you will be asked to calibrate once a day.
None of this is related to this particular issue.

[2021-03-27 16:24] Chris2001 commented on #1647
I didn't enter 0000, I started the sensor like always with aeproper code that was acceptet. But after the preemptive restart (day 9) it now seems to be running in "no-code" mode. Sorry for the fuss, it really isn't a big problem. Everything else works just fine, also the precision is still very high.

[2021-03-27 16:26] tolot27 commented on #1446
@Nyan-Korea Please try the latest version from https://bigdigital.home.blog/2020/08/25/new-xdrip-now-supports-miband-5.

Closing due to inactivity.

[2021-03-27 16:26] #1446 closed

[2021-03-27 16:29] tolot27 commented on #1581
@PhilTU If I understand @bigdigital correctly, this issue should be solved with the latest version from https://bigdigital.home.blog/2020/08/25/new-xdrip-now-supports-miband-5. Hence, I close this issue.

[2021-03-27 16:29] #1581 closed

[2021-03-27 18:56] Navid200 commented on #1210
@steve8x8 Are you still having problems with xDrip?
Have you asked in the Gitter room to see what other may be doing in a similar situation?

[2021-03-27 19:02] Navid200 commented on #1231
Please add your comments to the existing issue: https://github.com/NightscoutFoundation/xDrip/issues/1196

[2021-03-27 19:02] #1231 closed

[2021-03-27 19:07] Navid200 commented on #1383
https://github.com/NightscoutFoundation/xDrip/issues/911

[2021-03-27 19:07] #1383 closed

[2021-03-27 19:23] Navid200 commented on #1455
@fennieewongg Would you please close this issue if it has been resolved?
You can use the support channels to ask questions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-27 19:24] Navid200 commented on #1456
Closing due to inactivity

[2021-03-27 19:24] #1456 closed

[2021-03-27 19:26] Navid200 commented on #1462
@Dusikus Please use the support channels for asking questions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-27 19:26] #1462 closed

[2021-03-27 19:43] Navid200 commented on #1463
I'm just hoping may be I can recreate this problem so that I can see it myself.

In Nightscout settings page in xDrip, I disable data because I don't want xDrip to use data.
So, when I am outside WiFi range, I get the log unable to do REST API ...
But, when I get back to WiFi range, everything goes back to normal.

I have never had to restart the phone to restore uploads to Nightscout.

But, for a

[2021-03-27 19:45] Navid200 commented on #1464
Would you please explain the problem?

If the follower knows which server the master is uploading to, can they not use that same server to follow?
Why does it matter where followers are located?

[2021-03-27 19:59] jlecount commented on #1576
Is there any objection to this patch?  I was looking to get this watch at some point if xdrip supported it...

[2021-03-27 20:23] #1455 closed

[2021-03-27 20:32] Navid200 commented on #1647
I didn't know that was the case.  Thanks for reporting it.
How did it behave before after a preemptive restart?  I have never had a G6 that could perform a preemptive restart.

G6 uses factory calibration, which only covers 10 days.
After restarting a G6, factory calibration cannot continue because there is no characteristic programmed for day 11 or 12 or 13 etc.
So, what you describe makes perfec

[2021-03-27 21:54] tolot27 commented on #1464
It is better to use Nightscout to achieve this. It is very unlikely that it will ever be implemented.

[2021-03-27 21:54] #1464 closed

[2021-03-27 23:42] Navid200 commented on #1578
@luk7227 Would you please close this issue if it has been resolved?

If not, would you please ask using the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-03-27 23:47] Navid200 commented on #1585
I am postponing this.
In absence of a response to my question for clarification, I have to assume this is a nice-to-have rather than a necessity.
We will get to these issues when the time is right.

[2021-03-27 23:47] #1585 closed

[2021-03-27 23:51] Navid200 commented on #1597
@jordipbou A developer may ask you the same question.
Even if a developer goes ahead and implements this, before the implementation can be merged, the same question may come up.

I ask the question again.
Have you used the forecast low alarm to accomplish what you need?
If you can accomplish what you need with xDrip as is, there will be no need to modify xDrip.

[2021-03-28 00:27] jordipbou commented on #1597
Oh, I'm sorry, I thought the question was a suggestion and not needed an answer.

No, I have not used the forecast low alarm. As I said, raw data for libre changes a lot faster and glucose values calculated by xdrip add a lot of latency. If libre data is 10 minutes late of blood glucose values, on fast changing situations the smoothing of raw values made by xdrip can add 10 minutes more.

We have

[2021-03-28 06:04] Chris2001 commented on #1647
Sorry again for the confusion, I have an old 80... transmitter with replaced battery (firmware 1.6.5.25) ... with the preemptive restart you can do 'time travel' back to day 3, so it normally works flawlessly (it did before). So the transmitter really theoretically will work in *factory calibraton mode* until it fails. Normally sensors work for me between 15 and 25 days like that (after that the v

[2021-03-28 09:42] vguttmann commented on #1664
For anyone reading this in the future: An update to Android 11 seems to be safe. I updated my Samsung A40 this night, and so far, there were no problems with the March 26th nightly build.

[2021-03-28 11:42] anyforwork commented on #1597
@jordipbou @jordipbou We have 3 year old daughter and we look forward to your PR. It's really useful feature for us. For example, we do not start taking meal until raw data shows a downward trend. If we will wait smoothed data we can lose dozen minutes and get hypo. If we do not take a pause we can get hyper. This feature also is really useful when daughter is riding her scooter or in the play yar

[2021-03-28 12:40] Navid200 commented on #1647
The time travel capability may have been removed.  Although, I am not 100% sure.

[2021-03-28 14:43] Navid200 commented on #1647
I am closing this issue because I believe the original issue has been resolved.

I will be learning more about the time travel.  We can talk more about it here if needed in the closed issue, or somewhere else.

[2021-03-28 14:43] #1647 closed

[2021-03-28 16:56] Chris2001 commented on #1647
Thanks, highly appreciated ...

[2021-03-28 17:20] tolot27 commented on #1597
Then just create a PR and we can review it. If jamorham decides, it is useful, he will merge it.

[2021-03-28 17:49] tzachi-dar commented on #1597
Are you using the patched app or oop2?

בתאריך יום א׳, 28 במרץ 2021, 20:21, מאת Mathias Walter ‏<
***@***.***>:

[2021-03-28 18:43] tolot27 commented on #1461
No, the SSW3 uses the phone slot. The t:slim X2 is using the medical device slot. Hence, you cannot connect the Dexcom receiver and the t:slim X2 at the same time (see also [Can I use a separate Dexcom receiver to view my data, in addition to the pump?](https://support.tandemdiabetes.com/hc/en-us/articles/360038805554)) but you should be able to use SSW3 as collector side-by-side to the t:slim X2.

[2021-03-28 19:54] Gonzmdv commented on #1461
As I said when I opened this thread, I have never been able to have the pump and the watch working as collector at the same time, so they must be using the same slot. If the watch is connected and working as collector the pump doesn't connect, and the opposite, if the pump is connected, the watch will not connect as collector.

[2021-03-28 23:20] jordipbou commented on #1597
@anyforwork You're describing our exact same scenario and the reasons to implement synchronization on raw values.

@tolot27 I've created the pull request #1686

@tzachi-dar I don'tknow what oop2 is. We're using patched LibreLink app as hardware data source.

[2021-03-29 14:40] Navid200 opened #1687 "Bluetooth, Android 10, disconnects when not on charge"
### If you need support for xDrip, PLEASE DO NOT FILE A TICKET HERE
We went over this in the facebook group and tried all the recommendations.

### Your environment
xDrip: March 8, 2021
G6 8P
Oppo Reno 2, Android 10

### Expected behavior
Proper connectivity on or off charger

### Actual behavior
Since update to Android 10, there are frequent disconnects.  When the phone is on charge, there is no

[2021-03-29 15:52] tolot27 commented on #1687
Is it Android 10 or device dependent? Hence, is it limited to Oppo Reno 2 or not?
Is the Android 10 a custom or stock ROM?

[2021-03-29 15:56] Florinho55 commented on #1687
Its the OPPO stock ROM...Color OS 7.1

[2021-03-29 15:58] Navid200 commented on #1687
Every time I have seen this behavior, after an upgrade to Android 10, it has been resolved after the battery optimization was disabled and after the xDrip settings were corrected to match the recommended Android 10 xDrip settings.

This is the only case I have seen where the problem has persisted.

I forgot to add to the first post, which I will add now, that the Dexcom app has no issue on the sam

[2021-03-29 16:01] tolot27 commented on #1687
Hence, it could also be a problem with the vendor specific adaptions to Android.

I don't believe that his is a general issue with Android 10.

Are there any uploader/follower services configured?

[2021-03-29 16:04] Florinho55 commented on #1687
Yes, Navid and me thought the same. OPPO has a very strict battery saving management, so probably thats a point. Yes, I use Nightscout. But the Upload ended after Update to Android 10, too. At least I guess it is the Upload - the page only says "client loading" forever and ever

[2021-03-29 16:09] tolot27 commented on #1687
@Florinho55 Can you disable Nightscout and test if BT disconnects still appear? Likely, they will appear because xDrip is now "blacklisted" as consuming too much energy.

[2021-03-29 16:15] tolot27 commented on #1687
It is also likely that you can see a warning in the logs that NightscoutService does not have proper foreground permissions. I've tried fixing this but it's not easy because every xDrip service requests foreground bluetooth permissions and not foreground data transfer permissions.

[2021-03-29 16:23] Navid200 commented on #1687
@Florinho55 When you have time to test the suggestions, please uninstall the Dexcom app first.
Then, go back to xDrip and as suggested, disable Nightscout under Settings -> Clod Upload -> Nightscout Sync.
Then, see if the occasional disconnects stop.
If it does, the problem then becomes how to fix Nightscout upload.

I am sorry I suggested that we focus on the connectivity issue and forget the Nig

[2021-03-29 17:20] Florinho55 commented on #1687
Like just disable the API-Upload? There is no specific Nightscout Sync at xdrip, but API Upload

[2021-03-29 17:43] tolot27 commented on #1687
As Navid200 posted. I've updated his comment.

[2021-03-29 17:46] Navid200 commented on #1687
@Florinho55   This is what the page looks like.
![Screenshot_20210329-134232](https://user-images.githubusercontent.com/51497406/112877698-13b3a800-9095-11eb-88ec-850557ed1245.png)

[2021-03-29 17:49] Florinho55 commented on #1687
Interesting...its a bit different in the German version...
![Screenshot_2021-03-29-19-49-01-30_2dd2c1bcb8f659cd696bcba2072f751b](https://user-images.githubusercontent.com/81444904/112878179-e7fde580-90c7-11eb-84ad-9f3cd77d3184.jpg)

[2021-03-29 17:51] Navid200 commented on #1687
Looks like it is disabled already.
Do you still get those xDrip logs about Nightscout?

[2021-03-29 17:54] tolot27 commented on #1687
No, except the translation. You can swith to English (Settings -> xDrip+ Display Settings -> Force ... Text and Choose a specific language) for screenshots or to compare settings.

[2021-03-29 18:04] Florinho55 commented on #1687
Since I installed xdrip again just like 20 Minutes ago it hasnt started collecting yet. The last time I re-installed it it needed some time to get the session again...

[2021-03-29 18:52] Florinho55 commented on #1687
Too happy too early...lost connections again :(
![Screenshot_2021-03-29-20-51-54-59_2dd2c1bcb8f659cd696bcba2072f751b](https://user-images.githubusercontent.com/81444904/112885137-aaea2100-90d0-11eb-8b8e-8a00d63656b9.jpg)

[2021-03-29 18:54] Navid200 commented on #1687
And the logs.  The latest page should be good to start with.

[2021-03-29 19:08] Florinho55 commented on #1687
![Uploading Screenshot_2021-03-29-21-08-09-94_2dd2c1bcb8f659cd696bcba2072f751b.jpg…]()

[2021-03-29 19:18] Florinho55 commented on #1687
Update: Android asked to get  xdripon Whitelist. I confirmed. And after like 5 minutes its now collecting again.

![Screenshot_2021-03-29-21-17-56-91_2dd2c1bcb8f659cd696bcba2072f751b](https://user-images.githubusercontent.com/81444904/112888115-403ae480-90d4-11eb-9a1f-818edfe3e0d5.jpg)

[2021-03-29 19:56] davidrint commented on #904
We connected my daughter up to t slim today. Interested in all options.  Posting here to be kept up to date when you guys are ready. Exciting stuff.

[2021-03-29 20:51] StephenBrown2 commented on #1240
I have that setting off, but my screen still wakes up on a new BG reading...

[2021-03-30 12:30] Florinho55 commented on #1687
And another Update:
Today xdrip is connecting itself and sometimes it works (without me pairing or anything else). But after like two or three collections it stops again

[2021-03-30 12:41] Navid200 commented on #1687
And it works perfectly if you put the phone on charge?

[2021-03-30 12:44] Florinho55 commented on #1687
Yes, without a problem

[2021-03-30 19:59] renegadeandy opened #1689 "MiaoMiao 1 with Libre 2"
I use a MiaoMiao v1 with Libre on Xdrip+ for many years - its' great.

Now i got a Libre 2, but the xdrip+ just reports checksum errors. What can I do to make it work?

Tomato firmware is 0036 if that helps

Latest version of xDrip+ beta channel

[2021-03-30 20:36] hapvlz opened #1690 "xDrip detect future data"
Hi Guys,

I've been using xDrip for some time but today I've experienced seems like a bug.
On main page I can see that last update of glucose is from 182 minutes ago.

In Status page I can see message "Your device has future data on it, Please double check the time and timezone on this phone"
Restarting collector, forgetting device, deleting future data do not help.

In log viewer I can see error

[2021-03-30 21:47] DIajo commented on #1689
I don't thnik that MiaoMiao v1 works with Libre 2. You need MiaoMiao v2, Bubble or you can just use the patched LL-App (in this case you don't need smart reader anymore).

[2021-03-30 21:55] renegadeandy commented on #1689
This page : https://miaomiao.cool/products/miaomiao-smart-reader states that MiaoMiao v1 is compatible with libre1 and libre2 using xDrip+.

[2021-03-31 00:32] hapvlz commented on #1690
Do you have somewhere available alternative xDrip source that can be used in parallel with original xDrip?
I don't want to mess with the original app, but in other hand I would like to debug this issue, however source code base on the released version and while starting it in android studio it's trying to replace the original one on my phone.

I've already installed alternative release on phone, b

[2021-03-31 13:12] Navid200 commented on #1689
Would you please not open an issue to ask a question?
That was explained when you opened this issue, wasn't it?

Would you please do some research first using facebook or the Gitter room before opening an issue here?
We don't have the required manpower to do all the work for you.  So, we are asking you, as a member of the community, to help us.  Does that not make sense?

If everyone who has a que

[2021-03-31 13:12] #1689 closed

[2021-03-31 15:21] hapvlz commented on #1690
Dear @Navid200,

how is it a duplicate? I've did research across all the issues and I seen just one similar behavior but it was happening for Libre2.
Issue that you pinned as duplicate is not relevant at all to issue that I've reported, I don't see a single point that would be the same in pinned duplicate issue and mine.

Can you please provide more info how the issue is explained in #1493 ?
Timez

[2021-03-31 15:24] Navid200 commented on #1690
He calls it legal time.  But, he means daylight saving time, which is the issue.

[2021-03-31 15:41] Navid200 commented on #1690
Your description states that this whole thing started because you changed the time.

Whenever you have multiple devices communicating and transferring data, time synchronization is a requirement.  If the times are not synchronized, you could have all sorts of symptoms.  The symptoms may be different.  But, if we open a unique issue for every single symptom, we will have hundreds of issues, which a

[2021-03-31 15:59] Navid200 commented on #1690
That's OK.  The label suggests that there are commonalities.  That's all.

[2021-03-31 17:28] Navid200 commented on #907
@tzachi-dar
@jamorham
@StephenBlackWasAlreadyTaken
@jstevensog

The following screenshot is from values/arrays.xml.
![Screenshot 2021-03-31 132231](https://user-images.githubusercontent.com/51497406/113185363-5952ab00-9224-11eb-8cb2-b56bb64dbb62.png)

The two thresholds are items 2 and 3.
It's as if some time in the past, there was a first item and someone removed it.

Does anyone know if that eve

[2021-03-31 18:22] hapvlz commented on #1690
I have one a little bit advanced way. I have exported memory of sensor while the issue happened. I was able to import the memory into another sensor that is not used anymore and xDrip while reading showing exactly the same error.

Apart from this I have no idea how we can re-produce that, it just randomly happened.

[2021-03-31 18:24] hapvlz commented on #1690
If any of dev willing to try it out I can share the memory dump, or if something I am available to collect traces or whatever is needed from xDrip using the sensor with "corrupted" memory. I am also available for remote session if needed.

I will put my all efforts to help you fix it if it's a bug (and seems it is).

[2021-03-31 18:59] Navid200 commented on #1690
I personally only know about Dexcom and I am not a developer yet.
Hopefully, someone who has experience with Libre can help.

[2021-03-31 21:29] Navid200 commented on #1664
@gfginter and @rhyspeck92, any updates?

[2021-03-31 21:35] rhyspeck92 commented on #1664
Mine seems to have been working fine :) occasionally but not often I don't
get a reading for like 7/8 mins instead of the normal 5 mins but apart from
that it's been perfect

On Wed, 31 Mar 2021, 22:29 Navid200, ***@***.***> wrote:

[2021-03-31 21:44] #1421 closed

[2021-03-31 23:03] gfginter commented on #1664
@Navid200 I have had no issues either. Have been upgrading to the nightlies with no problem.

[2021-04-01 15:06] Navid200 commented on #682
@Diabeticliberty Would you please explain exactly what text you mean?
Do you mean the main blood glucose value shown almost at the top of the screen?

[2021-04-01 15:16] Diabeticliberty commented on #682
It appears I didn't explain myself adequately. I meant every piece of information that shows up on screen in red at times of low blood sugar.

[2021-04-01 15:28] Navid200 commented on #682
Do you mean this?
![Screenshot_20210401-112405](https://user-images.githubusercontent.com/51497406/113317414-5962b180-92dd-11eb-950d-75df103b27a6.png)

[2021-04-01 15:33] Diabeticliberty commented on #682
Hello, yes that's it. During times of hypoglycemia it is extremely difficult to read. In fairness I struggle with red text against a black background at most other times too. When low on glucose it is really challenging

[2021-04-01 17:54] Navid200 commented on #682
There is no significant contrast of dark red on black, no matter how good someone's vision is.
So, I'm not surprised.  I agree with you and would like to change the text color to white regardless of value.
But, that would be a long-term project and may not be approved considering how everyone has got used to everything as is.
I will work on that.

But, it is possible to change the background color

[2021-04-01 18:04] Diabeticliberty commented on #682
Hello again, thanks for getting back to me. I tried some time ago changing everything I could possibly find to try and make the colour contrasts work better for me. Nothing really seemed to work all that well which was in essence why I posted the issue on here. In all fairness Xdrip+ has brought me nothing but good since the very first day I started using it. It would of course be extremely good t

[2021-04-01 20:38] Navid200 commented on #1141
I may be misunderstanding the whole concept.

If you only calibrate when your trend is flat (horizontal), you will be OK and there will be no need to worry about the delay.

If your objective is to allow users to calibrate even when the trend is not flat, I understand the hope.  But, I would suggest that you use the recommendation of calibrating only when the trend is flat and forget about this id

[2021-04-01 22:20] Navid200 commented on #1250
I am closing this because I don't think this is a present issue.
Please reopen if you are still experiencing it.

[2021-04-01 22:20] #1250 closed

[2021-04-01 22:40] Navid200 commented on #1415
There may be a misunderstanding what one may mean by initial calibration as well as  what one means by the word calibration.

Since a CGM has no direct access to blood, it relies on a post processing to corelate the measured interstitial fluid glucose with blood glucose.
This post-process association is referred to, by many, as calibration.
Likewise, many CGMs need an initial association before th

[2021-04-01 22:58] Navid200 commented on #1441
Has this issue been addressed?  Can we close it yet?

[2021-04-02 02:40] PedanticAvenger commented on #1415
Removed and the issue remains relevant.

[2021-04-02 02:59] Navid200 commented on #1415
1- Calibrating an 8KXXXX transmitter is more challenging than calibrating an 81XXXX.

2- xDrip issues messages that are confusing, when we calibrate an 8KXXXX, although we can calibrate.  The calibration command is called initial calibration even when we are performing subsequent calibrations.

3- We are unable to calibrate an 8KXXXX transmitter using xDrip.

1 was caused by Dexcom.   We cannot do

[2021-04-02 04:31] Navid200 commented on #1690
Do you have a Bluetooth glucose meter?

[2021-04-02 08:00] hapvlz commented on #1690
Yes, but not connected to xDrip/Phone.

[2021-04-02 19:21] JayJay265 opened #1692 "Original Dexcom Reciver loses connection."
I use the original Dexcom receiver and a Samsung S10 with Android 11. Today I worked a little through the Xdrip versions. I noticed that everything works correctly up to version 210203. However, as soon as I have install newer version from 210204 -> 210331 the Dexcom receiver cannot establish a connection to the transmitter. After I install the Version 210203 at the next Connection Xdrip and origi

[2021-04-02 19:34] JayJay265 commented on #1692
Transmitter serial Number start with 81

[2021-04-03 08:31] TRoth9 commented on #1110
Please do. I believe I have been experiencing this same issue just without AAPS in between. Using BYODA to Xdrip+ with 640G / Eversence as the data source. Seems to work on the Xdrip watchface, just not the complications as in #325.

[2021-04-03 09:33] AdrianLxM commented on #907
@Navid200 usually git blame - or the git history of that file - gives you a good hint.

[2021-04-03 17:40] JustusJustJustus commented on #1404
I got exactly the same issue. I am using

- TicWatch or Asus Zenwatch 3 (current wos versions)
- Xdrip+ ( latest release as well as latest nightlies)
-  Xdrip Source is share follower
(- As a share follower the workaround of calibration does not work)

And yes. It is the same issue mentioned in #303 #325. The setup / sources might be different but the issue null/null is the identical one.

I would

[2021-04-03 18:19] Brunchen commented on #1141
The concept is based on the measurement type. Calibration ist not neccessary and does not depend on flat trend. I never calibrated xdrip+.
The libre 2 raw values are wrong, because they are always delayed. Thes come from interstitial fluid and are not equal to the blood sugar concentration. With my equation this deficiency can be solved.

I would be really thankful, if the equation would be implem

[2021-04-03 18:38] Navid200 commented on #1141
Please explain how you can resolve a delay without a time machine.

[2021-04-03 18:43] nightscout-ricsi commented on #1625
I have not noticed any significant power drain when using it. Sometimes it overlaps with the clock, but is does not matter. Thanks, great work!

[2021-04-03 18:54] hapvlz commented on #1690
Again, the same problem happening on a fresh new sensor.
I've just injected new one, activated with Libre application, 60 minutes passed, and xdrip showing exactly the same error and it cannot pass the start new sensor procedure.

[2021-04-03 19:05] Navid200 commented on #907
@AdrianLxM Thank you so much.  I can clearly see when what happened now using the history.

[2021-04-03 21:36] tzachi-dar commented on #907
I don't think there ever was a first value. I think that what we are
actually getting is the string values that are written there. Either "2"or
"3" right now.
I'm almost sure that if you will add values there, they will be used.
Obviously, you need to check for the case of an existing alert and see that
nothing was changed there.

On Sat, 3 Apr 2021 at 22:05, Navid200 ***@***.***> wrote:

[2021-04-05 09:55] jamorham commented on #1586
Before crowdin was used there was a different system for translators which is where the previous credits document comes from. I'd consider keeping this file in the source tree for historical record and recognition but removing its visibility from the EULA screen as it doesn't reflect the current state of translator contributions.

[2021-04-06 09:10] Brunchen commented on #1141
Yes, that why I want to adjust this disadvantage. No adjustment is currently being made in libre 2 and xdrip+.

I think nobody wants to know the interstitial fluid glucose, because this one is not the real glucose level. The interstitial fluid glucose concentration is only required to calculate the above differential equation and should not be displayed in xdrip+.

Yes. I don't want anyone to get

[2021-04-06 09:58] jjosten001 commented on #1369
Hello,

getting nearly similar message:

"Could not process data structure from LibreAlarm:
java.lang.NullPointerExeption. Attempting to read from
filed 'com.eveningoutpost.dexdrip.Models Readingdata
com.eveningoutpost.dexdrip.Models.ReadingData$ TransferObject date' on a
null object reference"

Any idea how to get the cause?

Versions:
xdrip+ nightly 38fee03-2021.03.31
DiaBox V:2021.04.02.1

Thx,

[2021-04-06 12:03] Navid200 commented on #1141
That would be erroneous under certain circumstances (close to peaks and valleys, where the sign of the derivative changes).  In other words, there are times when your blood glucose is increasing while your interstitial fluid is decreasing, and vice versa.

Think about when you have a meal.  The blood glucose starts going up and with a delay so does interstitial fluid glucose.  Eventually, your blo

[2021-04-06 14:40] pmodin opened #1693 "Unable to upload data to mongo Attempt to invoke virtual method 'int.java.lang.Object.hashCode()' on a null object reference"
### Your environment
- Nightly 38fee03-2021.03.31
- Mongodb v4.4.4 running on debian 10

### Expected behavior
I expect being able to sync insulin and bg data to mongo. I'd guess there's some erroneous reading that makes the uploader queue fail.

### Actual behavior
1. Uploader successfully connects and auths
1. Data is not sent.
1. Log shows
[code]

### Steps to reproduce the behavior:
1. View lo

[2021-04-06 14:54] tolot27 commented on #1693
Upload to mongodb is not supported, anymore (see #1502).

[2021-04-06 14:54] #1693 closed

[2021-04-06 16:12] ANDREAPIPPI commented on #1623
I support SimonPhilpott's request for new features.
Sometimes I see big changes between the initial predicted blood glucose curve and subsequent curves after the new readings.
To check this, after having entered carbohydrates and insulin units, I enter the expected glycemic values in an Excel sheet, at intervals of about 15 minutes for the next 3 hours.
So after a few readings and corrections of t

[2021-04-06 16:21] #907 closed

[2021-04-06 16:44] Navid200 commented on #907
@Seithx The lower threshold, of 1, has been added.  You can test it by updating to the latest Nightly build.
https://github.com/NightscoutFoundation/xDrip/releases/tag/2021.04.06

Please report here if you discover any unexpected behavior.
Thanks

[2021-04-06 19:04] Navid200 commented on #1351
A lower threshold, of 1, has been added. You can test it by updating to the latest Nightly build.
https://github.com/NightscoutFoundation/xDrip/releases/tag/2021.04.06

Please report here:(https://github.com/NightscoutFoundation/xDrip/issues/907) if you discover any unexpected behavior.
Thanks

[2021-04-06 19:28] Navid200 commented on #193
If your Android is level 8 or higher, you can use notification channels to accomplish this.

Enable:
Settings -> Alarms and Alerts -> Glucose Alerts Settings -> Notification Channels

Now, you need to trigger the missed readings alert.  To artificially cause that, just change the hardware data source to something non-existent.

After the alert is triggered, use Android settings to go to Settings -

[2021-04-06 19:31] Navid200 commented on #555
If your Android is level 8 or higher, you can use notification channels to accomplish this.

Enable:
Settings -> Alarms and Alerts -> Glucose Alerts Settings -> Notification Channels

Now, you need to trigger the missed readings alert. To artificially cause that, just change the hardware data source to something non-existent.

After the alert is triggered, use Android settings to go to Settings ->

[2021-04-07 03:13] Navid200 commented on #432
Is the existing Forecasted Low Alert an extrapolation, or a simulation?
Does it take into account the insulin and carb intake?

Can I just copy the existing forecasted low alert and modify the copy to become a forecasted high?

[2021-04-07 20:17] cr582 opened #1694 "Range values missing in statistics in german translation"
Version: d1ae1cd-2021.04.06

TIR is missing on statistics page as soon as I'm using the system language (in this case German). As soon as I set "force english text" it is fixed. See screenshot

![Screenshot_20210407_215405_com eveningoutpost dexdrip](https://user-images.githubusercontent.com/62606176/113928173-b505d100-97ee-11eb-92bd-d40b2c19458c.jpg)

![Screenshot_20210407_215333_com eveningoutpo

[2021-04-07 20:40] Navid200 commented on #1692
@englishmastiff2 Why have you posted in this thread?
Would you please either post in the facebook group or the Gitter room?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-04-07 20:44] englishmastiff2 commented on #1692
Unfortunately, I tried to join the Facebook group but they did not accept
my request. I don't know where else to ask I also posted on Reddit. The app
on my phone is not working.

On Wed, Apr 7, 2021 at 2:41 PM Navid200 ***@***.***> wrote:

--
*Aaron Tange*
www.myparcourse.com

*The World is my Gym*

[2021-04-07 20:45] Navid200 commented on #1692
@englishmastiff2 Please post in the Gitter room:
https://gitter.im/jamorham/xDrip-plus

[2021-04-07 20:47] englishmastiff2 commented on #1692
Will do, thanks!

On Wed, Apr 7, 2021 at 2:46 PM Navid200 ***@***.***> wrote:

--
*Aaron Tange*
www.myparcourse.com

*The World is my Gym*

[2021-04-07 20:56] Navid200 commented on #1692
@JayJay265 Would you mind performing an experiment?
Please install a recent xDrip release that disables the receiver.
After confirming that the receiver is not receiving readings, please go to the following:

Settings -> Hardware Data Source

Scroll all the way down to the bottom and tap on "Disable Collection".  Now xDrip will not show readings anymore.

Does the receiver work now?

To go back, j

[2021-04-07 22:17] JayJay265 commented on #1692
@Navid200 I've tried it now. Version 210406 ​​installed. Receiver no longer receives any data. Xdrip set to "Dialsable Collector" Receiver can now receive data again. Xdrip setting reset Reciver does not receive any data. I repeated this three times, each time the same result.

[2021-04-07 22:27] Navid200 commented on #1692
@JayJay265 Thanks
Would you mind posting a screenshot of the following page?  You can take a longshot to keep it in a single image.
Settings -> G5/G6 Debug Settings

Thanks

[2021-04-07 22:36] JayJay265 commented on #1692
Version 210203
![Uploading Screenshot_20210408-003242_xDrip+.jpg…]()

[2021-04-08 00:08] Navid200 commented on #432
@AdrianLxM Would you please state your opinion here too for the record?
I am working on this right now.  But, if you think it would be a mistake to add the capability, I will stop.

I hope we can make a balanced decision.
I understand that some people are concerned that this can mislead an inexperienced person to take insulin when they shouldn't.
On the other hand, people with good control claim t

[2021-04-08 00:49] Navid200 commented on #1692
5 days ago, Voltage B was 257.
What is Voltage B now?

[2021-04-08 06:17] Brunchen commented on #1141
I do not agree with you. I can not understand why the glucose concentration in the blood increases while the interstitial fluid decreases. Let us assume this is the case, then the libre 2 measuring system would lose its approval and will be no longer used.

The concentration of glucose in the interstitial fluid depends only on the glucose concentration in the blood, because it reacts much faster.

[2021-04-08 06:54] JayJay265 commented on #1692
I have change the Transmitter for 2 days
![Screenshot_20210408-085116_xDrip+](https://user-images.githubusercontent.com/80785292/113981432-f5456d80-9847-11eb-9303-4672f7129197.jpg)

[2021-04-08 12:13] agniabakush commented on #1007
Hello folks! Who knows is it possible to switch off vibration after face uploaded?

[2021-04-08 12:31] Navid200 commented on #1141
Even if a developer does what you hope, it will not be merged before similar questions are answered.

Have a look at the snapshot of the clip you linked in your first I have attached to this post.  You can see that blood glucose is going down while the interstitial fluid glucose is still going up.
![Screenshot 2021-04-08 082752](https://user-images.githubusercontent.com/51497406/114026725-90d4df00

[2021-04-08 12:37] Navid200 commented on #1692
@JayJay265 And are you experiencing the same problem with this transmitter?
Why are the battery voltages so low?  Are they rechargable?

[2021-04-08 13:02] Navid200 commented on #1454
@ErickRosas Would you please respond to tolo27's request?

[2021-04-08 13:18] JayJay265 commented on #1692
It is the same with this transmitter. No it is not rechargeable i replace the batterie. Maybe the batterie has no high quality or because i replaced the batterie in february

[2021-04-08 14:46] Navid200 commented on #1692
I posted in the facebook group to see if anyone else may be experiencing the same issue.
https://www.facebook.com/groups/xDripG5/permalink/5238310539575732/

No one so far.

[2021-04-08 16:52] englishmastiff2 commented on #1692
Xdrip started getting readings again last night after reverting to earlier
version and changing to recommended settings.

On Thu, Apr 8, 2021, 8:47 AM Navid200 ***@***.***> wrote:

[2021-04-09 08:59] 1337Reis opened #1695 "Implementation of Oneplus Smartwatch"
Hi devs,

is the Oneplus Watch going to be implemented as wearable device into xdrip?
I'd love to see it as an option.
https://www.oneplus.com/de/oneplus-watch

Thank you for your great work and support

Best regards
1337Reis

[2021-04-09 09:14] #1454 closed

[2021-04-09 09:16] ErickRosas commented on #1454
Translation finished and merged

[2021-04-09 12:30] Navid200 commented on #682
@Diabeticliberty Would you please post a screenshot of the following page?

Settings -> Alarms and Alerts -> Extra Alerts (xDrip+)

[2021-04-09 12:40] Diabeticliberty commented on #682
![Screenshot_20210409-133904_xDrip+](https://user-images.githubusercontent.com/44977244/114181236-29e52200-9939-11eb-8ff0-71cb56213d7b.jpg)

[2021-04-09 12:41] Diabeticliberty commented on #682
Hello, I hope this is what you are looking for. If you need anything else then please just ask.

[2021-04-09 12:47] Navid200 commented on #682
Yes, that's what I wanted to see.

It seems that you have not enabled the alarm.
![114181236-29e52200-9939-11eb-8ff0-71cb56213d7b](https://user-images.githubusercontent.com/51497406/114181557-a4994780-990f-11eb-9679-89ad777d7e7e.jpg)

I would just like to inform you that if you enable it, please see the attached marked image, you will get an alarm when the predicted glucose drops below your Low va

[2021-04-09 12:55] Diabeticliberty commented on #682
Hmmmmm interesting. I have never utilised that particular function. I will however now do so. Thank you for pointing this out to me. Would you now like me to close this issue since you have resolved it as much as is possible without remapping the entire colour scheme of the app?

[2021-04-09 13:46] Navid200 commented on #682
Please leave open for now.

You can specify unique sound clips for your different alarms.  You can even use your own sound clips.  This may allow you to identify which alarm it is without having to focus on small print.

[2021-04-09 14:41] Navid200 commented on #682
Closing it now.
I labeled it (postponed) so that we won't forget.

[2021-04-09 14:41] #682 closed

[2021-04-09 19:53] Navid200 commented on #1692
@englishmastiff2 You are receiving emails, every time someone posts, because you have automatically subscribed to this issue by posting in it.    You can unsubscribe.
This is an open issue and there will be lots of posts.  We need to communicate with the person who has asked for help.
Would you please stop responding to every post?

[2021-04-09 20:01] Navid200 commented on #1692
@JayJay265 It is possible the the receiver is not as sensitive as a phone.  I suspect that since the transmitter battery voltage is so low, the transmitted signal is not strong enough for the receiver.
But, this does not explain why the receiver's behavior changes when you use a different xDrip release!

I will be very interested in the behavior with a better transmitter batter.  For example, a Vo

[2021-04-09 21:42] JayJay265 commented on #1692
So the lowest voltage with which I have ever seen was almost 240 but then it was also over with both devices. With the next sensor I can try a different transmitter with a new battery, but that will take a while.

[2021-04-10 13:10] JayJay265 commented on #1692
@Navid200 So today I used a different transmitter Voltage B 289. When starting the sensor, the Dexom receiver ended the warm-up time five minutes before Xdrip. After the first values ​​also arrived at Xdrip, I installed the version from April.

Since there was now a loss of signal in the receiving values, even though all devices were all in the same positions; I create a small table.

<details ope

[2021-04-10 15:06] hapvlz commented on #1690
Another person in another group experienced similar issue with same error -

https://i.imgur.com/aT79Gh3.png

[2021-04-10 20:29] Navid200 commented on #1692
I was hoping for a summary.
You changed the transmitter to one with a better battery (Voltage B of 289).
1- The problem is resolved.
2- The problem remains.

Which one is it?

[2021-04-10 21:06] JayJay265 commented on #1692
What Do you mean with summary?
 2 The problem remains.

[2021-04-10 23:39] BMDSuperstar commented on #1648
Please add the wear os apk to releases section. So we can sideload it. Thanks!

[2021-04-10 23:46] BMDSuperstar commented on #1648
Worked finde on Skagen Falster 2...thank you!

[2021-04-10 23:49] dcacklam commented on #1648
That is not a valid solution long-term.
'Remove upgrades' won't help people with watches released later this year,
or possibly with new factory-images in the event Google releases an OS
version update.

It may or may not work for any given presently-available watch, but it is
not a fix that will close this issue.

On Sat, Apr 10, 2021 at 4:46 PM BMDSuperstar ***@***.***>
wrote:

[2021-04-11 16:20] Navid200 commented on #1648
Doesn't wear installer take care of that?

[2021-04-12 21:13] schrackschorsch commented on #1648
worked on asus zenwatch 2 .

[2021-04-12 21:52] jamorham commented on #1648
Okay, I will also attempt to adapt the existing xDrip wear installer component to use adb, so once it is installed the first time it can self update.

[2021-04-13 09:40] jamorham commented on #1648
I've added this in the April 13th Nightly which is available now.

So for the updated version the instructions are as follows:

- Install the latest nightly xDrip WearOs component to the watch, eg using Wear Installer app, downgrading play store or via adb manually.
- Make sure developer mode is enabled on the Watch
- Make sure that wifi adb debugging is enabled
- Go to xDrip Prefs on the Watch, s

[2021-04-14 10:07] xannasavin commented on #1648
as feedback on above instructions: I could make it work for me.
Is ADB Debugging needed to be active all the time in order to make xDrip be able to update the watch?

[2021-04-14 20:57] jamorham commented on #1648
@xannasavin  Yes ADB wifi debugging is used by xDrip to update the watch app. Is there a reason you want to turn it off?

[2021-04-15 07:26] xannasavin commented on #1648
Well, to my knowledge it's a security concern, but I might be wrong. However, since I update xDrip manually anyways, I can enable it just before updating xDrip I guess...?

[2021-04-15 10:19] jamorham commented on #1648
@xannasavin  If a rogue device tried to connect to your adb on your watch then your watch would pop up asking for permission first. Each client device trying to use adb has its own set of security keys, you have to approve each different device. With xDrip connecting to the adb bridge internally it generates a key the first time and uses that again each time. So after you have first approved xDrip

[2021-04-15 10:25] xannasavin commented on #1648
thanks a lot for the explanation! really appreciated :)
If it did not already happen, is your instruction already somewhere included in the "how to's" (instruction / setup manuals)? I guess unless there is a different method discovered, every user needs to go through that process if he uses a WearOS watch?!

[2021-04-15 10:30] jamorham commented on #1648
This new mechanism was only added 2 days ago so we need to wait for people to test it and then work out the best practices and then the wear documentation would need to be updated to explain the steps. For any watch which doesn't have the updated play store baked in to the rom then I think uninstalling the play store update will be the quickest way to get the newer version of xDrip loaded on to th

[2021-04-15 10:36] xannasavin commented on #1648
got you! thanks for figuring out how to solve this issue (and of course the work you put into this app! It makes the daily t1 business so much easier. I really don't want to go without it anymore. all the "big" and especially the manufacturer apps are really crappy.)

[2021-04-16 05:45] ss1043 commented on #311
Hello @jamorham and @Navid200, I'm quite unsure about the process here.
I would like to mention that I'm also very interested in this feature of #1604 and #311 and I want to ask if there is progress on it?
I like the idea from @ARkaine2 from https://github.com/NightscoutFoundation/xDrip/issues/1604#issuecomment-758599423.

[2021-04-16 12:56] Navid200 commented on #311
@ss1043 You can accomplish the same objective, for falling, if you use the existing Forecasted Low alarm.
Do you agree?  If not, please respond.

If yes, we can talk about rising.

[2021-04-16 13:16] ss1043 commented on #311
@Navid200
I'm using the version from March 31st, 2021, and here is in further settings just the possibility to enable alerts for rising/falling blood sugar with a warning limit of 2 or 3 mgdl. Does it mean 2/3 mgdl per minute or per 5-minute cycle?

I would like to have something to get an alert when the blood sugar is rising/failing about x minutes with x mgdl.
When I enable it like it is, I assu

[2021-04-16 13:20] Navid200 commented on #311
@ss1043 So, is this a response to my question?  Or, did you not see my question?

[2021-04-16 18:38] ElyeM commented on #1587
I'm having the same issue.
When I force stop xdrip and open it again I do get 1 or 2 readings and then it stops again.

Most of the time I use bluejay, so I am getting the readings through the watch, but when I don't use the watch I have this issue.
![Screenshot_20210416-143715](https://user-images.githubusercontent.com/4944797/115069257-519c3300-9ec1-11eb-9fda-3faa02507b14.jpg)

[2021-04-16 19:00] Navid200 commented on #1587
@ElyeM Do your settings match the following?
https://github.com/Navid200/xDrip/wiki/G6-Recommended-Settings

If not, change them to match.

[2021-04-17 02:37] waltersf opened #1699 "Nightscout uploader causes HTTP error 413 - Payload Too Large when sending a large number of entries"
Nightscout uploader sends bg readings using a JSON array in the request body, but it causes HTTP error 413 (Payload Too Large) when there are a lot of entries.

A person I was helping faced this problem during a new installation of Nightscout (version 14.2.2). She tried to send all data for more than 2 years, resulting in more than 6000 entries (BgReadings) in Nightscout REST queue.

- Version of

[2021-04-17 15:49] Navid200 commented on #1699
Would you be willing to do a test and tell us exactly what minimum size would cause the error?
Then, we can add it as a warning to the existing warning (use with care).
![Screenshot_20210417-114020](https://user-images.githubusercontent.com/51497406/115118768-e0b55380-9f72-11eb-804c-bae2be5eea4e.png)

[2021-04-17 20:39] simonpickering commented on #1477
My data appear to be uploaded to the standard site (I didn't tick the box to take me to the int- site)

Just as a random note, for those on basal-bolus (or at the very least for me), basal injections entered in XDrip+ appear as standard bolus injections in TidePool, which is a little confusing.

In my view of the data on the website there are only two types of insulin: named "basal" and "bolus", I

[2021-04-17 23:30] martire01 commented on #1176
If I unpair and re-pair using 2.0, would that solve the problem in my case?
![Screenshot_20210417-181839](https://user-images.githubusercontent.com/60035355/115129377-f0e92500-9faa-11eb-85b6-6709df71e275.jpg)

[2021-04-19 01:12] Navid200 commented on #1680
Do I understand correctly that if you give camera permission, there is no issue?

[2021-04-19 05:16] ss1043 commented on #311
@Navid200 This was my response. Maybe I'm thinking about a different feature as you mean. 😅  My last comment was about the existing feature and what I'd like to have.

[2021-04-19 12:34] capflamme opened #1700 "Local Broadcast of calibation from AAPS aren't registered in calibation data table or graph."
### Your environment
- xDrip 18885dd-2020.12.23
- AAPS 2.8.2 build 194549adc-2021.01.31-15:50
- Hardware data source: Libre 2 and Librelink patched app.
- Issue happens on my OnePlus 6T running OxygenOS 10.3.9 (Android 10), but I doubt it's device specific
- Inter-app settings and auto calibration activated.

### Expected behavior
Broadcasted calibration should always be taken into account, or an

[2021-04-19 12:37] Navid200 commented on #311
@ss1043 We are not going to create a new feature that happens to be redundant.
In other words, if you can accomplish what you need with xDrip as is, we will not create a new feature for it since it's not needed.

Please read my post again, the one that you believe you have responded to.  Tell me what part of it is not clear.

[2021-04-19 17:26] DIajo commented on #1280
I have know the same problem :(.  xdrip is constantly deleting my entire database and error list. "Save Database Daily" is enabled and "Glucose Retention" is 0 (xiaomi mi 9, Android 10, Xdrip+ nightly from 13. April, with libre 2 patched App ). Does anyone know how to solve this problem?

[2021-04-19 17:41] tolot27 commented on #1280
@DIajo When did this problem arise? After upgrading to latest version?

Can you go back to a previous version? What does the logs show? How much space is left on your phone?

[2021-04-20 06:08] ss1043 commented on #311
@Navid200 What I mean is, afaik we have this feature right now:
![tempFileForShare_20210420-075913](https://user-images.githubusercontent.com/28440976/115344963-640eb900-a1ae-11eb-83d3-5800d352c42b.jpg)

My suggestion is, to have the possibility to edit glucose level when this should be triggered and the time as long as the falling value continues.

In case this already exists, please describe how

[2021-04-20 10:47] dhermanns commented on #1415
Just wondering: Wouldn't it be nice and easy if Xdrip would introduce a simple percentual offset calibration?

So a user could define something like my Dexcom G6 is always 5% too high. So please Xdrip multiply every received sensor value by 0.95 before sending it to other apps/nightscout backend.

So you don't have to calibrate anything regarding the Dexcom Sensor at all. And the modification shou

[2021-04-20 12:19] Navid200 commented on #311
Look at the second post in this thread, or my post of 4 days ago.

[2021-04-20 12:22] Navid200 commented on #1415
@dhermanns That would not be a good idea.
One reason a user would experience a consistent error (with all G6 sensors) is the error being a fault of the blood glucose meter.
Implementing what you suggest will discourage users from investigating to figure out the cause.

[2021-04-20 12:32] dhermanns commented on #1415
I'm not sure if I get you right: What for an error of your blood glucose meter do you recognize the way it's implemented right now?

My meter is not connected at all to Xdrip. I'm using the factory calibration of the G6. So normally I don't have to calibrate at all. So the actual implementation can't recognize any BGM errors for me, right?

So an offset definition would be a nice possibility to im

[2021-04-20 12:32] CmSCMU opened #1701 "Dex Share Follower Complication Null"
Hello, I'm running 2021.03.08 XDrip+, on a Samsung Galaxy Note 20 Ultra, and using a Ticwatch E W300 (Wear OS 2.26). I use the official Dexcom app to collect data and the share follower feature to get it into Xdrip. I have tried to see if this issue exists already, but it seems all threads are a couple years old.

I can get the Xdrip watchface to display BG readings, but when I try to send reading

[2021-04-20 12:38] Navid200 commented on #1415
Every time you go to the lab for blood work, test your blood glucose exactly at the same time.
Keep such results.  After a while you will have a set of data letting you judge the accuracy of your blood glucose meter.

A blood glucose meter only needs to have an error less than 15% to be considered accurate enough to be sold in the market.
A 5% error is within that standard.  So, it is not unlikely

[2021-04-20 12:44] dhermanns commented on #1415
For such an error my BGM gets calibrated in the hospital regularly. And I have multiple BGMs to double check.

I never had a problem with my BGM but have regularly differences to my G6. Sometimes up to 20%. And right now I was not able to adjust these :-/

So I think it would be nice to have an option. You don't have to use it if you would like to have maximum security.

But that are just my two c

[2021-04-20 12:46] Navid200 commented on #1701
@CmSCMU Have you asked this question in the facebook group or the Gitter room as you were asked to when opening this issue?
https://github.com/NightscoutFoundation/xDrip/blob/master/.github/ISSUE_TEMPLATE/bug-report.md
If yes, please provide links.
If not, please close this issue.

[2021-04-20 12:59] CmSCMU commented on #1701
I have: https://www.facebook.com/groups/xDripG5/permalink/5303342963072489

Arguably, it hasn't been long since posting, but I've scoured the Internet for a while now. I got a responses from one person in the FB thread, but it seems very few people use Dex Share Follower as the source. Most people are using their phones or their watches as the collector. I can find some issues from 2018 about foll

[2021-04-20 22:26] Atterna commented on #1638
I still get the pop ups :/ Libre 2 EU + bubble, nigtscout and master to a follower. Everything seems to be working as intended. I try to ignore the message but after months it's starting to bug me. Hope it'll be gone soon.

[2021-04-20 22:29] Navid200 commented on #1638
@Atterna What scheme are the followers on?
If you use Nightscout follower, and disable xDrip sync on the master, you will not get this pop-up anymore.

[2021-04-20 22:37] Navid200 commented on #1699
You should respond.

This is not something that we can fix if we don't know what the problem is.
The existing comment on that page already suggests that you have to be careful meaning if you attempt a very long period, it will fail.

I will be happy to update that warning to clarify how large the data can be before there will be trouble.
In that case, for example, we can say only load data for one

[2021-04-21 04:27] ss1043 commented on #311
@Navid200 No, I didn't try that, can you describe how, please? Where can I find this feature?

[2021-04-21 07:37] MikeFor commented on #1280
Hi there!
This problem also occurred on my son's phone.
In the last two days, this has happened 4 times.
The problem was on the previous version of Xdrip and already on the updated one.
Phone xiaomi redmi note 8 pro. Android 10
Free space 80 GB.
We use Libre 1 with miamiao
Xdrip also sends data to miband 4

![IMG-2f6019f64be7bf8daefa463f902c3ca1-V](https://user-images.githubusercontent.com/5405906

[2021-04-21 11:57] Navid200 commented on #311
@ss1043 Of course.
Go to the following page first.

Settings -> Alarms and Alerts -> Extra Alerts (xDrip+)

There, you can see "Forecast Lows".  If it is not ON already, turn it on.
Then, enable "Raise Alarm on Forecast Low".
You can adjust "Alarm at Forecast Low mins".

[2021-04-21 12:13] Navid200 commented on #1280
@MikeFor Is phone time (Android settings) set to sync with the network?

[2021-04-21 12:36] MikeFor commented on #1280
Yes, phone time (Android settings) set to sync with the network

[2021-04-21 13:18] ss1043 commented on #311
@Navid200 thanks a lot

[2021-04-21 15:32] Navid200 commented on #935
@mkitchingh When this happens, do you not stop receiving readings from Nightscout?

[2021-04-21 15:50] mkitchingh commented on #935
If I quit getting readings at all or no blood sugar data, it will alarm after 20 minutes. No alerts on Loop not looping though. I have setup another method for alerting when Loop isn't looping.

[2021-04-21 21:23] sebastiangrugel opened #1704 "xDrip and display currently used basal insulin and graph vizualise"
Hello.

- I would like display on xDrip screen information about currently basal insulin which is delivered by mu pump.(that can be in additional line with information from pump. (all data are in Nightscout but good to sync this with that source or maybe directly from xDrip master). Details on screnshoots.

- additional graph with information about basal insulin during a selected period of time co

[2021-04-22 07:54] SimonPhilpott opened #1705 "Importing data didn't display data and wiped settings"
I recently wiped the phone app data and cache in order to fix battery drain on my smartwatch SW3, usually this would involve saving all settings to SD card and exporting my database prior to this so that I can restore both.

However once the app storage was cleared, after restoring settings via the popup message I was prompted with the import database prompt which I accepted. Despite the import da

[2021-04-22 12:09] Navid200 commented on #1705
@SimonPhilpott Would you please describe the issue you are experiencing in the following open issue?
https://github.com/NightscoutFoundation/xDrip/issues/1045

[2021-04-22 12:27] Navid200 commented on #1631
@master3395 Would you mind attaching the file so that I can have a look at it?
The file is inside a folder named xDrip-export inside your Downloads folder.  The filename is com.eveningoutpost.dexdrip_preferences.xml.

[2021-04-22 12:58] SimonPhilpott commented on #1045
I recently wiped the phone app data and cache in order to fix battery drain on my smartwatch SW3, usually this would involve saving all settings to SD card and exporting my database prior to this so that I can restore both.

However once the app storage was cleared, after restoring settings via the popup message I was prompted with the import database prompt which I accepted. Despite the import da

[2021-04-22 12:59] SimonPhilpott commented on #1705
@Navid200 No worries, done.

[2021-04-22 13:29] master3395 commented on #1631
Sure, had to remove the text inside "cloud storage" :)
[com.eveningoutpost.dexdrip_preferences.txt](https://github.com/NightscoutFoundation/xDrip/files/6358613/com.eveningoutpost.dexdrip_preferences.txt)

[2021-04-22 13:45] Navid200 commented on #1045
@SimonPhilpott  When I have reinstalled xDrip, I have been asked if I wanted to restore settings.  I have never been asked if I wanted to restore the database.  Are you sure it wasn't a question about restoring settings?

How many days of data did you have in xDrip when you exported the database?
What is the name and size of the database file?

[2021-04-22 13:56] Navid200 commented on #1631
@master3395 Is your SD card set up as internal storage?
Or, is it just plugged in and used as is?

[2021-04-22 15:29] master3395 commented on #1631
There is no SD card on this phone.
OnePlus 8 Pro does not have an extra SD cardholder.
That's why I suggested a "chose location" feature.

[2021-04-22 15:42] SimonPhilpott commented on #1045
@Navid200 I don't think I've had it happened before either until I installed the latest stable version. You get a quick fire of popup messages when you wipe and launch for the first time, so forgive me if I'm not quite remembering the exact phrase but it did ask if I wanted to import a backed up database.

The database at the point of trying to restore had several months worth of information (I as

[2021-04-22 16:04] SimonPhilpott commented on #1045
@Navid200 Okay so I bit the bullet and wiped everything so I can clearly document this with screenshots, so there's no confusion. Same issue once again, with only about a days worth of data held in the exported database pre-wipe. This is a description of each screenshot taken after each step;

1) Pre app wipe. You can see the data from the last day here.
2) Wiping the data from the app
3) Launchin

[2021-04-22 16:44] Navid200 commented on #1045
@SimonPhilpott Can you inspect the database file to see what it contains?
As a first step, it will tell us if the problem is with export or import.
It is an sqlite file.  You can use a database browser.

[2021-04-22 17:40] SimonPhilpott commented on #1045
@Navid200  Okay so it opens, there are lots of pockets of data is there any particular category that would help?  Is it poor behaviour to attach it here?

[2021-04-22 17:53] Navid200 commented on #1045
If you look at BgReadings, do you see anything.
You can also look at sqlite_sequence.  It should give you a summary of all the contents.
Does it make sense?  Does the file contain enough data corresponding to what you exported?  Or, it it empty?

You can attach it if you don't consider the contents to be private.

[2021-04-22 19:43] SimonPhilpott commented on #1045
BgReadings has 3015 entries, in sqlite there are nearly 12k entries under user error. Not sure if that's meaningful. I've attached my sqlite file since I don't really have a problem with 24h of data for bug testing purposes.
[export20210421-165626.zip](https://github.com/NightscoutFoundation/xDrip/files/6360854/export20210421-165626.zip)

[2021-04-22 21:36] Navid200 commented on #1045
I just imported your database.
I can see readings starting early morning of April 11, 2021 and ending noon of April 21, 2021, yesterday.

Do you not see those results?

[2021-04-22 21:48] Navid200 commented on #1045
There are also blood glucose readings starting from September 2020.  I suppose those are from a Bluetooth blood glucose meter.

[2021-04-23 06:03] SimonPhilpott commented on #1045
I do not see those results no, what version of Xdrip+ are you running? That's pretty interesting what you've seen fro results going back so far, I suppose I didn't think the MiaoMiao held the saved data back that far. To be honest it would be a better place to restore from since it's held so far back and useful should I need to flush the phone app but still have enough data for reporting should I

[2021-04-23 06:28] MikeFor commented on #1280
coincidence or regularity? For the fourth day in a row, the base disappears at about 4 am. What can I try to prevent this in the future? Disable Family Link, disable data transfer to miband? if I install Android Studio, how can I view some useful log information?

[2021-04-23 12:58] Navid200 commented on #1045
I used the April 13, 2021 release.
What do you see if you tap on history and go back 2 days?

It looks like the export has worked properly for you.  Since I have been able to import successfully.
Let's find out why you are having trouble importing.  So, please answer my  question above.

I don't know what you are considering to propose as a feature.
In short, if there is a feature that many can be

[2021-04-23 13:00] Navid200 commented on #1280
@MikeFor What is in the logs at around 4 AM?

[2021-04-23 13:16] Navid200 commented on #1699
There is already a warning that the user has to use this carefully.  We can add more detail to that warning if we get more info.
But, this doesn't seem to be a show-stopper.
We will address this when more developers join and we have addressed more critical issues.

[2021-04-23 13:16] #1699 closed

[2021-04-23 13:20] Navid200 commented on #1631
@master3395 Would you please export the settings again and try importing again?
Then, would you please show the event logs?

[2021-04-23 13:30] MikeFor commented on #1280
@Navid200 unfortunately there are no logs. the database is completely clean and xdrip asks to make new settings and run a new sensor. and after I restore the base from the backup, the logs are already from the restored base.

[2021-04-23 13:33] Navid200 commented on #1280
Can you check the xdrip folder on your phone?
Is there a zip file there that was created at that time?

[2021-04-23 13:57] SimonPhilpott commented on #1045
@Navid200 I can see calibrations, notes and any carb inputs but no data whatsoever.

I can appreciate how pointless submitting new features might seem. They are always open for consideration - you never know what the appetite might be and the discussion does at least challenge or distil an idea. We simply have more users than developers - I'm working on an alternative theme but that plays to my st

[2021-04-23 14:47] Navid200 commented on #1045
Can I post a snapshot of what I see?  It may help you.  But, it's your readings.  So, I won't if you don't want me to.

[2021-04-23 14:56] Navid200 commented on #1547
@AdrianLxM Would you please explain what could cause some people, using Android 11, to experience this problem and some, also using Android 11, not?

[2021-04-23 15:01] Navid200 commented on #1631
Actually, this may be an Android 11 issue:  https://github.com/NightscoutFoundation/xDrip/issues/1547
I'm not sure why only some people experience it though.

[2021-04-23 15:06] adanvdo commented on #1280
I also use family link on my devices but no longer have this problem. though I guess it could be your configuration

[2021-04-23 16:38] MikeFor commented on #1280
@Navid200 No, I don't see any zip files created in xdrip folder at this time. If this happens again, I will not immediately restore the database, but will try to see if there are any files and logs.

[2021-04-23 18:50] tvt92 commented on #1654
I also only have the scanning field on my Wahoo element and would like to see my values. I searched all support pages intensively and found nothing. If someone has a solution, I would be grateful.

[2021-04-23 21:34] elrufoelrufo commented on #1048
Same problem here with

MM1 v39 + Libre 2 + OOPT 2 + Xdrip + Fossil Sport

Does anyone know if it possible with this combination to use a Wear Os watch as a collector?

Thanks.

[2021-04-23 21:46] Navid200 commented on #1045
@SimonPhilpott If you can see calibrations, notes and carb inputs, the import has worked for those at least, right?
 It's not like it cannot import the file at all.

What do you see if you look at history?

[2021-04-24 20:57] adanvdo commented on #1687
I have a device with Android 10. A Moto E7. I have Battery Optimization disabled but run into frequent connection problems when the battery is below 15% I am not sure if there is another power profile on android where you can control these types of things.

I also have the Allow OB1 unbonding unchecked. I have no problems with connectivity unless the transmitter is old or the battery is under 15%

[2021-04-25 10:58] MikeFor commented on #1280
@Navid200   Today, at 11-30 I installed and launched a new sensor. At about 12:00 this problem happened again. I did not recover immediately from the backup, waited for the errors log. There were no zip files created at this time in the xdrip folder. I am adding screenshots. Maybe there are already errors in these backups? Try uninstalling xdrip and reinstalling to create a new database?
![2021042

[2021-04-26 00:07] Navid200 commented on #162
@danpowell88 Would you please explain this request?
I hardly ever tap on the "Snooze Alert" menu option.
When an alarm triggers, I snooze it from the Android notification panel, which I access by just pulling down from the top of the screen.

Can you explain why you go to the snooze panel and why you need to see all your alarms?
I mean at any point in time, you cannot be concerned both about havin

[2021-04-27 01:01] hapvlz commented on #1690
New sensor started, error still appear -

"NonMonotonicSequenceException: org.apache.commons.math3.exception.NonMonotonicSequenceException: points 0 and 1 are not strictly increasing (1 619 473 052 521 >= 1 619 473 052 521)

Application updated to latest possible beta version.

[2021-04-27 20:15] Navid200 opened #1707 "Speak Readings dot dot dot"
xDrip April 24, 2021

### Expected behavior
Speak readings should clearly pronounce the blood glucose reading.

### Actual behavior
The test will result in the voice saying dot dot dot instead of the blood glucose value.

### Steps to reproduce the behavior:
1. Go to  Settings -> Speak Readings
2. Enable "Speak Readings" and "Speak Alerts" and "Speak everything twice".
3. Go to an alarm page and t

[2021-05-01 07:05] jwoglom commented on #1475
Just wanted to belatedly mention -- I tested loading in a backup on the latest release for an unrelated reason and the error didn't occur. Will reply if I notice it again.

[2021-05-01 14:43] psonnera commented on #1648
Trying now on a Huawei Watch 2 LTE and can't do  do Settings -> Apps -> App Info -> System Apps -> Google Play Store -> Remove Upgrades on the watch. And Wear Installer doesn't find the wear package in the latest Nightly. I'd hate the wear apk to be in the release package (because I can imagine it means work to be done) but that would be easier.

[2021-05-01 18:35] dcacklam commented on #1648
A 'wear' APK should be released as a separate download.

On Sat, May 1, 2021, 7:43 AM Patrick Sonnerat ***@***.***>
wrote:

[2021-05-02 01:10] farcusnz opened #1711 "Screen Rotation issue"
In Xdrip (versions 06/04/21, 13/04/21 & 24/04/21) on android 10 (Xiaomi Mi A2 - android one)
When rotating the screen to landscape, then returning to portrait, Xdrip does not reconfigure to portrait correctly.
Have been able to reproduce this on a friends Pixel 3 - also on android 10

![screenrotation1](https://user-images.githubusercontent.com/29653298/116798851-b6a18b00-ab47-11eb-92f7-fc13fb0481

[2021-05-02 12:58] Navid200 commented on #1711
@farcusnz Would you please post in the thread linked on the next line?
https://github.com/NightscoutFoundation/xDrip/issues/1269
We can talk about it there.

[2021-05-02 12:58] #1711 closed

[2021-05-02 21:57] farcusnz commented on #1269
This bug is still present in Android 10.
Confirmed on Pixel 3 and Mi A2 (running android one)
Can the bug be reopened?

[2021-05-02 22:02] Navid200 commented on #1269
@jamorham @AdrianLxM

Guys,
Any hints/suggestions please?

[2021-05-03 02:45] Navid200 commented on #1453
This must have been the commit that introduced this behavior.

![Screenshot 2021-05-02 224307](https://user-images.githubusercontent.com/51497406/116837363-250e3980-ab98-11eb-9733-f25914353963.png)

[2021-05-03 03:05] Navid200 commented on #1453
I would like to close this issue.  The following is my thinking.  please let me know if anyone disagrees.

Any blood glucose measurement, whether used for calibration or not, leads any interstitial fluid  glucose measurement.
How long the delay is depends on many factors and so is not a constant.

The blood glucose measurements entered, are entered and used for calibration with no delay other than

[2021-05-03 13:41] Estetne commented on #1597
Hello. We are waiting for this feature very much. You wrote that you are currently using raw data sync. Can we somehow get the app file and also use this possibility now?

[2021-05-03 18:59] shiruba69 opened #1712 "Amazfit GTS 2e & xDrip integration"
Help me please.
Requires xDrip and Amazfit GTS 2e integration.

I am a user, not a programmer.

Ready to help with testing, I have this watch.

I think it's real if there is integration in the Mi Band and even found options for integrating with the GTR, but they are round, and the GTS is square. They have different dials.

[2021-05-03 19:08] tolot27 commented on #1712
Please ask in the support forums as shown before you created this issue: https://github.com/NightscoutFoundation/xDrip/issues/new/choose.

[2021-05-03 19:08] #1712 closed

[2021-05-04 00:54] Navid200 opened #1713 ""Firmware version unknown! Please report" - What you should do when you see this"
This is a message that a Dexcom user sees on the system status page if their firmware is new and unknown.

![1](https://user-images.githubusercontent.com/51497406/116949588-b4772380-ac50-11eb-88ad-de25b5c679ef.png)

The problem is that even after it is reported, xDrip still shows the same message, in red.  It looks like it requires an action from the user.

### Describe the solution you'd like
Can

[2021-05-04 23:22] amosxo opened #1716 "Insulin, SMB, treatments and Carbs not received from AAPS"
The SMB symbols and treatments are no longer transmitted from AAPS to xdrip+. This happened in the middle o the day of February the 20th 2021. It was working normally before for more than 2 months. The treatments are visible thought in AAPS. I had not changed the settings in either of the apps the day it  stopped transmitting treatments and insulin from AAPS to xdrip+. In xdrip+ interapp settings

[2021-05-05 15:39] pcastelo commented on #1045
Hi guys i have the same issue with android 11, i test same version xdrip  with older android and work without any problem letme know if i can help or need some screenshot

[2021-05-05 15:45] Navid200 commented on #1045
@pcastelo If you have attempted to import a database file into xDrip and it has confirmed that it was imported.  But, it did not, and your phone is Android 11, would you please post in this tread instead?
https://github.com/NightscoutFoundation/xDrip/issues/1705

[2021-05-05 15:55] pcastelo commented on #1705
Hi guys , i have the same issue with android 11, i test same version xdrip with older android (10) and work without any problem.
i have meesage the import was success but i dont have data

Android 11
![b4d83703-aad5-4c44-b4be-c41240cf0764](https://user-images.githubusercontent.com/10425803/117170750-aa643a80-ada0-11eb-9ff6-22e11272b2bf.jpg)
![c2042e97-7b6b-449d-9f44-9f1fff543ae4](https://user-imag

[2021-05-05 19:25] emp-00 commented on #1713
Much more simple suggestion from my side:
Just change the message to "Please report and upgrade to latest nightly when available"