[2021-05-05 20:24] tolot27 commented on #1705
Does xDrip has storage permission before importing the database?

[2021-05-05 22:10] pcastelo commented on #1705
yes , i try severals times , in one i delete all folder  , create new  one (export) only to generate folder and copy to xdrip folder the original export and do import only for check permisons and the error persist

![WhatsApp Image 2021-05-05 at 19 01 57](https://user-images.githubusercontent.com/10425803/117215634-df8a8000-add4-11eb-86fd-3752f850aa78.jpeg)

[2021-05-06 07:58] jordipbou commented on #1597
@Estetne @anyforwork I have uploaded my own build of xdrip to https://jordipbou.github.io/xdrip/xdrip-libre2-raw-sync.apk

Be aware that this is my personal own build and has more changes other than libre2 raw sync, I'm using it daily without problems, but I can not support anyone so you're on your own. Changes are:
* Libre2 raw sync between master and slaves and drawing of raw data on slaves
* He

[2021-05-06 11:56] tkalfaoglu opened #1719 "G6 Firmware version 2.27.2.103 unknown"
Hi -- xdrip+ wanted me to report this.. so here goes..
The system status says
Firmware version:   2.27.2.103 Unknown! please report.

The transmitter code starts with 8S if that helps.
Many thanks for great software..
-t

[2021-05-06 12:08] tolot27 commented on #1719
Related to #1713

[2021-05-06 12:21] pcastelo commented on #1705
some more info , i was trying to debug with Samsung  Remote Lab (emulating Galaxy S10 with Android 11)
I see the following error in phone logs:

ERROR|05-05 23:16:30.128|1168|1432||WindowManager|win=Window{9d8798b u0 com.eveningoutpost.dexdrip/com.eveningoutpost.dexdrip.ImportDatabaseActivity EXITING} destroySurfaces: appStopped=false win.mWindowRemovalAllowed=true win.mRemoveOnExit=true win.mView

[2021-05-06 15:03] tolot27 commented on #1694
This is a duplicate of #1641 and will be fixed with #1698.

[2021-05-06 15:03] #1694 closed

[2021-05-06 17:37] reijoahola-nightscout commented on #1716
I have noticed that AAPS -> xDrip+ broadcast do not work when AAPS -> NS connection is not working. Do you have this problem in NS connection ?

[2021-05-06 17:40] Navid200 commented on #1719
@tkalfaoglu If you update to any xDrip Nightly release of March 30 or after, that message will be cleared.

I close the issue now.  Thanks for reporting.

[2021-05-06 17:40] #1719 closed

[2021-05-06 21:57] Navid200 commented on #1631
What do you see at the following on your phone?
Settings -> Privacy -> Permission manager -> Files and media

[2021-05-06 23:03] master3395 commented on #1631
![Uploading Screenshot_20210507-010243.jpg…]()

[2021-05-06 23:09] master3395 commented on #1631
![Screenshot_20210507-010243](https://user-images.githubusercontent.com/4199669/117376148-cebf3480-aed0-11eb-918b-9ebb4e5ad28f.jpeg)

[2021-05-07 02:38] Navid200 commented on #1705
I see the same issue in Android Studio virtual device set up as Galaxy Nexus Android 11.
But, not in the same set up as Pixel 4 Android 11.

[2021-05-07 06:47] daclaw2k commented on #1329
Note that the Freestyle Libre Pro works with the Limitter -> xDrip+.
With the Blucon - suspect it's a data translation issue however I don't have the expertise to fix this.
Would be really great if xDrip+ worked with the Blucon as Ambrosia's software is horrendous.

[2021-05-07 08:18] Estetne commented on #1597
@jordipbou Thank you very much, we will try it

[2021-05-07 15:50] Navid200 commented on #1713
What the user should do is explained [here](https://github.com/Navid200/xDrip/wiki/Report-Firmware).

[2021-05-07 16:22] amosxo commented on #1716
You are right. That was it! For some reason the NS client in AAPS was paused. Maybe I did this after a connection problem causing the issue you mentioned and I was thinking that there was an interference from the NS client to the interapp connection causing this. I have unpaused and restated and after doing this several times it finally started working again: Now I see the treatments in both NS an

[2021-05-07 16:22] #1716 closed

[2021-05-08 01:52] farcusnz commented on #651
is it possible to get this bug reopened? The solution to add a calibration works only for a single reading for me. I am using xdrip+ with oops. If I add a calibration in xdrip then the reading displays in my watch complication. However, it does not update and after a period of a few mins displays "null null" again.
Is this a result of me using oop with xdrip?
![watch](https://user-images.githubuse

[2021-05-09 00:51] farcusnz commented on #1618
I use the tic watch E that works as a standalone collector. I can't see why the pro wouldn't also work the same as it is using the same wear os.

[2021-05-09 01:04] farcusnz commented on #1404
I too am having the same issue as the op.
The xdrip watch face works fine whether the phone is the collector or the watch is the collector.
If using complications on a different watch face - if the watch is the collector - then the complication works fine.
If the phone is used as the collector then the complication displays null null.
using libre1, miaomiao2 and oop1 (on both phone and watch).
If

[2021-05-09 15:51] parapenT1sta opened #1720 "Dexcom G5: Scan Error: Unable to Start scanning (Pixel 4a 5G with Android 12 / S Preview)"
**xDrip Nightly build 5th May 2021**
**Dexcom G5 receiver**
**Mobile:** Google Pixel 4a 5G
**Android Version**: S (12 Preview) build bramble-spp3.210325.010-factory-b282d767

**Issue:** Scan Error: Unable to start scanning
**Error log:**
[code]

Dexcom G5 works perfectly fine with Dexcom Official App and also working fine with MiaoMiao 2 / Bubble 1 & Mini.
With xDrip+ the scanning is not even star

[2021-05-10 18:06] jamorham commented on #1648
@Navid200 has any documentation been added anywhere for this? Should I refer people to this issue who raise the same issue?

[2021-05-10 20:16] #1707 closed

[2021-05-11 02:05] Navid200 commented on #434
You can click on commits to see what has been done for each release.  That's all we have.
No, it's not a release note.
![Untitled](https://user-images.githubusercontent.com/51497406/117747060-7e4f1c00-b1db-11eb-8be5-6b7394973574.png)

It has been requested before.  It will not be added.  I am sorry.

[2021-05-11 02:05] #434 closed

[2021-05-11 02:15] Navid200 commented on #620
I am closing this for no response.
If you like to reopen, please explain exactly which alerts you are needing this for.
Also, please explain if you have tried the ascending volume profile.

[2021-05-11 02:15] #620 closed

[2021-05-11 02:33] sjennison commented on #620
Does enabling ascending volume fix the underlying issue (abusing media channels for notification audio)?
Because if it does not, I don't see why using it would be relevant in any way - you wouldn't have the issue of "blowing out eardrums", but you're still changing people's volume for no good reason. If the purpose of using the media channel is to bypass silent mode, that's achievable through Andr

[2021-05-11 03:32] Navid200 commented on #684
@quizzmaster Would you please try the latest Nightly (May 10, 2021) and see if this is fixed or not?

[2021-05-11 11:52] #804 closed

[2021-05-11 12:31] mukich opened #1721 "different size action bar and no "menu" button in the "settings" submenu..."
As a perfectionist, I tried to find how to change the action bar in the "Settings" and "Find notes" submenus. In addition, there is no "Menu" button in the "Settings" submenu. Maybe someone knows the Java programming language better, tell me how to change it. As I understand it, these submenus use a custom action bar. Tell me how to install a standard action bar?
![rte](https://user-images.githubu

[2021-05-11 12:38] Navid200 commented on #619
@blocklist

It is possible, to disable the Option, when download data is disabled?

Would you please write your request differently?  I don't understand it.
Are you asking for the "Automatic Calibration" to be disabled when someone disables "Download data"?

Automatic calibration is required if someone wants to use it.  It is related to calibrations.  What if someone likes to use automatic calibra

[2021-05-11 14:00] #1721 closed

[2021-05-11 14:40] Navid200 commented on #569
Thanks.  I understand now I think.
So, we have to add the capability to add the meal time on the carb entry form; and we also have to add the capability to analyze the data later on to create graphs or charts to show correlations between meal types and glucose.  Just entering the meal type will not be enough.

Just to confirm my understanding is correct, I would like to ask another question.
As a

[2021-05-11 15:23] bert1973 commented on #569
For me a meal type would be enough, as I planned to copy the db from my device after a period and run sql queries against it. Ofcourse graphs in xDrip would be great but way too much work for you.

[2021-05-11 16:54] rraider89 commented on #1653
Might I suggest that we consider the usability of the app vs the value of using exact scientific terms? Most users will just be confused by adding yet another unknown acronym and will not benefit from a descriptive change that requires further understanding. If you're the rare person schooled in the GMI/A1C differentiation the reading isn't fooling you anyway.  Dealing with diabetes and installing

[2021-05-11 20:18] tolot27 commented on #1721
I suspect, this issue does not even has to do with xDrip and its usage itself. It looks like it is an app programming related question.

[2021-05-11 20:22] tolot27 commented on #569
Would it be sufficient to have at least a note field in the treatment dialog?

[2021-05-11 22:51] Navid200 commented on #1547
@zehnBE Would you please let us know if you are still experiencing this?
If yes, would you please attempt importing the database file 3-4 times?
There is a suggestion that attempting it 3-4 times will make it work properly.

[2021-05-12 00:56] Navid200 commented on #684
@quizzmaster
Please reopen if it still has not been fixed.

[2021-05-12 00:56] #684 closed

[2021-05-12 01:38] rraider89 commented on #1653
Sure. You wrote "Can we rename "HbA1c est" to "GMI", and update the formulae?". The HbA1c est is helpful, even for one day for understanding how you've done for the day, assuming your performance continued at this pace for 90 days. Even if the more accurate GMI has become the standard on Dexcom and Libre apps, its still highly unlikely that most current users and all new users would understand wha

[2021-05-12 03:20] Navid200 commented on #1713
Let's see how the latest will handle this.

[2021-05-12 03:20] #1713 closed

[2021-05-12 19:03] Navid200 commented on #1680
Closing due to inactivity.
Please respond to questions before reopening.

[2021-05-12 19:03] #1680 closed

[2021-05-12 20:07] ElyeM commented on #1587
Yes, everything matches, besides the "Bluetooth Watchdog" And I still have the problem when I dont use my BlueJay.
I use AndroidAPS and it messes up things when I completely turn off an on the Bluetooth, Any other solution?

[2021-05-12 21:12] tolot27 commented on #1534
Please provide screenshots before and after your PR.

[2021-05-12 21:18] Navid200 commented on #1587
@ElyeM What do you mean besides the Blurtooth Watchdog?  Why the exception?

[2021-05-12 21:55] tolot27 commented on #1653
@rraider89 No, the HbA1c is an estimation of the long-term glucose binding to hemoglobin. Hence, it is not useful to understand the daily performance. Please use TIR instead, which gets increased attention in therapy.

[2021-05-12 22:03] rraider89 commented on #1653
I think you're being too technical and not practical. A daily estimate of your hba1c tells you what your HbA1c would likely be if your blood sugar performed exactly like it did today for the next 89 days. If you're shooting for a Hba1c below 5 then it's helpful to know that today's hba1c estimate was 4 or 7 or whatever.

[2021-05-12 22:16] tolot27 commented on #1653
No, it is a medical and biological point of view. You cannot influence the HbA1c just by one good or bad day. Consider the extreme case that you are on every odd day at 200 mg/dl on average and on every even day at 40 mg/dl on average. Your measurable HbA1c would still be near optimal optimal even if your TIR is 0% on every day. Hence, it is absolutely useless to predict it just for one day. Pleas

[2021-05-13 08:48] nickrout commented on #904
Thank you all for your efforts.

[2021-05-13 11:19] mcurly commented on #1521
Does the app you've gently mentioned allow delivering info onto Nightscout server?

[2021-05-14 22:24] Navid200 opened #1724 "Allow an alert to be heard when tested using Ascending Volume Profile"
### Is your feature request related to a problem? Please describe.
If you select the Ascending Volume Profile, testing an alert will not sound the alert.  You will see a message stating that ascending volume profile starts silent.  This is a correct statement.  However, how is one supposed to test the sound?

### Describe the solution you'd like
Please change the behavior so that the alert test wo

[2021-05-15 09:55] eliasmp245 opened #1725 "Xdrip ubnormal graph"
Why is this ubnormal graph??is the libre sensor causes this or miao miao?

Thanks in advance
![Screenshot_20210515-124508_xDrip+](https://user-images.githubusercontent.com/80071305/118356233-dc358800-b57c-11eb-8a0d-05148e2cad11.jpg)

[2021-05-15 11:56] Navid200 commented on #1725
While you were opening this issue, you were given instructions as to what you should use for asking questions.  I repeat it here:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-05-15 11:56] #1725 closed

[2021-05-15 21:32] slawie commented on #1690
haplz - just to let you know that are not alone.  My xDrip has had the exact same issue for the second time yesterday.  The first time it happened I tried all the same things you did with the same observations.
Yesterday (14th May 2021) the logs are showing that there are glucose values from the 4th July 2021, waaay into the future.
I live in Brisbane so there are no timezone changes here at any t

[2021-05-16 18:52] tolot27 commented on #1720
Please enable verbose logging for Ob1G5CollectionService.

[2021-05-16 19:04] parapenT1sta commented on #1720
@tolot27 I will try it on the next time I update to Android 12.

[2021-05-16 19:19] Roozeboom007 commented on #1664
xDrip version: 2021.05.10

G6 8H

OnePLus 7T

It is Andoid 11.

All xDrip settings are the recommended settings.

Twice a day Signal loss, which is not automatically resolved. Restarting the phone does help. With xDrip version 2020.07.25 this problem was not present
![Screenshot_20210516-194952](https://user-images.githubusercontent.com/58114624/118409753-4a1ca500-b68c-11eb-9d18-20d36b33d6ce.jpg)

[2021-05-17 05:12] Glimmerglykose commented on #1521
It does not, as the maker of the app and CGM has yet to implement any form of uploading to NS. They can upload to SocialDiabetes however, which they seem to believe with connect to NS (it does, but only to download, not upload).

Installing the app on a unsupported phone has shown to be possible, however it isn’t likely to work at all. I tried with several unsupported phones last summer with no lu

[2021-05-17 15:05] Navid200 commented on #767
If your G6 is not capable to perform preemptive restart, you should disable it.  Otherwise, the sensor will stop on day 9 instead of day 10.
You can only use preemptive restart if the first two characters of the serial number are 80, or if they are 81 and the firmware version is not 1.6.5.27.

[2021-05-17 23:21] twinko commented on #1007
hey guys looks like gtr2 and gtr2e development startet. perhaps more patreons would help artem:)
https://www.patreon.com/posts/51313261

[2021-05-18 15:59] Navid200 commented on #1473
Can we close this as a duplicate?
https://github.com/NightscoutFoundation/xDrip/issues/131

[2021-05-18 16:13] nicking44 commented on #1648
This is not worked ng for me. I've tried using wear installer correct IP and everything and still getti g nothing on my watch (fossil gen 5)

I get the notifications on watch but I do t have any faces or any apps.

[2021-05-18 16:20] pcastelo commented on #1705
i can replicate with de import of @SimonPhilpott too , i am trying to solve the issue

[2021-05-18 17:24] xannasavin commented on #1648
So I activated ADB Debugging, went to the page, downloaded nightly from 16th, installed it.
xDrip connected to the watch, sent over the package and the installation run through smoothly.
Question: is the version number under "force update" the one that is installed or the one available for install?
if it's the one installed then everything seems set.

[2021-05-18 19:35] NickAlbanese85 opened #1730 "xDrip occupies too much storage space on the phone"
Xdrip version: 17cbcfo-2021.03.08
code:210308´1944
downgradable to: 1603091400

phone: Samsung j7 2016

Android 8.1.0

from yesterday (05-18-2021) to today (05-19-2021) the spaces change from 791 megas to 836 megas only in one day

save database daily is not enable

[2021-05-18 19:50] Navid200 commented on #403
xDrip cannot download BG readings from Nightscout.
You will need to transfer database from the old phone to the new phone.
I have opened a pull request to change the menu to avoid this confusion as suggested by Patrick.

I am closing this issue as the capability does not exist.

[2021-05-18 19:50] #403 closed

[2021-05-18 19:57] Navid200 commented on #1730
@NickAlbanese85 Would you please edit your post as explained below so that it can be better managed?

1- Please change the title to:  xDrip occupies too much storage space on the phone

2- Add xDrip version.

3- Add phone brand and model.

4- State the rate at which the size is increasing.  If you don't have this detail right now, you can wait 48 hours to find out how much it has grown and add tha

[2021-05-18 23:40] 15characterlimi commented on #1035
@ChaseCarHG can you confirm what roles you have configured for the access token that you're giving to xDrip+?

I personally have set up an access token with the role:

     devicestatus-upload

for user "xdrip", but it's not working. Concretely, when I put the corresponding access token "[xdrip-some long hexadecimal number]" into the REST API URL in the xDrip settings, I get the error message
   "

[2021-05-19 00:06] 15characterlimi commented on #1035
Upon further observation, it seems to *sometimes* work, but fail often enough that I keep getting notifications from xDrip+ when it hasn't succeed uploading something in long enough? The issue might not be with Nightscout; I'll report back later if I have more info.

[2021-05-19 05:20] jwoglom commented on #403
It strikes me as odd that xDrip, to my knowledge, doesn't support automatically downloading treatments (or CGM readings, although I don't have a direct need for that) on some periodic schedule from Nightscout. In my own workflow, I have pump treatments which upload directly to Nightscout via tconnectsync but unless I manually go into the xDrip settings and hit this download treatments button, they

[2021-05-19 05:23] tolot27 commented on #403
I do not fully understand the use case. The Nightscout Follower data source is designed to fetch the data from NS, both BG readings and treatments as well as notes.
Now, you are requesting the same feature from Cloud Upload Agent "Nightscout Sync (REST-API)", aren't you?

What's then your primary data source?

[2021-05-19 06:07] jwoglom opened #1733 "Initiative: Better Support for Android Wear"
Some news coming out of Google I/O this week is that Google seems to be suggesting they will be putting effort into Android Wear/Wear OS again. There's not a ton of details yet, but the [Android Developer page on Wear](https://developer.android.com/wear) mentions "big changes to the platform" and "major improvements to the core experience" are coming. With this will likely come a new API release,

[2021-05-19 06:15] jwoglom commented on #403
@tolot27 Let me clarify. In my system, I have two parallel streams of data flow which are being funneled into Nightscout. xDrip on my phone grabs G6 sensor data and uploads it to Nightscout. Concurrently, I have a Tandem pump which has Tandem's own app running. This app automatically sends pump data (i.e. basal and bolus treatments) to Tandem's cloud system on a regular basis. I then have a tool,

[2021-05-19 06:32] tolot27 commented on #403
Treatments should be downloaded, automatically. At least this works for my use case and treatment data entered via Nightscout. Please confirm that only treatments created directly in Nightscout are synced and not from other sources.

BTW: Did you see #1403? Maybe, we can work together on this PR.

[2021-05-19 11:26] NickAlbanese85 commented on #1730
Xdrip version: 17cbcfo-2021.03.08
code:210308´1944
downgradable to: 1603091400

phone: Samsung j7 2016

from yesterday (05-18-2021) to today (05-19-2021) the spaces change from 791 megas to 836 megas only in one day

save database daily is not enable

[2021-05-19 12:05] Navid200 commented on #1733
@jwoglom
Would you please see the following?
https://github.com/NightscoutFoundation/xDrip/issues/1648

Is there anything in this new issue that is not already covered by 1648?
If yes, would you please add it to the existing issue rather than opening a new one?

Or, is there a reason this needs a dedicated new issue?

[2021-05-19 13:39] tolot27 commented on #1733
@Navid200 jwoglom Likes to discuss this topic and is currently not a member of the dev channel. Hence, he asked here, which is the only way for him to communicate with the developers, at least now.

And indeed, he has read #1648. What he suggest is already on our list (#1522).

[2021-05-19 13:58] NickAlbanese85 commented on #1730
![xdrip](https://user-images.githubusercontent.com/53303294/118825496-1ced1400-b891-11eb-8256-2e52826c1eef.jpeg)

[2021-05-19 13:58] Navid200 commented on #1733
@tolot27 Are you suggesting that the rest of the users who post questions here, and we ask them not to, don't need to communicate with the developers?

[2021-05-19 14:04] Navid200 commented on #1733
Anyone who needs to communicate with the developers can post:
https://www.facebook.com/groups/xDripG5
https://github.com/Navid200/xDrip/discussions

And the developers will hear about it.  I have been doing that, providing support, and I am not going to stop.

These issues are only for reporting a bug, which has not already been reported, or for feature request, unfortunately since there is curren

[2021-05-19 14:07] tolot27 commented on #1733
@Navid200 Your previous question is out-of-context.

These are totally different issues. Issue #1648 is related to side-loading the xDrip Wear APK. This issue is about better support of Wear in general, as a collector and reducing code duplications between app and wear.

[2021-05-19 14:10] Navid200 commented on #1733
The context:

This is not the only way to communicate with us.  Otherwise, we wouldn't be asking people not to open an issue as soon as they need to communicate.

[2021-05-19 14:32] tolot27 commented on #1733
@jwoglom Thank you for sharing your thoughts with us. Reducing the code redundancy is already on our list (#1522). Maybe, you can have a look on this topic?

Getting more Android Wear watches as a collector would be really great.

[2021-05-19 15:09] tolot27 commented on #1730
Do you have verbose logging enabled (less common settings - extra logging settings - extra tags for logging)?

[2021-05-19 15:11] jwoglom commented on #1733
@tolot27 Happy to try and collaborate on some of those tasks. If reducing the code redundancy required moving a ton of code from app/ into a shared folder, that would probably break a lot of PRs in progress. So if you're aware of a way to do that in a clean way (maybe module by module, rather than everything all in one commit?) I'd be happy to help. IMO, fixing the split between wear and app code

[2021-05-19 15:17] NickAlbanese85 commented on #1730
![xdrip3](https://user-images.githubusercontent.com/53303294/118838554-2760db00-b89c-11eb-909b-769440b56e62.jpeg)

[2021-05-19 19:44] Smip commented on #1720
@parapenT1sta did you solve the problem? I have pixel 4 and after I updated the system have a problem like you.

[2021-05-19 19:49] parapenT1sta commented on #1720
@Smip I downgraded from Android 12 to 11 and problem solved.

[2021-05-19 20:51] Navid200 commented on #1045
We have renamed the menu item from "Import" to "Restore" to avoid this confusion.
There is currently no capability to import a database leaving the existing database intact.
When you get a new phone, you should transfer the database before you set up your new phone as a collector.

[2021-05-19 20:54] Navid200 commented on #1135
Closing due to inactivity

[2021-05-19 20:56] Navid200 commented on #1141
I would like to close this issue.
You can open a thread in the forums to discuss if you like.
https://github.com/Navid200/xDrip/discussions

[2021-05-19 20:56] tolot27 commented on #1135
@jwoglom Did you encounter this problem, too?

[2021-05-19 20:57] SimonPhilpott commented on #1705
@Navid200 sorry had some family things come up. I'll see if I can find a time that's convenient to wipe data and calibrations in order to do some more testing. I've got an endio appointment so I'd like some data there at least to run a report with.

[2021-05-19 21:02] Navid200 commented on #1177
You can post in the forums.
https://github.com/Navid200/xDrip/discussions
We can talk over there.

We are asking users to use this issues platform for either reporting a bug or requesting a feature.

[2021-05-19 21:02] #1177 closed

[2021-05-19 21:04] Navid200 commented on #1705
@SimonPhilpott

Please don't do anything that could compromise your diabetes control in order to perform any xDrip tests.

[2021-05-19 21:09] tolot27 commented on #1730
What about the verbose logging?

[2021-05-19 21:09] tolot27 commented on #1730
You could also do a backup of the database and look at its uncompressed size.

[2021-05-19 21:12] tolot27 commented on #1177
@juehv It is important not to update the Android Gradle Plugin and not to migrate to Android X. If you follow this advice, building the app and wear should be smooth. For further discussions please follow the link abouve.

[2021-05-19 21:19] Smip commented on #1720
@tolot27
![photo_2021-05-19_22-59-07](https://user-images.githubusercontent.com/11481452/118883944-22c91080-b8f6-11eb-84eb-60002e985625.jpg)

[2021-05-19 21:27] tolot27 commented on #1720
Looks like either a permission problem or a new security layer. Did xDrip ever ask to bond the transmitter? I assume it is not bonded, yet.

[2021-05-19 21:38] tolot27 commented on #874
BTW: How do you flag a BG reading as bad? Manually, by changing the entry in the SQlite DB?

[2021-05-19 21:38] Smip commented on #1720
Probably xDrip didn't ask to bond. I used this transmitter with Android 11 and everything was good. After updating, xDrip worked for a while and after some time I got this error. I tried to change a lot of different settings and nothing helps. The last thing I tried is to reinstall the application. After installation of the app, I didn't see a bond request.

[2021-05-19 21:41] tolot27 commented on #1720
@Smip

You did not mention if you have also upgraded to a preview version. If you did, it is a waste of time discussing unreleased Android versions which likely still have some bugs.

[2021-05-19 21:44] parapenT1sta commented on #1720
@tolot27 Android 12 is now at a beta stage: https://www.google.com/android/beta

[2021-05-19 21:46] Smip commented on #1720
I updated to the beta version
![photo_2021-05-19_23-43-57](https://user-images.githubusercontent.com/11481452/118888779-61fa6000-b8fc-11eb-9446-e04ee8a50ed2.jpg)

[2021-05-19 22:06] tolot27 commented on #1035
`devicestatus-upload` is not the right role. It allows only the upload of the status of a device, i. e. battery status. You have to create a new role which includes at least the following permissions: `api:treatments:*`, `api:entries:*` and `api:devicestatus:*`. You can also limit these permissions further to not allow deletions, for instance. But this may affect the removal of wrongly created tre

[2021-05-19 22:20] tolot27 commented on #1473
Yes, it is a duplicate of #131.

[2021-05-19 22:20] #1473 closed

[2021-05-19 22:23] tolot27 commented on #131
#1649 implements a Medtronic CareLink follower. This might be a workaround until we have native support.

[2021-05-19 22:40] tolot27 commented on #1720
A beta version is still an unreleased version which likely contains bugs. We don't have the time to support unreleased versions. If you believe this problem will persist in the final release and if you like to support us, please try to find out whether the Bluetooth stack has changed fundamentally.

As far as I remember, a new Bluetooth stack named "Gabeldorche" was introduced with Android 11 whic

[2021-05-19 22:59] 15characterlimi commented on #1035
@tolot27 thanks a lot! That fixed it.

[2021-05-19 23:09] Smip commented on #1720
I found this stack in the developer options list and it's disabled by default. I tried to enable it and nothing changed. So probably the reason is different.

I remember a few months ago I have a problem when Android aks to bond every 5 minutes and if I didn't click "bond" I have very similar behavior. How I know, there was some patch to fix this problem. How can I manually bond a transmitter?

[2021-05-19 23:12] tolot27 commented on #1720
I've found the reason. As assumed before, it is a permission problem. A12 introduced two new runtime permissions: [New Bluetooth permissions in Android 12](https://developer.android.com/about/versions/12/features/bluetooth-permissions). As soon as we declare this permissions in the manifest, it should work.
I'll provide a PR soon.

[2021-05-19 23:14] parapenT1sta commented on #1720
What great news! :)

[2021-05-19 23:37] danbergan commented on #1625
I finally got around to installing this - you had asked about Pixel phones.  Here's a pic of the screen on my Pixel 4.  I've only been using it for a few minutes, so I will update if there is any more info.
![PXL_20210519_233058600](https://user-images.githubusercontent.com/10565423/118897927-9522fc00-b8c8-11eb-8d5f-a50535094ca3.jpg)

[2021-05-19 23:43] tolot27 commented on #1720
@parapenT1sta Are you able to build you own apk?

[2021-05-19 23:57] tolot27 commented on #1035
@15characterlimi Please can you post the most secure but functional permissions here and brief guideline how to setup this?

It would be a great contribution and good addition to our best practice guidelines and hopefully, @Navid200 can add it to the wiki.

[2021-05-20 03:54] doc77 commented on #874
You mark it as bad in the Bg Data  Table (readings). This is still a feature request, and one that I don't imagine would be too difficult to institute.

[2021-05-20 05:51] parapenT1sta commented on #1720
I can try to build it and will let you know.

[2021-05-20 06:12] jwoglom commented on #1135
I hadn't noticed this specific behavior before, but there is (at least on the G5/G6 side) a distinguishment between known age of the sensor and the internal xDrip db state of the sensor, and if a similar bug existed on the Libre side that would explain this behavior.

On further investigation, it appears that the web service is calling [SensorStatus.status()](https://github.com/NightscoutFoundatio

[2021-05-20 11:29] NickAlbanese85 commented on #1730
yes, right now i will make that backup and maybe unistall and re-install if there is no another solution posible

[2021-05-20 12:02] taylorfowler commented on #1720
If either of you could share that apk if you build it, that would be swell. Getting a ton of gradle errors when i try to build your branch (Android studio is to blame, not the branch, almost certainly).

[2021-05-20 12:09] NickAlbanese85 commented on #1730
768 megas uncompressed size!

[2021-05-20 21:03] 15characterlimi commented on #1035
Sure, I can write up what I did, but it wasn't anything magic, I just followed your suggestion on the permissions (thanks!).

Here's what I did, in case it helps:

1. Follow https://nightscout.github.io/nightscout/security/#how-to-turn-off-unauthorized-access on how to lock down access to one's instance (on the Heroku dashboard for one's instance, go to Settings > Reveal Config Vars > add the conf

[2021-05-20 21:12] parapenT1sta commented on #1720
For some reason I am getting this error while compiling the apk:
[code]

The messsage you are getting is the same I was getting before. Did you check to remove all permissions and then enabling them after?

[2021-05-20 22:25] tolot27 commented on #1720
You can get my preview build at https://github.com/tolot27/xDrip/releases/tag/Android12BTPermissions_v0.1.

[2021-05-20 22:29] tolot27 commented on #1035
@15characterlimi Many thanks for this detailed description. @Navid200 Would you add this to the wiki, please? We may have to emphasize what the advantage is over the current connection settings: privacy.

[2021-05-20 22:41] tolot27 commented on #1730
At what is the largest table inside the SQlite database? I assume, `UserErrors`.

You still did not report whether you have extra logging enabled or not. I assume that this is the main reason of having such a large xDrip database.

[2021-05-21 07:02] Brunchen commented on #1141
The graphic is just a simple scheme. In my opinion this influence is available, but can be initially ignored. The first step must be to implement my above equation. That means, the locomotive(BG) and wagon(SG) are at the same side of the hill (increasing slope or decreasing slope).

The slope of the blood glucose is not needed. Please check equation.

After this long and unsuccessful discussion, I

[2021-05-21 07:02] #1141 closed

[2021-05-21 07:39] jamorham commented on #642
Is this still a problem with the latest nightly? I thought this had been resolved already

[2021-05-21 09:03] tolot27 commented on #1141
This statement isn't true. The interstitial fluid glucose level is indeed a real glucose level because it gets the glucose from blood capillaries. It is highly discussed whether interstitial fluid glucose should gain more attention during therapy. It plays an important role for CGM, already.

Discussing potential features is important, always. Our resources are limited and we try to focus on fixin

[2021-05-21 11:05] NickAlbanese85 commented on #1730
Here is a resume , make with sqlite_analyser

* Page counts for all tables with their indices ***********

DESERTSYNC........................................ 144634      73.5%
USERERRORS........................................ 37184       18.9%
LIBREBLOCK........................................ 8337         4.2%
BGREADINGS........................................ 5633         2.9%
UPLOADERQUEUE....

[2021-05-21 11:12] NickAlbanese85 commented on #1730
save database daily is not enable

[2021-05-21 11:15] NickAlbanese85 commented on #1730
Glucose Retention 120 days

[2021-05-21 11:47] Navid200 commented on #642
@alexmoir1 Would you please test this with the following release and report?  Thanks.
https://github.com/NightscoutFoundation/xDrip/releases/tag/2021.05.16

[2021-05-21 15:36] #1641 closed

[2021-05-21 19:35] Navid200 opened #1736 "Issues experienced by G6 Firefly users"
#### Your environment
xDrip: May 21, 2021
Android: any
<br/>

#### Expected behavior
No confusing, misleading, or unexpected logs, messages, menu options, or behavior
<br/>

#### The following is a list of issues that could be observed by a G6 Firefly user.
1- Temperature is not shown on the system status page.
2- Add Calibration is not an option.  There is only an initial calibration option.
3- T

[2021-05-21 23:11] tolot27 commented on #1730
[code]
As you can see, most of the space is occupied by the desert sync feature. Do you really use it? If not, disable it in the "xDrip+ Sync settings".

Also, quite a lot of messages are logged to the USERERRORS table. I've asked you several times, if you have enabled some verbose logging (search the settings by "Extra tags".

[2021-05-21 23:23] tolot27 commented on #1736
@Navid200 Please can you reformat your issue text to use a [task list](https://github.github.com/gfm/#task-list-items-extension-) rather than the numbered list and append the related PR/issue to each list item? Then, we can simply click on the checkbox if a task has been completed. Thanks!

If you need help to address the remaining issues, please inform me at Gitter.

[2021-05-22 01:57] Navid200 commented on #1730
@NickAlbanese85

Please go to Settings -> xDrip+ Sync settings -> Desert Sync
Is it on?

Please go to Settings -> Less common settings -> Extra Logging Settings -> Extra tags for logging
Please show what you see

[2021-05-22 03:41] Navid200 commented on #1575
@t1dast
I don't have a receiver to test this.  I wish I did.

I don't see why a wrong time on the receiver could cause an issue with xDrip receiving data from the transmitter.
The active timeslot of the transmitter is defined by the transmitter internal clock and is not affected by the receiver.
xDrip adjusts its time and scans when it expects the next transmitter cycle.

I wonder if this was caus

[2021-05-22 12:53] FuLiDu commented on #1625
It works fine on my Galaxy S10, thanks a lot. I was just wondering why the "widget" changes its position, appearing sometimes even behind the time widget. Is there a way to make it stay always in the same screen position?

[2021-05-22 18:36] NickAlbanese85 commented on #1730
![Screenshot_20210522-153123_xDrip+](https://user-images.githubusercontent.com/53303294/119237482-6a78b380-bb13-11eb-899d-12aa85c325e8.jpg)

[2021-05-22 18:52] Navid200 commented on #1730
@NickAlbanese85
Please tap on "Etiquetas extra para el registro", and show what you see.

[2021-05-22 19:48] NickAlbanese85 commented on #1730
![Uploading Screenshot_20210522-164808_xDrip+.jpg…]()

[2021-05-22 20:11] Navid200 commented on #1730
@NickAlbanese85 Please upload it the same way you uploaded the previous images.
We cannot see the last image.

[2021-05-23 11:09] Smip commented on #1720
@tolot27 I tried your version and nothing changed. Android asked for a "Nearby devices" permission but the error is still there.
![photo_2021-05-23_13-08-29](https://user-images.githubusercontent.com/11481452/119257968-fcda8f00-bbc7-11eb-9315-4c21dfe03b44.jpg)
![photo_2021-05-23_13-08-31](https://user-images.githubusercontent.com/11481452/119257969-fd732580-bbc7-11eb-96c3-1e83fc6b619f.jpg)

[2021-05-23 15:18] Navid200 commented on #1575
Please follow the guidelines for bringing up xDrip with a session already in progress.
https://github.com/Navid200/xDrip/wiki/Receiver-or-t:slim

Closing due to inactivity.

[2021-05-23 15:23] Navid200 commented on #1453
We can open this if needed.  But, please let me know why and let me know what you think about my explanation above.
Thanks

[2021-05-23 15:23] #1453 closed

[2021-05-23 15:35] Navid200 commented on #1382
@sashasochka
Your blood test point, with the timestamp of 1:05 has been shifted on the graph to a later time.
This is intentional.
If this is not done and your glucose is changing, the point on the graph will look to have a significant error due to the delay between blood glucose and interstitial fluid glucose.

This is done only for visual effects.  When you enter a calibration, the value is sent

[2021-05-23 15:48] Navid200 commented on #138
@gregtcm
Is this still happening on the latest version of xDrip?
May 21, 2021

[2021-05-23 15:53] Navid200 commented on #790
@diagnoe4 Do you still experience this with the latest xDrip release?
May 21, 2021

[2021-05-23 16:00] t1dast commented on #1575
Thanks for getting back on this issue. I have no knowledge about the details, so I can't explain what the time would have to do about this. It's just that the log contained a message concerning an invalid timestamp comparison. I agree that the actual reason might in fact be something else.
I haven't observed the exact issue again. But it happened at least twice that I wouldn't get any readings aft

[2021-05-23 16:06] Navid200 commented on #1575
If you are open to it, it will be much more productive if we communicate using a forum.  If we conclude that it is an issue, we can come back here, or we can open a new issue.
If you agree, please post here:
https://github.com/Navid200/xDrip/discussions

If you prefer to use an issue instead, we can continue here.
But, I suggest the forum.

[2021-05-23 16:11] #1575 closed

[2021-05-23 16:17] Navid200 commented on #1575
Start by making sure your xDrip and Android settings are correct:
https://github.com/Navid200/xDrip/wiki/G6-Recommended-Settings

[2021-05-23 16:19] Navid200 commented on #619
Closing due to inactivity

[2021-05-23 16:19] #619 closed

[2021-05-23 22:26] parapenT1sta commented on #1720
@Smip Can you check how do you have it on BT Device tab in System Status.

[2021-05-24 02:00] old-square-eyes commented on #749
Not sure if we should re-open this, but I have just successfully achieved a downgrade and have loaded the patch on. Successful Demigod mode. Took a whole day of research / trial and error etc but I should be able to document the steps.

[2021-05-24 02:02] Navid200 commented on #749
@old-square-eyes That would be wonderful if you could document it.
Then, others can find it even if the issue is closed.

[2021-05-24 06:57] Smip commented on #1720
@tolot27 Sure

![Screenshot_20210524-085639.png](https://user-images.githubusercontent.com/11481452/119308968-fbfc3880-bc6d-11eb-811f-864b3fba4632.png)

[2021-05-24 10:28] parapenT1sta commented on #1720
@Smip Exactly what I was getting :-(

[2021-05-25 03:08] doc77 opened #1739 "Readings Marked "Bad""
A blood glucose reading can be marked as a "Bad" reading in the Bg Data Table, and that reading will not be used in statistical analyses. This happens routinely for "pressure" lows, initial new sensor readings, and end of sensor on Dexcom.

It would be visually very valuable to have the dots making up the main graph to have a different user defined color for readings marked "Bad" in the Bg Data Ta

[2021-05-25 03:16] Navid200 opened #1740 "Please move infrequently used settings to engineering mode"
**Problem**
When a beginner runs into trouble using xDrip, they can easily change a lot of settings they should not touch.

There are documents that describe the recommended settings.  Yet, everyday, someone posts, in facebook, asking how they can get xDrip going again.
<br/>

**Suggested Solution**
It would be better if only settings were available to the user, out of engineering mode, that would

[2021-05-25 03:19] Navid200 commented on #1739
@doc77
There is already an open issue that you opened before:  https://github.com/NightscoutFoundation/xDrip/issues/874
If there is any additional information you would like to add, would you please add it to the existing open issue?

There is already an open PR for this: https://github.com/NightscoutFoundation/xDrip/pull/1732

Would you please not open redundant issues?
Would you please close thi

[2021-05-25 06:51] tolot27 commented on #1740
Beside showing extended settings only in engineering mode a lot of settings should not be visible if the data source/sync agent is not active. This will reduce the number of visible settings significantly. I'm unsure whether we should treat this as a separate issue. At least the PRs should address this independently.

[2021-05-25 12:42] #1739 closed

[2021-05-25 22:40] Navid200 commented on #342
@old-square-eyes
I understand your request for an alarm that does not trigger because of a single spike.  But, creating such an alarm is going to be challenging.  But, more importantly, just because someone creates something, it doesn't mean that it will be merged.
To avoid that, we need to focus on absolute necessities first.

I have labeled this issue as postponed so that we don't forget to come

[2021-05-25 22:40] #342 closed

[2021-05-25 22:44] Navid200 commented on #396
@old-square-eyes Is this still happening with the recent releases of xDrip?

[2021-05-26 12:32] NickAlbanese85 commented on #1730
Solucionado

Gracias a un desarrollador argentino hemos encontrado el inconveniente se daba en que xdrip contenia un fallo que reseteaba la aplicacion al menos 30 veces al dia, por lo cual no podia llegar a 24 horas para limpiar datos viejos y asi iba cargando cada vez mas y mas datos.

La solucion consistio en generar un backup de los datos para su reparacion, desinstalar y reinstalar la aplicaci

[2021-05-26 12:32] #1730 closed

[2021-05-26 12:38] Navid200 commented on #1730
This is a translation by Google:

Solved

Thanks to an Argentine developer we have found the problem that xdrip contained a bug that reset the application at least 30 times a day, so it could not reach 24 hours to clean old data and so it was loading more and more. data.

The solution consisted of generating a backup of the data for its repair, uninstalling and reinstalling the application.

[2021-05-26 13:01] szantos commented on #1653
A slightly other aspect, but it also addresses the HbA1c estimation:

Please consider using a weighted average for HbA1c estimation instead of an arithmetic average to have a better approximation.

[https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4771657/](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4771657/)

[2021-05-26 15:30] davemap commented on #1500
I'm having the same issue, have you made any progress?

[2021-05-26 17:04] Navid200 opened #1741 "Please don't show user ID and/or password in event logs"
**Problem**
Helping people on facebook, we often ask them to show their logs.  Sometimes, their Nightscout ID and password shows in the logs.   We ask them to delete it.  But, those could already have been exposed to eyes that should have seen them.

**Solution**
Please identify all instances where a user ID or password is included in event logs.  Please replace the actual ID and password with wor

[2021-05-27 19:07] mcurly commented on #1521
@Glimmerglykose , thank you for your input.

So I guess we can only wait.

Oh well...

Cheers

[2021-05-28 00:58] old-square-eyes commented on #749
Just some quick and dirty steps since I haven't had time to do a full write up. Basically if you have the correct build number, just follow the instructions in the care pack on the xDrip watch guide.

If not, get TWRP loaded per the care pack instructions. Download a copy of the correct image and extract it until you see system.img.

Copy it to the watch using

adb push system.img /sdcard/

Then o

[2021-05-28 22:53] johnmccoyjr commented on #1176
I have revived my second inPen so my old one could be shipped to somebody who would work on this issue. Unsure about shipping it internationally but I'm willing to try.

[2021-05-29 00:17] Navid200 commented on #475
@sulkaharo Is it technically possible to delete something from Nightscout?

[2021-05-29 05:36] sulkaharo commented on #475
Good question! No simple answer here:

1) A Nightscout instance can have any number of data sources uploading data into the database and apps loading the data, so any data sync implementations need to consider the semantics of how the other applications see the data changes and in case of data deletion, any app deleting the data would have to be careful to not delete data uploaded by other apps. N

[2021-05-29 15:37] Smip commented on #1720
probably the solution is to wait for update the RxAndroidBle library due to issue https://github.com/Polidea/RxAndroidBle/issues/752

[2021-05-30 21:21] Navid200 commented on #1705
@pcastelo Another user has confirmed that importing the file three times worked for them.
Thanks

[2021-05-31 16:51] Navid200 commented on #1631
@master3395 Would you please try 3 consecutive times?
Does it work the third time?

[2021-06-01 01:17] Navid200 commented on #1077
After I restart the phone, I can still see the image until xDrip starts.  As soon as xDrip starts, after a reboot, the image disappears.
It is as if the image is stored in a cache that is cleared by xDrip upon a restart.

[2021-06-01 02:25] Navid200 commented on #961
@jroth-haj
I don't see what the problem is.
After I make a change and tap on the checkmark, the save button appears.
If I don't tap on the checkmark and exit the form, I can go back and make the change again and tap on the checkmark this time.  Then, the save button appears.
I think it behaves exactly as intended.  I don't think we are going to change this unless I am misunderstanding you.

Can yo

[2021-06-01 02:26] Navid200 commented on #961
I can make this change.  But, then, i will have to explain to the developers why this is needed.  If I cannot convince them, the change will never be adopted.  So, just because a developer makes the change does not mean that it will be released.
I need to know why this is needed so that I can be sure I can defend it when the time comes.  otherwise, it would be a waste of time.

[2021-06-01 03:04] Navid200 commented on #994
Is there a navigation bar customization option on your phone that you may have edited to make it so bright?
https://www.samsung.com/ca/support/mobile-devices/galaxy-phone-customize-the-navigation-bar/#

[2021-06-01 05:05] jroth-haj commented on #961
Users are minimizing / closing the keyboard, not the input form. After that, they are missing the save button.
I expected to close the input form too, when using the checkmark button at the keyboard.

Thus behaviar ist confusing.

[2021-06-01 16:47] jamorham commented on #1077
The numberwall is done using lockscreen wallpaper so it is quite likely the system will store this and display the old/previous one on reboot. I believe the issue being reported is that a customized background image is no longer applied after reboot.

Investigating this issue so far, I'm thinking it is that xDrip no longer has permission to load this image after reboot, that apps are granted exter

[2021-06-01 22:21] Navid200 commented on #961
Let's say you start editing the carbs per unit and change it.  Then, you realize that you wanted to edit the insulin sensitivity and not carbs per unit.  All you have to do is to minimize the keyboard, tap beside insulin sensitivity, make your intended edit, tap on the checkmark and tap on save.  Your edits to carb per unit will automatically be cancelled.  So, minimizing the keyboard is like canc

[2021-06-02 12:13] Navid200 commented on #1077
@jamorham Could this be related?
There seems to be an issue with getInternalName.

![Untitled](https://user-images.githubusercontent.com/51497406/120477954-57b77780-c37a-11eb-8a9d-28b1f8f725ad.png)

[2021-06-02 17:22] nightscout-ricsi commented on #1522
This is a very straightforward work. Is there any work going on on this project?
I suppose the regrouping of the settings would be a very handy change, too. And I think alerts should be inside Settings, but on the same level. And reminders should be in the same panel as alerts (Alert and reminders).

[2021-06-03 10:55] fatterthantheshadow commented on #1654
I too am interested in this, I own a Wahoo Element bolt, I have NHS funding for Libre 1 but don't have access to Dexcom products.
My AAPS modules are L1-Miao2- xdrip+ - Samsung M30 phone - AAPS- accucheck Insight - Nightscout - HEROKU- android wear watch with AAPS app.
Just like maartenbrakkee suggests, is it not possible to connect the Wahoo to some place within this set up, as loopers we always

[2021-06-03 19:20] ahanuban commented on #1176
I just got a new inpen and am having the same issue. I would rather not send off my new pen but if someone has an old one @johnmccoyjr I do a lot of international ecommerce and would be happy to help with shipping.

[2021-06-03 22:28] hassanatta9855 opened #1744 "xDrip issue: master recieving readings but followers receive missed readings"
My xDrip is working and I am the master, I am recieving readings but the rest of my followers also do receive the reading but just in the form of missed readings. For example the phone shows my blood sugar level is 100 and is going down, my parents do receive the reading but it show missed reading since 60 minutes on them.
![Screenshot_2021-06-04-03-26-15-727_com eveningoutpost dexdrip](https://us

[2021-06-04 04:51] psonnera commented on #1654
Did you see this? https://github.com/NightscoutFoundation/xDrip/wiki/How-to-use-the-Wahoo-Elemnt-Bolt-cycle-computer-as-a-collection-device

[2021-06-04 06:15] tvt92 commented on #1654
@psonnera: yes, but everything that can be found on the net only works with Dexcom G5/G6 and not with Libre 1 or 2.

[2021-06-04 13:44] flashydog commented on #1654
Also very interested in this.  Just got the Libre2 and managed to get it to display my Garmin fenix5 which is amazing.

If I could also get the readings to display on the Wahoo Element Bolt I wont have to buy a Garmin Edge.

Would be amazing to have this on handlebars when out on the MTB and see at a glance if in range.

[2021-06-04 13:46] Navid200 commented on #1744
@hassanatta9855

You should have followed the instructions you were given when you attempted to open this issue.

[2021-06-04 19:21] Navid200 commented on #1744
Please post in support channels.  If no one has an answer for you, we will ask you to open an issue here.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-06-05 00:44] gth001 commented on #1176
I just bought an Inpen, after seeing it in the latest xDrip settings. After a lot of troubleshooting, I see it hasn't been working since 2019. I can confirm that the Inpen app works fine, and the pen pairs there. xDrip seems unable to authenticate and bond. They're only $35 max copay (with insurance) if a developer thinks they want a new one. It'd be really nice to have my insulin doses in nightsc

[2021-06-05 09:08] tolot27 commented on #1176
I'm working on this issue for some weeks. Please be patient some more time.

[2021-06-05 18:42] Navid200 commented on #1744
Please open a thread either in the facebook group or in the gitter room (see above).  We will help you there.

[2021-06-05 18:42] #1744 closed

[2021-06-05 22:15] johnmccoyjr commented on #1176
@Mathis - Great to hear that, just wanted to offer my spare hardware if
needed.

@ahanuban, I can manage the shipping was just unsure of any regulations
that might hold it up.

As a side not I slammed my pen in a door, the back button went flying
and a small washer fell out, it all snapped back together without issue.
Hurrah well designed hardware!

John

On 6/5/2021 2:08 AM, Mathias Walter wrote:

[2021-06-06 14:36] pcastelo commented on #1705
ty @Navid200 , i have some problem the last week , i will try to solve this  on the next days :D

[2021-06-06 21:17] old-square-eyes commented on #342
@Navid200 No, I've never had any success with smoothing in xDrip, for this issue or otherwise. Work around noisy readings just kind of overlays a second plot and glucose number from filtered seems to jump around with noise (as does trend arrow).

As for your comment about it being a noise issue... I'm not so sure. The goal is to get sleep. I think whether on Native or xDrip with some smoothing set

[2021-06-06 21:34] old-square-eyes commented on #396
@Navid200 No doesn't seem to happen any more. However, often the phone struggles to pick up the missed readings stored in the Wear DB for several cycles (or at all) without rebooting the phone and watch. During this time it can pass the threshold for "Disable Forced" and then the phone tries to take over. After that the readings on the watch seem orphaned. The phone then grabs the history from the

[2021-06-06 22:15] Navid200 commented on #342
I hear you.  If you like to reopen this, I will not object.

If we were to create this alarm, or add the capability to the existing alarms, this is my understanding.
We need the alarm to ignore spikes.  A spike is a sudden drop, or sudden raise, that is cancelled by the following reading.  So, in fact, it is a reading that is not very accurate, and would not happen if the sensor was brand new.
Not

[2021-06-06 22:17] Navid200 commented on #396
So, do you want to edit the title to reflect what the current problem is?
Or, do you want to close the issue if you believe this issue does not happen anymore?

[2021-06-06 22:48] Navid200 commented on #1632
With the updates, I believe the issue has been addressed.

After the sensor stops on day 10, the stop sensor option is not shown anymore under the top left menu.
And the sensor state shown on the main screen now is valid.
It used to be that you would have to wait up to 10-15 minutes for everything to become consistent.  Not like that anymore.

[2021-06-06 22:53] Navid200 commented on #1586
I would like to open a PR for this.

I know how to remove the visibility from the EULA screen.
But, I'm not sure what "keeping this file in the source tree" means.

[2021-06-06 22:58] Navid200 commented on #1553
@ARkaine2

If you have disabled all alerts, what would be the point of continue to snooze?
If alerts are disabled, they will never ring.  What is there to snooze?

[2021-06-06 23:00] Navid200 commented on #1564
@LubomirKovalcik Any update on this?

[2021-06-06 23:01] Navid200 commented on #1547
Closing due to inactivity

[2021-06-06 23:01] #1547 closed

[2021-06-07 01:15] Navid200 commented on #1549
@joshualamorie
What is the hardware data source?
Are you still experiencing the issue?
Would the issue persist if you disable automatic calibration?

[2021-06-07 01:23] Navid200 commented on #1525
@ARkaine2
Please use the existing open issue to propose any additions or improvements.
If you believe that this should be open for a reason, please explain why before reopening.
Thanks

[2021-06-07 01:23] #1525 closed

[2021-06-07 01:43] Navid200 commented on #1503
I don't understand what the issue is.
I am using notification channels effectively.  They let me customize different alarms.
If this is an issue, please explain how I can reproduce it.
Otherwise, I am inclined to close it.

[2021-06-07 01:55] dbnsacc commented on #1503
As can be seen from the screenshots in the original post, the channel (bgAlertChannel) which would allow the alerts to be customized in order to break through Do Not Disturb on the newer phone does not have the individually fired alerts (Glucose Alerts Settings) displayed in the Notification Settings for xDrip+ in order to do so. Instead they can only be enabled or disabled completely by the displ

[2021-06-07 02:02] Navid200 commented on #1503
I can see bgAlertChannel in your screenshot.
What is wrong with it?
Can you not tap on it and tweak it as you like?  You need to tap on the left, not on the button.

[2021-06-07 02:09] dbnsacc commented on #1503
Unfortunately whether I tap on the toggle or the text "All 'bgAlertChannel' notifications" it only has the effect of completely disabling or enabling that channel. In order to customize the alert inside the channel I think I would need the "Glucose Alert Settings" alert with the bell symbol underneath it as I had on the previous phone in order to let me customize it.

[2021-06-07 02:21] Navid200 commented on #1503
Can you show the following please?

Settings -> Alarms and Alerts -> Glucose Alerts Settings

[2021-06-07 02:47] dbnsacc commented on #1503
Below should hopefully be a screenshot of those settings. I currently have volume profile on Ascending but have also used Medium at times.

![sshot_GAS-07062021_033117](https://user-images.githubusercontent.com/44261610/120952290-a2523e80-c742-11eb-9fb9-f093a0e6f1df.jpg)

[2021-06-07 02:50] Navid200 commented on #1503
OK thanks.

I don't have an Android 11 phone.
I will see if I can recreate this issue using the virtual devices in Android studio.

[2021-06-07 11:56] Navid200 commented on #961
A user could have several instances for different time periods as shown in the attached image.
![Screenshot_20210607-074729](https://user-images.githubusercontent.com/51497406/121011748-f66e1a80-c764-11eb-9553-106582332ef7.png)

You can think of the checkmark as the save button for the item you are editing.  The save button on the main screen saves everything you have edited.  Those have different

[2021-06-07 11:56] #961 closed

[2021-06-08 03:53] old-square-eyes commented on #342
@Navid200 Just one quick point... the Dex system seems to include smoothing on the TX, but also an additional layer in their app. When I tried it out recently it was quite noticeable. This of course adds a 5-10 min delay that you describe. I have seen anecdotal reports around on the web too. If on-label Dexcom users are OK with this smoothing and associated delay I think we could have it as an opt

[2021-06-08 04:06] Navid200 commented on #342
@old-square-eyes When you tried out the Dexcom app recently, did you keep using it until the sensor became noisy as you do with xDrip.   Only then, can you make a fair comparison.

[2021-06-08 04:13] old-square-eyes commented on #396
Will close and create a new issue when I get some video of it happening.

[2021-06-08 04:14] #396 closed

[2021-06-08 19:11] nightscout-ricsi commented on #1672
It would be great to merge this, It would help to avoid a potencial user error in this setup:
https://www.minimallooper.com/post/how-to-setup-freestyle-libre-2-and-oop2-to-use-a-native-bluetooth-connection-in-xdrip

[2021-06-08 20:01] revronfrancey commented on #1269
yes, yes, yes!  this is happening to me and i think i have reached the state of going bonkers trying to figure out why this is happening.  navid fo pointed me here.  yes, this also happened to me after taking the suggested update that i think was announced as a solid update.  so, i never considered it was because of a bug in the new update.  my previous version was frpm an october 25th or so time

[2021-06-08 20:42] Navid200 commented on #1537
This is my take:

The time of a reading is divided by 2.5 minutes (FUZZER is a constant with a value representing 2.5 minutes).
`https://github.com/NightscoutFoundation/xDrip/blob/3df0152195b980e42ad78c853dd2c122c10fb96f/app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/BgGraphBuilder.java#L85`
`https://github.com/NightscoutFoundation/xDrip/blob/3df0152195b980e42ad78c853dd2c122c10fb96f/ap

[2021-06-08 22:10] Navid200 commented on #1537
It turns out this issue had been noticed a long time ago:
https://github.com/StephenBlackWasAlreadyTaken/xDrip-Experimental/pull/288

[2021-06-09 18:47] Navid200 commented on #1537
I took the graph from the post by tolot27.  I identified the readings that had moved because of the unfortunate positioning of the readings with respect to the FUZZER bucket boundaries.
I used a spreadsheet to create a set that would visually look the same.
![Screenshot 2021-06-09 143230](https://user-images.githubusercontent.com/51497406/121409541-a2fbf800-c92f-11eb-9f96-6efdb1d01a0e.png)

Then,

[2021-06-09 22:21] tzachi-dar opened #1749 "wrong keys are used in xDrip"
xDrip is using active android to handle it's data.
The api of active android does not allow xDrip to pass the index to the query.
Adding that would make queries execute much faster.

We probably need to create our own version of active android and add that ability.

[2021-06-09 22:29] balrog20pl commented on #1625
Hi

Samsung s20+ s8+ and s9+
I will be happy to test :)

[2021-06-10 06:13] tolot27 commented on #1749
@tzachi-dar Do you mean indices instead of keys? Please can you elaborate which keys/indices are used wrongly?

As far as I know it is the responsibility of the underlying database [query planer/optimizer](https://www.sqlite.org/optoverview.html) to use the appropriate indices. But this requires good index statistics. Maybe your database has crown and your index stats are outdated. In such case [A

[2021-06-10 06:15] tolot27 commented on #1537
Is the FUZZER also applied to Libre raw values which appear every minute? If yes, are there visual artefacts, too?

[2021-06-10 06:44] tzachi-dar commented on #1749
I have changed the bug title to indexes.
As far as I can tell, we never run the ANALYZE command, so maybe running it is a good thing. A grep in the activeandroid code shows that ANALYZE is never used there.
I thought of passing the index as part of the query.

I have seen this on the libre blocks db, but I have seen many times that as DB gets bigger, xDrip works more slowly, which is a good sign o

[2021-06-10 07:21] tolot27 commented on #1749
That's not the correct way because an application usually does not know the index statistics.

We should also revise the ORM layer and the queries we are using. Maybe we have not the correct indices created. We should also avoid overindexing. I've also noticed that xDrip gets slower over time and it is reported here #626 as well.

[2021-06-10 08:23] tzachi-dar commented on #1749
Using a new CRM might be a good idea, but is probably a big change in code, and in testing matrix.
Right now, most of our queries are timed based (that is give me data from date a to date b).
The sqllite3 does not understand our model because we never call ANALYZE.
So, our options are either call analyze or pass the index. I think that the second is simpler, although I might look at the first one

[2021-06-10 08:55] tolot27 commented on #1749
Using `ANALYZE` is the simplest thing to implement. I can also have a look at query/index optimization in general but need a big database for tests. Maybe, I can concatenate my backups.

Maybe, implementing a new Object–relational mapping (ORM) is not necessary at all. I'll have a look at the database schema.

[2021-06-10 09:54] tolot27 commented on #1749
You should also think about storing the UUIDs of `LibreBlock` as a blob rather than a text. This is much more efficient in terms of space (much smaller field size and smaller clustered index) and query speed is about the same.

[2021-06-10 10:04] tzachi-dar commented on #1749
I must say, that I don't see how UUIDs are used at all in libreblock at all.
I believe that they have been added to match what we have in all other tables. But this is probably another issue.

[2021-06-10 12:35] tolot27 commented on #1749
Many thinks are commented at https://github.com/NightscoutFoundation/xDrip/pull/1743#discussion_r649013574. I still believe that the indices are used as they were defined. Improving this avoids looking for another ORM or change of ActiveAndroid. But we should enable `ANALYZE` on db connection close, anyway.

[2021-06-11 13:24] stev0n commented on #1654
I would like this as well.

[2021-06-11 17:10] jamorham commented on #1740
If we put too much behind engineering mode then it will end up getting enabled too frequently. Some of the options above yes engineering mode is appropriate as we really don't expect users to need to modify the defaults, but for some others we could have an `advanced mode` and add that as a dependency to the setting and then iterate the settings and automatically hide those when that mode is not e

[2021-06-11 17:14] Navid200 commented on #1740
@jamorham I hope I understand correctly:
I will create a new setting deep under other misc options.  I will call it something like "Advanced" for English.
Then, I will make the settings I have identified here to be accessible only if the new advanced setting is enabled.   If the new advanced setting is disabled, the identified settings automatically go back to their default settings.

[2021-06-11 19:03] jamorham commented on #1740
I think they will always default to their set defaults unless the user has changed them but I think within `Preferences.java` and if advanced mode is disabled then the settings will not be changeable if they  are set to have that as a dependency. But to hide them I think we want something in `Preferences.java` to iterate them, look for the advanced dependency and auto-hide those options. I believe

[2021-06-11 19:05] #1586 closed

[2021-06-12 01:18] #1382 closed

[2021-06-12 07:38] steve8x8 opened #1752 "Libre2 scan shows "NFC invalid data" for too short time"
### Subject of the issue
When priming xDrip with a new L2 sensor, several NFC scans are required.
If there's a problem, the issue is only presented for a too short period of time. Waiting a few seconds after the scan confirmation vibration, one will only see the notofication disappear.

### Your environment
xDrip version 2021.05.21 with recommended settings
Sony Xperia Z3compact running LineageOS

[2021-06-12 07:52] steve8x8 opened #1753 "Option to force-disable "Samsung Workarounds" (for devices running custom ROM)"
I've been running xDrip on a Samsung S4mini (LineageOS 16.0) for a while with the patched LL app. No problem so far, even with Samsung Workarounds disabled.

Attempting to use L2/BT, I'm running into issues - which appear to point at these Workarounds being enforced (no matter what the setting is). I suspect that BT handling in LOS differs from that done by Samsung in stock firmware, and that the

[2021-06-12 07:58] parapenT1sta commented on #1720
The newest version of xDrip already has it. Do you want to try it?

[2021-06-12 08:01] parapenT1sta commented on #1720
The newest version of xDrip includes this commit: https://github.com/NightscoutFoundation/xDrip/pull/1723

Are you able to check if solve the issue?

[2021-06-12 08:21] Smip commented on #1720
I updated Android to beta 2 and luckily it works. I'm not sure that the new version of xDrip helped, but I keep testing.

[2021-06-12 08:23] parapenT1sta commented on #1720
@Smip Can you keep me posted?

[2021-06-12 13:24] Navid200 commented on #1537
I believe so.  I say that based on my observation of an image I have copied from this issue: https://github.com/NightscoutFoundation/xDrip/pull/1303
and shown here:
![79228350-f082ef00-7e69-11ea-8e33-b8332267708a](https://user-images.githubusercontent.com/51497406/121777376-b5f50f00-cb5f-11eb-8d09-d549b04a6dcb.png)

You can see that the raw value are bunched up together on a 2.5-minute grid.
If my

[2021-06-12 21:40] madsviggers opened #1754 "Support Novopen 6 / Echo Plus"
The Novopen 6 is released in Denmark probably globally also. It works with NFC and should be build to work with all the apps that wants to use it. If needed I could buy one and send it to someone who could get it to work with xdrip?

[2021-06-13 00:58] Navid200 commented on #1753
@steve8x8 This is the not the right place for posting a question.
Would you please post in the following and I will work with you to figure out if an issue is needed?
https://github.com/Navid200/xDrip/discussions

If I attempt to answer your question here, it would give a wrong message to the user community that they can open and issue, here, in order to ask a question.
We can always reopen this i

[2021-06-13 00:58] #1753 closed

[2021-06-13 01:16] Navid200 commented on #1752
@steve8x8 Please have a look at the event logs under the top right menu.
Is there no log related to the message?

[2021-06-13 10:57] Navid200 commented on #1752
The messages shown on screen are just notifications.  There is usually a log message generated at the same time, which can be used for troubleshooting.

Please use the communication channels to connect with us first.  If there is a reason to open an issue, we will encourage you to open one then.

https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
https://github.com/Navid

[2021-06-13 10:57] #1752 closed

[2021-06-14 13:26] tolot27 commented on #1754
Thanks for the suggestion. I've contacted the German customer service and asked for the interface documentation. Unfortunately, the smartpens are not released in Germany, yet. Maybe, I can get two (6 and Echo Plus) for integration testing. If not, I'll contact you again.

[2021-06-15 12:37] Navid200 commented on #262
I am closing this for now.  However, we will consider it when the number of open issues has decreased.
In the meantime, I need the following information about what will make you happy.

1- The two new color possibility available on the phone only but not available in statistics
2- The two new colors available on the phone only and also included in the statistics

We need to know if this is going t

[2021-06-15 12:37] #262 closed

[2021-06-16 12:38] Navid200 commented on #1517
Is this an xDrip bug?
If the functionality is lost due to a change to a Google app or anything else, it's not fair to call it an xDrip bug. Sure, we may be able to modify xDrip to fix the problem.  But, that should be categorized as a feature request rather than a bug.

[2021-06-16 12:40] Navid200 commented on #1511
@old-square-eyes Looks like there is a solution.  Can we close this issue then please?

[2021-06-16 12:45] Navid200 commented on #1504
The battery voltages are shown correctly now.
The resistance is not being sent anymore by Firefly I believe.
The temperature is shown correctly too in the logs.
I have an open PR that will also add the temperature to the system status page:  https://github.com/NightscoutFoundation/xDrip/pull/1722

I hope you don't mind if I remove the bug label.

[2021-06-16 12:48] Navid200 commented on #1438
@tolot27 Can you verify if you can resolve the problem by going back to a previous version of xDrip?
If not, can we remove the bug label please?

[2021-06-16 12:51] Navid200 commented on #1427
@Otter3eso57
Is this still an issue?

[2021-06-16 13:04] tolot27 commented on #1517
@Navid200 It is a bug in the xDrip code supporting the bubble transmitter and has nothing to do with the removal of the Diabox app from Play Store. But only the @bubbledevteam can fix it. It looks like it is related to the checksum calculation.

[2021-06-16 13:09] Navid200 commented on #1415
I would object to such a pull request.  I expect so will others.  The reason is how things could go wrong for a user who is not 100% careful.  We have had many similar proposals (that could possibly cause errors) that have never been accepted.
We have to worry about how a capability may impact the majority before it can be approved.

[2021-06-16 13:17] Navid200 commented on #1328
So far, every instance of this error I have seen has been addressed by adjusting xDrip settings to only what is absolutely required.

There was a Dexcom collector case where changing all the Bluetooth and G5/G6 Debug settings to recommended settings stopped the issue.

@getut Are you still experiencing this problem?
If yes, would you please ensure your settings match the following?
https://github.

[2021-06-16 13:30] Navid200 commented on #1517
@tolot27 If we (xDrip support) cannot fix this, why do we have it tagged as an xDrip bug?  Isn't that contradictory in terms?

Can we either remove the bug label from this issue, or drop the capability from xDrip completely until the external developers fix it?
Otherwise, if we keep this tagged as an xDrip bug, how is it going to correctly highlight to our xDrip developers what they need to focus

[2021-06-16 20:09] #1511 closed

[2021-06-16 23:23] Navid200 commented on #1692
@JayJay265 What is the status now?
Are all your settings matching the following?
https://github.com/Navid200/xDrip/wiki/G6-Recommended-Settings

[2021-06-17 04:25] JayJay265 commented on #1692
@Navid200 The settings are the same as on the website. Unfortunately everything is still the same as before.

[2021-06-17 04:52] Navid200 commented on #1692
@JayJay265 Is Voltage B still low?

[2021-06-17 18:30] parapenT1sta commented on #1720
How is it working? Should I leave this topic open or should I close it?

[2021-06-17 18:34] JayJay265 commented on #1692
Voltage B 260 is up to date. After I updated Xdrip to 06.11 this morning, either the Dexcom receiver got values ​​or Xdrip never got both at the same time. One of them was signal loss. After about 2 hours there are no more values ​​on the Dexcom Reciver only with Xdrip. I could change the transmitter at the weekend but don't know if I have batteries that come with Voltage B 280.

[2021-06-18 00:54] Navid200 commented on #1740
@jamorham When you say "hide them", do you mean to make it impossible to change them, or do you mean literally hide them so that they are not visible?

[2021-06-18 08:40] Smip commented on #1720
1 week without problems. Probably you can close the issue. If I find a bug I'll reopen the issue. Thanks

[2021-06-18 08:46] #1720 closed

[2021-06-18 08:49] tolot27 commented on #1720
Does it work without applying #1734?

[2021-06-18 08:58] parapenT1sta commented on #1720
@Smip Thank you for your feedback. I am now installing Android 12 beta to try it, I had quite Android 12 when xDrip stopped working.

[2021-06-18 09:41] parapenT1sta commented on #1720
I installed Android 12 Beta 2 and the latest xDrip works perfectly fine.  I think https://github.com/NightscoutFoundation/xDrip/pull/1723 solved the issue.

[2021-06-18 09:59] tolot27 commented on #1720
And were you asked for the additional permissions?

[2021-06-18 10:20] parapenT1sta commented on #1720
I don't remember given permission but I verify that "Nearby Devices" is allowed and was accessed on the last 24 hours.

![image](https://user-images.githubusercontent.com/608650/122546756-3071d300-d027-11eb-9ae6-b7c3e0e1f1ab.png)

[2021-06-18 10:55] wouterlemcke opened #1757 "Voice readings not (always) completely in English"
I am experiencing a bit of a weird issue. I configured Xdrip to enable 'speak readings' when my phone is connected to my cars bluetooth audio.

Since the latest update the trend arrow name is in a different language, while the actual number is always in English. So where I expect to hear eg '8.8 arrow up', it speaks 8.8 in English and the 'arrow up' part in a different one. It sounds like French o

[2021-06-18 11:53] Navid200 commented on #1757
Would you please include what version of xDrip you have experienced this one?
Also, please tell us if you know which version did not have this problem.

[2021-06-18 15:43] Thomas-Wolff opened #1758 "After NFC Scan of Libre 2 no BG readings appear in xDrip"
Hi all,
I have a problem with the NFC scan of my FSL2 sensor running in xDrip via OOPAlgorithm2 since I updated xDrip to build 11 June 2021.
The build from 21 May was still running correctly. It only came up when I updated to build 11 June 2021 2 days ago. One NFC scan is enough and the BT connection to the sensor is disabled and needs to be re-established. Also, after a BT loss of about 15 minute

[2021-06-18 15:51] Navid200 commented on #1758
@Thomas-Wolff
You say:
Has anyone possibly had the same experience with this build and can possibly tell me more about this?

The best place to ask this question is not here.
It is either in the facebook group:
https://www.facebook.com/groups/xDripG5

Or, the Gitter room:
https://gitter.im/jamorham/xDrip-plus

After you ask there, if it is confirmed that this indeed is an issue and there is no wor

[2021-06-18 16:06] tzachi-dar commented on #1740
2 comments:
1) I would not move them, but rather have them being disabled/hidden based on the advanced option.
2) Some of the settings can be disabled, for example Transmitter (PL) support or RFduino support. Many of them are things that users have to change. For example, use scanning. Although I realy don't like the current situation. Currently, there is a huge chance that any user will have to c

[2021-06-18 17:27] Navid200 commented on #1740
@tzachi-dar I can see the following as the thinking behind this.  But, please let me know if you disagree.

If there are settings that almost no one ever needs but for testing or for extremely unusual situations, we move them to the engineering mode.  Meaning the user will only be able to change them in engineering mode.  One example is using a Dexcom G6 in non-native mode.  There are cases when s

[2021-06-18 19:22] adenis76 commented on #1758
I have trouble today with latest nightly from 11.6.2021. After xdrip update blucon stop receiving data from libre 1 and NFC scan stop working. Error message is that sensor clock didn't advance. After xdrip version downgrade everything working again without problems.

[2021-06-18 19:40] Thomas-Wolff commented on #1758
What does this mean, going back to the construction of 21 May 2021?

[2021-06-18 19:43] Navid200 commented on #1758
@Thomas-Wolff I am just asking you to confirm that you experience the problem wit the June 11, release and you are not experiencing the problem with the May 21 release.  Can you confirm please?

[2021-06-18 19:45] adenis76 commented on #1758
Yes, exactly.

[2021-06-18 19:45] Thomas-Wolff commented on #1758
just as the construction of 21 may is o.k.

[2021-06-19 03:07] SBee76 commented on #1701
I've been researching this also for a wear os watch, and apparently it is not possible when xdrip is a follower, much to my frustration

[2021-06-19 09:24] jk1993 commented on #1758
I have noticed similar on the latest build, where an NFC scan appears to do nothing when there are missing data points. But if you go to "Show Libre trend" then you can see the per-minute values and there seem to be lots of them but it does not update the main graph. When this happens, in the logs there are plenty of logs saying "Removing data point" so I suspect it could be that OOP2 is seeing th

[2021-06-19 10:52] #1741 closed

[2021-06-19 11:37] jamorham commented on #1758
@tzachi-dar could you take a look at this? thanks

[2021-06-19 21:34] tzachi-dar commented on #1758
@jk1993 Are you using libre2 or libre 1?
@adenis76 Are you sure this is libre1? Are you running with the oop on blueon? (if yes which of them)?
@Thomas-Wolff were you able to receive data using libre2 bluetooth connection?

A request for all, can you please send me your xDrip db to tzachi.dar@gmail.com
If that is not possible, can you send a printing of the logs with the problems?

Thanks
Tzachi

[2021-06-19 21:53] adenis76 commented on #1758
I am 100% sure that is libre 1. I am not running any of oop.

[2021-06-19 22:10] tzachi-dar commented on #1758
@adenis76
Can you share your logs with me?

Please press the 3 points to the right.
Then please go to backup->back of db.
Once the back up of the db will finish there will be a share button there.
Can you then share it with me at. (tzachi.dar@gmail.com).

Thanks
Tzachi

[2021-06-19 22:13] adenis76 commented on #1758
I am just send you screenshots of logs and I will send you database in few minutes.

[2021-06-19 22:22] jk1993 commented on #1758
@tzachi-dar I'm using libre 2 with OOP2. I will try and send you a db export tomorrow

[2021-06-19 22:46] Thomas-Wolff commented on #1758
did you get the log file?

Greetings Thomas

Von: tzachi-dar ***@***.***>
Gesendet: Sonntag, 20. Juni 2021 00:11
An: NightscoutFoundation/xDrip ***@***.***>
Cc: Thomas-Wolff ***@***.***>; Mention ***@***.***>
Betreff: Re: [NightscoutFoundation/xDrip] NFC-Scan Problem mit xDrip bau vom 11 Juni 2021 (#1758)

@adenis76 <https://github.com/adenis76>
Can you share your logs with me?

Please press the 3

[2021-06-19 23:20] tzachi-dar commented on #1758
@adenis76 I have received your db, but I don't understand what the problem is. Any chance that you can run with your phone attached to a pc and run with adb? (If not, we can try getting this information in a different way).

Thanks
Tzachi

[2021-06-19 23:28] adenis76 commented on #1758
Unfortunately I can't do that now. You can send me on email step by step instructions and I will do it tomorrow. Thank you.

[2021-06-20 06:58] tzachi-dar commented on #1758
@adenis76 let's try something simpler:
Please go to settings->less common settings->extra logging-settings->extra tags for logging:
Set there:
Blukon:v,BgReading:v

Please run with the version that is creating problems for 30 minutes, and send me the logs again.
It should give us more information about what is going on.
Please also let me know, what time you have been running with the new version.

[2021-06-20 11:22] adenis76 commented on #1758
I am send log file via xdrip feedback. Is there some way to save them and send directly to you? I think problem is starting after NFC scan. In feedback I am include message that log file should be send to you. I am try 11.6 and 19.6 nightly build and they are creating same problem after NFC scan.

Best regards.

[2021-06-20 11:41] tzachi-dar commented on #1758
@adenis76
Please press the 3 points to the right.
Then please go to backup->back of db.
Once the back up of the db will finish there will be a share button there.
Can you then share it with me at. (tzachi.dar@gmail.com).

[2021-06-20 13:01] tzachi-dar commented on #1758
@adenis76 I have received your db, and looking at it.
Are you not getting any readings at all with the new build
Can you let me know at what time there should be a gap in the readings?

[2021-06-20 13:50] tzachi-dar commented on #1758
@adenis76 I can now see some problems in the logs, but I think that readings should exist.
Did you see a place in the graphs that had no readings?

[2021-06-20 15:42] Thomas-Wolff commented on #1758
@tzachi-dar, the outage was exactly from 11:20 to 11:41.

[2021-06-20 18:09] tzachi-dar commented on #1758
OK,
I think that I now understand what the issue is.
I'll try to create a version with a fix tonight.

On Sun, 20 Jun 2021 at 18:42, Thomas-Wolff ***@***.***> wrote:

[2021-06-20 21:07] tzachi-dar commented on #1758
There have been two issues here:
1) Make sure we always use only the first 0x158 bytes of the data.
2) In the case of libre2, also allow flags == 0 as a legal packet.

The following link should solve both. Please try it.
Please note:
1) The file will be downloaded with a .zip extention. Please remove it (it should be apk).
2) You will need to remove your version before you can install this version

[2021-06-21 01:45] Navid200 commented on #994
@haspden
We need to ensure that this is an xDrip issue and not a phone setting.
Would you please respond to my question?

[2021-06-21 01:54] Navid200 commented on #1006
@ANDREAPIPPI
If you enable Automatic Calibration and you enter all your blood glucose measurements into xDrip, xDrip will use those that fall on a flat trend.

The issue with what you are suggesting is that just because you have a flat trend up to now does not guarantee that this is a good time for calibration.
For example, if you are about to stop an 800-meter run, even if your trend is flat now,

[2021-06-21 01:58] Navid200 commented on #1006
@tolot27 I just realized that @ANDREAPIPPI closed the issue but you reopened it.
So, would you please answer the question I have asked above?
Thanks

[2021-06-21 02:31] Navid200 commented on #1016
@duncanbarnes Is this still happening?
If yes, does it happen all the time?
If not, what ate the required steps to reproduce the problem?

[2021-06-21 02:42] Navid200 commented on #1187
@tolot27 What would be the reason for this?
Aren't all passwords visible in xDrip?

[2021-06-21 03:19] Navid200 commented on #1220
@davystrong I don't think this is an xDrip issue.
You are welcome to use the xDrip Gitter room in order to communicate with users or developers.
https://gitter.im/jamorham/xDrip-plus

Would you please close this issue?
Thanks

[2021-06-21 03:20] Navid200 commented on #1225
Closing due to inactivity

[2021-06-21 03:20] #1225 closed

[2021-06-21 03:21] #1220 closed

[2021-06-21 03:23] Navid200 commented on #1240
I would like to know how I can recreate this problem.
My phone, Android 9, never automatically comes on every 5 minutes.

[2021-06-21 03:26] Navid200 commented on #1297
Thanks.
I agree

[2021-06-21 03:37] Navid200 commented on #1339
@vguttmann Please provide a screenshot.  It's really not fair to ask for a change to the code without even showing the existing problem.
I hate to go ahead and change something and eventually find out that was not what you were complaining about.

[2021-06-21 03:48] Navid200 commented on #1441
Closing due to inactivity

[2021-06-21 03:48] #1441 closed

[2021-06-21 03:52] Navid200 commented on #1553
Closing due to inactivity

[2021-06-21 03:52] #1553 closed

[2021-06-21 04:31] tolot27 commented on #1339
Here is a screenshot. It should be 10 g carbs. Simply the unit is missing.
![Screenshot_20210621-062955_xDrip+.jpg](https://user-images.githubusercontent.com/1370732/122707354-27b51300-d25a-11eb-8cd9-c76dd05e92fd.jpg)

[2021-06-21 05:09] vguttmann commented on #1339
Yep, that's exactly what I meant. Thanks!

[2021-06-21 05:26] tolot27 commented on #1187
It is never a good idea to show passwords. That's the reason why all passwords in all password input fields on all websites (think of your bank app) and most of the desktop and mobile applications are invisible. That has nothing to do with locked or unlocked phones/computers and also not with privacy films.

The Dexcom Share Upload password is also invisible.
We simply have to change https://githu

[2021-06-21 05:43] tolot27 commented on #1006
No, you've reoppend the issue at 20th, February. I've just added the enhancement label two days before.

[2021-06-21 07:16] wouterlemcke commented on #1757
Yes, sorry for that. I added it to the description

[2021-06-21 08:35] haspden commented on #994
Hi @Navid200 , sorry I've moved to a new phone now and unable to reproduce it on this phone. With the S9+ however I can confirm that I had done a factory reset to try and resolve the issue. One thing however that I've just thought about is the Day/Night Light/Dark mode setting. As this was brought in as an optional software update part way through owning the S9+ and I had it set to day mode rather

[2021-06-21 09:02] tolot27 commented on #994
@haspden Is/was the navigation bar also visible if you click on preview in the screensaver settings?

[2021-06-21 19:49] Otter3eso57 commented on #1427
@Navid200
Yes still open, since the solution is part of #1659 that is not merged yet.

[2021-06-21 21:42] Navid200 opened #1762 "Give more flexibility to Other Alerts"
**Current status**
There is only one override silent mode setting for all the alerts in this category.
There are only a few of these alerts that can have a specific sound file chosen.  The others inherit it from the other alerts.
There is no ability to enable or disable the vibrator for these alerts.
These alerts do not follow the chosen volume profile for all alerts.
The current override silent m

[2021-06-22 07:56] SimonPhilpott commented on #1705
@Navid200 So I had to flush my data today which gave me the opportunity to test out the import database X3, it didn't work but I did just update to the latest nightly which I'll try again to test import at anbother time soon.

[2021-06-22 10:32] hapvlz opened #1763 ""Removing point glucoseData" No results shows up"
Hello,

FreeStyle Libre 1
xDrip version is: cc96742-2021.06.19
Xiaomi Mi 8 Pro Android 10 QKQ1

Problem appear since: 2021-06-20 16:34 (Could be related to latest update?)
Error attached on screenshot below -

![3e26b95e-9547-428e-8d36-4edfb0c0ce3c](https://user-images.githubusercontent.com/34927858/122908597-95456a00-d354-11eb-8618-a525892ef3e0.jpg)

Glucose data is being recognized in other appl

[2021-06-22 11:57] Navid200 commented on #1763
@hapvlz Please have a look at this open issue:
https://github.com/NightscoutFoundation/xDrip/issues/1758
If you are describing the same problem, please close this.  There is no reason to have multiple open issues for the same matter.

[2021-06-22 19:19] Navid200 commented on #1763
Please post any Libre-related issues that are specific to the June 11 release in this link and avoid opening new issues:
https://github.com/NightscoutFoundation/xDrip/issues/1758

The developers are working on resolving that.
In the meantime, either provide feedback through that open issue, or revert to the previous release and wait for the next release.

[2021-06-22 19:19] #1763 closed

[2021-06-22 20:12] nightscout-ricsi commented on #1555
That would be great help for the translators, because without the context many times I did not have any clue, what that string might mean.

[2021-06-22 21:26] tolot27 commented on #475
@sulkaharo Thanks for pointing me to the v3 API. That could also solve some of the remaining tasks in #1403.

[2021-06-22 21:53] tolot27 commented on #1555
That would just be enabled in a special build for translators and not the general app.

[2021-06-22 23:03] StephenBrown2 commented on #1240
Maybe it's actually an Android setting. I have "wake screen for notifications" turned on.

![Screenshot_20210622-170219.png](https://user-images.githubusercontent.com/1148665/123010398-c4bb9d00-d37b-11eb-88ab-b2e9fc622a5d.png)

[2021-06-22 23:23] Navid200 commented on #1240
@jamespaulley What are your settings for notifications on lock screen?
https://support.google.com/pixelphone/answer/6111294?hl=en

[2021-06-23 09:21] hapvlz commented on #1758
Hi Tzachi,

I've tested, this version works amazing so far.
Thank you a lot!

[2021-06-23 17:19] nightscout-ricsi commented on #1006
I like to have a notification like this. I would like to set:
- what time range the alarm works (do not wake me up by night)
- alarm sound song/file and loudness
- how long (in minutes) the BS must be constant
- what is the BS value range, that means constant (ex. 0.0, 0.1 or 0.2 mml/l)
for conveniuence it would use the BS value rerpesented on the graph.
Why? I might have a good calibration at nig

[2021-06-23 22:50] StephenBrown2 commented on #1240
Been running with the switch off and on for the last day, haven't watched my screen but I'm not sure it's made a difference.
@jamespaulley have you tried flipping that switch and seeing what happens?

[2021-06-24 21:28] tolot27 opened #1765 "Update Nightscout REST API to v3"
As described in https://github.com/NightscoutFoundation/xDrip/issues/475#issuecomment-850774431, we should support the new Nightscout REST API to track changes and deletions better.

List of tasks to implement:
- [ ] determine Nightscout REST API version
- [ ] show API version in Nightscout Uploader and Follower status page
- [ ] create a new class for new API
- [ ] create a Factory class to insta

[2021-06-24 21:29] tolot27 commented on #1765
@sulkaharo API v3 UPDATE does not support an eventType or note for svg entries. Does it matter?

Any further hints?

[2021-06-24 22:04] tolot27 commented on #1765
The requests which be used for the new REST API are described at [HTTP Methods](https://restfulapi.net/http-methods)

[2021-06-25 02:21] Navid200 commented on #311
The functionality you are asking for by adding a value to fast rising can effectively be accomplished by using the existing predicted low alarm as already explained.

The functionality of a fast rinsing alarm including a value can be accomplished if we had a predicted high alarm.  We have a pull request for it.  https://github.com/NightscoutFoundation/xDrip/pull/441
It has not been accepted and th

[2021-06-25 02:21] #311 closed

[2021-06-25 02:53] Navid200 commented on #994
Thanks for feedback.

I don't think the Android control panel characteristics are a part of xDrip.  I suspect this should be addressed by adjusting the behavior of the phone rather than the behavior of xDrip.

This issue can be found in searches even when it is closed.
If others experience this issue, we can always reopen.

[2021-06-25 02:53] #994 closed

[2021-06-25 03:34] Navid200 commented on #1280
@MikeFor Is there any security app on the phone that could be considering xDrip to be illegit?

Your first post states that the problem existed on two versions of xDrip.  Do you suggest that there are versions of xDrip that don't have this problem?

[2021-06-25 03:37] Navid200 commented on #1299
@steve8x8 What is the follower scheme?
Does it happen if you use Nightscout to follow?  Does it happen if you use xDrip sync to follow?

[2021-06-25 03:48] Navid200 commented on #1463
@sulkaharo Can you show xDrip logs when this happens?

[2021-06-25 03:54] Navid200 commented on #1617
Do we know how to recreate this problem?
Is there something we need to fix in xDrip with respect to this?

[2021-06-25 04:05] Navid200 commented on #1684
Whether something is easy to implement or not is not on its own going to determine if it is going to be implemented or not.

Whether it is necessary, how easy it is to test, and how disruptive it may be to existing features are more important.

There is an existing open issue you can add your comments and suggestions to.
https://github.com/NightscoutFoundation/xDrip/issues/131

If this needs to be

[2021-06-25 04:05] #1684 closed

[2021-06-25 04:13] tolot27 commented on #1299
Also, which version of xDrip has the follower running?

I've tried to reproduce this with the current nightly but couldn't.

[2021-06-25 05:07] tolot27 commented on #1463
I discovered the same DNS log entry sometimes on the main screen. But xDrip always recovers after some time and fills back missing values.

[2021-06-25 07:46] tolot27 commented on #1554
Some of the tasks are still not fixed. I'll check this soon.

[2021-06-25 14:02] bryanw20 opened #1766 "sound dropouts with Pixel 4a & soundcore BT devices"
Hi sorry if not the right place to ask, FB Group didn't have an answer.
I got a new Pixel 4a; when using Soundcore BT devices (speaker or earbuds) I get several seconds of garbled/muted sound occasionally. I happens the same time a glucose request from my Dex6 happens; but not everytime. Once an hour, or 2-3 times in a row. it goes away after about 30 seconds.

I do not have the same issue with ot

[2021-06-25 17:34] Navid200 commented on #1766
Have you posted here?
https://gitter.im/jamorham/xDrip-plus

[2021-06-26 00:33] bryanw20 commented on #1766
Thanks, No but I will.

[2021-06-26 00:33] #1766 closed

[2021-06-26 02:15] Navid200 commented on #1705
I just tried the virtual device in Android Studio.  I set up an Android 11 Pixel 4 XL device.
I attempted to import a database I had exported from xDrip on an Android 9 device.
It shows that everything imported properly.  However, there were no readings.  I imported the same file a second time.  Again, it reported that the import had succeeded.  Yet, there were no readings.
I imported the same fil

[2021-06-26 15:08] duncanbarnes commented on #1016
Sorry for not updating, running 17cbcf0 - 2021.03.08 on the same Pixel 3 Android 11 this is not happening for me anymore.

[2021-06-26 15:30] Navid200 commented on #1016
I wonder what caused this.  I used a virtual device in Android Studio and installed the version you reported in your first post in this thread.  But, I could not see the issue.

[2021-06-26 15:33] Navid200 commented on #1016
@duncanbarnes
I wonder if you may be willing to help us with this by installing that old version over your current version of xDrip and see if the problem returns.  If you are, please don't uninstall.  Just install over.

[2021-06-26 20:14] AxelFR2 opened #1768 "xDrip + Libre2 = calibration problem"
xDrip + Libre2 = calibration problem
Help please

We can calibrate the Libre2 with an offset of -40 mg/dl to +20 mg/dL [-2,2 mmol/l to +1,1 mmol/l]

does anyone know how to change these levels? sometimes I need to correct more than +20 mg/dL (+1,1 mmol/l )  but i can't do it.

[2021-06-26 20:17] Navid200 commented on #1768
Please don't open an issue in order to ask a question.
Please post questions here:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-06-26 20:17] #1768 closed

[2021-06-27 07:16] MasterPlexus commented on #1768
@axelfr2 : but to answer your question shortly: no, there is no official way to change this limits, as they are safety limits. It is too dangerous, that in low areas the sensor will not provide proper data as it has its own border. Then you will get into a great hypo without noticing it. That's the reason why. A sensor which has this big difference should be replaced.

[2021-06-27 14:37] duncanbarnes commented on #1016
Sure, may be 24 hours or so before I get a chance, am working GMT+8 at the moment and don't get much time off but will do so as soon as I get a chance. Bear in mind the Android update that has occured since that version but am happy to help if I can.

[2021-06-27 20:55] Navid200 opened #1769 "Default time span only active when time buttons are visible"
**Time Buttons**
If you long press the icon on the main screen and enable time buttons, the time buttons will appear on the main screen.  Using time buttons, you can choose the span shown on screen with the press of a single button.
But, more importantly, if you long press one of them, you will select a default time span.  If you then leave the main screen by viewing the logs, when you return, you

[2021-06-28 01:54] Navid200 commented on #1229
@parapenT1sta Can you explain what the problem is?
Can you explain what you expect first?  And then explain what happens that is unexpected?

[2021-06-28 05:46] parapenT1sta commented on #1229
@Navid200 When using Calibration Plugin **Datricsae** with MiaoMiao/Bubble + Libre, the last reading (numeric value) doesn't match with the value drawn in the graphic.

1st image: **low** value set on graph is below 70, but the last reading drawn is over 70 (blue dot) but the Datricsae (Reading) value is 66 (red).
2nd image: Datricsae (reading) value is 147 but if I press on the latest dot drawn o

[2021-06-28 17:43] #1758 closed

[2021-06-29 07:12] retroneo commented on #1754
The interface documentation is here:

https://developer.novonordisk.com/home/register.html

[2021-06-29 14:24] tolot27 opened #1770 "Backfilled data incompletely fetched from Nightscout"
XDrip does not fetch all backfilled data from Nightscout:

<img width="300" src="https://user-images.githubusercontent.com/1370732/123812909-c265bf80-d8f4-11eb-8bf6-5d49047675e9.jpg"/><img width="300" src="https://user-images.githubusercontent.com/1370732/123815197-92b7b700-d8f6-11eb-9d6f-95f4d9b1b872.jpg"/>

In the xDrip screenshot you can see a second gap between 10:07 and 10:52 and a third gap

[2021-06-29 15:26] Navid200 commented on #1770
Please correct if anything is wrong in the following sequence:

1- When a master disconnects from the transmitter, a gap is formed in the readings.  The gap will also exist on Nightscout at the time.

2- The follower reads from Nightscout and so, ends up with the same gap.

3- The master reestablished connectivity with the transmitter.  Since the transmitter sends data covering past 3 hours all th

[2021-06-29 16:26] Navid200 commented on #1770
I wasn't able to recreate the problem.
The follower was able to get the missed readings and fill the gap.  So, my description is not correct.  At least, it's not complete.

Is it possible that the gap can be filled if it is not too far back in time?

[2021-06-29 18:41] tolot27 commented on #1770
There is a graph option to show backfilled values. Unfortunately, it does not work with in my setup. It is activated all the time but never shows backfilled data differently at the collector/share. I tried creating a screenshot to show that some backfilled data are fetched from Nightscout.

[2021-06-29 18:51] Navid200 commented on #1770
Sorry if you have already looked at this and are aware:
https://github.com/NightscoutFoundation/xDrip/blob/14c806e9d69b71c4b6fcb62efdc673e378c0bb13/app/src/main/java/com/eveningoutpost/dexdrip/Models/BgReading.java#L243-L244

This is what triggers the logs you have.
I am still trying to recreate this.  I think I may be able to if I delay the recovery on the follower by 2 hours based on those logs.

[2021-06-29 19:31] tolot27 commented on #1770
Nightscout follower is indeed able to fetch the data. The following screenshot is from my dev phone which is also configured as NS follower but was offline some days. Switching it on, immediately fetched the data including backfills:
<img width="300" src="https://user-images.githubusercontent.com/1370732/123856221-1e463d80-d921-11eb-8250-69e4c01820f5.png"/>

[2021-06-29 19:35] Navid200 commented on #1770
Something caused the ratelimit in the if statement to become true.  If we find that, we find what triggers the issue.

[2021-06-29 20:46] tolot27 commented on #1770
I've extracted the relevant BG values from the database and highlighted the gaps. Looks like gaps are filled only the last 35 to 40 minutes.
![Backfillgap](https://user-images.githubusercontent.com/1370732/123864832-7d10b480-d92b-11eb-9d80-e23365b54234.png)

Interestingly, there is no gap between 08:17:49 and 09:27:49.

[2021-06-29 20:56] tolot27 commented on #1770
I don't think this is related to this issue because the if BG values at that time are fetched from NS.

[2021-06-29 21:58] Navid200 commented on #1770
That is interesting.    If the follower can download past readings from Nightscout, the master should be able to do it too.  But, it cannot.  I'd like to know why.  But, that is not related to this issue.

[2021-06-30 04:16] tolot27 commented on #403
@Navid200 copied from #1770:

Because Nightscout Sync (REST-API) is just an uploader of BG values, despite its name, and Nightscout Follower just a downloader of BG values. Only treatments can be transferred bidirectionaly.

Maybe we should rewrite and merge both services into a unifying service with a true two-way sync of any kind of data and supporting v3 API (#1765).

[2021-06-30 11:21] JayJay265 commented on #1692
@Navid200
I have now used a different transmitter voltage B317. However, the problem has not changed.
![Screenshot_20210630-052933_xDrip+](https://user-images.githubusercontent.com/80785292/123952232-ff3dbf00-d9a5-11eb-9ab1-9e92f76e0450.jpg)

[2021-06-30 12:04] Navid200 commented on #403
Does this mean if someone buys a new phone, they can first set it up as a follower of the Nightscout, and get all the history?
Or, does the follower download only one day or 12 hours or what?

[2021-06-30 12:10] tolot27 commented on #403
That could be a workaround we can evaluate very easily using the Android Simulator. Currently, I don't know how many historical values can be fetched. I switched off my dev phone on some months ago and turned it on three days age, if I remember correctly. The data were fetched back till 7th, June. But NS follower was set up months ago and hence knows from previous data stored in the SQlite DB that

[2021-06-30 12:14] Navid200 commented on #1692
That can't be right.  Voltage A cannot be 220!
Something is very wrong with those values (vA < vB, R too large).

[2021-07-01 07:49] PieterDeBruijn commented on #1754
I've made a request for the Echo Plus pen, so I'll let you know once it has arrived. I'm in The Netherlands. At least I can help test.

[2021-07-02 20:28] adanvdo opened #1772 "IOB Calculation Does Not Use Proper Insulin Duration (Humalog)"
Regardless of my prediction settings or insulin profile, xdrip appears to be using an insulin duration of ~2.4 hours to calculate IOB.

I have tried with "multiple insulin profiles" both enabled and disabled.  My low level insulin duration setting is at 3 hours.

Compared to the omnipod, xdrip is reporting a much lower IOB which results in a higher suggested bolus.  Here is a specific example.

2:

[2021-07-03 19:32] bryanw20 commented on #1766
So haven't confirmed it yet, but some experimenting it seems if I turn off the watch in xdrip (miband for me) the garbled sound problem goes away.

[2021-07-04 20:39] illepidus commented on #1597
Any chance this feature would be added to any further xdrip version? That would be wonderful.

[2021-07-05 08:25] PieterDeBruijn commented on #1754
We will receive the new smart Echo Plus pen today/tomorrow (The Netherlands), so it's available over here. Let me know if I can test anything.

[2021-07-05 09:48] zouden commented on #813
The ascending volume profile is not a good solution, because it keeps alerting every 1 minute until you dismiss it. It is so annoying that I had to turn it off. I'm surprised you like it. What happens if you've left your phone in another room? Or you're relaxing watching a movie on the couch and your phone is on the table and it keeps playing this sound every minute. I don't want to have to get up

[2021-07-05 11:04] Navid200 commented on #813
@zouden Every change we make to xDrip has more than just one consequence.
We have to consider them all.   Would you please consider the following scenario?

A construction worker is home from work and changes the volume profile from high to low in order not to bother his partner.
Tomorrow morning, he forgets to change the volume profile from low back to high before going to work.
While at work, he

[2021-07-05 11:25] zouden commented on #813
Well, the desire to have quiet notifications at home and loud notifications at work isn't specific to xDrip users. This problem was solved years ago when phones got silent mode, do-not-disturb, and scheduling.

Suggestion: a separate volume level for when do-not-disturb mode is activated? That way we can have it quiet at night, and loud when we go out,, and we can simply use our phone's schedule/r

[2021-07-05 20:54] Navid200 commented on #813
No, silent mode does not address the scenario.  Most xDrip users want to get the alert even when their phone is in silent mode.  But, they also don't want to wake up their partner.  That's where the ascending volume becomes very useful.

You don't have to use it if you don't like it.

Very unlikely we will create a low volume profile.

[2021-07-05 21:11] jo1st commented on #813
I really don't get why we have to read replies like the last, what's the
big deal to just create a low volume option? You don't want to use it? then
don't but give the option to other users to use it if they want.  I could
care less because I solved the problem by installing the Sound Assistant
app by Samsung on my phone so that I can set a lower alarm sound for xdrip.

On Mon, Jul 5, 2021, 22:54

[2021-07-05 21:34] zouden commented on #813
I also don't understand the opposition to the Low volume profile. The hypothetical construction worker can continue to use the Ascending profile. I'm not proposing doing away with the Ascending profile, I simply ask for a lower volume option. Please! 🙏

@jo1st, I've also tried the samsung Sound Assistant and it doesn't seem to work. Even if I set the xDrip volume to zero, the "test alert" feature

[2021-07-05 21:46] jo1st commented on #813
are you using it correctly? it works for me just fine. I set xdrip in the
individual apps option and control the volume there.

On Mon, Jul 5, 2021, 23:35 zouden ***@***.***> wrote:

[2021-07-05 21:48] jo1st commented on #813
don't test in xdrip, that's a test. just set it up and see if it works

On Mon, Jul 5, 2021, 23:35 zouden ***@***.***> wrote:

[2021-07-06 15:19] zouden commented on #813
Okay I've discovered that it works if I disable the setting called "force speaker". With that off, the volume can be adjusted with the samsung Sound Assistant app. Fantastic!

What does the "force speaker" option do? It's not obvious.

[2021-07-06 15:50] jo1st commented on #813
sorry, I forgot about it, it was a while ago. I don't know what that does
but I'm glad you are OK now.

On Tue, Jul 6, 2021, 17:19 zouden ***@***.***> wrote:

[2021-07-06 15:56] zouden commented on #813
The "force speaker" option is a setting in xDrip for the alerts. Actually I googled for it, and it forces the alert to come out of the phone speaker instead of a bluetooth speaker (this is useful to me, because I use bluetooth speakers a lot and I don't want alerts coming over the music). However it makes the volume **extremely** loud. Even the Ascending profile is incredibly loud.

Now that I've

[2021-07-07 14:02] ARkaine2 opened #1774 "Question about calibration"
Please, help.

Does the last calibration on certain BG affect on different BG sensor data/values which were calibrated previosly?

If yes, this means that last calibration "shifts" all BG data/values (even that were calibrated previosly), and there's "subquestion":

What's the point of calibrating sensor on different BGs?

Thanks.

[2021-07-07 14:11] Navid200 commented on #1774
@ARkaine2 Would you please not open an issue just to ask a question?
Your questions are very important and we need to address them absolutely.
Would you please allow us to help you by asking your questions using the identified channels?  Is that going to be a problem?
Would you please explain why?

Those channels are:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-07-07 14:11] #1774 closed

[2021-07-07 16:44] seiyria commented on #1394
I've been having trouble patching the app - does anyone have an apk they could share, or a place where I could get one? happy to provide email as well.

[2021-07-07 16:48] Navid200 commented on #1394
@seiyria If you ask the same question at either of the following, you will get a lot of relevant answers.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-07-08 03:19] Navid200 commented on #1210
Thanks for the questions, and suggestions.
Please ask other users to find out what every other user does.
After that, if you believe a feature would help, you can reopen and change this to a feature request.

[2021-07-08 03:19] #1210 closed

[2021-07-08 03:22] Navid200 commented on #1240
This sounds like the result of phone settings rather than an xDrip issue.
Please reopen if you believe this is an xDrip issue and include steps for recreating the problem.

[2021-07-08 03:22] #1240 closed

[2021-07-08 03:26] Navid200 commented on #1278
Closing due to inactivity

[2021-07-08 03:26] #1278 closed

[2021-07-08 03:29] Navid200 commented on #1283
As described by MasterPlexus, this does not seem to be an xDrip issue that can be addressed by modifying xDrip.

[2021-07-08 03:29] #1283 closed

[2021-07-08 03:32] Navid200 commented on #1291
I would like to close this unless it is an xDrip issue.
If it is, would you please provide steps for recreating the issue?

[2021-07-08 03:34] Navid200 commented on #1299
Please provide more info if you experience it again.
Please help us recreate the problem if you do and we can reopen the issue.

[2021-07-08 03:34] Navid200 commented on #1316
Closing due to inactivity

[2021-07-08 03:34] #1316 closed

[2021-07-08 03:38] Navid200 commented on #1331
@tolot27 Is this a layout issue?

[2021-07-08 03:42] Navid200 commented on #1350
Can we close this if it is a duplicate?

[2021-07-08 03:50] Navid200 commented on #1360
@fezulin Can you identify the last xDrip version that works as you like?  Then, we can see what changed after that release and it should be easy to identify the cause.

[2021-07-08 03:57] Navid200 commented on #1369
@RainerTischnet I read your first post, which talks about values 68 and 8.  Then, I look at the logs you have attached an image of.  I see neither 8 nor 68 in the logs.  So, I have no idea what the purpose of the image is.

Would you please add more detail and we can reopen the issue if needed?
But, youc an get a lot of information if you consult with other users using the support channels I provi

[2021-07-08 03:57] #1369 closed

[2021-07-08 04:01] Navid200 commented on #1391
@tzachi-dar Is this behavior expected, or not?
Is there anything we can do to xDrip to address this?

[2021-07-08 04:04] Navid200 commented on #1393
@tzachi-dar Any suggestions for this issue?

[2021-07-08 04:12] Navid200 commented on #1437
Please use the support channels to see what other users are doing in similar situations.  You may find a solution already.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

If there is no solution or work-around, we can always reopen the issue.

[2021-07-08 04:12] #1437 closed

[2021-07-08 04:22] Navid200 commented on #1578
Closing due to inactivity

[2021-07-08 04:22] #1578 closed

[2021-07-08 04:25] Navid200 commented on #1591
@TheLordBaski
Are you still experiencing the problem?

Have you asked other users and developers?
You can do that by posting here:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-07-08 05:34] tolot27 commented on #1331
Yes, it is.

[2021-07-08 05:46] fezulin commented on #1360
@Navid200 : Last version, that works fine is:
2020.02.14 (xDrip-plus-20200214-edc269e.apk)

First faulty version was released on 19th of February 2020. There were two builds: 2020.02.19 (xDrip-plus-20200219-1082c3c.apk) and 2020.02.19b  (xDrip-plus-20200219-62bbfb2.apk). Both show the behavior as described. (As well as any version I ever tested after 14th of February 2020.)
I just checked it with

[2021-07-08 07:31] tolot27 commented on #1350
Calibrated values will be uploaded to NS if #1090 gets merged.

[2021-07-08 07:35] tolot27 commented on #1350
Closing this because Libre2 calibration now possible and sync of calibrated values is requested earlier with #475 and will be merged with #1090.

[2021-07-08 07:35] #1350 closed

[2021-07-08 07:39] tolot27 commented on #1369
@RainerTischnet This issue should be addressed by the @bubbledevteam. Did you contact them, already?

[2021-07-08 07:45] tolot27 commented on #1391
It should be easy to fix, I believe.

[2021-07-08 07:49] tolot27 commented on #1393
@berislavv I still not fully understand the issue. Please can you post screenshots of the problem, both from xDrip and Nightscout?

Does xDrip show the correct values for all historical data or only for the last 15 minutes?

[2021-07-08 08:19] tolot27 commented on #1360
It looks like it is caused by the commit 28d7b85 from PR #1101.
@karelinoleg Please can you have a look?

[2021-07-08 11:16] berislavv commented on #1393
Its almost a year ago abaout the issue, i need to check on the phone if i can get so much history back, i changed the phone but i think the data are transfered.

Xdrip was setup to use Datricsae, also to send to nightscout display value. and to adjust historical values. When blucon is working everything was fine.
During the cirumstances we started to scan only NFC, no blucon. The kid is swiming, p

[2021-07-08 17:19] asavageiv commented on #1291
Just close it. I think it is an xDrip issue, but moving across timezones is
probably rare enough for it to not be worth fixing.

On Wed, Jul 7, 2021 at 8:32 PM Navid ***@***.***> wrote:

[2021-07-08 18:30] tolot27 commented on #1291
We need at least a reproducible procedure. If this would be an xDrip issue, other sync services like Nightscout should be affected, too.

[2021-07-08 18:30] #1291 closed

[2021-07-09 23:38] Navid200 opened #1775 "Allow to link more than 1 Bluetooth glucose meter"
### Is your feature request related to a problem? Please describe.
If a user has more than 1 Bluetooth glucose meter, they have to scan every time they need to switch.  For example, if there is a meter at school and another at the grandparents'.

### Describe the solution you'd like
It will be great if both meters can be linked at the same time so that there will be no need for additional scanning

[2021-07-10 16:23] fjpezuela commented on #1477
Hello,

A few days ago I connected xDrip with Tidepool. Everything syncs correctly except the basal ones. I have found this thread and the referenced one and it seems that there are users who have worked for it.

Do you know what the problem is and at what point is a possible solution?

Thank you very much for all the support.

[2021-07-10 16:34] simonpickering commented on #1477
The issue is afaiu on the Tidepool side. I raised the same question on the Tidepool.org #general Slack channel on April 18th at 11:18am (UK time) - they have added in the internal plumbing but it's not yet supported in Blip, which does the uploading afaicr.

With that said, that was a little while ago, so it may now be working in the uploader and requires a mod to the XDrip+ code, I'll need to hav

[2021-07-10 19:36] fjpezuela commented on #1477
Thank you very much for the reply.

I don't have access to Slacks. I would appreciate if you put the answer here.

If I have not misunderstood, making some modifications in xDrip, the basal rise should work.

Hopefully this can be corrected soon.

Thanks again.

[2021-07-11 05:07] tkalfaoglu opened #1776 "intrusive notification"
Hi. On my phone, a Huawei p30 lite, when i am using the phone, every few minutes the graph notification comes down and had to be lifted up to disappear. İs there a way to stop this notification? Many thanks

[2021-07-11 11:03] simonpickering commented on #1477
No worries, here's the thread copied and pasted from Slack. As far as I remember a modification will be required in the XDrip+ upload code but only once Tidepool supports it in Blip. I've not check on the status of either - I had a yearly hospital appointment and was trying to work out how to share my data with them. I will have a further dig at some point in the not to distant future to see what

[2021-07-11 12:43] Navid200 commented on #1776
@tkalfaoglu Have you already asked this question from the user community, which includes all the developers as well?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

If yes, would you please provide a link here to the question?
We can reopen this if it is indeed an issue.

[2021-07-11 12:43] #1776 closed

[2021-07-11 17:31] Navid200 commented on #1776
This is a link to an existing issue that addressed the same concern:
https://github.com/NightscoutFoundation/xDrip/issues/750

We are hoping to dedicate the issues platform to issues so that the developers can look at them and see what needs attention.

User questions are very important and need to be addressed as well.  However, the expertise needed to address bugs and user questions are not nece

[2021-07-12 15:52] fjpezuela commented on #1477
Thanks again. See if someone can check it out and readjust the code. I will continue to monitor the progress.

[2021-07-12 22:00] Atlas-Night-Out commented on #1648
Just doing a new updated video to show this way as the old version to install onto a ticwatch still works on mine but I believe not for other people so in my doing an updated video will not confuse people on the correct process. I just hope I get it right as I have nothing to test on in watch wise to test

[2021-07-12 22:04] Atlas-Night-Out commented on #1648
Just doing a new updated video to show this way as the old version to install onto a ticwatch still works on mine but I believe not for other people so in me doing an updated video will not confuse people on the correct process. I just hope I get it right as I have nothing to test on in watch wise to test

[2021-07-13 20:45] Diabeticliberty opened #1777 "NFC Invalid Data"
### If you need support for xDrip, PLEASE DO NOT FILE A TICKET HERE
- For support, please post a question to the xDripG5 group at Facebook (https://www.facebook.com/groups/xDripG5) or visit the Gitter room at https://gitter.im/jamorham/xDrip-plus.
- Please also search the existing issues for similar problems before opening a new one.
- Please do not prefix you issue title with BUG: or LIBRE: for i

[2021-07-13 20:54] Navid200 commented on #1777
Please post in the following and someone will help.  Please do NOT open an issue just because you have a question or need help.
If it is an issue, we will encourage you to open an issue.

https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-07-13 20:54] #1777 closed

[2021-07-14 03:11] Navid200 commented on #138
This issue is not about double calibration.  It is rather about blood glucose readings being uploaded to xDrip more than once.

We can reopen if anyone is experiencing this issue.  Please post here if you do.

[2021-07-14 03:11] #138 closed

[2021-07-14 03:20] Navid200 commented on #206
@TecMunky Rewrite history is a graphics setting, not a calibration setting.
I don't see how we can (and why we should) have the graphics manipulations on master to be transferred to the follower or vice versa.

Please explain what feature exactly you are talking about.

[2021-07-14 03:21] Navid200 commented on #236
I'm not even sure what "Adjust past" is.
Please explain exactly what this is and we can reopen it if needed.

[2021-07-14 03:21] #236 closed

[2021-07-14 03:43] Navid200 commented on #296
@WanaGo My understanding of automatic calibration is that when you perform a blood glucose measurement, with your Bluetooth meter, it's reading after being transferred to xDrip is used for calibration if the trend is flat enough.

If that is the idea behind automatic calibration, you should never use a calibration menu.

What happens if the next time when the initial calibration form pops up and a

[2021-07-14 03:51] Navid200 commented on #366
@old-square-eyes Rewrite history is a graphics setting.
Correct me if I am wrong in that respect.
If I am correct, the BG data table is never modified.
So, no other analysis or database should be affected by the setting.

As an example, you can use the graphics settings to, for example, smooth noise.  But, why should that affect the Nightscout database?

[2021-07-14 04:01] Navid200 commented on #475
@Tornado-Tim Rewrite history is a graphics setting.  None of the graphics settings affect Nightscout.  Neither should this one.
Please let me know if you disagree.
There is a previous open issue requesting similar behavior as you are asking.  https://github.com/NightscoutFoundation/xDrip/issues/366

I am closing this issue and ask you to add your request to the existing issue.
However, I am going

[2021-07-14 04:01] #475 closed

[2021-07-14 04:17] Navid200 commented on #566
We are asking xDrip users to participate in conversations and sharing experiences using forums.
Other than facebook, the available options are:
https://gitter.im/jamorham/xDrip-plus
https://github.com/Navid200/xDrip/discussions

We encourage discussions.

But, we are discouraging users from using this issues platform for that purpose.

Out hope is that the developers can look at the open issues an

[2021-07-14 04:17] #566 closed

[2021-07-14 04:18] WanaGo commented on #296
Hi again
Not sure we are talking about the same thing here.
I am talking about a new sensor, waiting for it to warm up, saying its ready and looking for initial calibration values (very first values from finger prick), you do the finger prick and the BT sends it to the xDrip, and instead of inserting the value into xDrip for the initial (FIRST) calibration to start the whole process off, it cancel

[2021-07-14 04:21] Navid200 commented on #296
You are correct.  Thanks for pointing that out.
In that case, you can tap on the square marker and tap on calibrate and confirm that you want to use the point as a calibration.
Please try this the next time.

[2021-07-14 04:45] WanaGo commented on #296
And that is the same as doing an initial calibration from the menu, is it?

[2021-07-14 04:50] Navid200 commented on #296
The values coming from a glucose meter, by default, are only entered as blood glucose readings, not calibrations.  In order to use one as calibration, one has to tap on it and choose to use it as calibration.

Enabling automatic calibration is supposed to use the incoming readings as calibrations if some conditions are met.  However, as you mentioned, those conditions are not met before initial ca

[2021-07-14 05:29] tolot27 commented on #236
"Adjust past" is simply "rewrite history". See https://github.com/NightscoutFoundation/xDrip/search?q=Adjust+past

[2021-07-14 09:19] joshbohmer opened #1778 "G6 Timestamp Issue when newly activated."
When first activating a G6 transmitter xDrip incorrectly reports the timestamps as negative for the first few hours. The transmitters internal times starts from 0ms.

This prevents xDrip from generating any packets that need a timestamp (like backfill requests) from being generated for the first few hours after a new transmitter is activated

Once xDrips timestamp goes positive <0 the errors go aw

[2021-07-14 10:19] tolot27 commented on #1459
The invalid timestamp issue will be discussed in #1778.

[2021-07-14 10:20] tolot27 commented on #1030
This issue is duplicated by #1778 and will be discussed there.

[2021-07-14 10:30] tolot27 commented on #1778
While investigating the issue I discovered that the screenshot above shows slightly different values of "tx start:" (`transmitter_start_timestamp`). That is really strange because the transmitter start time is stored in the database.

[2021-07-14 11:24] joshbohmer opened #1779 "Dynamically Detect Dexcom Warm-Up Duration"
Rather than assume warmup durations by firmware version, G6 exposes this information dynamically through the 0x52 opcode. This allows for G6 transmitters with non standard warmup durations to display correctly

To retrieve current warmup time
Issue the following to the Command UUID after authentication
`0x5202 + CRC16`
This will return as an example
[code]

1C20 = 120 Minutes Sensor Warmup (Stock

[2021-07-14 11:24] jamorham commented on #1778
I think this is probably quite simple. Its just that a transmitter timestamp before transmitter start is being requested.

I expect this will come from backfilling and simply capping the backfill window to the transmitter start (or session start) would resolve the issue. I will look at that.

I don't think its related to the other mentioned issues.

[2021-07-14 11:49] tolot27 commented on #1778
@jamorham And why are different time strings reported for "tx start"? The max difference is 12 seconds. That cannot be a rounding issue.

[2021-07-14 14:14] mistermintsgh opened #1780 "Samsung Bluetooth may broken.... again"
I've been having issues with my Samsung Galaxy S21U (Exynos) since the June security update. I thought it was potentially a problem with an updated version of xDrip, but even after going back several releases the issue persists.

I am getting frequent signal missed, or disconnected issues.

Setup: Libre 1 and MiaoMiao 1
Android 11
MM1 firmware: 39

For signal missed, this happens several times a d

[2021-07-14 14:18] Navid200 commented on #1780
@mistermintsgh Do you mind posting in the support channels if you haven't already?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

If you have already, would you please provide links to the threads?

[2021-07-14 18:30] emp-00 commented on #1778
I have never seen such an error message. No hits in my logs for "TimeKeeper" and "comparison". Running Dexcom G6 with xDrip nightly 2021-05-21. Also never saw such messages (before or after sensor start) with other xDrip versions. Totally new to me.

[2021-07-14 19:50] tolot27 commented on #1775
Maybe, we should generalize the support of multiple Bluetooth devices. Then, more than one insulin pen like Inpen or newer smartpens can be supported.

[2021-07-14 19:50] tolot27 commented on #1775
Also, do you have list of planned Bluetooth glucometers?

[2021-07-14 20:16] Navid200 commented on #1775
I would just like to allow more than 1 meter to be linked at the same time.  I was not going to edit the list.

[2021-07-14 20:21] tolot27 commented on #1775
Is there a documented list of supported glucometers?

[2021-07-14 20:31] tolot27 opened #1781 "RuntimeException: Cannot find preference screen within search result"
Searching the settings for "back-fill" and clicking on the top-most hit "Back-fill data Tap to send historical data to Nightscout" (if English is the UI language) results in a `java.lang.RuntimeException: Cannot find preference screen within search result`.

The log shows:
[code]

Any version of xDrip is affected.

[2021-07-14 21:28] tolot27 commented on #1781
I've traced the bug down to the library `search-preference.aar`. This library is self-compiled from repository [ByteHamster/SearchPreference](https://github.com/ByteHamster/SearchPreference) and there are many never versions available. Unfortunately, non of these versions work with xDrip. It looks like `search-preference.aar` was cloned and modified around version [v1.2.6](https://github.com/ByteH

[2021-07-14 21:42] anaid0 commented on #1056
Does anyone remember what was in that mentioned ticket? I get 404 when I try to open it and I assume there were some important hints on how to fix issue with Libre Link patched app. What was this "Bluetooth file delete" exactly?

[2021-07-14 21:50] tolot27 commented on #1781
I've found [Adapted for using in PreferenceActivity Context](https://github.com/CrazyXacker/SearchPreference/commit/d8f0558b68a23b14f81d97971a09b5fd3a7347f9) but this commit introduces some other changes and it will not introduce `SearchConfiguration.getKeysList()`.

[2021-07-15 06:23] TecMunky commented on #206
When a calibration is executed, the readings for up to the last 3 hours are
adjusted on the Master.  All followers do not see any adjustment of the
data, and thus show different data than the Master.  I would prefer that
followers would also see the same data immediately after a calibration.

This is not a critical issue for me.  Just a minor annoyance.

On Tue, Jul 13, 2021 at 10:20 PM Navid ***@

[2021-07-15 10:21] benfiscal commented on #1056
Hi, i think i originally opened this ticket. I had problems with the values
from xdrip because i hadn't whitelisted both xdrip and AndroidAPS and
enabled them in autorun management in system wide settings.

On Wed, 14 Jul 2021, 23:42 anaid0, ***@***.***> wrote:

[2021-07-15 15:33] CaroGo commented on #1625
Just discovered this project... Thank you so much! works well on Samsung S20 fe android 11!
Great feature! 👌

[2021-07-16 16:55] Navid200 opened #1783 "Please raise the volume for "Speak Readings""
**Issue**
When "Speak Readings" is enabled, the volume is very low.  Raising the volume to maximum raises the effective volume.  However, it is no where near the maximum volume of the phone

**Possible solution**
Ensure that the volume of spoken readings matches that of a media played on the same phone volume setting.

**Alternative**
Unfortunately, raising the volume to max will make everything e

[2021-07-17 02:58] dirceusemighini commented on #1007
I was able to integrate my gts2 mini, but it's missing the watchface. Any help on that would be appreciated, as far as I understood I should use the amazfitwatchfaces to design a new one.
I'm a bit confused to which source code should my changes be based on, this Nightscout, bigdigital Xdrip-miband, Xdrip+, can anyone help me to finding this?

[2021-07-17 03:05] joshbohmer commented on #1778
@jamorham think you're correct about the backfill observation

The timestamp reaches 0 after 3 hours, so it makes sense.

@emp-00 You'll only ever see this for the first 3 hours after waking a transmitter wakeup & if xDrip requests backfill data (or anything else that calculates the timestamp before 0)

[2021-07-17 07:30] twinko commented on #1007
what do you mean by integrate? did you coded support for the mini?
afaik thereis no support for the mini and no watchface generator
supported devices: https://www.patreon.com/posts/53034931

[2021-07-17 09:07] #541 closed

[2021-07-17 13:53] Navid200 commented on #1537
You can now lower the fuzzer, to 37.5 seconds, in engineering mode by going to the advanced display settings and enabling the option at the very bottom.

That should address the issue reported here.

[2021-07-17 18:47] dirceusemighini commented on #1007
Yes I've coded a support for mini, I've used the  bigdigital / xDrip-miband repository.
I started to look for this this weekend and yesterday I was able to do it. I can now receive alarms and other things from xdrip, I can also see my heart rate at xdrip, but I'm not sure if that is the right place to get the code to do so. I saw at his blog that GTR is supported, also BIP, but I haven't seen this

[2021-07-17 19:46] twinko commented on #1007
Read the answere from Artem to this the post of Jesus Perez Riuz in this patreon: https://www.patreon.com/posts/xdrip-update-v0-53034931?utm_medium=clipboard_copy&utm_source=copy_to_clipboard&utm_campaign=postshare

[2021-07-18 14:48] Atlas-Night-Out commented on #1100
I'm getting a Bond Prepare Errors 3 but got 2 sensors on me on different arms and still getting these error and xdrip not working! I have also tried different debug settings still no joy. I then tried 2 different Transmitters and still no signal. I get a few maybe 3 or 4 readings  and then thats it. I then did a fresh copy of xdrip and still the same! Really stuck on why these are not working. Any

[2021-07-19 08:14] schmadde opened #1784 "xdrip crashes on current WearOS"
After the latest Update of Ticwatch Pro 3 GPS(Wear OS 2.28, system version H MR2, Google play services 21.24.18) xdrip no longer works. I had xDrip-plus-20210628-14c806e.apk installed before from the older wear os release (installed automatically) which still worked but wouldn't communicate with the 20210710 release on the phone. Phone app tried to update the watch app but was caught in an infinit

[2021-07-19 11:43] Navid200 commented on #1784
This issue platform is not a forum.  Not many people look at these on a daily basis.  Please don't open an issue by default as soon as you have a problem.
Please post in the support channels first.
If someone else has seen the problem, or if someone else has a work-around, that's where you can find out because those channels are seen by many every day.

These are the support channels as you alread

[2021-07-19 11:43] #1784 closed

[2021-07-19 12:08] Navid200 commented on #1088
There is an existing issue regarding this: https://github.com/NightscoutFoundation/xDrip/issues/929

Would you please refer to that and add comments there if/when needed?

[2021-07-19 12:08] #1088 closed

[2021-07-19 12:27] Navid200 commented on #1783
It turns out the specific volume that affects xDrip's "Speak Readings" is the media volume.
So, if your phone also has a ring volume and an alert volume, ensure that you adjust the media volume and not those.

[2021-07-19 12:27] #1783 closed

[2021-07-20 12:52] Juanaan003 opened #1785 "APK mi fit for mi band 6"
Hello, I have bought the Xiaomi mi band 6 and I can't connect it with the mi fit app that I currently have. I was wondering if there is another new version that works with the new band or if the creators are going to release a new version. Thanks

[2021-07-20 13:03] Navid200 commented on #1785
Please don't open an issue to ask a question.
You say this page when you were attempting to open this issue.
https://github.com/NightscoutFoundation/xDrip/blob/master/.github/ISSUE_TEMPLATE/bug-report.md#if-you-need-support-for-xdrip-please-do-not-file-a-ticket-here

As it asks you, please use the support channels:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-07-20 13:03] #1785 closed

[2021-07-20 13:05] Navid200 commented on #1784
https://github.com/NightscoutFoundation/xDrip/issues/1648

[2021-07-20 20:22] Qannes opened #1786 "Smart alert doesn't work"
Despite having smart snoozing and smart alerting enabled, I get alerts when my son is going in the right direction, but is near an alert threshold.

I have added screenshots of the graph, the alert settings, eventlog and alert levels, in hope that it makes it easier to troubleshoot
![Screenshot_20210720-185130_xDrip+](https://user-images.githubusercontent.com/87724445/126390286-cdba73cb-acdd-4ea1-

[2021-07-21 11:18] felyppers opened #1787 "NFC Not Working for Libre 1"
### Subject of the issue
I'm using Libre 1 with miaomiao 1. While my miaomiao 1 is charging, I need to scan my libre 1 with NFC, but every time I try this, I get a toast saying "Scanned OK!", but no data is added to the graph. If I attach my miaomiao 1 again, it reads through bluetooth with no issues. I've searched for this issue here, but no luck so far.

Please let me know if you need any more i

[2021-07-21 11:29] #1787 closed

[2021-07-21 11:30] felyppers commented on #1787
Updated to the latest version and seems fixed there, sorry for not checking it first.

[2021-07-22 15:04] RoseShira commented on #1394
Hey @twinko

Sorry to bother, but I was hoping for clarification on your comment re using the patched app with the Libre 2.
THE BIG QUESTION: Does the patched app method work in the US???

I have been looking into this and there doesn't seem to be a clear consensus anywhere. Some sources say it is impossible while others insist you just need to follow the walkthroughs that are available. I'm worki

[2021-07-22 15:22] twinko commented on #1394
@RoseShira Hi, im really sorry, but i cant answer this question. Im from Germany. Someone from the US here that can answere?

[2021-07-22 15:25] RoseShira commented on #1394
@twinko Drat. I was wondering if you were based in Europe. I think that actually answers my question.

Unfortunately, I live where the FDA protects us from useful technology. 😑

Thank you for taking the time to respond!!

[2021-07-22 15:30] twinko commented on #1394
@RoseShira
i found something in the germany tutorial for patching the app:

Just for referenz the german tutprial: https://androidaps.readthedocs.io/de/latest/Hardware/Libre2.html (if you want to read it anyways, use deepl.com to translate ist, its was smarter than google translater)
Not sure if thats still valid. But if yes, than you have your answer :/

[2021-07-22 15:50] cyrusbyte commented on #1648
I found a temporary "Workaround" for watches that came with the older version of the play store like my Huawei Watch 2.. It's' not ideal but it works. Pay attention to step 3 before doing step 2, it is time sensitive and must be done very quick.
1. Factory reset watch and remove from Wear app on phone.
2. Pair watch to phone and continue setup until it adds account.
3. As soon as adding account fi

[2021-07-22 19:46] tonydeleon9 commented on #1654
I would also love this feature too please

[2021-07-23 08:30] Martinspire commented on #1733
Yeah, if I look at the current install process its not really suited for anybody but tech savy, which is a shame. I think with the WearOS 3 version, that will combine Google, Samsung and Fitbit devices to a single platform, its time to upgrade xDrip so it can run standalone on watches without the need for a phone. Reason being that it enables users to have more freedom because its easier to keep y

[2021-07-23 20:40] k10xdrip opened #1789 "xDrip+ stop pairing, won't send pair request, when using Fitbit versa lite"
### Subject of the issue
Navid asked me to submit this bug report. First time using github, so please let me know if you need other/ more/ different information.
Issue: xDrip+ will stop un-pair from my transmitter. I suspect the issue is caused by my fitbit watch, as when I delete fitbit app from my phone, the xdrip issues resolve.

### Your environment
- What version of xDrip: 2103312148, 2021.03

[2021-07-24 01:13] samgray85 opened #1790 "Libre OOP Algorithm causing Missed signal"
Issue: xdrip+ keeps missing readings / signal when LibreOOPalgorithim is activated.

Setup: xdrip+/Libre1/MiaoMiao2/Samsung S10

Version/Code: 2103081944

Context: everything was working for a few weeks. Then one days xdrip started missing signals.
Only rebooting the phone would fix it, but that only lasted one reading.

Have isolated the problem to be whether the "Out of process libre algorithm"

[2021-07-24 01:19] Navid200 commented on #1790
Please post in the support channels and ask for help describing what you have experienced.  Please don't open an issue here as a first step.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
We will ask you to open an issue if necessary.

[2021-07-24 01:19] #1790 closed

[2021-07-24 16:57] parapenT1sta commented on #1789
Did you try to use the latest xDrip Nightly version?

[2021-07-27 21:45] AphgaDesign opened #1791 "not possible to scroll in preferences page or open subpreferences"
### Parameters window always get back or up on Android 12
With Android 12, when you want to navigate or change some preferences, the windows always return up when you try to scroll down and if you enter another preference section, it returns to first preference page.

### Your environment
- What version of xDrip: 05352f5-2021.07.17, Code 2107170910
- What type of hardware: Pixel 4a

### Expected b

[2021-07-27 22:50] Navid200 commented on #1791
Please don't open issues for Android 12 yet as it is still beta.
If you are kind enough that you like to share your experience with us, please use the Gitter room:
https://gitter.im/jamorham/xDrip-plus

[2021-07-28 08:56] epoo commented on #1041
the same problem for me
FSL2 europe+bubble mini+xdrip
it connect to bubble mini, but no data transfert. i have a message speaking about OOP2 sometimes.

[2021-07-28 08:57] epoo commented on #1041
but perhaps xdrip does not works with freestyle libre 2 sensor. i don't know. my phone does not support NFC, and does not support librelink.

[2021-07-28 09:06] epoo commented on #764
where can i find OOP?

i have tried bubble mini with xdrip and freestyle libre 2 but it does not works... it connect to the bubble but does not transmit the data. my phone has not NFC and is not compatible with librelink.

[2021-07-28 10:46] tolot27 commented on #1791
What do you mean with parameters? Do you mean preference/settings?

[2021-07-28 10:47] tzachi-dar commented on #1041
One way to work around this problems is using oop2. See
https://www.minimallooper.com/post/how-to-setup-freestyle-libre-2-and-oop2-to-use-a-native-bluetooth-connection-in-xdrip
for more info.

On Wed, 28 Jul 2021 at 11:57, epoo ***@***.***> wrote:

[2021-07-28 10:48] tzachi-dar commented on #764
See details in:
https://www.minimallooper.com/post/how-to-setup-freestyle-libre-2-and-oop2-to-use-a-native-bluetooth-connection-in-xdrip

On Wed, 28 Jul 2021 at 12:06, epoo ***@***.***> wrote:

[2021-07-28 11:15] AphgaDesign commented on #1791
Yes

[2021-07-28 11:42] tolot27 commented on #1791
@AphgaDesign Please can you confirm the updated title and description?

[2021-07-28 12:23] AphgaDesign commented on #1791
Title is fine.

Nothing about that in log.

[2021-07-28 15:41] epoo commented on #1041
but  oop2

but with oop2 calibration is not possible once oop2 installed.
oop2 is indispensable?

[2021-07-28 18:06] epoo commented on #764
Hello,
i have read that if using OOP, i can't calibrate . is that right?

[2021-07-30 07:51] thomaas commented on #764
@epoo Since the values are decrypted you always can add a calibration within xdrip. See documentation here
https://www.minimallooper.com/post/how-to-setup-freestyle-libre-2-and-oop2-to-use-a-native-bluetooth-connection-in-xdrip

[2021-07-30 08:25] epoo commented on #764
ok i was false so

[2021-07-30 18:15] dircsem commented on #1007
@twinko It's now possible do design watchfaces for gts2-mini, although I'm not a professional on it, it's possible using huami dev tools here:
https://dev.huami.com/watchface/index.html
![photo_2021-07-30_15-09-44](https://user-images.githubusercontent.com/2041058/127694538-c2112913-982a-4636-ae0b-bc4abc964c0b.jpg)
By the beauty of it you can conclude that this is custom made, and it's not availab

[2021-07-30 20:56] twinko commented on #1007
@dircsem You should definitly talk to Artem!

[2021-07-30 21:09] dircsem commented on #1007
@twinko I've seen that you are helping a lot with gtr whatfaces, and is close to him. Artem is @bigdigital  right? Is here a good place to talk to him, or do he have another preferred way?

[2021-07-30 21:10] twinko commented on #1007
@dircsem i would recommend opening an issue here: https://github.com/bigdigital/xDrip-miband/issues

[2021-07-30 22:14] epoo commented on #764
bubble mini+freestyle libre 2+OOP2 works thanks

[2021-07-31 09:07] TheConen commented on #864
I'm having issues with the number icon, too - I somehow got it to work, but after a reboot it was gone and I couldn't manage to get it to show up again. Could you point me to the code where the safety check is?

[2021-07-31 10:02] TheConen opened #1793 "Different notification channels for persistent foreground collector notification and number icon"
### Is your feature request related to a problem? Please describe.
Currently the persistent notification for the foreground collector and the number icon use the same notification channel (Ongoing notification), so it is impossible to tell Android to hide one (e.g. the persistent collector notification) without hiding the other (the number icon) as well.

### Describe the solution you'd like
Diffe

[2021-07-31 12:37] Navid200 commented on #1793
@TheConen Can you show the consequence of having the persistent foreground notification enabled?
I mean can you show the notification that you don't want to see?
Also, can you explain how you enable or disable it?

[2021-07-31 12:46] Navid200 commented on #1793
@TheConen  Also, based on your description here, I take it you have successfully used the notification number.
If yes, would you please update your comment in this link?  https://github.com/NightscoutFoundation/xDrip/issues/864#issuecomment-890316275
In that link, you sound like you still don't know how to use it.  Or, please explain if I am misunderstanding one or the other.

[2021-07-31 12:47] TheConen commented on #864
Update: number icon works as intended, however, it is coupled to the persistent notification of the foreground collector which I had disabled (see #1793).

[2021-07-31 12:52] TheConen commented on #1793
When running the collector in foreground (Settings -> Less common settings -> Other misc. options -> Run collector in foreground), it displays a permanent notification showing the current graph (see picture 1). When using notification channels (Settings -> Glucose Alerts Settings -> Notification channels) and ongoing notification channels (Settings -> Glucose Alerts Settings -> Use ongoing notific

[2021-07-31 13:02] TheConen commented on #1793
I would be fine with an option to hide the graph and show a very small persistent notification with just the current reading (similar to what happens when you pull down the drop-down menu fully, see picture), but I haven't been able to find such an option.
![WhatsApp Image 2021-07-31 at 15 02 16](https://user-images.githubusercontent.com/7814881/127740758-ff29c6bb-01f3-406b-b809-0996c44bb444.jpeg)

[2021-07-31 13:20] Navid200 commented on #1793
@TheConen Thanks for the descriptions.  It is very well done.
If you need to upload any more images, please reduce the size of each image you upload such that it shows the required detail, but, no more.

Would you please do an experiment?
In picture 1, would you please swipe right on the notification graph?
It should expose a cog on the left side of the image.  Tap on the cog.  Tap on minimize.  R

[2021-07-31 13:36] TheConen commented on #1793
If I tap on the cog, I get into the settings shown previously in picture 2. There is no option to minimize there.

I'm active on the Nightscout discord, if you want to have a direct conversation about this (TheConen#5376). You can also take a look via TeamViewer/AnyDesk if that helps you.

I think part of the issue is that the number icon is a part of the persistent notification. To be able to sho

[2021-07-31 14:29] Navid200 commented on #1793
Even if a developer creates a pull request making the change you are requesting, there is no guarantee it will be merged.
The reason usually is one of the following:
1- There is a work-around already.
2- The change is not absolutely necessary and the users can live with xDrip as is.
3- There is no work-around; it is a good thing to have; but, the implementation is too complicated or breaks somethi

[2021-07-31 14:53] Navid200 commented on #1793
@TheConen Would you please edit the first post and add to it:
1- xDrip version you have tried
2- The phone details including brand, model and Android version on it

[2021-07-31 16:24] TheConen commented on #1793
I added the details you asked for in the first post.

To answer the hypothetical question of "why do you need to see your reading number on the notification bar; why not have it as a widget": I want to be able to see my blood sugar at a glance at any time without needing to interact with the phone, this includes situations like using my phone for navigation in the car where I am not able to see th

[2021-08-01 13:18] Navid200 commented on #1793
@TheConen For clarification purposes again, this is what you have written:

The only time you will see the foreground collector notification is when you pull down from the top of the screen to see all notifications.  Under normal circumstances, that notification isn't visible.  Is that correct?

[2021-08-01 13:24] TheConen commented on #1793
No, that is not correct - the notification is also visible at all times on the lockscreen. although it has a normal size there. Since the notification is extremely huge in the pull-down menu, it takes so much place that I can see at most one other notification at the same time, forcing me to scroll through my notifications if I have multiple notifications. Normally I would be able to see at least

[2021-08-01 13:29] Navid200 commented on #1793
@TheConen

That was not my question.
<br/>

When you turn your phone on, if you don't pull down from the top of the screen, do you see the large notification?
I don't.
So, either we are talking about different things here, or we are not describing the issue correctly.

[2021-08-01 14:33] TheConen commented on #1793
When I turn my phone on und do not unlock it, I see the notification, however a bit smaller without the graph (notification on lockscreen, picture 1).
When I turn the phone on, do not unlock it and swipe down, I see the notification (notification menu from lockscreen, picture 2).
When I turn the phone on, unlock it and swipe down, I see the notification (notification menu from unlocked phone, pict

[2021-08-01 17:23] fezulin commented on #1360
Just to let you know: It seems to me, as if I am the only person, who is affected by this behavior. At least I never met anyone else, who had this problem.
I just changed to another mobile, which does not show the descripted behavior.
So I am not sure, if it is necessary, to fix this bug at all.
To avoid unnecessary work, it might help to find out, if anybody else is having the problem.

[2021-08-01 19:01] k10xdrip commented on #1789
@parapenT1sta We just tried the 8.1.21 version and it wouldn't work at all (no BG readings), so then we tried the 7.17.21 version. I will install fitbit now and see if/when it causes the issue. Will report back. It usually takes 3-5 days.
![Screenshot_20210801-115439](https://user-images.githubusercontent.com/87878432/127782372-83a204f9-3f8f-4829-8b70-0038a31160be.png)
![Screenshot_20210801-115450

[2021-08-01 20:23] ecc1 opened #1794 "web service gives EOF during sensor warm-up"
Local web service produces an incorrect error response during sensor warm-up. The xDrip log shows it encounters an internal server error, but it does not return a correct HTTP error page -- instead it terminates the connection, causing an unexpected EOF on the client.

Versions tried: 20210308-17cbcf0, 20210717-05352f5
Hardware: Dexcom G6, xDrip running on Pixel 3a XL with Android 11
Web client is

[2021-08-02 03:00] t1derful opened #1795 "REQUEST FOR FINGERSTICK DATA ENTRY"
FEATURE REQUEST FOR FINGERSTICK DATA ENTRY:

Background: Xdrip has fingerstick data entry in the treatment input. This is useful for calibrating CGMs, but it has a more important use. Occasionally xdrip users cannot use a CGM due to warm-up, dead batteries, etc. Entering fingerstick data can maintain diabetic control (old school) until a CGM is brought back online. Bg prediction, IOB, and carb rec

[2021-08-02 07:17] nathan990315 opened #1796 "Issues with nightly build 2021.08.01"
The glycemic value is not shown on the main screen; and in the system notification. Even if the sensor is active. However you can see the sensor readings from the graph.
The nightly build is that of August 1st.
<img width="400" src="https://user-images.githubusercontent.com/17655407/127819483-45b797a0-4eb9-4442-b445-79f864316dfc.png" /><img width="400" src="https://user-images.githubusercontent.co

[2021-08-02 07:48] tolot27 commented on #1796
Please try to revert to [2021.07.17](https://github.com/NightscoutFoundation/xDrip/releases/tag/2021.07.17) and report if the problem went away.

[2021-08-02 09:04] nathan990315 commented on #1796
I tried the 2021.07.31 and in this version I do not have this problem

[2021-08-02 09:29] jamorham commented on #1796
@nathan990315 Can you let me know which handset model and android version this is with? thanks

[2021-08-02 09:33] nathan990315 commented on #1796
Nokia X20 and Android 11

[2021-08-02 09:49] parapenT1sta commented on #1796
The same issue for me, Dexcom G5, Google Pixel 4a 5G with Android 12.

The numeric value wasn't updated but the graph was and for a while AndroidAPS was receiving the readings from xDrip matching with the graph dots values.

[2021-08-02 10:06] jamorham commented on #1796
@parapenT1sta The main glucose value wasn't updated or it wasn't showing at all?

I'm preparing a new version I would like you both to try to see if you get the same issue.

[2021-08-02 10:11] parapenT1sta commented on #1796
@jamorham The graph dots were being updated and working fine, only the value on the top right was stuck to the value I had before the update.

[2021-08-02 10:12] parapenT1sta commented on #1796
@jamorham I will test the new version as soon you release it.

[2021-08-02 11:21] tolot27 commented on #1794
@ecc1 Please can you try a newer version of xDrip, at least [2021.05.21](https://github.com/NightscoutFoundation/xDrip/releases/tag/2021.05.21). This introduces some enhancements to the WebService.

@jwoglom Please can you have a look at this issue and maybe extend the unit tests you have introduced with #1710 to cover this edge case as well?

[2021-08-02 11:40] jamorham commented on #1796
@parapenT1sta @nathan990315 Please try the latest nightly, it is also available here: https://github.com/NightscoutFoundation/xDrip/releases/download/2021.08.02/xDrip-plus-20210802-0af3ba0.apk
If it doesn't work just roll back to the 31st July version by simply installing that over the top.

[2021-08-02 12:37] nathan990315 commented on #1796
In the new version this problem has been solved for me

[2021-08-02 12:48] parapenT1sta commented on #1796
Working fine here. Thank you!

[2021-08-02 13:01] ecc1 commented on #1794
I mentioned that I also used 20210717 when reporting this bug.

[2021-08-02 13:09] Navid200 commented on #1789
@k10xdrip Please don't use the August 1, 2021 release.
https://www.facebook.com/groups/xDripG5/posts/5803321493074631/
![Screenshot 2021-08-02 090653](https://user-images.githubusercontent.com/51497406/127866876-f28f9c3e-ef37-4584-b8d4-b1c2b9635ade.png)

When you like to upload an image, please reduce the size of the image as much as you can, before uploading, just to leave enough detail visible,

[2021-08-02 13:11] tolot27 commented on #1794
Sorry, just saw 20210308.

[2021-08-02 13:17] Thomas-Wolff commented on #1796
Hat leider nicht funktioniert, habe wieder auf den Bau vom 31.07 zurück gesetzt.

[2021-08-02 13:18] tolot27 commented on #1796
@Thomas-Wolff Which problem do you have? You did not posted in this issue before. Please report your complete environment and potential log entries.

[2021-08-02 13:23] Thomas-Wolff commented on #1796
Blutzuckerdaten-Tabelle und Kalibrierungs-Tabelle waren nicht aufrufbar. Habe dann sofort auf den Bau vom 31.07 zurück gesetzt ohne noch weitere Tests durchzuführen sah für mich nach dem gleichem Problem wie vom Bau vom 02.08 aus.

[2021-08-02 13:27] tolot27 commented on #1796
@Thomas-Wolff Please write in English! If you don't speak English, use https://www.deepl.com/de/translator. It is much simpler if the creator of the comment translates the text just once instead of every issue worker.

[2021-08-02 13:35] Thomas-Wolff commented on #1796
Sorry, The blood glucose data table and calibration table could not be called up. I then immediately reset to the build from 31.07 without carrying out any further tests - looked to me like the same problem as the build from 01.08.

[2021-08-02 13:47] jamorham commented on #1796
@Thomas-Wolff Thanks, this is a separate but related issue which I can reproduce and will correct immediately.

[2021-08-02 13:51] Thomas-Wolff commented on #1796
Thanks for the information, I will now continue with the construction from 31.07 as it is going very well.
Greetings Thomas

[2021-08-02 14:54] doc77 opened #1797 "Tasker plugin vanished"
2021.08.02 seems to have wiped out the tasker plugin. Reinstalling 2021.07.31 restores the plugin.

[2021-08-02 14:58] Navid200 commented on #1797
The developers are aware.
Would you please use the existing open issue to communicate with the developers?
https://github.com/NightscoutFoundation/xDrip/issues/1796

[2021-08-02 15:23] Navid200 commented on #1796
@doc77

[2021-08-02 15:27] Navid200 commented on #1796
@tolot27 @nathan990315 Would you please change the title of this issue to something, more general, representing the ongoing issues with the current Nightly releases?

May be:  Issues with the Nightly release August 1, 2021 and the ongoing work in progress

[2021-08-02 15:34] Navid200 commented on #1795
@t1derful
Would you please edit the title and remove all caps?

[2021-08-02 15:42] Navid200 opened #1798 "Don't open an issue to report problems with the latest Nightly"
If you are experiencing any issues with the latest Nightly, please post in this open issue:
https://github.com/NightscoutFoundation/xDrip/issues/1796

Please DON'T open a new issue.

There is work in progress.
There is no need to flood the issues platform with more and more new issues.

[2021-08-02 15:46] jamorham commented on #1796
@Thomas-Wolff Can you try this latest version to see if it resolves the issue you reported: https://github.com/NightscoutFoundation/xDrip/releases/download/2021.08.02b/xDrip-plus-20210802-a8bca99.apk

[2021-08-02 15:50] jamorham commented on #1797
@doc77 can you try: https://github.com/NightscoutFoundation/xDrip/releases/download/2021.08.02b/xDrip-plus-20210802-a8bca99.apk does this resolve the issue?

[2021-08-02 15:54] tolot27 commented on #1796
@jamorham Opening BG and calibration data tables is now possible again.

[2021-08-02 15:58] doc77 commented on #1797
@jamorham  No, tasker still has not received the plugin. It shows in my task as "unknown plugin"

[2021-08-02 16:06] tolot27 commented on #1798
We cannot prevent people doing this but we can enhance the issue template to include a reference to any issues labeled with [build-nightly](https://github.com/NightscoutFoundation/xDrip/issues?q=is%3Aissue+label%3A build-nightly).

[2021-08-02 16:14] DjinnGallagher commented on #1789
Subject of the issue
I have a similar issue with my Fossil Sport watch (I've used k10xdrip's report as a template!).

Issue: xDrip unpairs from my Dexcom G6 transmitter. I suspect the issue is caused by my Fossil watch, as when I unpaired my watch, xdrip reconnected immediately

Your environment
What version of xDrip: 2103081944, 2021.03.08
What type of hardware data source and how do you get your

[2021-08-02 16:18] doc77 commented on #1798
@Navid200  Since #1796 really doesn't pertain to #1797 except that it is a problem with a latest nightly build, perhaps you should rename the issue "problems with the latest nightly build".
And #1797 pertains to 2021.08.02, and #1796 pertains to 2021.08.01.

[2021-08-02 16:21] Navid200 commented on #1798
@doc77 It was renamed already by tolo27.
Thanks

[2021-08-02 16:24] Navid200 commented on #1798
@doc77 There would be no 2021.08.02 if 2021.08.01 did not cause  the problems it did.
Now, there is also a 2021.08.02b.
Are we now going to have another issue opened for 2021.08.02b?

[2021-08-02 16:32] doc77 commented on #1798
@doc77   I am on the Nightly Update Channel, and every update is installed. The Tasker issue did not exist in 2021.08.01, and I first noticed it in 2021.08.02, and it continued in 2021.08.02b.
I am not a programmer, but this seems like pertinent information.
How would you report it, especially since it is not an issue with 2921.08.01?

[2021-08-02 16:35] Navid200 commented on #1798
@doc77 I have and I am asking you to please report it in this issue now that you have been told we are struggling to address the issues the user community is experiencing:
https://github.com/NightscoutFoundation/xDrip/issues/1796

There is one problem.  By using the same open issue, you help jamorham because he can see everything in one place instead of having to go back and forth between multiple

[2021-08-02 16:38] Navid200 commented on #1798
@doc77 Please note that 2021.08.01 does not exist anymore.  No one will get it now.  Of course, those who have already updated to it, will have it until they update.
Very likely, 2021.08.02 will be removed soon as well.

This is an ongoing issue.  It's the same issue manifesting itself in many different ways.

[2021-08-02 16:48] jamorham commented on #1797
@doc77 okay I will try something else and revert to you with another update.

[2021-08-02 17:02] jamorham commented on #1797
@doc77 can you briefly describe what your tasker action that is having problems does? I'm trying to figure out which part of the interface you are using.

[2021-08-02 17:14] doc77 commented on #1797
@jamorham  The actions  I use in the plugin are Snooze, Speak On, Speak Off, and Restart App.  But the whole plugin does not register with Tasker in 2021.08.01 a or b.  Tasker fires the "Missing Plugin" notification every time a task is called using xDrip+, and the task does not fire.  I use them in Profiles that continue to work fine except for the xDrip actions contained within them.

[2021-08-02 19:18] tolot27 commented on #1797
@jwoglom Do you have any idea what the cause of the problem could be? IMHO, we need more unit tests.

[2021-08-02 20:12] jwoglom commented on #1797
Just from looking at the xDrip commit history between 7/31 and 8/2, I have no idea why this would've been broken, unfortunately. Nor am I incredibly familiar with the lifecycle of how xDrip registers as a tasker plugin.

Shot in the dark, could the token preprocessor changes by @jamorham from August 1st have implicitly changed an identifier which tasker uses to identify the xDrip plugin? My unders

[2021-08-02 20:18] jwoglom commented on #1794
Hi @ecc1, could you identify the exception which is occurring here, ideally from an adb logcat?

Likely the best fix here would be to fix the implementation of the web service framework itself so that it never EOF terminates the connection, and logs the exception properly. But we also want to fix the issue causing this exception in the first place.

[2021-08-02 21:08] jamorham commented on #1797
@doc77 it is a significant issue because we need to resolve any regressions introduced by changes. I think there is a good chance that the issue is due to the package renaming which could affect inbound intents from Tasker. I'm slightly surprised though as mine have been working fine but there are a few different ways tasker can be set up so that could be it.

I don't think we need package renamin

[2021-08-02 21:19] jamorham commented on #1797
@doc77 does this version resolve the issue for you: https://github.com/NightscoutFoundation/xDrip/releases/download/2021.08.02c/xDrip-plus-20210802-053ad95.apk ?

[2021-08-03 02:25] #1798 closed

[2021-08-03 02:51] doc77 commented on #1797
@jamorham  Thank you so much. This seems to do the trick. I appreciate all of your hard work on this project.

[2021-08-03 04:20] tolot27 commented on #1797
Issue is solved by excluding Tasker from package renaming. Nevertheless, we need Tasker unit tests.

[2021-08-03 04:21] #1797 closed

[2021-08-03 13:26] Navid200 commented on #1795
@t1derful Please change all caps in the title.

[2021-08-03 15:25] Navid200 commented on #1796
I would like to close this issue as it seems to have been resolved.

[2021-08-03 16:03] Navid200 commented on #1176
@tolot27 Thanks for working on this.
Should we remove the capability from xDrip until this is resolved considering the existence of Inpen under settings may give the wrong impression that it currently works?
Or, should we add a note on the capability highlighting that currently there is a problem?

[2021-08-03 16:21] Navid200 commented on #579
@doc77 Does this exist in Dexcom app?
Does this capability exist in any app currently?

[2021-08-03 16:37] jwoglom commented on #579
This sounds like something we could fairly easily incorporate into the statistics page of xDrip. I think Dexcom's usual definition of "serious low" is 55 mg/dl -- that's the point at which my Tandem pump doesn't allow you to disable CGM alarms.

However, I wonder what value having a "percentage of serious lows" would provide compared to, e.g., number of occurrences of serious lows, which could be

[2021-08-03 17:00] Navid200 commented on #579
The first line of the statistics details page shows Range and has three values of in, high and low.
Now, it will have two additional values of very low and very high.
But, the values for low and high are specified by the user under Settings -> Glucose Units.  There will be two new entries on that page called very low and very high.

The value is that a report, for the doctor, can be much more repr

[2021-08-03 18:10] usernamebeep commented on #1448
Any updates on this?

[2021-08-03 18:15] usernamebeep opened #1799 "Current bg level notification on WearOS"
Right now I only get low alarm, high alarm or bg reading missed alert notification on my WearOS.
To get bg level, I need to install watch face but I would also like to get current bg level as notification everytime bg level is measured without installing watch face,

EDIT: Maybe it has something to do with the graph in push notification and my watch cannot render this notification?
Is it possible

[2021-08-03 18:41] Navid200 commented on #1479
@Marcio261 Would you please edit the title and remove all caps?

[2021-08-03 19:13] tolot27 commented on #1796
Agree.

[2021-08-03 19:13] #1796 closed

[2021-08-03 20:29] Navid200 commented on #1780
@mistermintsgh I have been told that nothing can be done, to the xDrip code, to change this.

If you like to add any other info to this thread, you can always do that.
I am going to close this as I have been told this is not an xDrip issue.

[2021-08-03 20:29] #1780 closed

[2021-08-03 20:31] jwoglom commented on #1794
@tolot27 created https://github.com/NightscoutFoundation/xDrip/pull/1800 which should fix the unexpected EOF bug. I wasn't able to replicate the exact issue that resulted in this problem, but after this is merged we will be able to get a clean traceback.

[2021-08-04 14:22] schrackschorsch commented on #1474
libre 3 is now available in Germany. The libre-app for ios is ready. The app for android soon will be available.
[https://www.freestylelibre.de/libre/freestyle-libre-3-entdecken.html?utm_source=newsletter&utm_campaign=NPI|DE_FSL3_LAUNCH_PATIENTEN|Email&utm_medium=email&M_BT=1164167858090](url)

[2021-08-04 15:06] Navid200 commented on #1795
This all falls under the category of xDrip+ Predictive Simulation.
The accuracy of a simulator depends on the sample rate.
We need to first come up with a minimum acceptable sample rate.  If we have a value and have agreement, amongst the developers, that that rate or higher provides adequate accuracy, we can allow the user to enter blood glucose readings and have the simulator active as long as t

[2021-08-04 16:10] gui-dos commented on #1474
I noticed that the NFC manufacturer code changed from `07` (Texas Instruments) to `7A` (Abbott Diabetes Care USA), therefore the NFC custom commands have to be changed accordingly.

[2021-08-04 18:20] #1415 closed

[2021-08-04 19:18] k10xdrip commented on #1789
@parapenT1sta @Navid200 After switching to 7.17.21, tried with the fitbit and it only lasted about 36 hours. Unpaired fitbit via bluetooth, had to restart my phone and then xdrip+ starting working again. Dexcom branded receiver was getting readings the whole time. See screenshots.
![Screenshot_20210803-051235](https://user-images.githubusercontent.com/87878432/128241540-73c2f970-ebad-4851-9578-73d

[2021-08-04 20:01] Navid200 commented on #1757
@wouterlemcke
I don't think we have a developer who speaks both Dutch and English.
It's always best to recreate the problem and observe it before trying to fix it.  So, I don't think that's possible for us.

But, would you be able to record the spoken words that are wrong and let us hear it?

[2021-08-05 02:20] Marcio261 opened #1801 ""Multiple types of insulin" not working"
Hello there!
What's the xdrip version working on the miband 5, that  the "multiple types of insulin" is working well?
Im inputing Lantus units, but its working like a bolus input.

[2021-08-05 02:24] Navid200 commented on #1801
@Marcio261 If/when you have a question, please use a support channel:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

Please don't open an issue in order to ask a question.
There are many questions that can be answered by the user community in those support channels.

The developers monitor those support channels also.  If a question cannot be answered or resolved on

[2021-08-05 02:24] #1801 closed

[2021-08-05 15:19] nicking44 opened #1802 "Getting an unknown firmware version and told to report"
System screen
![Screenshot_20210805-111703](https://user-images.githubusercontent.com/7844132/128375536-002b97e3-79bf-4894-b197-187185c33d93.png)
Errors event list
![Screenshot_20210805-111847](https://user-images.githubusercontent.com/7844132/128375716-41ff48a3-e97f-4712-a577-2e33c37770d2.png)

[2021-08-05 15:23] Navid200 commented on #1802
@nicking44 Thanks

Please follow the instructions here:
https://github.com/Navid200/xDrip/wiki/Report-Firmware

[2021-08-05 15:23] #1802 closed

[2021-08-05 16:50] JoernL commented on #1448
I have manually changed the pattern for my needs. You can find it in:
https://github.com/NightscoutFoundation/xDrip/blob/e4f7fa3fb2f2487f71d75447bb37d166ea901baf/app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/Notifications.java#L63

1000 = vibration duration and 300 = break duration.

[2021-08-05 17:44] Navid200 commented on #1448
@JoernL Unless I am misunderstanding you, you have created your own version.  Well done.
You can open a pull request.
If I have misunderstood, please let me know.

[2021-08-05 19:37] Lucalaeveren opened #1803 "Ja"
### If you need support for xDrip, PLEASE DO NOT FILE A TICKET HERE
For support, please post a question to the xDripG5 group at Facebook (https://www.facebook.com/groups/xDripG5) or visit the Gitter room at https://gitter.im/jamorham/xDrip-plus.
Please also search the existing issues for similar ideas before opening a new feature request.

### Is your feature request related to a problem? Please d

[2021-08-05 20:48] tolot27 commented on #1448
@JoernL You are very welcome to create a pull request with your changes and it would be awesome if you could add a preference setting for this feature.

[2021-08-05 20:50] #1803 closed

[2021-08-06 12:11] Navid200 commented on #1700
@capflamme
The data in the calibration graph (and likewise, calibration table) is only meaningful if calibration is done by xDrip.
Is calibration not native (not done by xDrip) in the situation you are describing?

[2021-08-06 12:12] Navid200 commented on #1695
You may get more responses if you post this in the support channels:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-08-06 12:20] Navid200 commented on #1623
@SimonPhilpott Is there an app that does what you are asking?
Perhaps a simulator?

[2021-08-06 12:24] Navid200 commented on #1591
Closing due to inactivity

[2021-08-06 12:24] #1591 closed

[2021-08-06 12:32] Navid200 commented on #1404
For anyone experiencing the same problem, please use the existing issues to report:
https://github.com/NightscoutFoundation/xDrip/issues/303

[2021-08-06 12:32] #1404 closed

[2021-08-06 13:15] Navid200 commented on #1224
@parapenT1sta
Is this not related to the following?
https://github.com/NightscoutFoundation/xDrip/pull/595

If yes, would you please post in that issue and request it to be reopened if you still have the problem?

[2021-08-06 13:16] Navid200 commented on #1202
Closing due to inactivity

[2021-08-06 13:16] #1202 closed

[2021-08-06 13:17] Navid200 commented on #1200
Closing due to inactivity

[2021-08-06 13:17] #1200 closed

[2021-08-06 13:19] Navid200 commented on #1152
@SowbugMori
Is this still an issue?
If you, would you please update the status and how it behaves with the latest Nightly?

[2021-08-06 13:20] Navid200 commented on #1149
Closing due to inactivity

[2021-08-06 13:20] #1149 closed

[2021-08-06 13:24] Navid200 commented on #1110
You can reopen this of course.  But, would you please make sure there is no other issue older than this that is reporting the same problem or anything related?

[2021-08-06 13:24] #1110 closed

[2021-08-06 13:34] Navid200 commented on #889
Closing due to inactivity

[2021-08-06 13:34] #889 closed

[2021-08-06 13:38] tzachi-dar commented on #1390
Right now it is possible to calibrate with the oop2. It is not practically possible to calibrate with oop1.
For more information on the oop2 please see: https://www.minimallooper.com/post/how-to-setup-freestyle-libre-2-and-oop2-to-use-a-native-bluetooth-connection-in-xdrip

[2021-08-06 13:41] Navid200 commented on #1390
@bszabo84
Please have a look at what tzachi-dar posted above.
Can we close this issue?

[2021-08-06 13:54] Navid200 commented on #747
Looks like there is an alternative (Number wall) that works only on Android 7 and above.
Unfortunately, adding new features for older technology is not going to be easy.
Closing due to inactivity

[2021-08-06 13:58] #681 closed

[2021-08-06 13:59] Navid200 commented on #659
@jwoglom Can we close this issue?
If not, would you please update as the last posts are not yours.
Thanks

[2021-08-06 14:03] Navid200 commented on #525
@akadismas
Would you please have a look at this?  https://github.com/NightscoutFoundation/xDrip/issues/1390#issuecomment-894267223
I don't think this is possible and I don't think it is going to change.

[2021-08-06 14:03] #525 closed

[2021-08-06 14:09] Navid200 commented on #426
@jamorham I hope you don't mind me closing this as it seems you are happy with the status.
But, please let me know if I should reopen.

[2021-08-06 14:09] #426 closed

[2021-08-06 14:38] Navid200 commented on #366
@old-square-eyes
Rewrite history capability exists in xDrip.  But, I don't think we will add any more to it or expend it to any other platforms or calculations etc.

This is my view:
The only justification I have heard for "Rewrite history" is the case of a user going to see their doctor and the doctor complaining about a low in their records.  But, the low is due to a CGM inaccuracy that can be p

[2021-08-06 14:38] #366 closed

[2021-08-06 14:44] Navid200 commented on #261
@jamorham
I hope you are OK with me closing this issue as it seems to be that the capability was already added.

[2021-08-06 14:44] #261 closed

[2021-08-06 14:59] Navid200 commented on #149
It seems the issue this thread was opened for was already addressed.

[2021-08-06 14:59] #149 closed

[2021-08-06 15:03] Navid200 commented on #1653
We should not make this change until we are certain this new index has gained enough popularity.
The conversation can continue even with the issue closed.
Please don't open a new issue if you are interested in the same.  Please post here.

[2021-08-06 15:03] #1653 closed

[2021-08-06 15:18] Navid200 commented on #1622
@SimonPhilpott This will affect several functions.
When you install xDrip, it detects a previous settings file and ask you if you want to restore it.
If the user uses save as and adds a date suffix, to every saved file, the detector needs to be modified to identify all such files.

The load settings also needs to be modified so that it would allow the user to load files other than the default.

An

[2021-08-06 15:18] #1622 closed

[2021-08-06 15:35] jwoglom commented on #659
I am okay with closing this issue given how much time has elapsed. I never fixed the bug as I ended up switching to https://github.com/mddub/urchin-cgm instead which was more customizable.

[2021-08-06 15:35] #659 closed

[2021-08-06 15:37] parapenT1sta commented on #1224
It seems but the ticket is closed and the issue still persists.

[2021-08-06 15:39] Navid200 commented on #1224
@parapenT1sta It doesn't matter that it is closed.
Please post in it and please explain to the person who closed it that you still have the problem.
It can be reopened.

[2021-08-06 15:41] parapenT1sta commented on #1224
Ok :)

[2021-08-06 15:41] #1224 closed

[2021-08-06 15:47] Navid200 commented on #1701
@CmSCMU Is this not related this this issue?
https://github.com/NightscoutFoundation/xDrip/issues/303

If yes, would you please post in that issue and close this one?

[2021-08-06 15:54] Navid200 commented on #206
I don't think we will expand rewrite history or extend it to any other platforms.
https://github.com/NightscoutFoundation/xDrip/issues/366#issuecomment-894306546

[2021-08-06 15:54] #206 closed

[2021-08-06 15:56] Navid200 commented on #122
I hope it's OK to close this issue as it is not an issue that requires the developer's attention right now.
We can always reopen it.

[2021-08-06 15:56] #122 closed

[2021-08-06 16:00] martire01 commented on #1176
I would think adding a note would suffice, just so users of the inPen are
aware of a future possibility. Thanks.

On Tue, Aug 3, 2021, 11:03 Navid ***@***.***> wrote:

[2021-08-06 16:03] Navid200 commented on #1754
Is this not similar to the one that is supported but isn't working now?
https://github.com/NightscoutFoundation/xDrip/issues/1176#issuecomment-894357275
I don't know if there is a point an adding more devices when we cannot support the ones that we already have.

[2021-08-06 16:54] ahanuban commented on #1176
It's also possible that some people with older versions of inPen are
currently using the feature.

On Fri, Aug 6, 2021, 12:00 martire01 ***@***.***> wrote:

[2021-08-06 18:27] Navid200 commented on #1537
I have reopened this issue because the change I made to xDrip has not addressed the issue.
I am still working on this issue.

[2021-08-06 18:30] Navid200 commented on #1724
This is a good to have.  But, the work-around works.  I will postpone this.

[2021-08-06 18:30] #1724 closed

[2021-08-06 19:50] CmSCMU commented on #1701
How do I close this one?

[2021-08-06 20:25] Navid200 commented on #1701
@CmSCMU You should be able to tap on close at the bottom.
But now that I have your consent, I close it for you.  Thanks

[2021-08-06 20:25] #1701 closed

[2021-08-06 23:51] Navid200 commented on #1692
@JayJay265
Are you still experiencing this problem?
If yes, would you please confirm, again, that the cross over from working to not working is 2021.02.03 to 2021.02.04?
Would you also confirm that the problem persists with the latest Nightly, 2021.08.04?

[2021-08-07 01:40] Navid200 commented on #330
@lee-b
Considering there has been more than 3 years with only one person responding, I suggest you rewrite the request may be adding more detail or may be breaking it down into pieces.
Please help the reader understand exactly what you need.
Otherwise, I don't think this issue as it stands is going to serve you or anyone else.

[2021-08-07 01:49] Navid200 commented on #353
It seems this issue was addressed a very long time ago.
I close it now.

If there is a need to modify xDrip, related to this particular issue, please specify why and explain.

[2021-08-07 01:49] #353 closed

[2021-08-07 01:57] Navid200 commented on #458
@jwoglom What do you mean by the following?
"as is done in the main app activity"

[2021-08-07 01:59] Navid200 commented on #460
@jamorham I hope you don't mind me closing this.
It can still serve its purpose as the means to communicate with users and ask for documentation even when closed.

[2021-08-07 01:59] #460 closed

[2021-08-07 02:01] Navid200 commented on #462
Can I close this issue?

[2021-08-07 02:05] Navid200 commented on #1623
@SimonPhilpott There is already an old issue asking for something similar.
Please add your request, if you feel it's different, to that issue.
https://github.com/NightscoutFoundation/xDrip/issues/464

Thanks

[2021-08-07 02:05] #1623 closed

[2021-08-07 02:09] Navid200 commented on #504
It seems support was added a long time ago.

If you have found this thread and have questions about how to use xDrip, please use the support channels:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-08-07 02:09] #504 closed

[2021-08-07 02:12] Navid200 commented on #513
@JimZam There may be many individuals who can answer your question.
Your questions will be seen by many more if you use the support channels:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

Would you please close this issue if you already have figured out a solution or have found a work-around?

[2021-08-07 02:14] Navid200 commented on #558
@jamorham I hope you don't mind me closing this issue.
It can still be found by search and provide information to users.

[2021-08-07 02:14] #558 closed

[2021-08-07 10:13] JayJay265 commented on #1692
@Navid200
Yes the problem is still there. Only the version from 2021.02.03 works, all afterwards have the same error, including the latest from 2021.08.04.

[2021-08-07 12:18] Navid200 commented on #1692
@JayJay265
Something changed, in the xDrip code, from Feb. 3 to Feb2. 4 that is causing this considering that the same transmitter works fine with the same receiver with one version and not with the other.
Most changes to the Dexcom collector are done to improve functionality for the majority.
This behavior you are experiencing is not the intended behavior the changes were made for.

I can run exp

[2021-08-07 12:39] Navid200 commented on #1632
@tolot27
Is there still any scenario when an incorrect comment is shown by the latest xDrip with respect to the sensor condition?
If not, can we close this?

[2021-08-07 12:43] Navid200 commented on #1631
@master3395
Would you please try to import the settings again?  If it fails, would you please try a second time right after?  If it fails again, would you please try a third time?
There are reports that attempting 3 times has worked.
Knowing if it works for you or not is very beneficial for troubleshooting purposes.  Think of it as helping us figure out what the cause of the problem is.

Thanks

[2021-08-07 12:51] Navid200 commented on #1565
@doc77 Please respond to the questions tolo27 has asked.
I am closing this for now as you may not be experiencing this issue any longer.
If you are, please answer the questions and we can reopen the issue and work on resolving it.

[2021-08-07 12:51] #1565 closed

[2021-08-07 12:53] Navid200 commented on #1564
Closing due to inactivity

[2021-08-07 12:53] #1564 closed

[2021-08-07 12:56] Navid200 commented on #1555
@tolot27 Is this something that needs to change in xDrip or something that needs to change in Crowdin?

[2021-08-07 13:00] Navid200 commented on #1549
Closing due to inactivity
We can reopen if you are still experiencing this and have time to work with us to resolve it.

[2021-08-07 13:00] #1549 closed

[2021-08-07 13:03] Navid200 commented on #1534
@tim162
I am closing this due to inactivity.
It can be reopened if/when you have time and interest to answer questions posed to you.

[2021-08-07 13:03] #1534 closed

[2021-08-07 13:06] Navid200 commented on #1530
@henriquejourdan Can you not use Nightscout for creating reports to submit to your doctor?
That's what most of us do.

[2021-08-07 14:37] Navid200 commented on #1519
We need to be careful how much we customize (complicate) xDrip.
xDrip is a CGM.  But, over the years, it has become a lot more, simulator, heart beat monitor, driver assistant, smartwatch driver ....

I personally take vitamin D.  It affects my blood glucose.  Should I add that to xDrip also?
I hike in wilderness and continuously use a GPS on my phone to find my way and xDrip to keep my glucose un

[2021-08-07 14:47] Navid200 commented on #1518
@jeremystringer Thanks for sharing.
What is the status of this?

[2021-08-07 14:55] Navid200 commented on #1517
I have added the status-waiting label.  I hope that is a correct label.  it sounds like we are waiting for an external party to make a change to something we have no control over.
In the meantime, while we wait, I would like to close this issue.
Is there a reason we should leave it open?

[2021-08-07 15:06] JayJay265 commented on #1692
@Navid200
![Screenshot_20210807-170435_xDrip+](https://user-images.githubusercontent.com/80785292/128604615-e321e020-b6b6-4163-b6ae-54e7f4547d9e.jpg)
Found a Transmitter with Voltage 290. But nothing Change.

[2021-08-07 15:07] Navid200 commented on #1504
@nickb24
The temperature is also shown now (starting with 2021.07.10).
Can we close this issue please?

[2021-08-07 15:12] Navid200 commented on #1692
@JayJay265 So, with this transmitter, the receiver works fine with 2021.02.03 but the receiver stops working with 2021.02.04, while xDrip works fine either way, right?

Would you please also post a screenshot of the following page?
Settings -> G5/G6 Debug Settings

[2021-08-07 15:24] JayJay265 commented on #1692
@Navid200 Yes the Transmitter work with 2021.02.03 and stop with 2021.02.04. XDrip work with all Versiona.
![Screenshot_20210807-172159_xDrip+](https://user-images.githubusercontent.com/80785292/128605191-dfbb6249-f7c9-4f21-9f2d-9451601913c3.jpg)

[2021-08-07 16:02] Navid200 commented on #1452
@user-hash
There is another, older, issue that requests the same thing.
https://github.com/NightscoutFoundation/xDrip/issues/164
If you believe that what you are asking is different, would you please post in that thread and explain the differences?
Thanks

[2021-08-07 16:02] #1452 closed

[2021-08-07 16:21] Navid200 commented on #1409
@tolot27 May I ask what the status of this is?

[2021-08-07 16:41] Navid200 commented on #1266
@claresloggett
What happens if you change the setting from Automatic mode to never use them?

[2021-08-07 16:52] Navid200 commented on #1135
I confirm that if I disable collection on my main phone and start collection on a phone with xDrip just installed on, after the connection is established between the transmitter with the existing ongoing session on it and the new phone, there is a difference between the age of the sensor on the two system status pages.
The one on the G5/G6 status page always comes from the transmitter and is alway

[2021-08-07 18:37] Navid200 commented on #920
@cascer1

Where is this delta, which is correct, coming from if not from xDrip?

[2021-08-07 18:42] Navid200 commented on #865
@psonnera Is there anything we can change in xDrip to remedy this?
I'm not 100% understanding the problem.
If the cause of duplication is that two apps upload the same data, can we not disable uploading in one of them so that only one uploads?

[2021-08-07 18:54] PieterDeBruijn commented on #1754
I've had the message that it won't be delivered. No timeline as of yet. I guess we'll have to wait to start testing this one.

[2021-08-07 18:56] master3395 commented on #1631
Might try in 3 days when I change sensor.
Can't be bothered trying to set everything up again while I already have a sensor reading. (Has already been a big issue before).

[2021-08-07 19:07] simonpickering commented on #1519
I completely agree. It would therefore make quite a lot of sense to split out the prediction and graphing capabilities of XDrip+ into a separate app which communicates with the now solely CGM part via e.g. the webserver, and app which other people can replace with their own version if they see fit (or ideally extend).

My feeling is that the prediction side of things should be (able to be) combine

[2021-08-07 19:25] Navid200 commented on #1631
Of course

[2021-08-07 19:27] psonnera commented on #865
It's been fixed. This is a duplicate. You can now select to upload only BG if you upload pump treatments manually.

[2021-08-07 19:30] Navid200 commented on #865
@DunePlodder Considering what @psonnera has stated, is your issue resolved now?
If yes, would you please close it, or let me know and I will.

Otherwise, would you please explain why what has been explained does not work for you?

[2021-08-07 21:06] gruoner commented on #1519
@Navid200 & @simonpickering
i must completely disagree. From my point of view, xdrip+ is a kind of frontend for nightscout (and of course some other diab (eco)systems). for me its a diabetic diary, where all therapy-related actions, measurements, events,.... are registered - so even eaten food, heart rates, (maybe GPS positions), sporting lectures and "brain lectures",.....
my diabetic system cons

[2021-08-07 21:54] tolot27 commented on #1409
I'm still getting these error messages in the log, regardless of the BlueJays firmware version.

[2021-08-07 21:56] Navid200 commented on #1519
I agree that since we are in jamorham's repository, at the end, what happens here is his decision.

Anything I have said, and do say, is only my opinion.
xDrip users are many.  There is a large group of xDrip users who use it just because its alerts are customizable, and it runs on their handset compared to the official app that has very limited alert capabilities and only runs on a small number o

[2021-08-07 22:05] tolot27 commented on #1176
It would be good to know who is using an older version. There are some changes in authentication with the InPen I got. If I adapt xDrip accordingly, old InPens will not work any longer. But it is very likely that they dont't work already because of empty battery.

[2021-08-07 22:53] ANDREAPIPPI commented on #1519
Hi.
I agree with both of you, and I'll explain you why, obviously.
Navid200 is right when he says that many people are just satisfied with a minimal use of xDrip+ as actually is, because other possibilities are too  time-consuming or dificult/complicated to be used by them.
Gruoner on his side tells that he uses xDrip  at its maximum level, and moreover he would like to rise this even more, and ma

[2021-08-07 22:55] ahanuban commented on #1176
Good point, although it's possible someone has replaced their battery and
still uses it.

Maybe make a tab or checkbox for the new inpen authentication so the old
one is not disabled entirely?

On Sat, Aug 7, 2021, 18:05 Mathias Walter ***@***.***> wrote:

[2021-08-08 07:38] tzachi-dar commented on #1391
I don't believe there is such a problem in xDrip.
This works well on my system (and on many others).
If anyone is ready to post here the message saying:
״We have all the data that we need ..." I can give it a second look.

[2021-08-08 08:41] jeremystringer commented on #1518
Hey @Navid200, I trialed the change above and it worked well for me.  The only caveat I found is that after a number of months, it did get less responsive (At which point I cleared data for the app, and this issue went away).  That said, I don't know if it would have become less responsive anyway.

I've attached some diffs of my changes - I can't regression test though (with the original scenario)

[2021-08-08 09:33] tolot27 commented on #1176
Is there any guide to replace the battery? I'll not touch the only InPen I got send until it runs out of battery.

That's what I did. But it is much better to know how we can distinguish old InPens from newer ones. Does anybody has an old one which is expired?

[2021-08-08 11:04] simonpickering commented on #1519
It's interesting that there are a range of different usecases, and I agree that one shouldn't foist unwanted complexity on those who are happy, nor turn the app into a proverbial swiss army knife and that it's @jamorham's app so so s/he has the deciding vote.

I still feel there is something that could be done for those who want to play with different prediction models though (whether you want to

[2021-08-08 12:06] Navid200 commented on #1138
I have been told that this has been solved.  So, I am closing this issue.
Please reopen if I am making a mistake.
Thanks

[2021-08-08 12:06] #1138 closed

[2021-08-08 12:33] lee-b commented on #330
Already answered.  Feel free to close.  Thanks!

[2021-08-08 12:34] #330 closed

[2021-08-08 13:32] capflamme commented on #1700
Hello,
The calibration is done by using the calibration button in AAPS. I think it just send the calibration value to Xdrip and then Xdrip is supposed to process it as it was inputed directly in Xdrip.
________________________________
From: Navid ***@***.***>
Sent: Friday, August 6, 2021 2:11:25 PM
To: NightscoutFoundation/xDrip ***@***.***>
Cc: capflamme ***@***.***>; Mention ***@***.***>
Subject

[2021-08-08 13:44] twinko opened #1804 "Freestyle Libre 3 Support"
I already found a closed Issue.

But wanted you to inform, that it is already possible to order the new freestyle libre 3 Sensors and the IOS App is already available:

**Official Libre 3 Website:**
https://www.freestylelibre.de/libre/freestyle-libre-3-entdecken.html#scannen
**Official Libre 3 IOS app:**
https://apps.apple.com/de/app/freestyle-libre-3-de/id1525101160

Do we need to wait for the An

[2021-08-08 13:58] ahanuban commented on #1176
I have not seen a guide, although when mine runs out I will probably
disassemble and see if it is doable.

Unfortunately I do not have an old one but perhaps the easiest way to find
one would be to post in the xDrip+ Facebook group.

On Sun, Aug 8, 2021, 05:33 Mathias Walter ***@***.***> wrote:

[2021-08-08 14:04] Navid200 commented on #1700
@capflamme

Calibration is creating an association between the interstitial fluid glucose and blood glucose.
This association is done by a formula.  The entity that is responsible for creating, editing, and maintaining the formula is not always xDrip.

I personally use Dexcom.  The G5 Dexcom transmitter transmits raw values as well as calculated blood glucose values.
xDrip allows the user to choos

[2021-08-08 14:08] Navid200 commented on #1804
Please don't use this issues platform for brainstorming, informing others, informing developers, asking questions, ...
The issues platform is meant to be used by the developers to solve/track issues and new features.

There are already two support channels you can use for communicating with the developers as well as other users:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xD

[2021-08-08 14:08] #1804 closed

[2021-08-08 14:40] capflamme commented on #1700
I use Librelink patched app as hardware source. Sensor is therefore freestyle libre 2.
If I input the calibration within Xdrip it's working fine everytime. Calibration is put in table and graph and BG is modified accordingly. When I do it through AAPS, the calibration is only taken into account sometimes, most of the time it isn't. I am not able to understand why it's working sometimes only.
There

[2021-08-08 15:00] Navid200 commented on #1700
Please state how you know that a calibration is, or is not, taken into account.  Please don't base it on whether it appears in the xDrip calibration graph or calibration data table.

[2021-08-08 16:16] tolot27 commented on #1555
I've tried creating screenshots for use in Crowdin. Unfortunately, xDrip still use a very old target API level and you cannot even get previous in the Android Studio design preview. I've already compiled a new xDrip version after migration to AndroidX, which is also used by the Crowdin SDK. This app can be used with the Appetize App but the later must be enabled at Crowdin which can be done only b

[2021-08-08 16:25] Navid200 commented on #1555
Thanks for explaining.
So, there isn't an issue tracking mechanism inside Crowdin?

[2021-08-08 16:33] capflamme commented on #1700
As said previously, when I do it in Xdrip, it's always added to the table/graph.
Moreover, I dont really understand how it could be taken into account if not added to the calibration table and graph.
There is no way to calibrate natively FSL2 sensor with librelink, it's not at all like dexcom sensor.
________________________________
From: Navid ***@***.***>
Sent: Sunday, August 8, 2021 5:00:44 PM