[2021-01-14 14:47] jredders commented on #1587
Well, I can tell you that the "solution" provided on Facebook does not help.  I still have to reboot my Pixel 4A every ~24 hours to fix the issue once it starts.

[2021-01-14 14:49] nickb24 commented on #1587
Do you have the option "Close GATT on BLE disconnect" checked or not? I suggest having it checked.

[2021-01-14 21:48] old-square-eyes commented on #374
Hi all. I have an opportunity to buy a used Huawei Classic 2. Is this a viable collector solution still for Dexcom G6? I use a SWR50 and my life revolves around it's excellent collection.

I require...
- >=95% collection (forced Wear)
- Wear OS 2.0
- Happy to charge nightly if I can at leat get through the day.

[2021-01-14 21:52] jamorham commented on #1587
When you get the message saying `failure to register` and need to reboot the phone I am pretty sure this happens when the actual Bluetooth stack in the android operating system fails. This is why you need to reboot to fix it and toggling Bluetooth off/on isn't sufficient to reset it. I have seen this before on Android 7-8.1 of various platforms but particularly with broadcom chipsets and definitel

[2021-01-15 03:43] Navid200 commented on #1587
@jamorham This is on Moto G7 Android 10.
He says restarting the phone fixes it.
Is this what you mean.  Or, is this a different error?

![2](https://user-images.githubusercontent.com/51497406/104678578-be811080-56b9-11eb-9733-7af61e92e0b3.jpg)

[2021-01-15 06:18] tolot27 commented on #1587
I cannot really belive this because other apps running fine at the same time. Even if some devices getting disconnected, the apps reconnect them automatically, whereas xDrip does not. I suspect that the additional RxAndroidBle stack is responsible for it.

Maybe, sometimes I can get access to such a device and can debug it, too.

[2021-01-15 15:47] jamorham commented on #1587
@Navid200 thats the same error

@tolot27 When I saw this issue previously the whole bluetooth stack was down, no bluetooth functions would work at all in any app.

[2021-01-15 15:48] jamorham commented on #1587
For anyone who is experiencing this issue, what happens if you go to Android Settings -> Apps -> xDrip and then force stop xDrip and wait a minute or so and re-open it. Does that resolve the problem?

[2021-01-15 16:04] jonathanmmm commented on #764
@JoernL or anybody else?

Does MM1 work now with Libre 2  + Xdrip+ and if yes, OOP1 or OOP2?

[2021-01-15 16:20] Navid200 commented on #1587
@jamorham
I will communicate that test on facebook.  I should have results soon.

[2021-01-15 18:52] Navid200 commented on #1587
Case 1: Samsung S10 Android 10; uses AAPS as well
force stop did not resolve the problem.

[2021-01-15 20:15] jredders commented on #1587
I just started getting the "Failed to register" messages again and XDrip has tried to resolve it by turning off and turning on Bluetooth twice so far this time.  The second time it seems like it wasn't able to turn Bluetooth back on, or leaves it off for longer than I thought before re-enabling.  I noticed that my Garmin watch had disconnected.  I turned it on manually and restarted XDrip's collec

[2021-01-15 20:29] bwrampton commented on #904
Just wanted to check in on this and see if any progress had been made. I am definitely interested in this initiative (as a consumer, not a developer). Thanks!

[2021-01-15 23:00] malloy139 commented on #764
I used the "LibreOOPAlgorithm_L2.apk" as described on this site: https://miaomiaoreader.medium.com/how-to-make-libre-us-14-days-sensors-work-with-miaomiao2-on-xdrip-35b431a40940

Neither on my Oneplus 6 nor on my old Redmi Note 4 this was working.
On a very old Samsung S3 Mini at least I got at the beginning some values but not anything after this.

[2021-01-16 03:08] Navid200 commented on #1587
@jamorham

Case 1: Samsung S10 Android 10, G6 8L****, Nov. 27, 2020 release; uses AAPS as well
Force stop did not resolve the problem.

Case 2: Pixel 4 XL, Android 11, G5 42****, Nov. or Dec. 2020 release (TBD) ; uses AAPS
Force stop did not resolve the problem.

[2021-01-16 04:09] Navid200 commented on #1573
Multiple people, including myself, have successfully restarted a G6 (8J****, 8L****, and 8Q****) using the 0000 code.
That's why I closed this issue.

[2021-01-16 12:13] ARkaine2 commented on #1585
**tolot27**,
I mean that when it becomes 25% of transmitter's battery charge, text is getting red.

I'd wish to specify (for example) 10% to indicate (become red when it's) low battery charge.
-- in similar way as we can specify low battery charge in alerts settings.
Probably it should be in another section of settings (maybe somewhere in graphic changes).

[2021-01-16 12:15] #1579 closed

[2021-01-16 15:51] tolot27 commented on #1546
@JohanDegraeve ports xDrip to iOS: [xdripswift](https://github.com/JohanDegraeve/xdripswift)

[2021-01-16 16:03] tolot27 commented on #1587
I don't know whether it is important to remove the xDrip widget as well. I also recommend to turn off Bluetooth and switch it on after a while and before xDrip is started again.
@Navid200 Please can you ask the users if the have other Bluetooth devices connected at the same time and if they continue to work or reconnect automatically?

[2021-01-16 16:05] tolot27 commented on #904
@bwrampton There is ongoing work but not any stable code, yet. As soon as something is available for testing, it will be reported. Until then you have to be patient.

[2021-01-16 16:43] jredders commented on #1587
I tried restarting the collector, force stopping XDrip, removing the widget, force stopping, toggling Bluetooth manually, then restarting and nothing worked. My Garmin 645 kept syncing just fine through it all. Rebooting the phone fixed it as always.
Any chance it's related to the message about switching to scan always mode due to errors?
![Screenshot_20210116-103818](https://user-images.githubuse

[2021-01-17 00:46] tolot27 commented on #825
Fixed with the next build.

[2021-01-17 00:46] #825 closed

[2021-01-17 03:51] dspnikder commented on #1587
There are two known existing bugs that hasn't been adressed, there is a PR for them which fixes both. One is there is a new format for one of the info messages, the other that there is a mismatch in the current understanding of what the characteristics services offer which means there are attempts to READ instead of INDICATE in three places. That this causes intermittent problems and issues that m

[2021-01-17 11:06] dubidrubi opened #1611 "Wear OS collector to send data to NightScout"
Afaik, Wear OS xDrip apk current can transmit data using native xDrip follower mode when works as a standalone collector. But that requires a Google service installed/running on the watch.

Would be great to have an option to send readings to NightScout from WearOS collector in case Google services are missing. A great example is Xiaomi Mi Watch - an excellent watch with affordable price with a gr

[2021-01-17 19:57] adanvdo opened #1612 "G6 reading times are incorrect/out of sync"
Nightly build- 1/15/21 (and also the previous nightly)
Glucose Reading times are off. When xdrip gets a reading it is being added with a time in the past instead of the current time. I'm not sure when this started happening.
I added a finger prick with the current time and 2 readings came in and were added with a time before the finger prick.
Look at the screenshots below. You can see the time tha

[2021-01-17 21:44] winni67 opened #1613 "xDrip+ Does not ask for the sensor insertion time - I have to wait the full warmup time"
### Subject of the issue
I tried to start an already started Dexcom G6 sensor session in xDrip+.
In xDrip+ I start the sensor, but xDrip+ doesn’t ask me for the sensor insertion time.
Therefore I have to wait the full G6 warmup time.
Xdrip+ is receiving the G6 glucose data and broadcasts it to other apps like AndroidAPS, but in xDrip+ themselves, you have to wait the full 2 hours for the first glu

[2021-01-17 23:04] Navid200 commented on #1613
You don't need to "start" if you have an active session.  All you need to do is to establish connectivity and the readings will start showing.

The request for insertion time was removed from G6 intentionally because you cannot enter any time other than now when you start a G6 sensor.

[2021-01-17 23:08] Navid200 commented on #1613
Please note that with a G5, if the sensor has been on you more than 2 hours, you can start and enter a time prior to now and the warm-up will end sooner than 2 hours accordingly.

But, you cannot do soaking with G6.  It would interfere with factory calibration, which G5 did not have.  You are supposed to start sensor as soon as you insert sensor, with G6, for best accuracy benefitting from factory

[2021-01-18 00:52] Navid200 commented on #1612
You are suggesting that all readings have incorrect times.  But, your proof is tapping on a calibration.
Why don't you tap on a reading (not a calibration) and see if the reported time is right or not?
You will see that it is correct.

The calibration is a different story and there are other open discussions about it.

[2021-01-18 00:58] adanvdo commented on #1612
The proof is not tapping on calibration. You can see the reading I tapped on is blue, meaning it's selected

[2021-01-18 01:22] Navid200 commented on #1612
Sorry if I have misunderstood your post.

I am looking at my readings where one is before 7:00 and the one after is right after 7:00.  When I tap on those, I get 6:57 and 7:02 respectively.
Mind you, I am on November 27, 2020.  But, I doubt there has been a change to timing.

Would you mind doing the same?
You have one reading just before 2PM and the next one right after 2PM.  Would you please tap

[2021-01-18 01:23] Navid200 commented on #1612
The color Blue means it is in range (between your low and high levels) not that it is selected.

[2021-01-18 01:29] adanvdo commented on #1612
My mistake about the color.  Let me try to explain a little better.
In my screenshot the actual time was 2:45pm the moment it connected to get a reading.
The reading it retrieved at that time was added as 2:42pm. You can see at the top it says last reading: 0 minutes ago.
So either we are getting old readings added as a current reading, or the time of the reading retrieved is incorrect

[2021-01-18 01:36] Navid200 commented on #1612
Now I follow.
I see something similar on my phone.  A 2-minute delta.

I suggest you edit your first post and change the image to something more recent after the calibration.  I suggest you say nothing about the calibration.  This will avoid possible confusions for others.
Just a suggestion.

I am curious what the answer is.  Thanks for reporting.  I will follow.

[2021-01-18 03:09] Navid200 commented on #1612
This is my case:
G6 8Q****
xDrip: b978bec-2020.11.27

Last reading (performed a few seconds ago) is timed at 9:57 and on the graph is before 10:00.  So, makes sense.  But, check out the phone time.  It's 9:59.
What is causing the 2-minute delta?

Is the time
![1](https://user-images.githubusercontent.com/51497406/104868195-b838a180-5910-11eb-9dbb-f784120cd730.png)
coming from the transmitter?  How

[2021-01-18 04:26] nickb24 commented on #1612
Maybe other developers can chime in, but I believe this is by design. Code line is here: https://github.com/NightscoutFoundation/xDrip/blob/master/app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels/BgGraphBuilder.java#L2300

The 'FUZZER' value is defined as 2.5 minutes here: https://github.com/NightscoutFoundation/xDrip/blob/master/app/src/main/java/com/eveningoutpost/dexdrip/UtilityModels

[2021-01-18 04:47] Navid200 commented on #1612
@nickb24
Wow!  I had no clue.
Thanks a lot for explaining.

[2021-01-18 04:48] nickb24 commented on #1612
I looked at the code history and it's been this way since 2015...

[2021-01-18 04:51] Navid200 commented on #1612
Is the transmitter timebase synchronized by xDrip?  Or, is the transmitter clock by design perfectly accurate over its lifetime?  The latter would be hard to believe specially for the transmitters with their batteries getting replaced.
It must be synchronized, right?

[2021-01-18 04:53] Navid200 commented on #1612
But, when you travel, to a different time zone, the time is adjusted.  So, it must be synched by xDrip.

[2021-01-18 04:55] Navid200 commented on #1612
What happens for someone who has xDrip and also a Dexcom receiver?  Do they show different times for the same reading?

[2021-01-18 05:03] nickb24 commented on #1612
There is no sync of time to the transmitter for timezones. There are a few different mechanisms at play, but for the graph specifically the time that is stored is when the phone actually connects to the transmitter to get data. Backfilled data is then calculated backwards from there.

Glucose readings are stored in Unix time (https://en.wikipedia.org/wiki/Unix_time), therefore when you change time

[2021-01-18 05:42] daclaw2k commented on #1511
Hi, I'm having similar issues, I get BSL updates on my SW3 watch but it doesn't send them through to my phone unless both devices are manually reset - my phone is a google pixel 3XL.
Have tried deleting xdrip+ and unpairing / formatting my watch, the only thing I've found to help is an older Google Play services - however i'm now getting BSL dropouts on my watch.
Does anyone have a SW3 with a high

[2021-01-18 11:12] jonaschn commented on #1335
#1524 was merged

[2021-01-18 13:58] um17tjs opened #1615 "Xdrip and accu-check Mobile?"
I was wondering if anyone could help me connect my accu-check mobile with the wireless adapter to xdrip?
Currently I can see the device in a Bluetooth search - connects but then I get a "timed out on: notify new glucose record." Any help?!

[2021-01-18 15:02] #1335 closed

[2021-01-18 16:50] winni67 commented on #1613
Yes I started the G6 one day before yesterday with another device than my loop smartphone. Yesterday I only wanted to switch the running G6 session to my loop smartphone. But I didn‘t find any documentation on the AAPS website how to do this. This case seems not to be documented. Thanks for the hint to not press „Start Sensor“. I will try it the next time and report my experience here. Do you know

[2021-01-18 16:56] Navid200 commented on #1613
@winni67
There is some documentation on facebook.
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365/
That is the best place for having questions and answers to gain and share experience.

If everything is set up correctly, xDrip will pick up a session in progress in 10 to 15 minutes.  It may take a few more read cycles (5 minutes each) to also populate the battery information.

[2021-01-18 18:44] Liknus commented on #846
Having the same issue here..

[2021-01-18 18:53] icewiz12 commented on #846
I eventually got it to work (took a few hours/days to show up) with this method.

https://github.com/NightscoutFoundation/xDrip/issues/1419

[2021-01-19 00:08] daclaw2k commented on #1511
Ok - after hours and hours of trial and error - I seem to have found a solution for this.

On my Google Pixel 3XL in the Settings under Security -> Trust agents -> Turning OFF Smart Lock seems to have fixed the problems between watch and phone for me.
Trust agent allows the phone to bypass security checks (no pin/fingerprint etc required) under certain circumstances ie. when the phone is in a cert

[2021-01-19 00:14] old-square-eyes commented on #1511
@daclaw2k nice one. And that's very interesting in the context of ongoing BT glitches too. I don't use trust agents, but Smart Lock IS enabled. I can't test as my issue resolved per the post above. But it's certainly another weapon in the arsenal when troubleshooting BT, and not something I had ever played with.

[2021-01-19 19:16] AlbertoTryingTech opened #1616 "Free 2 + MiaoMiao 1 + Xdrip"
I can't get this combination to work: Free 2 + Miaomiao 1 + Xdrip. Xdrip does not show any readings (BG Readings Unavaible) however in System Status everything seems correct. Could you help me, please?

I have tried to do all this:

**Miaomiao 1 firmware** → is updated to version V39

**Miaomiao 1 battery** → is 100%

**Smartphone battery** → is 100%

**OOPAlgorithm** → is running in the backgroun

[2021-01-19 20:33] psonnera opened #1617 "BG graph disappear upon sensor start (Libre bluetooth)"
### Subject of the issue
After starting a new sensor BG graph disappeared. Main screen and history.

### Your environment
- 20210115 and other user 20210108
- L2 + Bubble + OOP1 and other user L1 + miaomiao

### Expected behavior
See BG dots

### Actual behavior
BG is displayed with trend arrow, history populates with statistics, but BG dots are not displayed.
DB backup restore no change. Reboot p

[2021-01-19 20:57] psonnera commented on #1617
Ooops that was an oversized screenshot. Here are mine.
![image](https://user-images.githubusercontent.com/33809361/105092328-5eb3ac80-5aa1-11eb-926e-2f81140f395c.png)

[2021-01-20 16:05] Navid200 commented on #1587
Case 1: Samsung S10 Android 10, G6 8L****, Nov. 27, 2020 release; uses AAPS as well
Force stop did not resolve the problem.

Case 2: Pixel 4 XL, Android 11, G5 42****, Jan. 15, 2021 release; uses AAPS
Force stop did not resolve the problem.

Case 3: OnePlus 6 Android 10, G5 42****, Jan. 15, 2021 release; uses BlueJay as well

[2021-01-21 01:34] LubomirKovalcik commented on #1616
I have exactly same problem, expect I get reading sometimes.

First I had problem exactly like you, without any readings.

Then I have tried Tomato app, updated MiaoMiao through Tomato app.

Then I uninstalled Tomato app and used xDrip again.

However problem is that I am only getting reading once in a time, otherwise there is still this error: **got null pointer trying to set cccd descriptor**

A

[2021-01-21 05:57] psonnera commented on #1617
Tried to uninstall and reinstall xDrip+, restored settings and database from backup. Issue persists.
Then tried an empty database with setting. Same.
Then restored only the database and said no to settings. Worked! By some sort of black magic, settings were also restored correctly even if I always answered No to xDrip+ requests.

[2021-01-21 06:26] harentius commented on #1616
I have very similar situation with Free 1 + MiaoMiao 2 + Xdrip.
However I get some readings
![Screenshot_2021-01-21-08-20-54-780_com eveningoutpost dexdrip](https://user-images.githubusercontent.com/4300680/105295073-31125480-5bc2-11eb-84f8-b2bb7c9ff5f4.jpg)

[2021-01-21 13:52] Nathanator commented on #1521
Any guides on adding support for meters?  I'd quite like to investigate.

[2021-01-21 16:36] Diabeetuss opened #1618 "TicWatch Pro 3 has a HUGE battery life. Collector support for it would be fantastic."
I've been using the Huawei Watch 2 as a collector with the Dexcom g6. Works great but the battery in it has to be charged twice a day. I often find myself low at night with a dead watch.

Just picked up the TicWatch Pro 3 GPS and it's better in every way - but the primary reason I got it was the obscenely long battery life. Going forward I feel like it would be time well spent to add this to the l

[2021-01-22 17:14] psonnera commented on #1617
Found one good reason. Show Libre Trend does that.

[2021-01-22 21:50] tolot27 commented on #1617
Hence, it was a setting which was not enabled?

[2021-01-22 21:54] psonnera commented on #1617
No, it was a setting that was enabled and decided to go rogue. I tried to enable it on my sync follower and checking it just closed xDrip+. Note the master runs OOP1 so I'm not sure Libre trend is available. But since the other user doesn't use an OOP it might be something else. Enabling Libre Trend on the master hides all dots, disabling it they come back.

[2021-01-23 04:23] Diabeetuss commented on #1618
I would also be willing to pay/donate to Nightscout for a TicWatch Dexcom standalone collector patch.

[2021-01-23 15:44] GReventlov opened #1619 "Significance of brown band on firmware version?"
![signal-2021-01-23-104006](https://user-images.githubusercontent.com/14355544/105606495-cc90fa00-5d67-11eb-9096-0a400bba1551.png)
Screenshot attached. New transmitter, and the experience has been pretty unreliable on Android 10/Moto Power. Getting lots of "brain state" errors.

[2021-01-23 23:49] Diabeetuss commented on #1048
I second this. Out of all the watches available, this one can/should be the +xdrip goto for everybody based on its specs and battery life....if only it worked as a standalone collector for the Dexcom.

@jamorham - assuming you have the time/interest - would it be any easier for you if you had a watch to work with? I'd be happy to try and help round one up for you.

[2021-01-24 01:22] Diabeetuss commented on #1048
Oddly, for the first time my TicWatch Pro 3 GPS is working as a Dexcom collector - only every 10 minutes. Using the latest xdrip update. Went in to the watch's Bluetooth settings and told it to forget the Dexcom (which it was saying was unauthorized), then restarted the watch collector via my settings on the phone. It's been working now for about an hour.

Good news?

[2021-01-24 02:38] Diabeetuss commented on #1048
Worked for about 2 hours as a standalone collector for Dexcom G6 then became hit or miss. I'd call it unreliable at best. Bummer. So close.

[2021-01-24 16:56] tolot27 commented on #1359
@Schizm1 Does it work for you, now? Did you ask in the support channels at facebook or gitter?

[2021-01-24 20:03] crazysugarnl commented on #1616
Have also the same problem, when i use the newest version it is not working,

If i use an very old version, version e14bae1-2020.07.13, then i get data from the miao miao2 (my setup is miao miao2,OOPAlgorithm 2, freestyle libre 2 and the old version number e14bae1-2020.07.13)

When i use this it works but update it to any newer version it won't work, receiving no data

[2021-01-24 20:04] crazysugarnl commented on #1616
Hope there comes a more up to date version that will work with freestyle libre 2 sensor, miao miao2 and the data option libre Bluetooth.

[2021-01-25 08:53] frankenmk8 opened #1620 "Xdrip disconnects from ticwatch while I am sleeping"
Hello
I use only ticwatch pro 2020 + miaomiao 2 + xdrip  and every time while I am sleeping after 20 -30 min smartwatch  disconnect!
all day the smartwatch never disconnects!only when I am in a deep sleep..
Please can you help me ....

[2021-01-25 11:35] jonaschn commented on #1430
Any progress here?

[2021-01-25 16:06] SimonPhilpott opened #1622 "New feature: save settings to sd card "Save as""
While it's extremely useful to export and save Xdrip+_settings to the SD card, this really only allows you to save one backup at a time.

### Describe the solution you'd like
It would be more useful for this feature to either allow you to save as, or save with a date suffix so that you have the option to load settings backups from different time periods or states.

### Additional context
I'm using

[2021-01-25 16:17] SimonPhilpott opened #1623 "New feature: Keep the predicted blood glucose curve onscreen and unchanged once an input has been added"
When you input an insulin dose or the carbs for food Xdrip shows the predicted blood glucose change based on you inputted Carb ratio, insulin sensitivity and carb absorption rate.

This initial predictive 'simulation' curve is updated for each data point received from that point onwards. This doesn't give you an easy picture to see where your predictive variables are incorrect. For example, if the

[2021-01-26 17:36] spartakcz commented on #1410
Hello, I have a MiBand5 that I connect to xdrip_miband_0.3.2.6.  I see the xDrip dial, but no graph - only NO DATA.  I'm using OnePlus 8 with the latest version of OxygenOS (Android11).  Does anyone have a similar experience?

[2021-01-26 18:06] jyaw commented on #904
Hey there! I'm interested in helping out or testing if needed. Was looking at getting my X2 data into NS and found this thread...

[2021-01-26 22:54] izywizy commented on #1616
I just connected my first L2 to with MM2 and xdrip and collecting and displaying fine and also sending to Oppo smart watch.

I updated MM2 to firmware 7, using MMs oop2 and xdrip of 15th Jan.

Originally tried to use my backed up settings but that failed so set up from scratch and BINGO! and sensor had been started 3 days prior. My phone is OnePlus8 with android 10.

You should join the Facebook x

[2021-01-26 22:59] LubomirKovalcik commented on #1616
Ok, but original post is about miaomiao 1. Has anyone working MM1 with LIBRE2?
I sometimes have libre2 sensor with broken bluetooth, so I can not used patched app...

[2021-01-27 01:24] inventor96 opened #1624 "Add support for the new Transmitter ID and Sensor Code fields"
### Is your feature request related to a problem? Please describe.
Nightscout has a new feature (currently in dev as of writing this) to include separate fields for Transmitter ID and Sensor Code.

### Describe the solution you'd like
To enable better visibility and user experience, xDrip+ should pass these fields when the respective events occur.

### Describe alternatives you've considered
As fa

[2021-01-27 08:01] mysticprog commented on #259
Hi,

How to switch to new phone if on old phone is broken screen glass ?
Thanks.

[2021-01-27 08:36] jamorham commented on #1560
This should be resolved in recent nightlies, please confirm thanks

[2021-01-27 08:44] jamorham commented on #1374
Can anyone experiencing this problem try the latest nightly and enable both the `minimize scanning` and `avoid scanning` options and see if that helps.

[2021-01-27 09:03] cybernissart commented on #1560
Graph is effectively back since 2101151518 for small width widgets (2x1,3x1), whereas it was only visible for 4x1 till that build.

[2021-01-27 09:04] tolot27 commented on #1560
Fixed with 1d757ed.

[2021-01-27 09:04] #1560 closed

[2021-01-27 09:13] MachFour commented on #904
Hey, thanks for your interest! Right now things are in really early stages and there is nothing to actually test, but I appreciate your offer to help out. As @tolot27 said, as soon as something is available for testing, you'll know :)

[2021-01-27 12:30] jamorham commented on #1451
Can you try the latest nightly an enable both the `Minimize scanning` and `Avoid scanning` options. thanks

[2021-01-27 13:24] Navid200 commented on #1467
@jamorham That's what we tell everyone they can use.
But, it would be great if there was an alarm option as well.

[2021-01-27 14:29] nickb24 commented on #1619
All this means is that your firmware version is known and that it's a G6 firefly version.
Source: https://github.com/NightscoutFoundation/xDrip/blob/62816d8e5ef35610723aa6658b56e2964fc55f1c/app/src/main/java/com/eveningoutpost/dexdrip/Services/Ob1G5CollectionService.java#L1943

[2021-01-27 15:04] tolot27 commented on #1619
This is neither a bug report nor a feature request.
Nickb24 answered the question. Hence, closing it.

[2021-01-27 15:04] #1619 closed

[2021-01-28 02:11] old-square-eyes commented on #1511
This has happened for me on Huawei Watch 1

[2021-01-28 03:15] old-square-eyes commented on #1511
Reinstalled xDrip prefs from watch and got the location request (again), and it's collecting and syncing to the phone now. Nice one. Two BG in a row too. Though I don't thinkn this process is available on Wear 1.5 (SWR50). Resync apps might work from the Wear OS phone app.

[2021-01-28 07:58] razerrazer commented on #1620
I have the same watch as you.
Please check your settings.

I have added my settings below:

![image](https://user-images.githubusercontent.com/17000974/106107120-cffcfa80-6146-11eb-97cf-a1693554ea3b.png)

And under my watch, i have nothing added under settings.
Ensure that you have unlocked "Enable Collector" since this one is not working as it should.

[2021-01-28 09:58] LubomirKovalcik commented on #1616
I have found out, that sometimes glucose is not shown also without "Got null pointer trying to set CCCD descriptor"

In default log environment it goes like this:

**DexCollectionService**
10:44 Received buffer after 295 seconds, starting again. Already acumulated 369 bytes.
10:44 Starting to acumulate data expectedSize = 369.
**LibreUtils**
10:44 decodeSerialNumber = 0MH001*****
**NGCReaderX**
10

[2021-01-28 10:19] LubomirKovalcik commented on #1616
So from discussion on FB group I found out working combination:

MM1 fw39
xDrip 2021.01.05
OOPAlgorithm 2

And the trick is to **DISABLE OOPAlgorithm processing in xDrip settings.** Not sure why and it does not make sense, but it works this way and OOPAlgorithm is still called in logs.

[2021-01-28 18:47] lwychan commented on #1048
@jamorham @tolot27 anything we can do to help?

[2021-01-28 22:16] jamorham opened #1625 "Always On Display Widget - Testers wanted"
**I'm looking for some testers for a new feature which is to display the xDrip widget on the Always On Display.**

Some phones which have (AM)OLED technology screens support an `Always On Display` feature. I have seen this on several Samsung phones as well as phones like the Pixel 3a (controlled under Lockscreen settings)

If your phone has the ability to display, for example, a clock even when it

[2021-01-28 22:30] gregtcm commented on #1625
I would love to help test this!  I recently upgraded to a
- Samsung Galaxy S20+ and have since upgraded the OS to
- Android 11 and
- One UI 3.0.

Thank you!

[2021-01-29 00:33] belfastraven commented on #1625
I can help test:

- Oneplus 8 Pro
- Android 11

[2021-01-29 04:54] rudysroost commented on #1625
Pixel 5 Android 11

On Thu, Jan 28, 2021, 16:17 JamOrHam <notifications@github.com> wrote:

[2021-01-29 16:10] Navid200 opened #1626 ""Possible Sync Problem" pop-up - What is the solution when the followers are working perfectly?"
Multiple facebook posts have reported this pop-up.
https://www.facebook.com/groups/xDripG5/permalink/4902788579794598/
https://www.facebook.com/groups/xDripG5/permalink/4913632698710186/
https://www.facebook.com/groups/xDripG5/permalink/4783402735066517/

I suspect this happens when someone has had a smart watch, which is not active any longer.
It keeps popping up.

I found this:
https://github.co

[2021-01-29 16:53] redman8 commented on #1625
I will test please. I use the widget now. Works fine. TY

[2021-01-29 17:07] st0ber commented on #1625
Nokia 8 Android 9

[2021-01-29 18:16] user-hash commented on #1625
I can test on Samsung S9, Android 9

[2021-01-29 18:26] rudysroost commented on #1625
I have been wanting this feature for quite some time. Please include me and
my Pixel 5 running Android 11.

On Thu, Jan 28, 2021 at 10:54 PM Scott Rudolph <scott@scottrudolph.com>
wrote:

[2021-01-29 20:05] jiresongit commented on #1625
This would be great!

Pocofone F2 Pro
Android 11

[2021-01-29 23:11] jamorham commented on #1625
**Okay here are the instructions to try the feature out:**

- Install the latest xDrip from the `Nightly` update channel. Make sure you are on the Nightly channel in `xDrip update settings` and select `Check for Updated version` from the xDrip 3 dot menu if it doesn't immediately pop up. It is the Jan 29th 2021 version or above which includes the feature.
- Go in to Android system settings and sel

[2021-01-29 23:28] redman8 commented on #1625
It works,
Lags on screen when unlocking for a split second
Overlaps the fingerprint icon sometimes and clock.
The X-drip screensaver will take over if left to screen timeout
Yes insync

Thank you
Will report more

Sent from Mail for Windows 10

From: JamOrHam
Sent: Friday, January 29, 2021 6:11 PM
To: NightscoutFoundation/xDrip
Cc: redman8; Comment
Subject: Re: [NightscoutFoundation/xDrip] Always

[2021-01-29 23:44] redman8 commented on #1625
Suggestion
Option to not float please

Sent from Mail for Windows 10

From: JamOrHam
Sent: Friday, January 29, 2021 6:11 PM
To: NightscoutFoundation/xDrip
Cc: redman8; Comment
Subject: Re: [NightscoutFoundation/xDrip] Always On Display Widget - Testers wanted (#1625)

Okay here are the instructions to try the feature out:
• Install the latest xDrip from the Nightly update channel. Make sure you ar

[2021-01-30 07:46] jiresongit commented on #1625
Works great on Poco f2 pro also

[2021-01-30 08:00] crazysugarnl commented on #1625
I would also like to use it!

Samsung galaxy S20,
Android 11

[2021-01-30 08:29] Katerina01 commented on #1521
You know that the official Glucomen Day app only works for a few phone models. Does anyone already work for xDrip support. It would be great if this happened soon.
Thanks!

[2021-01-30 09:06] ulisse31 commented on #1153
Hello!
I'm in need to add Tresiba as well. Looks like this is blocked/referenced by #1117 and #1200
I really we can add some traction to this feature.
My personal experience with this insulin is an effective life of ~40h (injected with pen).
thanks!

[2021-01-30 09:17] Nathanator commented on #1521
I am just waiting to use up a last batch of Dexcom G6 sensors, then start
trying it out.

On Sat, 30 Jan 2021, 08:29 Katerina01, <notifications@github.com> wrote:

[2021-01-30 09:32] Katerina01 commented on #1521
Oh, great. I look forward to it! :)

[2021-01-30 11:42] jamorham commented on #1625
@crazysugarnl just follow the instructions I wrote above, it is ready to try out now

@redman8 I can make it jump around less. It is just to ensure that it doesn't get screen burn in.

[2021-01-30 11:44] crazysugarnl commented on #1625
Yes i have it already, on always on display it jumps sometimes at the fingerprint sensor or above the clock so you cannot see good the widget or the clock

[2021-01-30 11:45] crazysugarnl commented on #1625
Widget it self is working is updating every 5 minutes

[2021-01-30 15:03] kenkolden commented on #1625
Samsung S20 Ultra Android 11
not always displayed,  tends to overlap clock, will flash and disappear, sometimes cropped only see part of widget
xDrip Version  2021.01.29

Number wall on lock screen worked on Motorola zForce but Samsung puts a lock screen over it, this would fix that when working

[2021-01-30 15:34] belfastraven commented on #1625
On Oneplus 8 Pro, android 11, beta 5 stock unrooted,  I can see xdrip icon on screen but no "widget/graph/number".
This is message appearing constantly in event log:
                                                                 AlwaysOnDisplay
                                                                  (time) Cannot get root view.

@jamorham ,  do you want other logs, logcats, etc?

[2021-01-30 20:20] JMgithubdex commented on #1625
My Smartphone is a Galaxy SM-A520F (2017), with Android version 8.0.0 and Always-On-lockscreen used since months. The new Always On Display Widget worked well within a minute after its installation. Of course it keeps moving around which seems quite sensible. Many underlying additional infos coming from the xdrip home screen are quite acceptable, but not really necessary. Very nice new gadget. Tha

[2021-01-30 22:03] jamorham commented on #1625
@belfastraven What do you mean icon on screen but no widget? Something new appears on the always on display but it isn't the widget or do you mean something else?

[2021-01-30 23:42] mistermintsgh commented on #1625
I may be missing the point here, but what's the difference between setting xDrip as an AOD item and a screensaver? I've enabled AOD, but I get quite a lot of flicker (the NG value appears for a second, then disappears for some reason) whereas using the screensaver option I get a larger, constant, slow floating BG value when my screen is locked

[2021-01-31 00:10] belfastraven commented on #1625
I was not using the AOD much before;  what I mean is that the  little "drip"  icon shows up, probably because there is a permanent notification on my phone when Xdrip is in use, but I don't see the widget,  and get the error message I indicated.     I think the Oneplus software is kind of "wonky"   and I am just waiting for additional roms that work on Verizon to switch--not a big deal for me,  ju

[2021-01-31 00:52] tolot27 commented on #1221
@FreThor Please can you try to reproduce this problem with the latest nightly and report the result here?

[2021-01-31 00:52] master3395 opened #1628 "Data not getting through LibreLink patched app to xDrip+"
Hello, i am having a strange problem.
I just activated a new sensor 21:00 ish yesterday, now it's 01:50.
And Xdrip+ refuses to collect any information at all from the LibreLink Patched2 app.

I have an OnePlus 8 Pro Android 11 phone.

I updated xDrip+ today also before I put on a new sensor.
Not sure if that can cause it.
Current version: versjon e89e23d-2021.01.29
One of the older versions, not s

[2021-01-31 01:01] tolot27 commented on #1397
Please ask this at Gitter or Facebook: https://github.com/NightscoutFoundation/xDrip/issues/new/choose

[2021-01-31 01:01] #1397 closed

[2021-01-31 02:19] master3395 commented on #1628
Solved here:
https://www.facebook.com/groups/xDripG5/permalink/4927063070700482/?comment_id=4927250174015105&notif_id=1612058820606733&notif_t=group_comment&ref=notif

[2021-01-31 02:19] #1628 closed

[2021-01-31 18:13] user-hash commented on #1482
Hi,
It's happening again on the latest Xdrip nightly version from 2 days ago. I checked in the Diabox app and the results seem ok, so looks like the problem is in xDrip. I did calibration when I changed the sensor yesterday and it seemed ok, but I got very unreliable results after I woke up. I did another calibration but still no luck. Libre reader and Diabox data look ok, just xDrip seems a way o

[2021-01-31 19:23] skavan opened #1629 "Last BG value not shown on Main Screen and Widget"
This may be user error (me), or an incompatibility issue.
**Background:**
Latest xDrip version, connected to Patched Dexcom G6 App via 640G/Eversource Option.
Works great except for:

**Problem:**
The current BG Level and Arrow, is missing from both the main display and the widget. I am running on a brand new Samsung S21 Ultra. See the two pics below.
Any help would be greatly appreciated. This ap

[2021-01-31 19:32] tolot27 commented on #1482
@user-hash Did you concat the bubbledevteam directly? They are responsible for the xDrip integration. We don't know much about their device and communication.

[2021-01-31 19:36] tolot27 commented on #1629
You did not provide your environment information which was requested with the bug report template. Please add the missing information, especially Android and xDrip version.

BTW: In two weeks, nobody knows what the "latest xDrip version" is.

[2021-01-31 19:44] skavan commented on #1629
Sorry. Here you go...

Android 11, Samsung One UI version: 3.1
xDrip+ version: e14bae1-2020.07.13.

[2021-01-31 19:44] user-hash commented on #1482
@tolot27 Not yet, I just read that xDrip support is unofficial atm. Diabox app shows correct numbers, without these strange jumps. Could you look at 1st screenshot? I noticed that the insulin rate stays at 12, although you can see it should be at least 13 when I did combined bolus and carb intake, not accounting for many before and after boluses.

[2021-01-31 20:45] tolot27 commented on #1629
Please can you try the latest nightly?

[2021-01-31 20:47] tolot27 commented on #1482
@user-hash Again, we cannot help you with the bubble device and as @bubbledevteam already requested in the comment [above](https://github.com/NightscoutFoundation/xDrip/issues/1482#issuecomment-749941467), you should contact them directly.

[2021-01-31 21:02] skavan commented on #1629
tried latest. same issue.

[2021-01-31 21:08] tolot27 commented on #1629
@skavan Please can you provide your screen resolution? Please also try to lower the resolution to WGHD (2560x1440) or even FHD (1920x1080) or corresponding values your phone provides.

[2021-01-31 21:16] skavan commented on #1629
My 3 available screen resolutions are:
1. WQHD+: 3200 x 1440
2. FHD+ : 2400 x 1080
3. HD+ 1600 x 720

It was using #2, but I have tried the other two settings. Unfortunately no change.
Happy to keep trying stuff.

s.

[2021-01-31 21:20] skavan commented on #1629
Don't know if it's related, but I also get a "Please start Sensor for best results" Toast, every so often.
I'm not connected to the sensor via xdrip though.

[2021-01-31 21:20] tolot27 commented on #1629
Do you see any errors in the log? What happens if you enable graphical trend arrows (long-pres on the blood icon or xDrip+ at the top)?

[2021-01-31 21:30] skavan commented on #1629
Tried all the settings like graphical trend arrow.
In logs, I see the following RED item and a couple of other ones....pasted below.

![image](https://user-images.githubusercontent.com/2557753/106398565-85e37580-63e1-11eb-8e24-b27ac3706ecb.png)

![image](https://user-images.githubusercontent.com/2557753/106398592-add2d900-63e1-11eb-978c-3fdcdf647017.png)

[2021-01-31 21:31] skavan commented on #1629
Oh wow...it's started working!
Here's what I did:
I just went and turned the sensor on. Even though there isn't one!

[2021-01-31 21:35] skavan commented on #1629
Of course, before I did this, it said Start Sensor, not stop sensor!

![image](https://user-images.githubusercontent.com/2557753/106398687-584afc00-63e2-11eb-8fc7-6bd946a2b160.png)

[2021-01-31 21:38] tolot27 commented on #1629
Good to know. I'll raise another issue for this or change the title.

Regarding to the red error in the logs: Please disable "Automatic Crash Reporting".

[2021-01-31 21:42] skavan commented on #1629
Thanks. p.s. would be good to set a BG color for widget. It's transparent, which on a light background makes it tough to read. I'm also totally stuck on how to enter carbs/get a treatment dialog - like this from your screen shots...
I should probably start a new issue. It's a quite game changing piece of software BTW.

![image](https://user-images.githubusercontent.com/2557753/106398856-3c942580-6

[2021-01-31 21:46] tolot27 commented on #1629
Please ask at the support channels, first!

[2021-01-31 21:49] tolot27 opened #1630 "NewRelic Crash Reporting is buggy and causes frequent app restarts"
Commit c6c289d changed the crash reporting from Fabric to NewRelic.

Unfortunately, this causes frequent app restarts on various devices and Android versions (see #1629 for instance), increases battery consumption and produces the following error in the log:

![image](https://user-images.githubusercontent.com/1370732/106398811-46368100-6415-11eb-9b62-2d35a277986d.png)

Logcat shows restart of the

[2021-01-31 23:01] master3395 commented on #1625
OnePlus 8 Pro EU
Android Version 11

It works in the Preview button for AOD, but not on the real lock screen.
I have the setting set to show AOD if I put my phone on docking or charger.
No xdrip+.

[2021-01-31 23:19] master3395 opened #1631 "New feature: Import settings from file system"
It might be easy to keep it in 1 folder and 1 file to export/import.
But sadly not everyone has "SD" to save to or load from.
And I can't seem to find a good way to restore the settings.
If I click export settings, it goes to the "download" folder.
But if I try and import, it does not work, the image below will show that having the new config file in downloads does not let it get imported.
So mayb

[2021-02-01 07:00] old-square-eyes commented on #1625
Samsung S20+
Android 11

Looks good. Though not sure how useful it is as already getting BG value.

I wake up and tend to diabetes like many. Sleepy eyes. S20+ allows double tap to wake phone, I get big BG. So with this enabled I now get 3 BG readings with a similar process. Guess AOD means I no longer need to double tap. Will edit and drop in a video shortly.

Other feedback is the xDrip AOD star

[2021-02-01 10:38] jamorham commented on #1625
@mistermintsgh AOD works when the phone is not charging. It is always visible when phone is locked. When charging you can use the screensaver feature.

So far reading comments it seems it is working on Samsung and Poco F2. Any Pixel user's tried it yet?

If someone could send a screenshot for the S20 when it overlays the fingerprint sensor so I can understand that issue. Like many things on Androi

[2021-02-01 11:14] crazysugarnl commented on #1625
![IMG_20210201_120254](https://user-images.githubusercontent.com/76134285/106451438-e082dd00-6486-11eb-9f80-0e9faf388935.jpg)
![IMG_20210201_120259](https://user-images.githubusercontent.com/76134285/106451446-e2e53700-6486-11eb-858d-0c7f472544c2.jpg)
![IMG_20210201_120320](https://user-images.githubusercontent.com/76134285/106451451-e4166400-6486-11eb-8739-fd0af5de8238.jpg)
![IMG_20210201_120315]

[2021-02-01 11:15] crazysugarnl commented on #1625
Also screenshots / photos from jumping around clock and notification area's, these are on Samsung galaxy S20 Android 11

[2021-02-01 20:40] old-square-eyes commented on #1625
Same for me (sans the comic sans), on S20.

Interestingly I tried to record the screen mirror (scrcpy) and the usual Samsung lock screen stuff (overlay) doesn't record, but the xDrip AOD widget does - so it looks good. Will do an old fashioned video of my phone.

[2021-02-01 21:05] old-square-eyes commented on #1625
https://user-images.githubusercontent.com/25760491/106516990-be4b9680-653c-11eb-966c-64bef8c9da66.mp4

[2021-02-01 21:07] tolot27 opened #1632 "Dexcom sensor state inconsistently shown"
The Dexcom sensor state is not consistently shown at the main screen, menu and status which is likely quite confusing for new users and annoying, especially at sensor session beginnings or ends.

### Your environment

- xDrip version 2101292241
- Samsung Galaxy S4 mini
- LineageOS 15.1-20191216 (Android 8.1.0)
- Hardware data source: Dexcom G6 native

### Expected behavior

Sensor state should be

[2021-02-01 21:09] tolot27 commented on #1374
@Gimbli74 It would be interesting to know if the latest nightly with the settings mentioned above and the new Corona app version 1.1 (using the new Google API) works better.

[2021-02-01 21:13] emp-00 commented on #1632
I have also noticed this behavior (Samsung A8, Dexcom G6). AFAIK after approx. 3 connections those messages are again consistent on all relevant pages. Nevertheless, I agree that all those messages should show the correct status "everywhere instantly" (if possible).

[2021-02-01 21:18] tolot27 commented on #1626
We still need to know if that's the case and the xDrip version is used. At least one of the users has an older version running.

[2021-02-01 21:20] tolot27 commented on #1632
The sensor start and stop commands should be sent to the transmitter immediately, as well. But this is another issue.

[2021-02-01 21:28] Navid200 commented on #1626
The xDrip version is quite recent (2021).
Since I opened this issue, I have learned a lot thanks to @nickb24.

One of the users did not have any followers.  As advised by nickb24, I asked them to disable "Be master for followers".  They stopped receiving the pop-up.

There is another user who indeed has followers.  The followers are all receiving readings correctly.  Yet, this pop-up keeps coming

[2021-02-01 22:27] Josef-A commented on #914
I also think this is confusing. But I understand that it should be the same setting for both upload and download. Could it be implemented as one place in the setting for accounts where you can fill in all settings needed for Dexcom share and then just use that account in the settings for download/upload

[2021-02-02 06:24] tolot27 commented on #914
The original issue is solved because both US and non-US servers are implemented, already. @Josef-A please open a separate issue for your feature request.

[2021-02-02 06:45] tolot27 commented on #1615
This issue is not filled according to the template. We do not know anything about your environment. Also, please ask for help at the [Community support forums](https://github.com/NightscoutFoundation/xDrip/issues/new/choose), first.

[2021-02-02 08:59] jamorham commented on #1279
@emp-00 are you on the nightly update channel? Can you make sure you are running an up to date version and see if this issue still occurs? thanks

[2021-02-02 09:48] jamorham commented on #1554
Could you give me an example of the last 4 items so I understand what these mean and what is planned to be changed. Some items might be as they are for a reason.

[2021-02-02 09:59] jamorham commented on #1280
I think for the database and preferences to be erased this indicates a problem at the android level and most likely with the hardware itself in this case. I don't really know from a code perspective how this could be possible otherwise.

[2021-02-02 10:04] jamorham commented on #1630
Did you see this logcat message on a release version of xDrip or on a private development version?

[2021-02-02 10:58] tolot27 commented on #1630
The logcat output is from the most recent debug build but the screenshot from nightly release. Hence, the underlying problem persists in both versions. At LineageOS 17.1 I even get a message appearing about every minute that xDrip is not responding, wait or close the app. If I disable "Automatic Crash Reporting", messages disappear but the app still restarts frequently. I'm still investigating thi

[2021-02-02 11:13] jamorham commented on #1632
This behavior is in part a hang-over from when we were coexisting both native and non-native and that the concept within xDrip of a sensor session isn't strictly tied to the native session. I don't really think that mode is used anymore and so it is possible to change this but it does have to be very carefully handled to ensure it doesn't break other things.

As a first pass at this I can make it

[2021-02-02 11:58] tolot27 commented on #1632
That would be a good starting point.

[2021-02-02 12:40] adanvdo commented on #1280
Thanks for your response @jamorham This problem eventually stopped happening. I also am not sure if it was an android update or not that fixed it, but i can confirm it has not happened in a long time.

[2021-02-02 14:28] SimonPhilpott commented on #1631
This is similar to the following and would address both things. https://github.com/NightscoutFoundation/xDrip/issues/1622

[2021-02-02 18:51] CLKRUN opened #1633 "Libre 2 - (xDrip+ + LibreLink patched). 2nd Libre2 sensor"
Hello,

I stopped my sensor and setup a new one physically. Before that I stopped xDrip sensor. After the warmup phase of 60min I started the xDrip sensor again and set the beginning of today.

I don't know why but the Logs only showing : MissedReadeingService: Agressivly restarting collector...blabla.
Screenshot: https://imgur.com/a/Ost6661

I think I have a BT connection to my Libre2 cause the p

[2021-02-02 19:51] GoudekettingRM commented on #1394
I'm unsure if this question fits this thread but it's an issues I've been experiencing with the libre 2 and xdrip+. I was using libre 1 with MM2 for months with xdrip and everything was working perfectly. Recently, I switched to libre 2 with the patched librelink app. It seemed to work great, but all of a sudden I get a signal loss of my libre 2 with the patched app about twice a day at random tim

[2021-02-02 19:56] emp-00 commented on #1279
@jamorham : I'm currently again running a rebatteried 80x tx thus no Firefly firmware and no such error messages. However, I can confirm that the issue still existed approx. 5 weeks ago when I was running an 8H tx with the xDrip nightly build from early December.

Could somebody else please check if the issue is still present with a Firefly tx and the latest nightly? Thanks!!

[2021-02-02 20:24] Navid200 commented on #1279
It seems that one of the two messages is not showing up any more.  But, the other one still appears every 5 minutes.

Android 9, Motorola Z3 Play

![1](https://user-images.githubusercontent.com/51497406/106657925-9ffc8f80-656a-11eb-8d08-9f0bc60115f2.png)

[2021-02-02 20:43] nickb24 commented on #1279
That's because the latest commit only suppressed one of the two messages. See here: https://github.com/NightscoutFoundation/xDrip/commit/6bfb62cacbb5e99187df944059ccfaa492311e9d

[2021-02-02 22:41] #1633 closed

[2021-02-02 23:01] tolot27 commented on #1475
@jwoglom Please provide your full environment as described in the [bug report template](https://github.com/NightscoutFoundation/xDrip/blob/master/.github/ISSUE_TEMPLATE/bug-report.md) including the available RAM and free disk space of your phone.

[2021-02-03 09:53] tolot27 commented on #1559
Fixed

[2021-02-03 09:53] #1559 closed

[2021-02-03 10:06] tolot27 commented on #1554
@jamorham The linked PR contains many of the fixes. Some of the problems listed above were fixed previously. I cannot remember on the anglicism, anymore.

[2021-02-03 13:00] Navid200 commented on #1625
This is from facebook.  He says it overlaps the clock.

Galaxy S20
Will have the Android version soon

![146197916_244647040503127_3078120954246771025_o](https://user-images.githubusercontent.com/51497406/106750519-ef3bd200-65f5-11eb-8180-af5ccf8fb51e.jpg)

[2021-02-03 14:06] Navid200 commented on #929
Someone on facebook experiences the delay.
I am following her child hoping to figure out what the problem is.  The attached image is from my follower.

Her son uses an iPhone 6 and has the Dexcom app on it that uploads to Nightscout.

I see on my follower that Next poll time is 10 minutes past the last BG time.  Why is that?
When I use the same phone and follow myself, those two are always only 5

[2021-02-03 16:00] tolot27 commented on #929
The Dexcom app cannot upload to Nightscout directly. It can only upload to Clarity or invite followers. Please can you clarify this?

[2021-02-03 16:24] Navid200 commented on #1632
When you say you don't think that mode is used anymore, are you ignoring those who are still using G5 or old G6 transmitters, or is this something that even they don't need?

[2021-02-03 16:51] JimZam commented on #1394
@GoudekettingRM Yes, it happens to me too. You can set a Missing reading alert in xdrip, but it doesn't skip silent mode at night. Most of the times xdrip recovers the signal by itself but sometimes I have to scan the sensor.
By the way, there is a new way you can use xdrip+oop2+libre2 so you can calibrate it. The sensor sends data straight to xdrip, you need Librelink or Librelink patched just to

[2021-02-03 16:58] Navid200 commented on #929
Thanks so much.  Will update soon.

[2021-02-03 17:26] swissalpine opened #1635 "Deadlocks messages on actual nightly"
As written on gitter: Since some nightlys I see deadlocks ...

![Screenshot_20210203-182346](https://user-images.githubusercontent.com/12517693/106784858-140f6400-664d-11eb-8d76-efb88aaa23a7.png)

xDrip+ Nightly
Version e89e23d-2021.01.29

Dexcom G6, 80....., Firmware 1.6.5.25

[2021-02-03 19:14] Navid200 commented on #929
Can Dexcom app not upload to Nightscout if it has "Bridge username and password"?

[2021-02-03 22:19] tolot27 commented on #929
Each user has their own Nightscout instance with an individual URL. This URL and API key cannot configured within the Dexcom app. I've found http://www.nightscout.info/wiki/welcome/nightscout-with-ios-and-dexcom-share but this is ancient and works only with G4/G5.  With this system, latency is "build in".

[2021-02-03 22:44] Navid200 commented on #929
Thanks so much for the tips.
The lady has found an old Android phone and is going to try using xDrip on it as a collector.  This should solve the problem.
If the approach fails for some reason and she decides to keep using the Dexcom app, I will use your tips.
Thanks so much.

[2021-02-04 00:40] tolot27 commented on #929
She can also use "Dex Share Follower" as hardware data source and just send a share invitation from the Dexcom app. A lot is possible. 😄

[2021-02-04 12:59] ahaarrestad commented on #929
If you use dexcom share to upload data and then set up nightscoud to get
data from dexcom share you can follow the data in xdrip / nightscout. The
above problem is related to the "delays" caused by trying to save cpu and
battery etc.

* In nightscout you can set the poll-interval for dexcom share. Default is
every 2-3 minutes I think, so if you get "out of sync" you will experience
the above delay

[2021-02-04 13:11] Navid200 commented on #929
I asked the individual I was helping to switch the master phone from an iPhone to an Android and use xDrip on it.  After setting up Nightscout on the master and confirming that xDrip had readings and new readings were uploaded to Nightscout, the problem persisted.

I then asked her to switch the follower from a Nightscout follower to an xDrip Sync follower.  The problem persisted.

I then noticed

[2021-02-04 13:19] tolot27 commented on #929
Please tell her to enable time synchronization with provider. This ensures that the time never diverges again.

[2021-02-04 13:24] Navid200 commented on #929
Provider?  Please explain.

My phone is always automatically in synch.  I have never done anything special on any of my Android phones to keep them synchronized.  I thought as long my phone had access to the internet, Android would automatically check the time, with respect to a time reference on the internet.  My Windows desktop does the same.

[2021-02-04 13:34] Navid200 commented on #929
Under "Date & time", I see that "Automatic date & time Use network-provided time" is selected.  And having this checked, "Set time" underneath is grayed out.
I am going to ask to her to make sure Automatic data and time is selected on her phone.
Thanks

[2021-02-04 13:42] Navid200 commented on #929
On her phone, the only option was "Use network-provided time", which was not selected.  So, I asked her to check that.
Thanks

[2021-02-04 22:13] johnmccoyjr commented on #1625
Works like a charm on My Galaxy Note 9 (SM-N960U), Android 10, Jan 20,
2021 Security Update.

I have no other apps set to display. It does cover the charge amount,
time until full in the lower quarter of the screen, non-issue for me.

Thanks much.
John

On 1/28/2021 2:16 PM, JamOrHam wrote:

--
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2021-02-05 07:23] androckz commented on #1522
Hi all.
I'd like to build the project, but I can't find build instructions anywhere. I noticed that issue #1012 has been closed, so I try to ask here.
In a windows 10 (and/or Linux if possible) environment, what are the requirements to build the project (main branch) with no errors and no need to modify sources or other (hidden) options? I mean... installed Android SDKs, JDK version, gradle versio

[2021-02-05 08:09] androckz commented on #1040
Hi all.
I'm experiencing the same issue depicted by @SpeedoPasanen.

My setup is:
- Freestyle Libre 1 sensor (Italy, not US)
- MiaoMiao 1 (firmare v. 36, then updated to v. 39)
- xdrip (last nightly, but it happens also with v. 2020.07.13)
- Honor View 10 phone (Android 10)
- Fossil Gen 5 smartwatch (Wear OS 2). Watch is collector only when phone is out of range.

Here a detailed list of what I di

[2021-02-05 10:03] tzachi-dar commented on #1040
@MoNsTeR
It seems to me that your problem is in the miaomiao and not a software
issue.

The libre reading changes every minute. So, this should give you
enough time to do the following:

Have the miaomiao read something and in the same time have xDrip read the
same data and compare if you are getting the same data.

You might have to read it a few times to make sure that you have a reading
for the

[2021-02-05 10:13] xannasavin opened #1636 "Error: xDrip looses connection often for up to 1hr, error in the logs: "No Transmitter mac address""
### Subject of the issue

Since the last nightlies (from January) xDrip has issues again in connecting the transmitter. It has downtimes of over an hour in between until it is able to reconnect.
The error message shown in the logs (I just uploaded the logs) is
"No transmitter mac address" followed by a note that location permission is missing. I double checked and xDrip has the location permission

[2021-02-05 10:25] tzachi-dar commented on #1040
One last thing, I would start by taking down the miaomiao, resetting it and
trying again.

On Fri, 5 Feb 2021 at 12:03, Tzachi Dar <tzachi.dar@gmail.com> wrote:

[2021-02-05 11:41] androckz commented on #1040
Thanks a lot for the answer. Perhaps you're right. It could be that MiaoMiao NFC is "weak" and this sensor is somehow different from others. The strange thing is that Glimp app receives data from MiaoMiao without errors. But Glimp is not open source (I suppose) so we don't know how checksum errors are managed (and IF they are managed).
As you suggested, I will try to compare the readings and give

[2021-02-05 11:42] androckz commented on #1040
Already tried, but forgot to mention in my post. I just updated it, thank you.

[2021-02-05 12:31] JimZam commented on #1635
Me too. What does it mean?
Thank you

[2021-02-05 13:06] Navid200 commented on #1612
@adanvdo Hi,
Are you satisfied with the explanations provided by nickb24.  Do you believe there is still an issue?
If not, would it be OK to close the issue?  Thanks

[2021-02-05 14:42] GoudekettingRM commented on #1394
@JimZam thanks for the response! So all in all it seems to be an existing issue that no one really has a solution for? I might just switch back to the miaomiao 2 then ):

[2021-02-05 15:09] nickb24 commented on #1522
I don't think there are any special build instructions. I installed latest Android Studio in Ubuntu. Open Android studio and follow the prompts to import a project from Github. The project should build just fine.

If you can post where you are stuck in this process maybe I can take a look and see if I can help.

[2021-02-05 16:23] Navid200 commented on #1577
@winni67 Hi,
What is the status of this?
You should be able to capture a session that started from another phone as long as you have disabled collection on that phone.

[2021-02-05 16:26] Navid200 commented on #1575
Can you explain step 2?
Why would you knowingly have a time difference between the two?  Why would you not correct the one that is incorrect?

[2021-02-05 16:38] Navid200 commented on #1527
@cutlerphoto Hi,
There should be no frequent pair request as soon as you update to an xDrip release of November 27, 2020 or later.
If you have updated and are still experiencing the pair request, please confirm.
Otherwise, would you please close this issue?

If there is problem with maintaining connectivity, we can help you, but that is a different issue, not related to what is described in the ti

[2021-02-05 16:39] #1523 closed

[2021-02-05 16:42] Navid200 commented on #1504
I am using an 8Q transmitter now.
I knew that the resistance and temperature were wrong.  But, Voltage A and Voltage B look reasonable to me.  Are they wrong?

[2021-02-05 16:47] Navid200 commented on #1491
@oblanke Hi,
Do you have consistent connection now?
If yes, would you please close this issue?

[2021-02-05 16:48] nickb24 commented on #1504
They should be correct.

[2021-02-05 16:51] Navid200 commented on #1485
@IntoxRRR Hi,
Would you please close this issue unless you believe there is a bug in xDrip that needs to be resolved with respect to this.
In that case, would you please explain what you think should change?

[2021-02-05 16:54] Navid200 commented on #1478
There are some issues with the xDrip logs and messages since the G6 transmitter firmware updates by Dexcom.
I am closing this as it is a known behavior, which hopefully will eventually be resolved.

[2021-02-05 16:54] #1478 closed

[2021-02-05 19:17] Navid200 commented on #1635
Would you please include in the first post what CGM and transmitter this is about so that it becomes a self-contained issue?

[2021-02-05 19:21] Navid200 commented on #1636
There is no similar experience in the community on facebook.  We have transmitters in use from 8G all the way to 8Q.
The only blackout is the 2-hour warm-up once every 10 days.
Do you have a facebook account to ensure your settings are correct?
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365

[2021-02-05 19:39] winni67 commented on #1577
Yes, that should work, but my tests failed. I decided to use the variants versions parallel on one smartphone in the future.

[2021-02-05 19:49] Navid200 commented on #1577
Do you think you can close this issue?  Or, do you think there is still a bug with xDrip not allowing a second phone to pick up a session?

[2021-02-05 22:13] t1dast commented on #1575
You would knowingly have the difference in order to reproduce the issue. I for one only realised the difference in hindsight by investigating the log messages.

But to be more precise: the phone was three minutes ahead of the clock on the hardware receiver but actually it was the hardware receiver that was behind the actual time (since its clock is not permanently synchronising as opposed to my ph

[2021-02-05 22:16] Navid200 commented on #1575
Thank,
So, if I understand correctly, as long as both the phone and the receiver have correct time, this issue never happens.  Is that correct?
If that is correct, do you agree that there is nothing wrong, with respect to this issue, with the xDrip code?

[2021-02-05 22:19] tolot27 commented on #1522
Indeed, you can build from command line using gradle. @afcady provided a makefile with #903.

That would be great. Maybe you can extend https://xdrip.github.io?

[2021-02-05 22:26] t1dast commented on #1575
You're right that this hasn't happened to me while the time difference was small enough.

I wouldn't draw any conclusions myself about the correctness. I don't know the protocol. Why are, say, 90 seconds of difference fine but 3+ minutes is an issue? If the transmitter refuses to send data in that case, I'd say sure, nothing wrong. But there was data coming in according to the log, it just appears

[2021-02-05 22:30] Navid200 commented on #1575
I agree with you that xDrip can improve.
The problem is that we have limited resources (developers).  We have to choose our battles.
If we tell the developers that there are thousands of issues, we may not get as much attention from them as opposed to telling them that there are 5 serious issues.
So, I am looking for serious issues with the code that cause grief for us, the users.

If you believe

[2021-02-05 23:15] t1dast commented on #1575
I'm not sure if I understand where this is coming from. I appreciate prioritisation. And I'm being clear: this is low prio in my opinion. But I will not blur the lines between "low prio" and "no issue". This is not a bidding platform. It's an issue tracker.

[2021-02-05 23:56] #1485 closed

[2021-02-05 23:59] twinko commented on #1394
@GoudekettingRM

Hey this could have a lot of reasons. Following the mainresons, at least in my view:

1. you have an agressive battery savng mode.
2. your bluetooth turns off (abttery saving mode)
3. night mode is not working for you, just turn it off
4. you did something wrong while kalibrating, mainly with notifications, Librelaink and xdrip need to be in notifications all the time
5. Your phon

[2021-02-06 00:13] Navid200 commented on #1459
@serserio Hi,
Do you still have questions?
There are detail instructions for using G6 on facebook.
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365

There are users who have Android 10 as well as 11.

If you are OK and don't have a problem any more, would you please close this issue?

[2021-02-06 00:20] Navid200 commented on #1451
@violapetermd Hi,
Your last message suggests that you are not using G6 any longer and are now using Libre.  Is that correct?
In that case, you don't have the problem you opened this issue for, right?
That doesn't, by itself, mean that there is no issue.  However, there is no way for anyone to work with you to figure out what the problem is.

If you are not experiencing this problem any more, would

[2021-02-06 00:27] IntoxRRR commented on #1537
I notice this behaviour too, once in a while. I get it fixed again by just restarting the phone.

[2021-02-06 00:42] Navid200 commented on #1392
@joshbohmer  I don't always get the same error after a restart.  I prefer to calibrate after a restart.
I have documented the procedure on facebook.
https://www.facebook.com/groups/xDripG5/permalink/4521043737969086

Have you tried calibrating?

[2021-02-06 01:03] Navid200 commented on #1382
Seems to be related to : #1612

[2021-02-06 01:07] Navid200 commented on #1381
@getut Is this still a problem?

[2021-02-06 01:09] Navid200 commented on #1380
@master3395 Do you still have any questions?
This is really a Nightscout question rather than an xDrip one, no?
Unless you disagree, would you please close this issue?

[2021-02-06 01:16] master3395 commented on #1380
I went with the service below, works great.

[2021-02-06 01:16] #1380 closed

[2021-02-06 01:35] Navid200 commented on #130
@Lexsus If you are not having problems with this any more, would you please close the issue?

[2021-02-06 01:38] Navid200 commented on #166
@SandraK82 If you are happy with the outcome, would you please close the issue?
Thanks

[2021-02-06 01:42] Navid200 commented on #221
@osodebailar If you are not experiencing this problem, would you please close the issue?

For anyone with this problem or any other similar connectivity issues, please post on facebook:
https://www.facebook.com/groups/xDripG5

[2021-02-06 01:46] Navid200 commented on #222
@micro17 Unless this still has not been addressed, would you please close the issue?  Thanks

[2021-02-06 02:05] Navid200 commented on #232
@MarkMpn Is this still an issue?
If not, would you please close the issue?

[2021-02-06 02:08] Navid200 commented on #252
@oNSXo If this is not a problem anymore, would you please close the issue?
Thanks

[2021-02-06 02:11] Navid200 commented on #262
@bryanw20 Would you please close this issue unless it has not been addressed?
Thanks

[2021-02-06 02:13] Navid200 commented on #280
@Adirael Would you please close this unless you still have problems?

[2021-02-06 02:15] Navid200 commented on #284
@dianabalashova Would you please close this issue if you don't have the problem any more?

If you have any problems finding the correct settings, please post in the facebook group:
https://www.facebook.com/groups/xDripG5

[2021-02-06 02:26] Navid200 commented on #291
@kimbersdiabetic Would you please close this issue?

[2021-02-06 02:30] Navid200 commented on #335
@JT2005 Would you please close this issue?

[2021-02-06 02:38] Navid200 commented on #371
@zshh Would you please close this issue?

[2021-02-06 02:40] Navid200 commented on #373
@lowskillzgd Would you please close this issue?

For help with settings and how to guides, please post on facebook:
https://www.facebook.com/groups/xDripG5

[2021-02-06 03:34] cutlerphoto commented on #1527
It does actually still happen if I'm away from the phone for 5 minutes when it attempts a read. It then fails to bond again without a restart. Airplane mode can also fix it.

[2021-02-06 03:34] #1527 closed

[2021-02-06 03:37] Navid200 commented on #1527
The recommended settings, which have helped many if not all:
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365

[2021-02-06 05:20] bryanw20 commented on #262
as a t2 this would be cool; but apparently not an option.

[2021-02-06 05:36] Mr-Enigma opened #1637 "Libre 2 uk"
Hiya so I'm one of probably many people getting the libre 2 upgrade soon. I heard it is possible to not have to use miaomiao 2 with the new libre but it seems to be the usa version only? Also I would still need to be able to send the readings for the clinic to review.

Any advice? Thanks

[2021-02-06 07:52] #371 closed

[2021-02-06 07:55] GoudekettingRM commented on #1394
@twinko

Also if the miaomiao with libre one worked perfectly?
I'm confused about two of the points though,

I read that you can turn off the "foreground service notification" for the patched app. You're saying you can't turn that off otherwise it might give you trouble?
And what do you mean with "night mode"?

[2021-02-06 08:47] #232 closed

[2021-02-06 09:33] #166 closed

[2021-02-06 09:51] DavidAG2000 commented on #1394
You can hide the foreground service on the patched app, there's no problem about it.

[2021-02-06 09:59] xannasavin commented on #1636
Hi @Navid200 thank you for your answer and the link.

I checked the settings and they where almost the same. I changed the following ones to meet the screenshots:

### Other Misc:
unchecked the Samsung Workarounds (though I had them active since the very beginning)
Did not check the "battery optimization warning" since I don't see the point why it should not warn?

### G5 Debug
"go on without cali

[2021-02-06 10:21] #280 closed

[2021-02-06 12:41] Navid200 commented on #1636
The battery optimization was an oversight on my part.  Will correct in a few hours.  Thanks so much for the feedback.  Please let me know how it goes.

[2021-02-06 12:46] Navid200 commented on #1484
Looks like I had misunderstood the setting.
If I understand it correctly now, the option should be called "Disable Battery Optimization Prompt".
So, if that is correct, it should be unchecked by default as is.

[2021-02-06 12:47] Navid200 commented on #1484
Will attempt to verify today.  If my assumption is correct, will close this issue.

[2021-02-06 16:33] Alamo04 commented on #1636
If I see that right,  there is no location service running, or xdrip has no permission to use it.
Without location permission Bluetooth and XDrip didn't work.

[2021-02-06 17:56] swissalpine commented on #1635
Dexcom G6, 80....., Firmware 1.6.5.25

[2021-02-06 18:39] #1484 closed

[2021-02-06 18:51] old-square-eyes commented on #1635
These are mine G6, 80, 20210111

I seem to see them more collecting from Wear (patched Huawei 1)

![Screenshot_20210207-074651_xDrip+](https://user-images.githubusercontent.com/25760491/107127100-ba42be80-6918-11eb-9020-43ae872d62ab.jpg)

[2021-02-06 19:55] Navid200 commented on #262
@bryanw20 Sorry, I didn't mean that this cannot be implemented.  I thought with the changes since then it was already possible.
Reading your post again, I see I completely misunderstood.  And, not that your description was at fault.

I know that you can set alarms at different levels.  But, you want the color of the dots to be more than just the existing 3 colors.
I am sorry.  You are more than we

[2021-02-06 20:01] swissalpine commented on #1635
I don't wear a WearOS watch.

[2021-02-06 20:13] Navid200 commented on #425
@KittyKattyKottyKoo Since the problem was resolved, would you please close this issue?
Thanks

[2021-02-06 20:17] Navid200 commented on #438
@ulrik2000 Since your problem was resolved, would you please close this issue?
Thanks

[2021-02-06 20:19] bryanw20 commented on #262
It's fine, obviously it's been years, guess I'm the only one that wanted it that way.

Basically a low, in range, high and very high.

[2021-02-06 20:21] Navid200 commented on #262
I see nothing wrong with that request.   I'm not one of the developers.  But, I see nothing wrong with leaving this request open.  I misunderstood.  And I will happily add a label to it to show that it is an enhancement request.

[2021-02-06 20:26] sumnera commented on #1394
Try switching google play protect off.

On Wed, 9 Dec 2020, 11:17 twinko, <notifications@github.com> wrote:

[2021-02-06 20:54] Navid200 commented on #459
@smashburn Are you still having problems?
If not, would you please close this issue?

The best resource for exchanging experiences and sharing the tested and proven settings is the xDrip facebook group.
https://www.facebook.com/groups/xDripG5

[2021-02-06 21:07] Navid200 commented on #471
@iversenshotrods There is a wealth of knowledge on the xDrip facebook about AAPS.
If you still have questions, you can post there.
https://www.facebook.com/groups/xDripG5

Would you please close this issue?

[2021-02-06 21:10] Navid200 commented on #473
@Son1k02 You can reach people with a lot of experience on how to use xDrip on the xDrip facebook group.
https://www.facebook.com/groups/xDripG5

Would you please close this issue?

[2021-02-06 21:17] Navid200 commented on #496
@Mr-Enigma A good place to ask about and share ideas and knowledge and experience with xDrip and watches is the xDrip facebook group.
https://www.facebook.com/groups/xDripG5

Would you please close this issue?

[2021-02-06 21:18] iversenshotrods commented on #471
This issue was corrected with an app update back in late 2018.

[2021-02-06 21:18] #471 closed

[2021-02-06 21:18] Navid200 commented on #498
@Mr-Enigma Would you please close this issue?
You can ask for help on the xDrip facebook group:
https://www.facebook.com/groups/xDripG5

[2021-02-06 21:20] Navid200 commented on #505
@ArkonPhoenix You can access a lot of knowledge and experience in the xDrip facebook group.
https://www.facebook.com/groups/xDripG5

Would you please close this issue?

[2021-02-06 21:21] Mr-Enigma commented on #498
I like many others don't use Facebook, it seems to me the best place to ask questions would be where the software is not a random social media platform. But yes I will close this since it has been resolved.

[2021-02-06 21:21] #498 closed

[2021-02-06 21:28] Navid200 commented on #506
@jo1st Are you still having this problem?  If yes, you can post in the xDrip facebook group.  You will get responses the same day.

Otherwise, would you please close this issue?

[2021-02-06 21:53] Navid200 commented on #498
There are many xDrip users, and a few developers, who share ideas and knowledge in the xDrip facebook group.
A question posted in that group gets responses in less than 24 hours.  If a discussion there results in a conclusion that there is indeed an xDrip bug, an issue is opened here then.

If you don't like to use that resource, I cannot force you.  It was just a suggestion.

[2021-02-06 21:54] Navid200 commented on #508
@winni67 Is this still a problem?  If not, would you please close this issue?
Thanks

[2021-02-06 23:13] Navid200 commented on #518
@Tesummerill Do you still have this problem?  If not, would you please close this issue?

[2021-02-06 23:17] Navid200 commented on #530
This would be very useful

[2021-02-07 00:31] Navid200 commented on #551
@cwpeterson If you are not having this problem any longer, would you please close this issue?
Thanks

[2021-02-07 00:38] #551 closed

[2021-02-07 00:44] tolot27 commented on #1575
It is likely that we cannot fix this in the near future. Since there exists a workaround which also acts as a suitable fix, it is better to document this. IMHO, having the correct time at the receiver is useful as well.

[2021-02-07 00:59] tolot27 commented on #1392
I think it is dangerous to add a fixed offset, especially if it is +2 mmol/l. Such a case would be if one has a hypo at 3,6 mmol/l and xDrip reports 5,6 mmol/l. Also, I cannot believe that a restarted transmitter would report values shifted by -2 mmol/l exactly after 24 hours. Rather than I believe there is more like a logarithmic decrease.

[2021-02-07 01:11] tolot27 commented on #1382
It is explained in https://github.com/NightscoutFoundation/xDrip/issues/1453#issuecomment-734503679 and a duplicate of this issue. I don't think it is related to #1612.

[2021-02-07 01:15] tolot27 commented on #1382
@sashasochka For the future: Please do not put the description into the title.

[2021-02-07 01:19] tolot27 commented on #1381
@getut You still did not report your [environment}(https://github.com/NightscoutFoundation/xDrip/issues/new?assignees=&labels=&template=bug-report.md).

I'm experienced the same issue with xDrip running on LineageOS 17.1 until reboot.

[2021-02-07 01:37] tolot27 commented on #1637
@Mr-Enigma Did you read https://github.com/NightscoutFoundation/xDrip/issues/new/choose? It is important to ask the community support before opening an ISSUE here.

[2021-02-07 01:37] #1637 closed

[2021-02-07 01:42] tolot27 commented on #496
There is also a [Watch Guide](https://github.com/NightscoutFoundation/xDrip/blob/master/Documentation/WatchGuide.md).

[2021-02-07 01:48] Mr-Enigma commented on #1637
yes i seen that but since i dont use facebook i thought a good place to ask a question would be the place where the software is.....was there a harm asking a question? seems rude to just assume i have facebook and close it like this

[2021-02-07 01:58] tolot27 commented on #1637
I don't want to be rude; but we have to handle this type of issue so often because either the issue guidelines are not read or the issue templates are ignored. And I did not direct you to Facebook. If you read the link carefully, you would read that you have the choice to either ask the Facebook community OR the Gitter community. Currently, there is no other support possible - unfortunately. How d

[2021-02-07 02:06] Mr-Enigma commented on #1637
i have helped out, i created a very detailed watch tutorial on this hub to help you guys out, at no point did i tell people that replied or asked follow up questions no i wont answer a question posted here go to facebook or "gitter". you guys might be too busy to answer a question but us normal people often do reply here. just need to search libre 2 in this hub to see general questions being answe

[2021-02-07 03:10] Navid200 commented on #566
@Webifi
Would you please close this issue?
There are so many similar experiences, where a transmitter battery drains faster than expected.  Dexcom has a warranty that covers early battery failure.

[2021-02-07 03:13] Navid200 commented on #573
@koppelm Would you please close this issue as it is more a question that seems to have been answered than an xDrip bug?

[2021-02-07 03:15] Navid200 commented on #578
@DunePlodder Thanks for the contribution.
Would you please close the issue as it is not an issue.  It can still be accessed after closed.

[2021-02-07 03:17] Navid200 commented on #579
@doc77 Has this or something similar been implemented, or is this still missing?
If not, would you please close this issue?

[2021-02-07 03:18] Navid200 commented on #583
@briandlucas Has this problem been addressed?  if yes, would you please close this issue?
Thanks

[2021-02-07 03:23] Navid200 commented on #590
@doc77 Is this still a requirement?
If not, would you please close the issue?
Thanks

[2021-02-07 03:26] Navid200 commented on #598
@nhowell2010 Would you please close this issue as it seems it you received questions the next day after you posted but you never replied?

[2021-02-07 03:27] Navid200 commented on #599
@Binyamin-R Would you please close this issue as it seems your question was answered?
Thanks

[2021-02-07 03:29] Navid200 commented on #602
@Binyamin-R Would you please close this issue as it seems your problem was resolved?
Thanks

[2021-02-07 03:31] Navid200 commented on #603
@wormstein Would you please close this issue if it has already been addressed?
Thanks

[2021-02-07 03:32] Navid200 commented on #604
@alexmoir1 Would you please close this issue if it has already been addressed?
Thanks

[2021-02-07 03:39] Navid200 commented on #626
@hardaker Would you please close this issue if you are satisfied with the response you got?
Thanks

[2021-02-07 03:45] Navid200 commented on #653
@siblues Would you please close this issue if it has already been resolved?
Thanks

[2021-02-07 03:46] #603 closed

[2021-02-07 11:05] xannasavin commented on #1636
@Alamo04 as written above, xDrip has full location service permissions. Bluetooth is of course turned on.
@Navid200 so far connection seems more stable - will continue observing for another day or so

[2021-02-07 11:46] #578 closed

[2021-02-07 13:23] Navid200 commented on #1636
@xannasavin Would you mind showing your current logs after having updated the settings?

[2021-02-07 13:43] xannasavin commented on #1636
Sure, here you go.

The error from above seems to be gone at the moment. It still displays the "missing location service" error, which is quite strange since - as said - xDrip has full location permission.

In between there was also a security update for the ROM, not sure what else changed there.
I still expirience minor "downtimes" (1 reading gets missed in between here and then) but at least no

[2021-02-07 13:48] Navid200 commented on #1636
Are you sure the phone is on Android 10, and not 11?

[2021-02-07 14:31] Webifi commented on #566
Dexcom warranty will not cover it if you've used the G5 with x-drip -- and this issue is with x-drip.

I'll close the issue when it's been verified that x-drip no longer kills G5s early.

[2021-02-07 14:50] xannasavin commented on #1636
![2021-02-07 15 50 13](https://user-images.githubusercontent.com/48352696/107150056-36aac100-695c-11eb-85d8-ae9450b5a6d6.jpg)

100% :D

[2021-02-07 15:15] #590 closed

[2021-02-07 15:15] Navid200 commented on #566
There are thousands of people using xDrip with G5 with no such issue.  There are many transmitters shipped with batteries that are not healthy.  This happens with many manufacturing production lines.  The warranty concept is the result of that.  The manufacturer can spend a lot of money to improve the yield by 0.1%.  Alternatively, they can offer to replace a malfunctioning product for much less.

[2021-02-07 15:59] nickb24 commented on #1636
The error messages for location services you are seeing are for your smart watch. If you are not using your smart watch as a collector I would disable that setting from the smart watch.

[2021-02-07 16:50] #604 closed

[2021-02-07 18:13] jordipbou commented on #1597
Hello again,

I've asked about syncing with xdrip sync only, but it will be useful to send raw data to Nightscout also. I've been unable to do that also.

Both options, uploading raw data to xdrip-sync and nightscout are very interesting for my own case.

As I understand there's limited time to work on issues and that maybe this is not an important request, I would be glad to help trying to implem

[2021-02-07 18:33] redman8 commented on #1625
Battery usage.
![Screenshot_20210207-132908_Device care](https://user-images.githubusercontent.com/54250212/107155875-f5f57c80-6948-11eb-9ad6-cbe95bb150d1.jpg)

[2021-02-07 20:00] #602 closed

[2021-02-07 20:01] #599 closed

[2021-02-07 20:12] Navid200 commented on #789
@diagnoe4 I'm sorry about the long delay in responding to this.  By now, you may have moved to a Firefly.  Is this still a current question?

[2021-02-07 20:17] nicoleloop commented on #1459
No, I was only confused briefly, I just couldn’t believe it was as easy as it seemed, lol.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Navid200 <notifications@github.com>
Sent: Friday, February 5, 2021 4:13:58 PM
To: NightscoutFoundation/xDrip <xDrip@noreply.github.com>
Cc: nicoleloop <oceanusn@hotmail.com>; Comment <commen

[2021-02-07 20:18] Navid200 commented on #760
@torent5 If the problem is resolved, would you please close the issue?
Thanks

[2021-02-07 20:22] Navid200 commented on #766
Is this still a problem?
If not, would you please close the issue?

[2021-02-07 20:24] Navid200 commented on #776
@meatychunks99 Do you still have issues with xDrip?  If not, would you please close this issue?

[2021-02-07 20:25] Navid200 commented on #778
@ech89 If the problem is resolved, would you please close the issue?
Thanks

[2021-02-07 20:27] Navid200 commented on #785
@Mlinva If this problem was resolved, would you please close the issue?
Thanks

[2021-02-07 20:31] Navid200 commented on #786
@okrad If your question was answered, would you please close the issue?
Thanks

[2021-02-07 20:33] Navid200 commented on #787
@dave1812 If the problem is resolved, would you please close the issue?
Thanks

[2021-02-07 20:35] Navid200 commented on #792
@rudgeman Since it seems your problem was resolved, would you please close the issue?
Thanks

[2021-02-07 20:38] Navid200 commented on #793
@becheran I think this will be very useful.  Did you ever implement this?

[2021-02-07 20:39] Navid200 commented on #795
@doc77 I am sorry to bother you again.  I am going through the old issues.  Was this ever resolved?

[2021-02-07 20:42] Navid200 commented on #797
@bpollina If you are happy with the response you have got, would you please close the issue?
If not, you would get a lot more replies if you ask similar questions in the xDrip facebook group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-07 20:43] Navid200 commented on #807
@Tesummerill Would you please close the issue if your question was answered?
Thanks

[2021-02-07 20:48] Navid200 commented on #816
@mcurly Would you please close the issue if your question was answered?
Thanks

[2021-02-07 20:50] Navid200 commented on #817
@liddijx Is the problem still present?
If not, would you please close the issue?
Thanks

[2021-02-07 20:54] Navid200 commented on #821
@JayBouch1977 Would you please close this issue if the problem has been resolved?
Thanks

[2021-02-07 20:58] Navid200 commented on #827
@schwartz914 Is this still a present question?
If not, would you please close the issue?
Thanks

[2021-02-07 20:59] Navid200 commented on #832
@paaascal Would you please close this issue if your question was answered?
Thanks

[2021-02-07 21:03] Navid200 commented on #839
@timmy354321 If you are not experiencing this any longer, would you please close the issue?
Thanks

[2021-02-07 21:08] Webifi commented on #566
In this case, x-drip seems to be able to put the G5 (and G6 for that matter) in to a mode that consumes more power.

If someone has a rechargeable G5, it would be nice for them to try to reproduce the results, though I'm not sure they'll be able to.   It basically boils down to not using "native" mode on the G5 immediately after first use, right out of the box.  The G5 seems to need to have native

[2021-02-07 21:17] Navid200 commented on #566
The recommended settings I provide in the xDrip facebook group asks people to use G5 in non-native mode.  This has never caused the battery to drain as you suggest.
I personally used one of my G5 transmitter only in non-native mode right out of the box.  It lasted more than 5 months.

You are welcome to share your experience with us in the facebook group:
https://www.facebook.com/groups/xDripG5

A

[2021-02-07 21:20] Navid200 commented on #841
@handforde Sorry about the delay in a response.
Unless you are still having issues, would you please close the issue?

[2021-02-07 21:24] Webifi commented on #566
I don't/won't  do Facebook.

I was able to reproduce the issue reliably multiple times with different transmitters.  I'd recommend you re-test again -- and adjust your recommendations for non-native mode use.

[2021-02-07 21:25] Navid200 commented on #851
@bobhavlin Would you please close this issue if it has been resolved?
Thanks

[2021-02-07 21:29] Navid200 commented on #853
@nneuhardt The recommended G6 settings can be found in the facebook group:
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365

Would you please close the issue if the issue has been resolved?
Thanks

[2021-02-07 21:37] #839 closed

[2021-02-07 21:38] Navid200 commented on #858
@notlistening This should not be the case any longer.
Would you please close the issue if you are not experiencing it now?
Thanks

[2021-02-07 21:51] #827 closed

[2021-02-07 21:51] Navid200 commented on #859
@notlistening You should clarify if you are talking about G5 or G6.  You should also clarify if you are in Native mode or not.
If this is not a concern any longer, would you please close the issue?
Thanks

[2021-02-07 21:53] old-square-eyes commented on #1635
Sorry for the red herring, I turned off Wear collection and still see the deadlocks. Some periods seem worse than others. Maybe walking in and out of range. Will have to test that theory though.

[2021-02-07 21:57] xannasavin commented on #1636
Hey @nickb24 thanks a lot for that hint!
Indeed I am not using the watch as collector, those settings are unticked on the watch and also in xDrip). however I granted xDrip on the watch now the location permissions - just in case... The watch is soleley to display the measurements.
will come back soon if everything seems solved now. (just right now I am missing another reading >< )

[2021-02-07 22:56] Navid200 commented on #861
@npedrogao Would you please close the issue if the problem has been addressed?
Thanks

[2021-02-07 22:57] Navid200 commented on #866
@ikniwn Would you please close the issue if it has been resolved?
Thanks

[2021-02-07 23:05] Navid200 commented on #886
@dominik29 Would you please close the issue as your question seems to have been answered?
Thanks

[2021-02-07 23:45] #861 closed

[2021-02-08 04:23] Navid200 opened #1638 "Maximum Sync Queue size Exceeded! pop-up comes up frequently on the master"
There is one master and two followers.
The followers are xDrip Sync  followers.
The followers receive readings, no problem.

The master gets the pop-up "Maximum Sync Queue size Exceeded!" frequently.
It pops up any time an entry is made on the master.

I see this pop-up on line 755 of GcmActivity.java

@tzachi-dar I am sorry for tagging you.  I wonder if you can give me any hints as to what could

[2021-02-08 08:41] okrad commented on #786
Sure, thanks to all for reporting back their experience!
We too gave up with the idea of using the watch as a collector. Since then we used for a period an old HTC (one m8s) phone. Although it worked, it was really slow and the battery life was barely enough to cover the day.
We are currently using a Samsung A20e and it works great. The battery lasts for 3/4 days and the bluethooth is quite stable

[2021-02-08 08:41] #786 closed

[2021-02-08 10:29] #866 closed

[2021-02-08 10:30] ikniwn commented on #866
Fixed - i think data slow to download as started to work after leaving it alone in frustration!

[2021-02-08 18:41] serserio commented on #1459
@Navid200 Hi. The problem with the "invalid timestamp transmitter" never got resolved nor did I understand what it actually means. Also I wasn't able to restart a sensor with a fresh transmitter (8K...., Firmware 2.18.2.98.). If that is actually possible, I would appreciate a tutorial on it. I am not on Facebook and can't display the group since it's private, unfortunately.

[2021-02-08 19:05] Navid200 commented on #1459
The invalid timestap log is a symptom of not having proper connectivity established between the device and the transmitter.  It requires correcting the xDrip settings.

To restart a G6, you will need to temporarily remove the transmitter from the sensor without causing damage.
Detail instructions are available in the facebook group.

I understand that not everyone likes to create a facebook accoun

[2021-02-08 20:43] bobhavlin commented on #851
Yes!  I now understand the 5 min broadcast interval is due to the BLE programming on the Dexcom transmitter and cannot be changed.  Thanks!

[2021-02-08 20:43] #851 closed

[2021-02-09 04:16] hardaker commented on #626
Thanks for the help.  I've switched to using that and it works well.

[2021-02-09 04:16] #626 closed

[2021-02-09 05:13] tolot27 commented on #795
@Navid200 The PR is still not merged. Will have a look soon.

[2021-02-09 05:18] tolot27 commented on #793
This issue is duplicated by #1467.

[2021-02-09 06:17] tolot27 commented on #262
@bryanw20 You can have as many alarms as you like - each with a different BG threshold. What's is the added value having a finer-grained graph segmentation except visual coloring? From the medical point of view there is no advantage. The Time In Range (TIR) is solely calculated based on the hypo/hyper thresholds.

[2021-02-09 06:22] tolot27 commented on #1635
Please try [Nightly build 8th Feb 2021](https://github.com/NightscoutFoundation/xDrip/releases/tag/2021.02.08) which should have addressed this problem.

[2021-02-09 06:53] becheran commented on #793
@Navid200 No I didn't :(
@tolot27 True. Since I don't have the hardware to even test this anymore and won't find the time anyway, I will close this issue.

[2021-02-09 06:53] #793 closed

[2021-02-09 08:04] lwychan commented on #1048
I'm using Miaomiao 2, tried the latest nightly build and the problem still exists.

[2021-02-09 08:27] old-square-eyes commented on #1635
Haven't seen anymore errors since upgrading several hours ago.

[2021-02-09 09:27] ARkaine2 opened #1639 "FR: ISF (Insulin Sensitivity Factor) intermediate/low values"
For example (in prediction simulator settings):
ISF 1 and 0.9 difference is 10%.
But ISF 0.1 and 0.2 difference is 50%.
So, at lower values difference is​​ getting bigger.

I need "intermediate" value(s) for ISF (I'm interested in 0.35).

Thanks.

[2021-02-09 10:14] tolot27 commented on #1638
Important environment information like xDrip version is missing. Commit f4a1b6a fixed something with the queue. Maybe, a recent version does not have this issue.

[2021-02-09 10:15] tolot27 commented on #1638
Isn't it a duplicate of #1626?

[2021-02-09 12:24] Navid200 commented on #262
@tolot27 That's not the request.
The request is to represent the blood glucose graphically with more than the current 3 colors.  Right now, we see all the in range measurements in blue, all the lows in red, and all the highs in orange.

This is a request.  We may disagree with the priority for implementing it.  But, it is a valid request.  There are so many request that re open.  Why shouldn't thi

[2021-02-09 12:30] Navid200 commented on #1638
I am waiting to get a response to my request for the revisions.
It is related that both seem to be caused by Google services.
However, this one is triggered somewhere else in the code, where enabling Desert Sync makes no difference.

This one is more annoying because there doesn't seem to be a way to stop the pop-ups on the screen.

[2021-02-09 12:52] Amunhateb commented on #1603
@tolot27 mb you could at least point to Facebook Gitter groups where to ask?
https://jamorham.github.io/#xdrip-plus doesn't have any info on these
github says only about gmail jamorham directly

I have same issue with Bubble + libre 1. After resetting all calibrations

[2021-02-09 13:12] tolot27 commented on #1603
Most likely you have overseen it as you have created this issue after you have clicked on "New": https://github.com/NightscoutFoundation/xDrip/issues/new/choose

[2021-02-09 13:21] tolot27 commented on #262
@Navid200 I think I understand the request, even if it is not precise enough:

@bryanw20 requested:

He did not mention whether he just want additional threshold lines and/or coloring the BG values according to a certain threshold. In any way, he wants to have additional bins of the BG value range (mathematically speaking) visually separated. That's what I read from his request.

I'm not against r

[2021-02-09 14:23] Amunhateb commented on #1603
@tolot27 sry, it wasn't me who created this issue. Thx for pointing to community.

[2021-02-09 15:21] xannasavin commented on #1636
Thanks again @nickb24 and @Navid200 looks like this is solved for me.

[2021-02-09 15:21] #1636 closed

[2021-02-09 15:56] bewest commented on #904
How is this going? I've been auditing similar cloud-native Nightscout plugins (Dexcom Shae, Minimed Connect) and would like to add this to the suite.

[2021-02-09 20:54] swissalpine commented on #1635
Thanks a lot for the fix: The deadlock errors are gone!

[2021-02-09 20:55] swissalpine commented on #1635
I close this issue.

[2021-02-09 20:55] #1635 closed

[2021-02-10 02:40] Navid200 commented on #1631
Why do you think it doesn't work?

I just tested this on Jan.29, 2021.  But, I don't think there is anything new about it.  It worked with much older versions as well.

I emptied the Downloads folder.
Under Import/Export features, tapped on Load/Save Settings on SD card.

Tapped on LOAD all settings from SDCARD.  Got the message could not load preferences.

Then, tapped on Save all settings to SD

[2021-02-10 03:03] Navid200 commented on #1531
@Andifferous Are you still having this problem?
If yes, can you list all your settings on the following three pages?

Settings -> G5/G6 Debug Settings
Settings -> Less common settings -> Bluetooth Settings
Settings -> Less common settings -> Other misc options

Alternatively, you can see the recommended settings on facebook:
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365

[2021-02-10 03:11] Navid200 commented on #1475
Is the version of xDrip, importing, the same as the version of xDrip that exported the settings?

[2021-02-10 03:27] Navid200 commented on #1420
@savek-cc  This is already implemented.
If you need to clear the transmitter queue, tap on the treatment menu (syringe symbol).  Long press on the microphone symbol at the bottom right corner of the keypad.  Enter "clear transmitter queue" without the quotes.

Please try it.  Unless there is a problem with it, would you please close this issue?

[2021-02-10 03:41] Navid200 commented on #1377
@adanvdo Is this problem ongoing?

If yes, can you show all your xDrip settings?

Settings -> G5/G6 Debug Settings
Settings -> Less common settings -> Bluetooth Settings
Settings -> Less common settings -> Other misc options

If not, would you please close this issue?

[2021-02-10 03:55] adanvdo commented on #1377
This has not happened again since September. I am still using the same device and settings I was. No idea what caused this or other issues I used to get.

Closing

[2021-02-10 03:55] #1377 closed

[2021-02-10 04:02] Navid200 commented on #1362
@mick711 Sounds like your problem is resolved.  Would you please close the issue?
Thanks

[2021-02-10 04:03] Navid200 commented on #1358
Depends on what transmitter you are talking about.  G5 or G6.
If G6, depends on the serial number.

[2021-02-10 04:05] Navid200 commented on #1354
@Schizm1 Would you please close this issue unless you still have this problem?
Thanks

[2021-02-10 09:32] JustasBan commented on #1603
hey, sorry to respond that late. Now the app works just had to calibrate with two results. Oddly, it usually worked with one. For support channels - duly noted!

[2021-02-10 12:05] savek-cc commented on #1420
Problem ist the pronunciation of "queue" (google takes "cue"s) - but it can also be typed.

[2021-02-10 12:05] #1420 closed

[2021-02-10 12:06] savek-cc commented on #1420
See above

[2021-02-10 13:14] Navid200 commented on #1420
Thanks for clarifying that.
I understand that Google may misunderstand the verbal command, and when typed, the command works for sure.
Thanks a lot

[2021-02-10 13:43] Navid200 commented on #674
@QuadAlpha If the problem has been resolved, would you please close the issue?
Thanks

[2021-02-10 13:50] Navid200 commented on #681
@quizzmaster If you look at your post of April 24 with the 3 images, you can see that all three are showing the same -7mg/dL.  So, the slope is valid regardless of the app.
The arrow is a graphical representation of the slope.
This can be considered a bug for the other 2 apps, no?

If you disagree, would you please respond?
If you agree, would you please close the issue?

[2021-02-10 13:54] master3395 commented on #1631
I re-installed the app, I hit export on the default settings.
Yes, it does save to the download folder, if you don't have an SD card.
But then I changed several settings to see if it changed back to default when importing.

And the error message came, and the settings were not changed.

[2021-02-10 13:54] Navid200 commented on #681
OK, as soon as I typed that, I saw that it may be taken the wrong way.

If you want to represent a slop graphically, you will have to come up with a resolution because you cannot have an infinite number of different arrows.  So, you will have to associate a range of slopes to each one of your arrows.
There seems to be a difference between how each app has grouped the different ranges of slopes.  T

[2021-02-10 15:23] Navid200 commented on #1631
@master3395 On the phone that is experiencing this, would you please go to Android Settings -> Apps -> xDrip+
and post a screenshot?

[2021-02-10 15:26] Navid200 commented on #650
I have been there.  Interesting idea.

[2021-02-10 15:45] Navid200 commented on #702
@th122 Hi,
I don't have a solution.  But, I would like to understand the problem.
I have been using xDrip for more than 3 years.   I can access any of my readings for the past 2 years and a few weeks (the period I have been using my current phone) on xDrip under history.

When I check Apps storage, I see only 157MB occupied by xDrip.

Would you please help me understand what the problem is?
Thanks

[2021-02-10 15:47] Navid200 commented on #704
@ulurujamman Unless you believe there is a bug in xDrip, associated with the experience you have described here, would you please close this issue?

[2021-02-10 15:51] Navid200 commented on #709
If the calibration is done by the transmitter (Firefly G6 for example), I don't see how that would be possible.
You haven't mentioned what CGM you use.
I can see the possibility if it is xDrip that is doing the calibration (associating raw values with blood glucose values).
Seems like a lot of work to address only a portion of the user community.

[2021-02-10 15:53] Navid200 commented on #713
@siblues There are recommended settings that have been tested on many different devices.  Have you tried those?
If you are not experiencing this issue any longer, would you please close the issue?
Thanks

[2021-02-10 15:55] Navid200 commented on #715
@stefanchavdarov If you are happy with the explanation provided by jamorham, would you please close this issue?
If not, would you please replay?
Thanks

[2021-02-10 16:09] Navid200 commented on #729
@haspden A lot has changed, with xDrip and with Android, since you opened this issue.  Is this still something you cannot accomplish with the latest xDrip release?
If not, would you please close the issue?
Thanks

[2021-02-10 16:15] tolot27 commented on #702
@th122 Did you enable extra logging for some classes? That could cause excessive storage consumption.

[2021-02-10 16:17] Navid200 commented on #741
@holtonhj
Are you still experiencing this problem?
If not, would you please close this issue?
If yes, do you have a facebook account?   If yes, would you please post there for support?
https://www.facebook.com/groups/xDripG5

[2021-02-10 16:17] haspden commented on #729
Not practicable thus closing

[2021-02-10 16:17] #729 closed

[2021-02-10 16:19] tolot27 commented on #715
The commit log is not really helpful and requires understanding of the code. A "real" changelog would be very useful. Sometimes, code changes fix issues but the commit log does not contain an issue number, i. e. #1635.

[2021-02-10 16:22] tolot27 commented on #729
@haspden Did you see #1625? That's likely want you want(ed).

[2021-02-10 16:29] Navid200 commented on #767
@Mikeyatrum Why would you expect an auto-restart on day 9?  Auto-restart kicks in after the sensor stops.  The sensor stops on day 10, not on day 9.
If you are not experiencing this problem any longer, would you please close the issue?
Thanks

[2021-02-10 16:30] Navid200 commented on #768
@afcady Sounds like your problem has been resolved.
Would you please close the issue then?
Thanks

[2021-02-10 16:31] Navid200 commented on #773
@haspden Would you please close the issue if it has been resolved?
If not, would you please respond to the suggestion?
Thanks

[2021-02-10 16:35] Navid200 commented on #774
@PedanticAvenger This should not be happening any more if you update xDrip, for example to July 13, 2020.
Would you please close this issue?
Thanks

[2021-02-10 16:38] Navid200 commented on #782
@Colingroovey Would you please close this issue?
If the suggested solution doesn't work for you, would you please respond to the suggestion?
Thanks

[2021-02-10 16:47] PedanticAvenger commented on #774
Certainly.
Just expected it to be closed if attached to a bug by someone else I guess.
I had not seen the issue a few builds later.

[2021-02-10 16:47] #774 closed

[2021-02-10 16:53] Navid200 commented on #824
@petermeggyesy Would you please close the issue if the problem has been resolved?
If not and you are still having connectivity issues, would you mind posting in the facebook group?
https://www.facebook.com/groups/xDripG5

[2021-02-10 17:21] Navid200 commented on #870
@Ourfuturegithub A lot has changed with xDrip and Android since you opened this issue.  Has the problem been resolved?  If yes, would you please close the issue?  If you are still having problems, would you be able to open a thread in the facebook group?
https://www.facebook.com/groups/xDripG5

[2021-02-10 17:46] Navid200 commented on #899
@Runner25 xDrip has changed a lot since the time you opened this issue.  Are you still experiencing this problem today?
If not, would you please close the issue?
Thanks

[2021-02-10 17:56] Navid200 commented on #906
@babaroga260 If this problem has been resolved, would you please close the issue?
If not, can you please post in the facebook group?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-10 18:08] Navid200 commented on #908
@Richard42GH If this has been addressed, would you please close the issue?
There is also the facebook group where you can share experience and ask for guidance.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-10 18:12] Navid200 commented on #909
@Gosee1960 You should have both the phone and the pump to automatically update their time bases.
If the problem has been resolved, would you please close the issue?
Otherwise, you can post in the xDrip facebook group to ask for advice.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-10 18:13] Navid200 commented on #910
@Thomzgi If you are not experiencing this problem any longer, please close the issue.
Otherwise, can you please post in the xDrip facebook group to ask for advice?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-10 18:16] Navid200 commented on #916
@joelerch Would you please close this issue if the problem has been resolved?
Otherwise, could you please post in the xDrip facebook group for advice?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-10 18:18] Navid200 commented on #918
@filipedanunes Is this still the case?
Thanks

[2021-02-10 19:05] Navid200 commented on #919
@TimothyGold Are you still experiencing unexpected sensor stops?
If not, would you please close the issue?
If yes, could you please post in the xDrip facebook group?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-10 19:06] stefanchavdarov commented on #715
Changelog can be as simple as .txt and may be short bw each version with each nightly listed trailing in same txt.
'new features' deserve a line of their own; Bug fixes ot minor changes just write as 'misc bug fixes'
End user doesnt read code well.

[2021-02-10 19:08] #919 closed

[2021-02-10 19:19] afcady commented on #768
Not exactly resolved, as #903 is not merged.

[2021-02-10 19:22] Navid200 commented on #768
But, isn't 903 self-contained?  Or, are you saying 903 and 768 are duplicates?

[2021-02-10 19:40] Navid200 commented on #922
@JimZam Would you please close the issue as it seems the problem has been resolved?
Thanks

[2021-02-10 19:43] Navid200 commented on #930
@Tank-Missile Is this still a problem?
If yes, could you please post in the xDrip facebook group?
https://www.facebook.com/groups/xDripG5
If not, would you please close the issue?
Thanks

[2021-02-10 19:45] Navid200 commented on #939
@njrfoto Would you please close this issue if the problem has been resolved?
If not, could you please post in the xDrip facebook group?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-10 19:47] Navid200 commented on #940
@yoxud Would you please close this issue if you are happy with the advice you have been given?
If not, would you please respond to it?
Thanks

[2021-02-10 19:54] Navid200 commented on #951
@revverbau Would you please close this issue if the problem has been resolved?
Otherwise, could you please post in the xDrip facebook support group?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-10 20:00] #922 closed

[2021-02-10 20:04] afcady commented on #768
903 is a pull request, not an issue.

[2021-02-10 20:11] Navid200 commented on #969
@nicolewerer I have brought this up in the Nightscout group on facebook.
https://www.facebook.com/groups/cgminthecloud/permalink/3433664250088140
It may help if you add your views to it.
The challenge is to bring it up enough to help the gentlemen developers understand the need, or to encourage ladies to become developers.  This may be a long-term solution.  But, that may be better than no solutio

[2021-02-10 20:54] master3395 commented on #1631
Was this what you wanted?
![image](https://user-images.githubusercontent.com/4199669/107570934-7686d800-6bea-11eb-98ff-666884df5bbd.png)

[2021-02-10 20:54] master3395 commented on #1631
Was this what you wanted?
![image](https://user-images.githubusercontent.com/4199669/107570978-843c5d80-6bea-11eb-9ecd-5f53903be0d4.png)

[2021-02-10 21:04] Navid200 commented on #1631
No,

The capability to import settings is not a new capability.  And it has been tested and used by many on different devices.

You obviously have problems with it.  The first ting to verify is to give permission to xDrip to access storage.

Go to Android Settings -> Apps -> xDrip+

[2021-02-10 21:08] Navid200 commented on #768
I see thanks.

[2021-02-10 21:10] #940 closed

[2021-02-10 21:27] #930 closed

[2021-02-11 01:27] #951 closed

[2021-02-11 06:23] tolot27 commented on #768
@afcady As commented at #903, the PR can be merged only after removing the hardcoded version numbers. When do you have time to implement this?

[2021-02-11 06:31] tolot27 commented on #918
I could not reproduce this behavior with insulin units but with carbs.

[2021-02-11 08:23] aendes opened #1641 "Linebreak Broken for TIR values on Statistics Page"
Hello,

maybe this is only in the german translation, but there is a line-break issue with the statistics page:
<img src="https://user-images.githubusercontent.com/35429041/107614497-b67da780-6c4a-11eb-9478-9cfa16795fac.png" width="300"/>

[2021-02-11 10:11] MachFour commented on #904
@bewest see comments above, there is nothing ready to even test out yet

[2021-02-11 13:05] master3395 commented on #1631
I have given the app all permissions there is to give.

![image](https://user-images.githubusercontent.com/4199669/107640149-23586800-6c72-11eb-8f7d-59aeb1920e7b.png)

[2021-02-11 13:10] Navid200 commented on #1631
@master3395 If you have a fecbook account and post in the xDrip facebook support group, this will be sorted out.  You will get 10 times the number of responses there letting you access the experience of many more people.
https://www.facebook.com/groups/xDripG5

[2021-02-11 16:04] filipedanunes commented on #918
hello, just tested on versionb978bec-2020.11.27 and it seems solved for units. Could also reproduce this behavior for carbs

[2021-02-11 17:44] vnniyB commented on #1277
+1 I inject Lantus twice daily and checking the app helps if your not sure if you missed your alarm or not  ;)
I was hoping to work on separating the IOB graph lines into separate lines based on insulin brand, however I think separating basal and bolus would be better.
Not sure how that would look on the UI

[2021-02-11 17:49] Navid200 commented on #1631
What version of xDrip have you experienced this on?

[2021-02-11 17:54] master3395 commented on #1631
It's related to the other suggestion also in a way.
Mentioned [Here](https://github.com/NightscoutFoundation/xDrip/issues/1622)

![image](https://user-images.githubusercontent.com/4199669/107677337-6fb79e00-6c9a-11eb-9e5b-62ac8e151730.png)

[2021-02-11 18:07] Navid200 commented on #1631
There is always room for improvement.
If you look at the pull requests, you will see that it takes a very long time for a change to be approved.  One of the reasons is that a fix should not cause any new malfunctions even for older devices.  And it takes time and effort to verify that.

I don't think anyone disagrees that what you are suggesting for is an improvement.

My only point is that you sh

[2021-02-11 20:46] winni67 commented on #1577
I have no second transmitter (battery replacement is necessary) to test this now. But in the future, I try to work with the variant versions of xDrip. So I can start two xDrip Versions on one smartphone and only switch on/off the broadcast from the two xDrip versions to AndroidAPS. Perhaps this could be integrated in one xDrip version to move from an old to a new sensor. With the G7 or Libre, that

[2021-02-11 21:15] Navid200 commented on #1577
We have more than 800 open issues.  Not all of these open issues will be acted upon because that would be unreasonable.  xDrip is already a complicated code and there is no reason to make it more complicated to address every single request.

A reasonable course of action is to prioritize the issues and close the ones that are support requests.
The title of this issue suggests that one cannot pick

[2021-02-11 21:36] Navid200 commented on #1622
I agree what you have to do is not very elegant.  But, it works.

There is a request to add more options for the falling threshold of the "BG falling fast" alert.  There are currently only 2 options for the user to choose from.  The suggestion is to add 2 or 3 more options.  Believe it or not, that request has not been implemented yet.  There is not even a non-elegant way to accomplish that object

[2021-02-11 21:58] Navid200 commented on #532
Duplicate:
https://github.com/NightscoutFoundation/xDrip/issues/311

[2021-02-11 21:59] #532 closed

[2021-02-12 00:17] Navid200 commented on #301
@KagnuS Please close the issue if the problem has been resolved.
If not, please respond to the advice provided to you.
Thanks

[2021-02-12 00:28] Navid200 commented on #320
@cranetim You can consult with the user community and share experiences with them in the xDrip facebook group.
https://www.facebook.com/groups/xDripG5
Would you please close this issue?
Thanks

[2021-02-12 00:30] Navid200 commented on #322
@gitanO0
If this has been addressed already, would you please close this issue?
Thanks

[2021-02-12 00:31] Navid200 commented on #323
@tzachi-dar
Hi,
I'm just wondering if we can close this issue.
Thanks

[2021-02-12 00:34] Navid200 commented on #324
@jo1st Would you please close this issue if it has been resolved?
Otherwise, would you please update?
Thanks

[2021-02-12 00:36] Navid200 commented on #327
@scottleibrand Would you please close this issue if it has been addressed?
If not, would you please update?
Thanks

[2021-02-12 00:47] Navid200 commented on #385
@jo1st Would you please close this issue considering it has not received any new posts for more than 2 years?
Even when closed, it can still be accessed.
Thanks

[2021-02-12 00:51] Navid200 commented on #389
@KWE-Koeln Would you please close this issue if you don't think it is needed any longer?
If you still believe this is a good idea, would you please update to reflect the new headings?
Thanks

[2021-02-12 00:55] Navid200 commented on #404
@avr248 Would you please close this issue if the problem has been resolved?
If not, please update.
Thanks

[2021-02-12 00:56] Navid200 commented on #405
@jwoglom Would you please close this issue if it has been resolved?
Thanks

[2021-02-12 00:58] Navid200 commented on #406
@DexterShrubb Would you please close this issue if the problem has been resolved?
Otherwise, please update.
Thanks

[2021-02-12 01:14] Navid200 commented on #410
@PedanticAvenger Would you please close this issue?
You can place a note on the main screen showing when the sensor will expire.
If you need to know how, please respond.
If that is not sufficient, please explain.
Thanks

[2021-02-12 01:15] Navid200 commented on #413
@zuckerschneckchen Would you please close this issue if it is not valid any longer?
Otherwise, please update.
Thanks

[2021-02-12 01:16] Navid200 commented on #415
@triplem Would you please close this issue if it has been addressed?
Otherwise, would you please update?
Thanks

[2021-02-12 01:20] #327 closed

[2021-02-12 01:21] #385 closed

[2021-02-12 01:28] Navid200 commented on #85
@TecMunky Would you please close this issue if it has already been implemented?
Thanks

[2021-02-12 01:30] Navid200 commented on #133
@danpowell88 Would you please close this issue if you have got an answer already?
If not, you can post in the xDrip facebook group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 01:31] Navid200 commented on #155
@SJoWie80 Would you please close this issue if it has already been addressed?
If not, would you please update with respect to what we have now (2021)?
Thanks

[2021-02-12 01:45] Navid200 commented on #287
@jofrep This does not interfere with proper operation of xDrip as a CGM, does it?
I also get the error when I don't have WiFi coverage because I have not given data access to xDrip.
I think this is the expected behavior.
Would you pleaser close this issue, or explain why this is necessary?
Thanks

[2021-02-12 01:46] Navid200 commented on #294
@gszakacs Would you please close this issue if it has been resolved?
You can also ask for support in the xDrip facebook group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 01:48] Navid200 commented on #296
@WanaGo Would you please close this issue if it has already been resolved?
Otherwise, would you please update?
Thanks

[2021-02-12 01:48] #133 closed

[2021-02-12 01:49] Navid200 commented on #297
@PieterGit Would you please close this issue if it has already been addressed?
Otherwise, would you please update?
Thanks

[2021-02-12 01:53] Navid200 commented on #329
@lee-b Would you please close this issue if it has been resolved?
Otherwise, would you please respond to the message to your post?
Thanks

[2021-02-12 01:56] Navid200 commented on #341
@Elvin6669 Would you please close this issue if you have got an answer to your question?
Otherwise, you can post in the xDrip facebook support group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 01:57] Navid200 commented on #359
@ralf-ms Would you please close this issue if it has already been addressed?
Otherwise, would you please update?
Thanks

[2021-02-12 01:59] Navid200 commented on #377
@RaabenF Thanks for sharing.
Would you please close this issue?
You can also share experience on the xDrip facebook group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 02:08] WanaGo commented on #296
Hi.
Its exactly the same as per the initial message.

[2021-02-12 02:15] Navid200 commented on #407
@Jieseldeep Would you please close this issue unless you believe there is a bug with xDrip in tis respect.
Otherwise, if you still have questions, you can also use the xDrip facebook support group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 02:32] Navid200 commented on #453
@jnharmon Would you please close this issue if your question has been answered?
You can also use the xDrip facebook support group for support.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 02:35] #405 closed

[2021-02-12 02:35] Navid200 commented on #455
@EleftheriaMits Would you please close this issue if it has already been addressed?
If not, you can use the xDrip facebook support group as well.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 02:38] Navid200 commented on #468
@nsghub Would you please close this issue if it has been addressed?
Thanks

[2021-02-12 02:44] PedanticAvenger commented on #410
Issue was addressed, forgot i had this issue opened.
Closure fine.

[2021-02-12 02:44] #410 closed

[2021-02-12 02:49] Navid200 commented on #515
@BigWebstas Would you please close this issue if your answers have already been answered?
You can also post in the xDrip facebook support group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 02:51] Navid200 commented on #535
@roco5 Would you please close the issue as it seems you were satisfied with the response?
Otherwise, please update.
Thanks

[2021-02-12 02:58] Navid200 commented on #554
@IgnisAsphodel Would you please close this issue?
Or, please respond.
Thanks

[2021-02-12 03:04] Navid200 commented on #582
@nsghub Would you please close this issue if you have got answers already?
You can also use the xDrip facebook support group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 03:11] Navid200 commented on #614
@tim2000s There is no need to enable engineering mode to hard reset a transmitter.
Do you still believe a hard reset button should be placed on the G5/G6 Debug Settings page?
Why?
What if someone likes to have a "Clear TX Queue" on that page?
Where do we draw the line?

[2021-02-12 03:16] Navid200 commented on #669
@dg1132 Would you please close this issue if you don't have this question any longer?
You can also use the xDrip facebook support group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 03:42] Navid200 commented on #738
@gitanO0 Hi,
Is this still a problem?

What happens if you set the value of your Low alarm to what you consider to be your hypo level?  Then, call your low level something else, like LessLow.
Would it not then send the message only when you get the Low alarm, which is your hypo now?
But, when you are at your low level, which is now called LessLow, it should not send the message.

[2021-02-12 03:44] Navid200 commented on #757
@tremor Would you please close this issue if your question has been answered?
You can also use the xDrip facebook support group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 03:46] Navid200 commented on #777
@NightscoutCloud Would you please close this issue if your question has been answered?
You can also use the xDrip facebook support group for asking questions.
Thanks

[2021-02-12 03:53] Navid200 commented on #791
@diagnoe4 Is this still the case?
It's been two years.  Is there a need for an update to the description?
Thanks

[2021-02-12 03:55] Navid200 commented on #826
@mauriziocasini Sorry about the delay.
Are you still interested too contribute?

[2021-02-12 05:10] #359 closed

[2021-02-12 05:20] tolot27 commented on #359
Where can it be enabled?

[2021-02-12 07:46] #1577 closed

[2021-02-12 07:47] #345 closed

[2021-02-12 07:50] winni67 commented on #508
I switched from G5 to G6, so I can‘t test this problem.

[2021-02-12 07:50] #508 closed

[2021-02-12 07:51] #1613 closed

[2021-02-12 11:59] #777 closed

[2021-02-12 13:18] #554 closed

[2021-02-12 15:15] jamorham commented on #1632
@Navid200 When native mode was first introduced it was possible to toggle in and out of it mid session for testing. I don't think that method is reliable and I believe it is no longer available. People should these days either be using native mode or raw but not both.

The latest nightly includes some transitional states which I think should resolve most of the problems described in this issue. Fo

[2021-02-12 15:54] Navid200 commented on #779
@mfank Would you please close this issue if you don't need an answer any longer?
If you do, I suggest you post in the xDrip facebook support group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 15:56] Navid200 commented on #850
@chookchook1 Would you please close this issue if you don't have this question any longer?
Otherwise, I suggest you post in the xDrip facebook support group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 15:58] Navid200 commented on #855
@shajek Would you please close this issue if you have found a solution?
If not, could you please post in the xDrip facebook support group?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 16:03] Navid200 commented on #872
@DiamondAir Would you please close this issue if you have found a solution?
Otherwise, could you please post in the xDrip facebook support group?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 16:12] Navid200 commented on #888
@Hexonium Is this problem still present, or has it been resolved with more recent releases?
Thanks

[2021-02-12 16:17] Navid200 commented on #890
@ArkonPhoenix The Dexcom app and xDrip both use the same slot.  That's why you cannot use both to access the same transmitter at the same time.  What slot the Dexcom app uses is not something xDrip can change.
Would you please close this issue?
For sharing experiences and discussing options, you can use the xDrip facebook support group.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 16:26] Navid200 commented on #893
@triplem
Would you please close this issue if this is not a request any longer for you?
Otherwise, would you please provide more detail?
For example, what you mean by "sensor ID" with respect to G5.
Thanks

[2021-02-12 16:30] Navid200 commented on #900
@bert1973 Would you please close this issue if it has already been addressed?
Thanks

[2021-02-12 16:32] Hexonium commented on #888
Still present in the latest version of the nightly channel

[2021-02-12 16:33] Navid200 commented on #902
@nbraud Would you please close this issue if you don't require it any longer?
Otherwise, would you please explain what benefit the community would gain by this compared to the current situation where anyone can already access and use xDrip?
Thanks

[2021-02-12 16:35] Navid200 commented on #888
I just tested this and cannot reproduce the issue.  Would you please provide more detail helping us see the issue while testing?

[2021-02-12 16:40] Navid200 commented on #950
@djfye Would you please close this issue if it has been resolved already?
Otherwise, could you please post in the xDrip facebook support group.  There are many experienced individuals using x2 providing support.
What do you mean by "sensor ID" with respect to G5?
Thanks

[2021-02-12 16:41] Hexonium commented on #888
I wasn't able to identify a pattern to reproduce the issue. Right now only one line is wrong (the 45), but sometimes there are more. What kind of details would be helpful to you?

![Screenshot_20210212-173829_xDrip+](https://user-images.githubusercontent.com/34622676/107795755-588bb580-6d59-11eb-94e8-82a00125bbe6.jpg)

[2021-02-12 16:46] Navid200 commented on #888
If only one member of the community experiences a problem, it is highly unlikely that anyone would spent the time to address it.
If I can experience the problem first hand, I will be able to either come up with a work-around, or label this as a bug.
So, getting back to your question, can you figure out what you have to do to recreate the problem?

[2021-02-12 16:49] Hexonium commented on #888
I'll let you know if I find a way to recreate the problem.

[2021-02-12 16:58] Navid200 commented on #962
@jroth-haj Would you please close this issue if it has already been addressed?
Otherwise, it will help if you explain in more detail what the problem is that this new feature would address.
Considering the limited resources (developers and developer time) we have and the number of open issues, we have to prioritize.  "Nice-to-haves" will not get priority as long as we still have outstanding "criti

[2021-02-12 18:02] Navid200 commented on #979
@javporris This sounds interesting.  But, how will it address a day of the week that happens to be a holiday?  Your son will not go to school on that day but the nurse will still get the alarms on that day even if this suggestion is implemented.
Also the majority of the users who need the alarms all the time any way will now need to worry about one more setting that could be wrong.

Could you plea

[2021-02-12 18:05] Navid200 commented on #995
@Byketol Would you please close this issue if it has been addressed?
Otherwise, could you please post on the xDrip facebook support group?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 18:12] Navid200 commented on #997
@definitivequestion No matter how many warnings we add to xDrip, at the end, the only sure safety is provided by the sane judgement of the user.  Without it, no warning will be a remedy.
xDrip is a project.  Anyone who uses a sensor beyond the recommended period, with or without xDrip, is doing so at their own risk and judgement.

[2021-02-12 19:38] Navid200 commented on #1051
You will get a lot of advice if you post on the xDrip facebook group.
https://www.facebook.com/groups/xDripG5

[2021-02-12 19:43] #850 closed

[2021-02-12 19:48] Navid200 commented on #1060
@corneliusroemer Would you please close this issue if you don't need it any longer?
If you do, would you please update since it has been more then a year since you posted your message?
Thanks

[2021-02-12 19:50] Navid200 commented on #1066
@DavidAG2000 Would you please close this issue if it has been resolved by now?
If not, could you please post in the xDrip facebook support group?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 19:52] #1066 closed

[2021-02-12 19:52] DavidAG2000 commented on #1066
Closed, thanks 😉

[2021-02-12 19:53] Navid200 commented on #1074
@Gosee1960 Would you please close this issue if it has been addressed by now?
If not, you can use the CGM in the Cloud support group on facebook.
https://www.facebook.com/groups/cgminthecloud
Thanks

[2021-02-12 19:58] Navid200 commented on #1077
@zjedr Would you please explain how this problem can be recreated?
Assume you are talking to someone who has never used xDrip.  Don't expect them to know what any acronym means.  Explain every single step required to recreate this problem.
Your post contains 3 lines.  You may need to create a post that contains 30.  Use as many lines as you need to help us recreate the problem.

Alternatively, if

[2021-02-12 20:01] Navid200 commented on #1082
@WalkingMyRoad Would you please close this issue if your questions have been answered?
If not, you can use the xDrip support group on facebook.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 20:03] Navid200 commented on #1087
@fudgebiscuitz Would you please close this issue if the problem has been resolved already?
If not, would you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 20:07] Navid200 commented on #1091
@trpnblies7 Would you please close this issue if it has already been resolved?
If not, would you please include details about your phone and xDrip version and settings?

[2021-02-12 20:08] Navid200 commented on #1093
@PeterKirp Would you please close the issue if it has already been resolved?
Otherwise, would you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 20:09] TecMunky commented on #85
To my knowledge this has not yet been implemented.
If it has, let me know.  If it will never be implemented, please close it.

[2021-02-12 20:18] Navid200 commented on #85
Sorry, I didn't mean it that way.  I was just wondering if it may have been addressed and you may have forgotten to close this.
I find this very interesting.
I see posts, in the xDrip facebook group about G5, regularly with a light gray curve included.
Please see the attached image.
What is that light gray curve?

![1](https://user-images.githubusercontent.com/51497406/107818308-69323080-6d45-11eb

[2021-02-12 20:24] TecMunky commented on #85
The light grey curve is the averaged fit of historical values.  When you
calibrate, those don't change, even though data points may change from the
most recent 3 hours.

The point of my request is that, after a sensor is started, and before the
first calibration, the lack of data could be an issue, and being able to
see raw data before a calibration is performed will allow a DP to take
action whic

[2021-02-12 20:26] Navid200 commented on #85
Let's say you wanted to implement this.  How would you show the raw values on screen considering that the units and values will be different.  There is a slope and intercept involved.
So, you will need two different vertical axes to show both raw and calibrated values at the same time.
How would you do that?

[2021-02-12 21:39] Navid200 commented on #85
Should the request be reworded to:
 For a transmitter that sends raw data (like Dexcom G5), show pre-calibration results, with a unique color, after sensor start and before calibration, using predefined calibration constants.

The user must enter those constants after enabling the feature.
The result will be a single curve with a different color for the periods between sensor start and calibration

[2021-02-12 21:42] Navid200 commented on #1111
@zshh Would you please close this issue if your question has been answered?
If not, woulc you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 21:46] #1111 closed

[2021-02-12 21:56] Navid200 commented on #1123
@ARkaine2 Would you please close this issue if your question has been answered to your satisfaction?
Otherwise, please respond to the suggestion you have received.
Thanks

[2021-02-12 21:58] Navid200 commented on #1121
@aviadp81 Would you please close this issue if you have found an answer?
If not, could you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 22:00] Navid200 commented on #1131
@Neusegura Would you please close this issue if you are satisfied with the suggestion you have received?
Otherwise, would you please respond to it?
Thanks

[2021-02-12 22:03] Navid200 commented on #1133
@saifraidan Would you please close this issue if your problem has been resolved?
Otherwise, can you confirm that the cause of the problem is xDrip?  You can demonstrate that by using xDrip versus the Dexcom app and showing different noise value between the two cases.  If the noise is caused by the sensor, there is nothing we can do with modifying xDrip to address it.
You can post in the xDrip supp

[2021-02-12 22:12] Navid200 commented on #1135
@Paulusma Would you please close this issue if your question has already been answered?
If not, you may get answers in the xDrip support group on facebook.
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 22:17] Navid200 commented on #1143
@2018johnsmith Would you please close this issue if your questions have been answered already.

The only difference between the two scenarios you have described is the Dexcom calibration versus the xDrip calibration.  But, you can use xDrip in Native mode, in which case, xDrip will only act as an intermediary and the transmitter will handle the calibration.  What I mean by calibration is the conve

[2021-02-12 22:19] Navid200 commented on #1147
@ARkaine2 Would you please close this issue if your question has been answered?
Otherwise, could you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 22:26] Navid200 commented on #1156
@LubomirKovalcik Would you please close this issue if the problem has been resolved?
Otherwise, could you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 22:32] Navid200 commented on #1157
@etogonza Would you please close this issue if you have got an answer to your question?
Otherwise, would you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 22:38] Navid200 commented on #1165
@sfriedriszik Would you please provide more detail?
Can you show screenshots so that we can see what you mean by discrepancy?
Also include the xDrip version and any other detail we need to recreate and observe the problem.

[2021-02-12 22:42] Navid200 commented on #1178
@Mikeyatrum Would you please close this issue if it has been addressed?
If not, please confirm that all phones, master and followers, are set to have their time synchronized online.
Thanks

[2021-02-12 22:43] Navid200 commented on #1180
@revverbau Would you please close this issue if it has been addressed already?
Otherwise, could you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 22:50] Navid200 commented on #1190
Have you disabled battery optimization of xDrip in Android settings?

[2021-02-12 22:52] Navid200 commented on #1197
@namcgm Would you please close this issue if it has been addressed already?
Otherwise, could you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 22:53] Navid200 commented on #1198
@drgymnast Would you please close this issue if it has been addressed?
If not, could you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 23:01] Navid200 commented on #1199
Please don't follow the restart instructions provided here.
Please access restart instructions on facebook:
https://www.facebook.com/groups/xDripG5/permalink/4521043737969086

@Kaivish Can you confirm that pre-emptive restart does not work for your 81XXXX G6?
Can you identify the first release that stops functioning properly with respect to pre-emptive restart?

[2021-02-12 23:03] Navid200 commented on #1203
@razerrazer Would you please close this issue if you have got answers already?
If not, could you please post in the xDrip support group on fgacebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-12 23:06] #1156 closed

[2021-02-12 23:11] #468 closed

[2021-02-12 23:14] nsghub commented on #582
I'm not seeing any answers here.
Willl not use facebook.

[2021-02-12 23:26] TecMunky commented on #85
That wording sounds good.  The default slope and intercept should be good
enough.  Frequently, my first calibration of a new sensor comes close to
the default values.

On Fri, Feb 12, 2021 at 3:39 PM Navid200 <notifications@github.com> wrote:

[2021-02-12 23:30] Navid200 commented on #582
Of course that's your choice.
It's been 3 years since you posted here.  And, I am the only one who has responded.  You can wait another 3 years.  Who knows ...

[2021-02-12 23:51] adanvdo commented on #1199
I do not believe you will find a specific release where it stopped working since the problem is with the firmware on the firefly transmitters. When Dexcom started using these new transmitters restarts no longer worked on them

[2021-02-13 00:23] Navid200 commented on #1199
@adanvdo That question was for Kaivish who started this issue.
He has an 81XXXX transmitter.  He said that he could successfully use pre-emptive restarts.  But, later, he couldn't.
So, to clarify:

@Kaivish If you have an 81XXXX, as you said you did in the first post, and if its firmware is 1.6.5.25, you can use pre-emptive restart.
If you cannot, please let me know which version of the code fails

[2021-02-13 00:42] Navid200 commented on #1217
@Dugaldrowland Would you please close this issue if it has been addressed already.
Otherwise, please show a snapshot of the G6 transmitter with the first two serial number characters being 22.

[2021-02-13 00:46] Navid200 commented on #1222
@Kaivish Would you please close this issue if it has already been addressed?
Otherwise, would you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-13 00:47] Navid200 commented on #1228
@emp-00 Is this still an issue?

[2021-02-13 00:52] Navid200 commented on #1234
@oakeley Would you please close this issue if it has been addressed?
Otherwise, please update.
Thanks

[2021-02-13 00:53] Navid200 commented on #1235
@oakeley Would you please close this issue if it has been addressed?
If not, would you please post in the xDrip support group on facebook?
https://www.facebook.com/groups/xDripG5
Thanks

[2021-02-13 02:00] Navid200 commented on #1254
@mduggan0208 Would you please close this issue if the problem has been resolved?
If not, you can find detail G6 start instructions here:
https://www.facebook.com/groups/xDripG5/permalink/4838757582864365
Thanks

[2021-02-13 02:03] Navid200 commented on #1256
@EJM0 Would you please close the issue?
The temperature reporting format changed with a Dexcom transmitter firmware update.  The reported temperature and resistance, for the same reason, have been incorrect.  With recent releases of xDrip, those two parameters have been removed until the correct format is implemented in xDrip.

[2021-02-13 02:14] Navid200 commented on #1276
@JfBrshie56 Would you please close this issue?
The temperature reporting format changed with a Dexcom transmitter firmware update. The reported temperature and resistance, for the same reason, have been incorrect. With recent releases of xDrip, those two parameters have been removed until the correct format is implemented.

[2021-02-13 02:20] Navid200 commented on #1309
You should be able to snooze an xDrip alert from the corresponding Android notification.  You don't even need to open xDrip to do that.

[2021-02-13 02:30] Navid200 commented on #1381
As you stated in your description, this is a duplicate:
https://github.com/NightscoutFoundation/xDrip/issues/1328

[2021-02-13 02:30] #1276 closed

[2021-02-13 07:00] #950 closed

[2021-02-13 10:15] #900 closed

[2021-02-13 10:59] Paulusma commented on #1135
since nobody seems to care

[2021-02-13 11:03] emp-00 commented on #1228
closed

[2021-02-13 11:03] #1228 closed

[2021-02-13 11:06] mk886714 commented on #1135
Da ist sicherlich "NFC" zu bevorzugen, jedoch habe ich festgestellt: wenn es um libre geht kommt sehr träge/selten eine Reaktion.

[2021-02-13 13:19] #377 closed

[2021-02-13 16:34] sneps85 commented on #904
@MachFour As my son has diabetes and is using a Tandem X2 with G6 and I am an iOS/Android developer, I would like to ask if I may help you somehow?

[2021-02-13 17:04] #1121 closed

[2021-02-13 17:41] Navid200 commented on #1135
There are too many open issues.  It's a demoralizing situation, for a developer, to work in.  It implies that they are doing a sub-optimal job.  The fact is that the developers have done a superb job.

A user should first consult with other users who may be able to address the concern.
A use, currently, ahs two options for this.  One is facebook:  https://www.facebook.com/groups/xDripG5
The other

[2021-02-13 18:02] #1381 closed

[2021-02-13 18:25] corneliusroemer commented on #1060
Closed as I no longer use Miaomiao

[2021-02-13 18:25] #1060 closed

[2021-02-13 19:24] Navid200 commented on #709
Would you please close this issue if you don't need it any more?
Otherwise, please add detail.

[2021-02-13 20:23] Navid200 commented on #953
@JohnArm Can you explain what you mean by that?
If you are restarting, you already know that you are restarting.  So, what would be the point of the alarm to notify you that you are restarting, which you already know?

[2021-02-13 20:29] Navid200 commented on #959
@JustasM11 A lot has been updated since you first opened this issue.
Are you still experiencing this with more recent releases of xDrip?

[2021-02-13 20:57] Navid200 commented on #1029
@definitivequestion Please update if you believe that there is a bug.
Otherwise, I would like to close this issue.
If you need advice with respect to how to use xDrip, you can get that from the xDrip facebook group or Gitter.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-13 20:58] Navid200 commented on #1032
@PH4NTOMiki Would you please close this issue if you are satisfied with the answer?
Thanks

[2021-02-13 21:03] Navid200 commented on #1036
@Strukturo Would you please close this issue if you have got the answers you were looking for?
Otherwise, you can use the xDrip facebook group or Gitter room.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-13 21:05] Navid200 commented on #1044
@Gonzmdv Would you please close this issue if your questions have been answered.
If not, you can use the facebook group or the Gitter room.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-13 21:13] Navid200 commented on #1050
@AxelFR2 Would you please close this issue if the problem has been resolved?
Otherwise, please use the support groups to see if you can resolve the problem with xDrip as is.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-13 21:27] Navid200 commented on #1076
@mustang011 Would you please close this issue if your questions have been answered.
If not, you can try the facebook group or the Gitter room.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-13 21:39] #1145 closed

[2021-02-13 21:43] #1076 closed

[2021-02-13 21:43] mustang011 commented on #1076
Ok.

[2021-02-13 21:56] Navid200 commented on #1347
@wntrmute2 Would you please close this issue if your questions were answered?
You can always ask in the facebook group or the Gitter room.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-13 21:59] Navid200 commented on #1359
The support channels:

https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-13 22:34] tolot27 commented on #1145
Settings -> Less common settings -> Save Database Daily

But you still have to automate the upload.

[2021-02-13 22:37] tolot27 commented on #1328
I'm experienced the same issue with xDrip running on LineageOS 17.1 until reboot.

[2021-02-13 22:44] tolot27 commented on #1135
@Paulusma Please can you test whether this bug still persist? `Sensors.started_at` should contain the correct value because it is read from the database.

[2021-02-13 22:57] tolot27 commented on #582
@nsghub The only other support resource at the moment is [Gitter](https://gitter.im/jamorham/xDrip-plus).

Care packs are specific to each Watch and not part of xDrip. Hence, we cannot help you, here. Please connect the author of the care pack (@jamorham?) directly or ask for support in either of the two support channels.

[2021-02-13 22:57] #582 closed

[2021-02-13 23:00] tolot27 commented on #1111
You can use [xdripswift](https://github.com/JohanDegraeve/xdripswift) in combination with Nightscout to follow the main xDrip instance.

[2021-02-13 23:06] tolot27 commented on #902
If you follow the discussion at https://gitlab.com/fdroid/rfp/issues/1001 you'll see that it is currently impossible to fulfill the FDroid requirements. None of the xDrip developers has time to remove the "evil" dependencies.

[2021-02-13 23:06] #902 closed

[2021-02-13 23:23] Navid200 commented on #1145
I don't think that's a solution.
Nightscout is a solution.  Because it does not create redundant data on the phone and it backs up the data off the phone.

[2021-02-13 23:37] zjedr commented on #1077
Number wall on lock screen does not display image after reboot.

Number wall on lock screen allows a background image to be display under the BG reading.
The image is not loaded on the lock screen or in xdrip setting after your phone is rebooted and xdrip has started.

- number wall and image are set in Settings/xDrip+ Display Settings/Number Wall on Lock Screen
- set 'Use on Lock screen' on
- sel

[2021-02-13 23:52] definitivequestion commented on #1029
You can close this as I am no longer able to test things.

[2021-02-13 23:52] #1029 closed

[2021-02-13 23:56] charding99 commented on #1190
I have disabled battery optimization for Xdrip but not other apps. It has
been working successfully for at least 8 months now. I am not sure whether
a phone update fix the issue or am App update fixed it. I try to stay
current by downloading new versions from github.

Craig Harding

On Fri, Feb 12, 2021, 3:51 PM Navid200 <notifications@github.com> wrote:

[2021-02-14 00:15] Navid200 commented on #1190
If this problem has not presented itself for 8 months, would you please close this issue then?
Thanks

[2021-02-14 03:57] Navid200 commented on #907
You can specify as many alerts for as many different levels as you wish.
You are correct that you cannot change the fast falling or fast rising alarm values other than choosing one of the two available values for each.

I am looking at the scenario you have described and and I don't understand why you cannot use additional levels to address your concern.

Let's say your high alarm is set at 7.0.

[2021-02-14 05:18] Seithx commented on #907
In theory, I can.

I also recognize its a good workaround, instead of adding extra work, though, without of course undermining what youve done so far, it sounds like it should be easy to adjust to accommodate for low carb users, needing this, since this feature is already existent.

But, its not the same and that feature is completely unusable for me.

Also, think about the amount of false alerts

[2021-02-14 10:05] JustasM11 commented on #959
Found solution: with disabled Automatic calibration and use treatment bg values: Auto it works as expected: no automatic calibration

[2021-02-14 10:05] #959 closed

[2021-02-14 10:11] #1074 closed

[2021-02-14 10:11] Gosee1960 commented on #1074
I closed it,
Thanx @Navid200

[2021-02-14 12:56] Navid200 commented on #907
Would you please state where you have seen this feature?

[2021-02-14 13:01] Navid200 commented on #1351
Duplicate:  https://github.com/NightscoutFoundation/xDrip/issues/907#issuecomment-778728153

[2021-02-14 13:03] #1351 closed

[2021-02-14 13:13] Navid200 commented on #1604
@tolot27
Isn't this a duplicate?
Would there be any reason to implement this before the following?
https://github.com/NightscoutFoundation/xDrip/issues/907

[2021-02-14 13:19] Navid200 commented on #97
Doesn't that defeat the purpose of an alarm?
May be I am misunderstanding the request.  Are you saying if your blood glucose is dropping and you take some carbs and you enter that, you should not get an alarm if your glucose continues to drop below a set alarm value?
If yes, I definitely wouldn't want that and would never enable it.  Can you explain why you would want to enable that?

[2021-02-14 13:19] Seithx commented on #907
I was referring to Other Alerts, when you can choose between 2mg to 3mg rising threshold.... If we were to add a more subtle increases, the prediction model would alert me....

[2021-02-14 13:20] Navid200 commented on #907
I had misunderstood.  Thanks for clarifying.

[2021-02-14 14:27] Navid200 commented on #147
@biomesh Is this still the case?  If not, would you please update the behavior with more recent releases of xDrip?
Thanks

[2021-02-14 14:32] Navid200 commented on #160
@diabetesdt1 Would you please explain in more detail what this request is?
Do you want to upload photos of your food?
So, if you have chicken tonight, you will take a picture of it and upload it?  And if next week you have chicken again, you will upload another photo?
Why?
If this is not a request any more, would you please close the issue?
Thanks

[2021-02-14 14:39] biomesh commented on #147
I have not used xdrip since the dexcom g6 was released.

You can close this unless someone else wants to validate this issue with
the newer builds.

On Sun, Feb 14, 2021, 8:27 AM Navid200 <notifications@github.com> wrote:

[2021-02-14 15:23] Navid200 commented on #147
Thanks for your response.
Out of curiosity, what do you use since G6.  Of course, you don't have to disclose that.
Thanks again

[2021-02-14 15:45] Navid200 commented on #163
@AdrianLxM Hello,
Is this still a problem?

[2021-02-14 15:47] Navid200 commented on #274
@LongboatAline Would you please close this issue if it has been resolved?
Otherwise, would you please update considering it has been 3 years.
Thanks

[2021-02-14 15:48] Navid200 commented on #275
@merberaza Would you please close this if it has been resolved?
Otherwise, would you please update?
Thanks

[2021-02-14 15:50] biomesh commented on #147
I am using the native dexcom g6 app on android. I am also using t:slim x2
with control iq. I still have my nightscout site with results via dexcom
share.

On Sun, Feb 14, 2021, 9:23 AM Navid200 <notifications@github.com> wrote:

[2021-02-14 15:51] Navid200 commented on #289
@alexmoir1 Would you please close this issue if it was resolved?
Thanks

[2021-02-14 16:04] Navid200 commented on #147
We have individuals on G6 with x2 and IQ using xDrip.  Just to let you know.  Not trying to recruit you back.

[2021-02-14 16:29] AdrianLxM commented on #163
I currently have no pebble to test this. Hopefully someone else can chime in.

[2021-02-14 17:06] Navid200 commented on #293
@FPV-UAV Would you please close this if it's not needed any longer?
Otherwise, please respond to the response you received 3 year ago.
Thanks

[2021-02-14 17:39] Navid200 commented on #307
@jwoglom  Hi,
Is this still the case with recent releases of xDrip?

[2021-02-14 17:42] Navid200 commented on #309
@hartlijn Is this still a problem?
Or, is it resolved with recent xDrip releases?
Would you please update?
Thanks

[2021-02-14 17:50] Navid200 commented on #182
@jamespaulley Would you please update?
What do you mean exactly?
Do you have a watch that can be a collector and it does not provide alarms?
If the collector is the phone and it is off, how would you expect to get an alarm from the watch considering it is not getting any readings?

[2021-02-14 18:04] Navid200 commented on #198
@PolarDog23 There are two support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

You can find recommended settings for Dexcom in the facebook group.

Would you please close this issue unless you have any other questions?
Thanks

[2021-02-14 18:06] Navid200 commented on #206
@dideldum Would you please close this issue if you are satisfied?
If not, would you please respond to the suggestion you have received?
Thanks

[2021-02-14 18:09] Navid200 commented on #207
@peterhallforone Would you please close this issue if your questions have been answered?
Otherwise, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-14 18:14] Navid200 commented on #210
@isuran Please close this issue if your problem has been resolved.
For everyone, there are two support channels available.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-14 18:15] #220 closed

[2021-02-14 18:20] dideldum commented on #206
@Navid200 I'm sorry, that I cannot confirm, that this issue is resolved. It has not been resolved for a very long time, and now I don't use xDrip+ anymore, so I don't know, if the followers handle a rewrite history with a calibration now as it is done on the master.
Nonetheless I close this issue.

[2021-02-14 18:21] Navid200 commented on #228
@thedewi Would you please close this issue if the feature has already been implemented?
If not, you can consult with the community using the support channels to see if a work-around exists.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

If indeed you feel this is required, please update.

Thanks

[2021-02-14 18:34] agniabakush commented on #1007
Have any prorgess with GTR?

[2021-02-14 19:01] #1131 closed

[2021-02-14 19:26] agniabakush commented on #1007
![Screenshot_2021-02-15-02-21-38-246_com eveningoutpost dexdrip](https://user-images.githubusercontent.com/33312884/107886808-e53e9b00-6f34-11eb-80f5-6e6039774700.jpg)
As I understand now I need watchface.bin and watchface.png as on Miband, but just for GTR compatible

[2021-02-14 19:27] Navid200 commented on #234
@kretsche Would you please close this issue if it has been addressed already?
You can use either of the following two support channels for asking for advice or sharing ideas.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-14 19:29] agniabakush commented on #1007
Could someone create these files for testing?

[2021-02-14 19:31] Navid200 commented on #292
@FPV-UAV Would you please close this issue if it has been resolved?
Otherwise, would you please update?
Thanks

[2021-02-14 21:00] #210 closed

[2021-02-14 21:46] Epod123 commented on #198
There does not appear to be a way to "close" this.  I see no "close" button next to the green "comment" button.

[2021-02-14 21:49] #198 closed

[2021-02-14 22:52] #289 closed

[2021-02-15 01:49] Navid200 commented on #1638
Will open if I get more data.

[2021-02-15 01:49] #1638 closed

[2021-02-15 01:50] Navid200 commented on #1626
Will open if I get more data.

[2021-02-15 01:50] #1626 closed

[2021-02-15 02:04] Navid200 commented on #1450
@BluntGoblin Would you please close this issue if your question has already been answered?
If not, your best choice is to use the support channels to consult with the user community.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
There are many xDrip users who are already on Android 11.

[2021-02-15 02:10] Navid200 commented on #1435
@ArthurusDent Would you please close this issue if your questions have been answered?
If not, please use the support channels:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-15 02:19] Navid200 commented on #1400
@JimZam Would you please close this issue if it has been addressed?
If not, please use the support channels:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-15 02:28] Navid200 commented on #1393
@berislavv Have you asked in the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Your question will be seen by a significantly larger audience.
There may already be solutions, or work-arounds.

[2021-02-15 02:29] Navid200 commented on #1392
Can we close this issue please?

[2021-02-15 02:45] Navid200 commented on #1389
@Manny669 Would you please close this issue if you have got answers already?
If not, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Your questions will then be viewed by a significantly larger audience.
Thanks

[2021-02-15 02:47] Navid200 commented on #1387
@sebbsuy Would you please close this issue if it has been resolved already?
If not, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Your questions will then be viewed by a significantly larger group.
Thanks

[2021-02-15 04:41] TecMunky commented on #206
This would still be a useful feature

[2021-02-15 04:50] #1450 closed

[2021-02-15 05:24] tolot27 commented on #206
@TecMunky Do you experiencing the same problem?

[2021-02-15 05:26] tolot27 commented on #1392
No. There is still some discussion about it and it is a required feature for restarted transmitters.

[2021-02-15 05:31] tolot27 commented on #1393
Do I understand it correctly that the Datricsae plugin calculates only the last 15 minutes?

[2021-02-15 06:00] tolot27 commented on #480
It is implemented already as Dex Share Follower.

[2021-02-15 06:00] #480 closed

[2021-02-15 06:10] tolot27 commented on #1604
@Navid200 Indeed, it is related to #907 but it duplicates it half because @ARkaine2 also requests to specify the period of time to calculate BG changings for the fast alert.

[2021-02-15 07:42] Dugaldrowland commented on #1217
Hi @Navid200
I did not get a solution for this, however we are not using the G6+ anymore and the warm up is no longer an issue. I was also advised that the reported temperature is not associated with any readings.

[2021-02-15 07:42] #1217 closed

[2021-02-15 08:21] tolot27 commented on #1217
@Dugaldrowland

Where did you read this? I've never seen a one hour warmup of G6 sensors. Our receiver also shows two hour warmup.

[2021-02-15 08:30] #1400 closed

[2021-02-15 08:42] Dugaldrowland commented on #1217
@tolot27
We had the G6+ here in South Africa for a while, but they discontinued it mid last year. The G6+ used the normal G6 sensors but ran for 14 days as well as had a 1 hour warm-up. We were very happy with it while we had it as is worked out quite a bit cheaper for us. My only issue was that the connection with xDrip was not very consistant.

[2021-02-15 08:48] tolot27 commented on #1217
@Dugaldrowland I've send you a PM at Gitter.

[2021-02-15 08:54] #779 closed

[2021-02-15 09:03] #1044 closed

[2021-02-15 12:09] Navid200 commented on #1392
Please provide more info about why it is required.
That's not what I believe in or do or advise.  I can go into more detail if needed to explain why this would be a mistake.  But, I would like to know if I am mistaken so that I can provide a correct directive on facebook.

[2021-02-15 12:35] checkatillo opened #1643 "Several glucose meters support simultaneously"
For now you're only allowed to use one glucose meter at a time. Once you're connecting a new one, xdrip won't receive values from the previous one

It would be great to be able to add as many glucose meters as needed. Then it's easier to keep all the values in the app and thus in Nightscout

I'd appreciate this as I'm using several Bluetooth glucose meters (even of the same kind) to avoid forgetti

[2021-02-15 16:54] #1639 closed

[2021-02-15 16:55] ARkaine2 opened #1644 "FR: Alarm clock"
It will be nice to have  in xDrip alarm clock or (maybe even better) timer that (with choosable sound) can be spedified like insulin/carbs/BG, but in FUTURE time.

[2021-02-15 18:48] #284 closed

[2021-02-15 18:50] #291 closed

[2021-02-15 18:52] Navid200 commented on #334
@Biggerandreas Would you please close this issue as it seems your question has been answered?
For other questions, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-15 18:56] Navid200 commented on #337
@Son1k02 Was this ever resolved?

[2021-02-15 18:58] Biggerandreas commented on #334
@Navid200 Of course

[2021-02-15 18:58] #334 closed

[2021-02-15 19:22] #373 closed

[2021-02-15 19:24] Navid200 commented on #384
@themotoden Would you please close this issue if your questions have been answered?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-15 19:26] Navid200 commented on #393
@sweetmarta Would you please close this issue if your question has been answered?
If not, you can use the support channels:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-15 19:30] Navid200 commented on #352
@cybernissart Would you please close this issue if you are satisfied or if you don't need it any longer?
If you still feel this is useful, would you please explain what you would do differently if you know that your glucose is at 400 versus at 500?
Thanks

[2021-02-15 20:02] Navid200 commented on #356
@zackallan Would you please close this issue if the problem has been resolved?
Otherwise, would you please use the support channels to see if anyone else experiences the same issue or have possible solutions?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-15 20:05] Navid200 commented on #361
@filipedanunes Would you please close this issue if it has been resolved?
Otherwise, would you please update considering that xDrip has been updated considerably since then?
You can use the support channels to see if others may have any suggestions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-15 20:13] #391 closed

[2021-02-15 20:14] Navid200 commented on #400
@dcacklam Is this still good to have?
Would you please update considering it's been almost 3 years?
Thanks

[2021-02-15 20:26] tolot27 commented on #393
@sweetmarta Instead of Spike you can also try xdripswift.

[2021-02-15 20:26] #1190 closed

[2021-02-15 20:27] charding99 commented on #1190
Either a Phone firmware update or a newer version of xDrip resolved this issue.

[2021-02-15 20:31] Navid200 commented on #1190
Thanks so much for the update

[2021-02-15 20:49] Navid200 commented on #1392
@joshbohmer May I ask what pump you use?

A friend of mine uses t:slim X2.  The pump receives readings directly from G6 from its second slot.  If we implement your proposal, he will not benefit because although xDrip will not show incorrectly high readings, the pump will still receive those incorrect readings directly from the transmitter and will inject incorrect insulin.  That's why he disables

[2021-02-15 21:30] Navid200 commented on #479
@ronrosenbaum Would you please close this issue if you are satisfied with the suggestion?
Otherwise, would you please update?
Thanks

[2021-02-15 21:31] Navid200 commented on #481
@jokellerweb Would you please close this issue if the problem has been resolved?
Otherwise, would you please update?
Thanks

[2021-02-15 21:35] Navid200 commented on #483
@Cylon75 Would you please update how xDrip behaves now in that respect?

[2021-02-15 21:47] Navid200 commented on #596
@rafaena Would you please respond to the question?

[2021-02-15 21:51] Navid200 commented on #635
@opasha Would you please close this issue?
Otherwise, would you please update?
Thanks

[2021-02-15 21:54] Navid200 commented on #636
@BernhardRo Would you please close this issue as you don't seem to be having the problem any longer.
Thanks

[2021-02-15 22:35] dcacklam commented on #400
It is still a good ask, as OpenAPS utilizes MDNS to propagate hostnames.....

On Mon, Feb 15, 2021, 12:14 PM Navid200 <notifications@github.com> wrote:

[2021-02-15 23:02] flummoxedca commented on #1117
I am probably doing something incorrectly but I am wondering if a basal injectiion should be shown in NS ? I'm reallty not sure if I am entering my basal injection (basaglar) correctly. In the morning I dose with Basaglar & novorapid but only the novorapid appears in Nitecout. I cuurently add a note so that I have a record of the injection.

[2021-02-16 00:59] ARkaine2 opened #1645 "FR: Actrapid as basal insulin"
I need very much:

1. Actrapid as basal (in prediction simulation) should have blue pipette/dropper (like other [more long-acting] basal insulins) — so, there will be indication/difference of another (basal) insulin with certain units specified.

2. Use Basal Activity ("Plot basal activity on graph and incorporate in predictive model") checkpoint should  work with Actrapid as basal.

Maybe to real

[2021-02-16 08:24] #635 closed

[2021-02-16 09:04] haspden commented on #773
unable to verify if issue still persists as no longer have this hardware

[2021-02-16 09:04] #773 closed

[2021-02-16 09:09] haspden commented on #994
Issue still persists on 344702e-2021.02.11

[2021-02-16 09:10] #725 closed

[2021-02-16 09:24] tolot27 commented on #994
@haspden What do you mean with "very bright bottom bar"?

[2021-02-16 09:28] tolot27 commented on #725
Trend arrows (using Unicode characters) and values are defined in https://github.com/NightscoutFoundation/xDrip/blob/master/app/src/main/java/com/eveningoutpost/dexdrip/ImportedLibraries/dexcom/Dex_Constants.java#L86-L96.

[2021-02-16 09:33] korkats commented on #1153
Hi all.
Did we ever get a work around to add Tresiba to the list. I have been using this for over a year now and I have tried substitution of another Basal (lantus) but it just not right.

[2021-02-16 09:42] tolot27 commented on #1153
You have to wait until #1388 gets merged.

[2021-02-16 09:46] haspden commented on #994
Picture attached in original post - the bottom menu bar is in the picture with 3 icons on (usual android bottom bar)

[2021-02-16 09:51] tolot27 commented on #994
Okay, now I understand what you mean: navigation bar with softkeys.

[2021-02-16 09:51] ulisse31 commented on #1153
@tolot27 PR #1388 seems stuck for multiple months so while I understand the technical constrain, I have the feeling that the development of this feature is somehow halted.
I'm not familiar with this developing community and the release cycle of this project: in your opinion, what would be the best way to understand the status of this issue/PR, its traction, and how to gather additional feedback on

[2021-02-16 10:05] korkats commented on #1153
Many users now use Tresiba and have found it very successful. As a dedicated user of xdrip+ i would like to understand if there is anything I could do to help with the development/feedback to help with its release. I feel that many many users would benefit from the update. On 16 Feb 2021 09:51, ulisse31 <notifications@github.com> wrote:
@tolot27 PR #1388 seems stuck for multiple months so while I

[2021-02-16 11:04] Danielvisser opened #1646 "Libre 2 + MiaoMiao 2 + xDrip sudden extreme high values"
Hello,

Since I switched to the Libre 2 sensor (used Libre 1 before), nothing has been working like it's supposed to. I've followed this guide to make the Libre 2 sensor work with xDrip (& MM2): https://miaomiaoreader.medium.com/how-to-make-libre-us-14-days-sensors-work-with-miaomiao2-on-xdrip-35b431a40940.

This seemed to be working, except for the regular crashing of OOPalgorithm, causing xDrip

[2021-02-16 11:45] ANDREAPIPPI commented on #1153
Hi
Just to understand:
What are the reasons why Tresiba basal nsulin and other types of insulin additions are currently blocked?
No time for developers?
Insecurity about the usefulness of this option?
Something else?
It's been over a year since these discussions started and I think it's time to wrap them up somehow.
My opinion, of course.
Andrea

[2021-02-16 12:42] Navid200 commented on #185
@sarunia Would you please close this issue if you have found an answer?
If not, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 12:45] Navid200 commented on #221
Closing it for inactivity.

[2021-02-16 12:45] #221 closed

[2021-02-16 12:49] Navid200 commented on #266
@bordeb Is the problem still there with more recent releases of xDrip and Nightscout?

[2021-02-16 12:56] Navid200 commented on #331
@endafarrell Would you please close this if it is resolved?
I see the second post stating that this is very likely not due to xDrip.
You never responded to that comment.
Do you disagree?
If not, let's close the issue please.
Thanks

[2021-02-16 12:56] Navid200 commented on #335
Closing due to inactivity.

[2021-02-16 12:56] #335 closed

[2021-02-16 13:00] Navid200 commented on #419
Closing because of inactivity.

[2021-02-16 13:00] #419 closed

[2021-02-16 13:03] #438 closed

[2021-02-16 13:05] Navid200 commented on #452
@dv1 Would you please close this issue if you have the answer you were looking for?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 13:06] Navid200 commented on #457
Closing due to inactivity.

[2021-02-16 13:06] #457 closed

[2021-02-16 13:07] Navid200 commented on #458
@jwoglom Hi,
Is this still the case?
Thanks

[2021-02-16 13:10] Navid200 commented on #463
@IgnisAsphodel It seems the problem was resolved.  Would you please close the issue then?
Thanks

[2021-02-16 13:11] Navid200 commented on #473
Closing due to inactivity.

[2021-02-16 13:11] #473 closed

[2021-02-16 13:13] Navid200 commented on #472
@Mr-Enigma Would you please close past issues that have been addressed already?
You can use support channels to access the community with a lot of experience.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 13:16] Navid200 commented on #490
@zip9 Would you please close this issue if it has been addressed?
You can always use the support channels as well.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 13:18] Navid200 commented on #505
Closing due to inactivity.

[2021-02-16 13:18] #505 closed

[2021-02-16 13:19] Navid200 commented on #506
Closing due to inactivity.

[2021-02-16 13:19] #506 closed

[2021-02-16 13:21] Navid200 commented on #510
@ArkonPhoenix There are two support channels.   Please feel free to contribute to them.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 13:41] #452 closed

[2021-02-16 13:55] jroth-haj commented on #962
Sorry, its so long ago.

[2021-02-16 14:02] berislavv commented on #1393
No
Datricsae calculates correctly but the value that is sended to Nightscout are from Datricase only last 15 minutes and older are from original Xdrip. In our case datricase was much more precise then xdrip algorithm.
The result is very jumpy Nightscout graph, xdrip on phone is fine.

[2021-02-16 14:11] Navid200 commented on #518
Closing due to inactivity.

[2021-02-16 14:11] #518 closed

[2021-02-16 14:13] Navid200 commented on #521
@jo1st Would you please close this issue if it has been resolved?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 14:15] Navid200 commented on #576
@renegadeandy Would you please close this issue if it has been resolved?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 14:16] Cylon75 commented on #483
I am no longer using my watch as a collector. The watch battery is depleted quickly now and will be replaced soon. I replaced my phone some time ago with a Xiaomi Mi mix 3 which works great and have a backup phone now. I don't think there were any improvements to what I described that the high and low alerts worked but nothing else.

Thanks for this. Should I close this issue?

[2021-02-16 14:28] Navid200 commented on #483
Thanks for your response.
I can close it too.
I am just going over all the issues trying to figure out what the status is and allow the person who opened it to respond.  I don't just close an issue.
We would like to have an issue open if it is a request for a new feature, which then will be discussed and may still be closed if there is a reasonable work-around.  Or, if it is a bug meaning an issue

[2021-02-16 14:28] #483 closed

[2021-02-16 14:32] Navid200 commented on #531
@calimerofr59 Is this still missing?
Would you please update?
Thanks

[2021-02-16 14:34] Navid200 commented on #534
@roco5 Would you please close this issue if you have found an answer?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 14:38] Navid200 commented on #538
@jwedding Would you please close this issue if you have found answers?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 14:39] Navid200 commented on #541
Is this still an issue?
Or, can we close it?

[2021-02-16 14:41] Navid200 commented on #543
@ronrosenbaum Would you please close this issue if you have found an answer?
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 14:44] Navid200 commented on #546
@exceter What is the status now?  Is this capability still missing?

[2021-02-16 14:46] Navid200 commented on #550
@zshh Is this still an issue?

[2021-02-16 14:50] Navid200 commented on #556
@FranzMo Would you please close this issue if your question was answered?
You can use the support channels for questions instead of opening an issue.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 14:52] #556 closed

[2021-02-16 14:53] Navid200 commented on #557
@MrSiimon Can we close this issue?

[2021-02-16 15:07] Navid200 commented on #567
@zackallan Would you please close this issue if you have got answers to your questions.
If not, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 15:27] #550 closed

[2021-02-16 15:29] Navid200 commented on #1632
Could some of these improvements cause issues for people who are still using G5?
My problem is that I don't have a working G5 transmitter to do any testing.
So, when someone claims they cannot perform initial calibration any longer on G5 in native mode on the Feb. 4, 2021 release, I have no way of testing that.

Is it possible to limit these improvements to G6 and keep G5 as is?
I mean G5 is not a

[2021-02-16 15:46] ulisse31 commented on #1153
If I understand correctly the chain of PRs and issues, xDrip math logic doesn't properly account the event when insulin effects stack on top of each others, adding their cumulative effect to the "basal on board" (which is strange to me, as this is done with no issue with other insulins like humalog...?).
I guess the technical blocker is PR #1200 (potentially PR #1117 as well) but ultimately the ma

[2021-02-16 16:10] Navid200 commented on #575
@Amtmagalhaes Would you please close this issue if your question has been answered.
You can use the support channels for similar questions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 16:12] Navid200 commented on #573
Closing due to inactivity.

[2021-02-16 16:12] #573 closed

[2021-02-16 16:16] Navid200 commented on #583
Closing due to inactivity

[2021-02-16 16:16] #583 closed

[2021-02-16 16:18] Navid200 commented on #585
@bassettb I am closing this issue as you never responded to the question posted by a developer.
We can always re-open if needed.

[2021-02-16 16:18] #585 closed

[2021-02-16 16:22] #552 closed

[2021-02-16 16:22] Navid200 commented on #589
@YPOC Is this still an issue?
You can ask in the support channels to see if there are solutions or work-arounds.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 16:24] Navid200 commented on #598
Closing due to inactivity

[2021-02-16 16:24] #598 closed

[2021-02-16 16:25] Navid200 commented on #611
@svirito4ka Please use the support channels for questions.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 16:26] YPOC commented on #589
@Navid200 As I'm no longer using Freestyle Libre I can't tell if it has been fixed. At least with the G6 collector I have found no issues in that regard.

[2021-02-16 16:26] #589 closed

[2021-02-16 16:54] Navid200 commented on #615
@tremor There will be no end to a list of "nice-to-have" capabilities that can be added to xDrip.
We have issues here related to people having difficulty getting readings, for example.   As long as we have critical issues like that, the nice-to-haves will have to wait.
In the meantime, you can use the support channels to see if there may be alternative solutions that others use.
https://www.facebo

[2021-02-16 17:16] Navid200 commented on #703
@Mr-Enigma For questions, would you please use the support channels instead of opening an issue?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 17:18] Navid200 commented on #706
@doc77 Is this still a shortcoming?

[2021-02-16 17:20] Navid200 commented on #711
@Mr-Enigma Please use the support channels for your questions instead of opening an issue.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 17:21] Navid200 commented on #712
@Cadorinopitecus Would you please use the support channels for questions?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 17:22] Navid200 commented on #714
@parapenT1sta Is this still a problem?

[2021-02-16 17:25] parapenT1sta commented on #714
@Navid200 It doesn't happen that often. I thought I had closed this issue.

[2021-02-16 17:25] #714 closed

[2021-02-16 17:40] Navid200 commented on #660
@thomasmenges Would you please close this issue if it has been resolved already?
Otherwise, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 17:42] Navid200 commented on #664
@SimonPhilpott Would you please close this issue if it has been resolved?
Otherwise, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 17:44] Navid200 commented on #666
@mistermintsgh Would you please close this issue if it has been resolved?
Otherwise, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 17:47] Navid200 commented on #680
@loopinglea Would you please close this issue if it has been resolved?
Otherwise, would you please use the support channels?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 18:22] #660 closed

[2021-02-16 18:23] thomasmenges commented on #660
Cannot answer the question if issue exists anymore. I'm using Dexcom now and for me the problem is solved.

[2021-02-16 18:31] doc77 commented on #706
@Navid200  Yes it is. Basal insulin is poorly addressed, bolus insulins are incompletely listed.  What has been done so far is an excellent start but it still requires significant polishing.

[2021-02-16 18:50] #415 closed

[2021-02-16 18:51] triplem commented on #893
Not using g5 anymore.

[2021-02-16 18:51] #893 closed

[2021-02-16 18:59] Navid200 commented on #706
@doc77   I read somewhere someone claim "the basal should be adjusted until your average is flat;  it's only the bolus that should play a role in the analysis".
Would you share your opinion/knowledge in that respect please?

[2021-02-16 19:04] Navid200 commented on #731
@bordeb May I suggest you consult with the community in case you haven't already?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
If there is no solution and no one is aware of a work-around, please update.
Thanks

[2021-02-16 19:12] Navid200 commented on #740
@renegadeandy Would you please close this if you have found a solution?
Otherwise, you can use the support channels to find out what everyone else does.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 19:14] Navid200 commented on #742
@aeonsablaze Please close this issue if it has been resolved.
If not, please respond to the suggestions?
You can also use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 19:36] Navid200 commented on #756
@wtpoppie Would you please use the support channels for questions about how to use xDrip?
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 19:41] Navid200 commented on #746
Please use the support channels for asking questions about how to use xDrip.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

I am closing this issue.
Please open an issue only if you have discovered a bug, or you believe there is a need for a new feature, which cannot be accomplished with xDrip as is.

[2021-02-16 19:41] #746 closed

[2021-02-16 19:47] doc77 commented on #706
Basal can be used to accommodate small snacks during the day, instead of bolusing for say, 5-8g carbs. It would also be valuable to observe a particular basal's activity profile for you individually. It is also important in figuring TDD. Bolus calculation pertains more to an immediate carb load, like a meal or a snack of 10g carbs or more.

I have been using insulin for 50 years, analogs for over

[2021-02-16 19:52] Navid200 commented on #749
Please use the support channels for asking advice about what can be done using xDrip.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

Open an issue only if you have discovered a bug or if you need a feature to be added that has no work-around to accomplish.  When opening an issue, please follow the guidelines presented to you.
Thanks

[2021-02-16 19:54] Navid200 commented on #754
@dimis28 I am closing this issue as it seems you solved the problem.

Please use the support channels to share expertise.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-16 19:54] #754 closed

[2021-02-16 19:57] Navid200 commented on #759
Please use the support channels to ask questions or to offer advice on how to use xDrip.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-16 19:58] Navid200 commented on #760
Closing due to inactivity

[2021-02-16 19:58] #760 closed

[2021-02-16 20:00] Navid200 commented on #762
@andyrozman Would you please close this issue if it has been resolved?
If not, you can use the support channels to see if there are any existing solutions or work-arounds.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-16 20:07] Navid200 commented on #797
Closing due to inactivity

[2021-02-16 20:07] #797 closed

[2021-02-16 20:09] Navid200 commented on #798
Closing due to inactivity

[2021-02-16 20:09] #798 closed

[2021-02-16 20:18] Navid200 commented on #808
@ireneusz-ptak Was this ever resolved?
Did you ever confirm that the, through Android settings, clocks of the master and the follower are automatically adjusted using an online time base?

[2021-02-16 20:59] mauriziocasini commented on #826
Hi
Yes, i still interested.
At the moment, I'm using my patched app and it works well

[2021-02-16 21:11] ksilive commented on #1646
It broke down probably.
Did you hit a vein, did the sensor bleed for example?

[2021-02-16 21:47] Manny669 commented on #1389
Hi, Navid. I didn´t get any answers; Could you please close it? I don't
know how to close it!!. Thank you.

On Mon, Feb 15, 2021 at 2:45 AM Navid200 <notifications@github.com> wrote:

[2021-02-16 21:49] #1389 closed

[2021-02-16 22:35] joelerch commented on #916
Hey, sorry, I actually lost access to that old github account, so I can't close this. Is it possible for you to do so? Sorry for the inconvenience.

[2021-02-16 22:36] #916 closed

[2021-02-16 22:51] #1435 closed

[2021-02-16 23:06] tolot27 commented on #541
We still don't have a documentation describing the translation process.

[2021-02-16 23:06] #521 closed

[2021-02-17 06:19] endafarrell commented on #331
Hi Navid200

I cannot be sure where the problem was or what changed for the problem to have been resolved, but this isn't a problem any more.

[2021-02-17 06:19] #331 closed

[2021-02-17 07:21] #481 closed

[2021-02-17 10:47] zackallan commented on #567
As I don't use the described setup any more I can't test if the situation has improved in the meantime.

[2021-02-17 10:47] #567 closed

[2021-02-17 10:50] zackallan commented on #356
As I don't use the described setup any more I can't test if the issue has been solved.

[2021-02-17 10:50] #356 closed

[2021-02-17 13:16] Navid200 opened #1647 "xDrip confuses G5 with a G6 and performs a preemptive restart on day 9 as well as on day 6"
### Expected behavior
Dexcom G5 can be used in Native mode.  But, since G5 sends raw data, you can still access the calibration graph.  And xDrip removes "Initial calibration" from the menu after initial calibrations have been submitted and replaces it with "Add calibration".

### Your environment
The problem was observed with the February 11, 2021 release, and February 3, 2021.

### Actual behavi

[2021-02-17 13:29] Navid200 commented on #252
Closing due to inactivity

[2021-02-17 13:29] #252 closed

[2021-02-17 13:30] Navid200 commented on #130
Closing due to inactivity

[2021-02-17 13:30] #130 closed

[2021-02-17 13:31] Navid200 commented on #147
Closing due to inactivity

[2021-02-17 13:31] #147 closed

[2021-02-17 13:42] Navid200 commented on #466
Please use the support channels to access a significantly larger group:
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-17 16:05] ireneusz-ptak commented on #808
@Navid200 No idea, I'm not using NS follow option anymore.

[2021-02-17 16:08] #808 closed

[2021-02-17 16:10] ireneusz-ptak commented on #808
To clarify - no idea, but I helped someone on "CGM in the Cloud" group with the same problem yesterday ;)

[2021-02-17 16:12] Navid200 commented on #808
If there is a work-around to resolve this with xDrip as is, would you please include the steps?

[2021-02-17 16:14] ireneusz-ptak commented on #808
It's in the first post - manually set time on your phone 1 minute back.

[2021-02-17 16:17] Navid200 commented on #808
I saw this issue once.  Eventually, we found out that the follower had its time base synchronization in Android settings disabled.
Android settings -> System -> Date & Time

Enabling that resolved the issue.

[2021-02-17 17:14] Navid200 commented on #400
Even though it may seem obvious to you why it is a good idea to have this, would you please state what a user needs to do now and what he/she would have to do after this is implemented?  I would like to understand what this is and how it would benefit the users so that I can label it accordingly.
Thanks

[2021-02-17 17:18] Navid200 commented on #436
Please use the support channels to consult with the user community.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-17 17:21] Navid200 commented on #549
Please use the support channels to consult with the user community.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-17 17:41] Navid200 commented on #571
@TimothyGold Sounds like you have found a work-around.  Would you please close this issue then?
For sharing and asking for experience and advice, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-17 17:43] Navid200 commented on #609
Please use the support channels for asking for and sharing experience and advice.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-17 17:43] dcacklam commented on #400
The OpenAPS closed loop system can use xDrip as a direct CGM source.

This allows a closed loop user to continue looping even when internet
access is lost (via WiFi or bluetooth tether to a phone running xDrip, even
if that phone has no service)

OpenAPS also enables mDNS, such that every OpenAPS device broadcasts ip
info for a hostname.local (eg myopenaps.local) mDNS domain name.....

However, be

[2021-02-17 18:38] jamorham commented on #1632
I can confirm that these recent updates work correctly on G5 in native mode.

[2021-02-17 18:39] Navid200 commented on #400
Let's say I am using AAPS with xDrip as is.
Let's say I have no access to WiFi or any cell network.
Are you saying the loop will go open?

[2021-02-17 18:40] Navid200 commented on #1632
Would you please see this:
https://github.com/NightscoutFoundation/xDrip/issues/1647

[2021-02-17 18:49] dcacklam commented on #400
This applies to OpenAPS not AAPS.

Rather than relying on a user's phone (ala Loop or AndroidAPS), OpenAPS
uses a separate computing device (Raspberry Pi or Edison) running Linux to
do everything other-than CGM functions.

That device requires CGM data as an input - and in the use-case I am
talking about, it recieves that data from XDrip via emulating the
Nightscout REST-API interface (eg, XDrip s

[2021-02-17 18:54] Navid200 commented on #647
@junni3011 Would you please close this issue if it has been resolved?
Otherwise, you can use the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-17 19:01] jamorham commented on #1647
The screenshot implies that a bloodtest was delivered from a bluetooth connected glucose meter which it believes was ~9000 seconds old. If the finger stick test was just done recently then we need to determine if the clock on the meter is correct or if there is an issue with the user's local timezone vs the clock on the meter and if that is the source of the >1 hour rejection message. It may also

[2021-02-17 19:04] Navid200 commented on #1647
You are talking to him in the Gitter room.
The firmware version is 1.0.4.15.

[2021-02-17 19:08] Navid200 commented on #653
Closing due to inactivity

[2021-02-17 19:08] #653 closed

[2021-02-17 19:10] Navid200 commented on #654
Please use the support channels to access experience and knowledge of the user community.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus
Thanks

[2021-02-17 19:15] Navid200 commented on #643
@jotomo Is this still a problem?
If not, can we close the issue?
Is there a solution if it happens?

[2021-02-17 19:24] tolot27 commented on #215
Duplicate of #131

[2021-02-17 19:24] #215 closed

[2021-02-17 19:25] tolot27 commented on #413
Duplicate of #131

[2021-02-17 19:25] #413 closed

[2021-02-17 19:26] tolot27 commented on #1473
Related to/duplicates #131

[2021-02-17 19:37] tolot27 commented on #566
xDrip cannot put the transmitter into any mode. It can only starts and stops a sensor. That is the only "write" access to the transmitter. In between, it just reads the data every five minutes. I really don't see any causality that xDrip is responsible for a higher power consumption of the transmitter.

@jamorham Any further comments to this issue?

[2021-02-17 19:40] jamorham commented on #1647
Please try the 17th Feb nightly to see if it resolves the issue.

[2021-02-17 19:53] Navid200 commented on #677
@xLevelster It seems your question has been answered.
Can we close this issue?
Thank

[2021-02-17 19:54] Navid200 commented on #684
@quizzmaster Has this been resolved?

[2021-02-17 19:55] dcacklam opened #1648 "WearOS 'Apps on Your Phone' support being depricated by Google - XDrip WearOS functionality becoming un-usable"
Google is terminating support for Android-app-bundled WearOS watch-apps in-favor of requiring all watch-apps to be hosted on the Play Store.

XDrip uses the 'old method' (watch app bundled inside phone version), which means that XDrip WearOS support will break for new installs (and re-installs), as it will not be possible to install the WearOS xdrip app anymore.

Fix involves either:
A) breaking-o

[2021-02-17 20:15] Navid200 commented on #690
@Amtmagalhaes Are you still having problems?
Can we close this issue?
You can consult with the user community using the support channels.
https://www.facebook.com/groups/xDripG5
https://gitter.im/jamorham/xDrip-plus

[2021-02-17 20:18] quizzmaster commented on #684
@Navid200 no, it's still "xDrip-DexcomG5 G5 Native" for the Dexcom G6

[2021-02-17 20:20] Navid200 commented on #684
Where is this uploaded to?
How can I see this?  I also use a G6.

[2021-02-17 20:22] quizzmaster commented on #684
It is uploaded to nightscout. Just look at the endpoint for the BG values `/api/v1/entries/sgv.json`

[2021-02-17 20:25] Navid200 commented on #684
Sorry, I am a novice.  Can you be more specific?  When I go to Nightscout, I see my blood glucose versus time in a graph.

[2021-02-17 20:27] AuroraThiel commented on #904
I don't know a thing about developing apps, but as a consumer, I really want to thank the Devs that are working on this!  I found this from a Google search, wondering if there was an integration option.

[2021-02-17 20:27] tolot27 commented on #805
Test

[2021-02-17 20:31] quizzmaster commented on #681
@Navid200 The slope is correct, yes. Also that there are only a few different arrows (flat, 45 degrees, up, double up) is not the point.

xDrip uploads the BG values with a device name, the delta, the arrow and other informations, e.g.:
[code]
Also sometimes the uploaded delta isn't correct and doesn't represent the real delta to the previous uploaded value.

[2021-02-17 20:33] quizzmaster commented on #684
Well, just append `/api/v1/entries/sgv.json` to your Nightscour URL and you get the latest blood glucose informations from the API (in json format).

[2021-02-17 20:34] Navid200 commented on #684
Thanks.

[2021-02-17 21:03] Webifi commented on #566
Not directly, and perhaps I should have said "state", but it's certainly possible that a transmitter could get stuck in a state/mode/what-ever-you-want-to-call-it that would consume more power as the result of an unexpected condition.   It's also possible that this condition could be more likely to be encountered by certain combinations -- like if native mode had ever been used on the transmitter